.tax-filing-my-itr .details-card-container {
  margin: 0;
  margin-top: calc(var(--spacing) * 3);
}

.tax-filing-my-itr .card-bottom-info .individual-card-info .info-subtitle {
  font-size: 11px;
  line-height: calc(10px * 1.6);
}

.tax-filing-my-itr .info-title {
  font-size: 10px;
  line-height: calc(10px * 1.6);
}
