.tax-filing-advantages-icon {
  background-color: var(--primaryVariant1);
}

.tax-filing-advantages-icon__finity {
  background-color: #FAFCFF;
}

.tax-filing-advantages {
  padding-bottom: 30%;
}

.tax-filing-advantages-divider {
  height: 8px;
  width: 1px;
  background: var(--primaryVariant4);
  position: relative;
  top: 52px;
}