.comparison-chart-wrapper {
  .fund-normal-return {
    font-size: 14px;
    font-weight: 400;
    color: #5a6389;
  }

  .fund-expected-retun {
    font-size: 14px;
    font-weight: 500;
    color: #132056;
  }
}
