.fund-details-wrapper {
  .MuiTabs-root {
    .MuiTabs-flexContainer {
      justify-content: flex-start !important;
    }
  }

  .fund-details-section {
    padding: 0px 16px;
  }

  .fund-details-asset-section {
    .fund-asset-perc {
      height: 4px;
      border-radius: 100px;
    }
  }
}
