.risk-opt-title {
  color: #160D2E;
  font-weight: 600;
  margin-bottom: 8px;
}

.risk-opt-desc {
  color: #767E86;
  line-height: 21px;
  margin-bottom: 5px;
}

.risk-opt-split {
  color: #767E86;
  line-height: 21px;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: capitalize;

  span {
    font-weight: 500;
  }
}

.risk-customize-cta {
  margin: 30px 0;
  font-weight: bold;
  font-size: 13px;
  line-height: 21px;
  color: var(--secondary);
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

.risk-info {
  margin-bottom: 30px;

  .risk-info-title {
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    text-transform: uppercase;
  }

  .risk-info-desc {
    font-size: 13px;
    line-height: 21px;
    color: #767E86;
    width: 90%;
  }
}

.risk-select-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  span {
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    color: #0A1D32;
  }

  .risk-sh-info {
    border: 1px solid #C8C8C8;
    border-radius: 15px;
    height: 20px;
    width: 48px;
    font-size: 13px;
    color: #C8C8C8;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
}

.risk-select-skip {
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-align: right;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--secondary);
  margin-top: 20px;
}