.FooterDefaultLayout {
  .FlexItem2 {
    .footer-button {
      color: white;
      background-color: var(--secondary);
      border-radius: 6px;
      width: 100%;
      padding: 13px 15px;
      font-size: 16px;

      .loader {
        position: absolute;
        div {
          color: white;
          vertical-align: middle;
        }
      }
    }

    .disabled {
      color: rgba(0, 0, 0, 0.26);
      background-color: rgba(0, 0, 0, 0.12);
    }
  }
}
