$dark: #0a1d32;
$grey: #767e86;
$light-grey: #d3dbe4;
$primary: rgb(79, 45, 167);
$card-padding-mob: 40px;

.iwd-dot-loader {
  width: auto;
  text-align: inherit;
  margin-top: 10px;

  div {
    margin-left: 5px;
    background: #c4adff;
  }

  div.bounce1 {
    margin-left: 0;
  }
}

.iwd-logout-btn {
  border-radius: 6px;
  background-color: rgba($light-grey, 0.3);
}

.iwd-logout-btn-text {
  font-weight: bold;
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  color: #d3dbe4;
}

.iwd-page-close {
  position: absolute;
  padding-top: inherit;
  padding-right: inherit;
  top: 0;
  right: 0;
}

.iwd-pc-btn {
  border-radius: 5px !important;
}

#iwd-help {
  font-family: 'Poppins', 'Roboto', sans-serif !important;
  position: absolute;
  width: 100%;
  height: 100%;
  background: $primary;
  z-index: 1000;
  padding: 50px 100px;
  box-sizing: border-box;
  color: white;

  h1 {
    font-size: 30px;
    line-height: 40px;
    margin: 0 0 30px 0;
  }

  p {
    font-size: 13px;
    line-height: 21px;
    color: $light-grey;
    margin-bottom: 50px;
  }

  .iwd-help-close {
    position: absolute;
    top: 50px;
    right: 100px;
    border-radius: 8px;
  }

  .iwd-help-contact {
    font-size: 30px;
    line-height: 40px;
    color: white;
    margin-bottom: 40px;
    word-break: break-word;

    span {
      display: block;
      font-size: 11px;
      line-height: 18px;
      letter-spacing: 2px;
    }
  }

  .iwd-help-banner {
    position: absolute;
    top: 21%;
    right: 7%;
  }

  #iwd-help-footer {
    position: absolute;
    width: 85%;
    bottom: 50px;

    img {
      float: right;
      margin-left: 30px;
    }

    img#iwd-help-fisdom-logo {
      float: left;
      margin-left: 0;
    }
  }
}

#iwd-fgt-pwd {
  font-family: 'Poppins', 'Roboto', sans-serif !important;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(white, 0.98);
  z-index: 1000;
  padding: 50px 100px;
  box-sizing: border-box;

  #iwd-fp-logo {
    float: left;
  }

  #iwd-fp-close {
    float: right;
    cursor: pointer;
  }

  #iwd-fp-content {
    clear: both;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 380px;
    transform: translate(-50%, -50%);
    text-align: center;

    #iwd-fpc-header {
      font-weight: bold;
      font-size: 30px;
      line-height: 40px;
      color: black;
      margin-bottom: 20px;
    }

    #iwd-fpc-subtext {
      font-size: 13px;
      line-height: 21px;
      color: $grey;
      margin-bottom: 40px;
    }

    #iwd-fpc-err {
      color: red;
      font-size: 11px;
      display: inline-block;
      text-align: left;
      margin-top: 5px;
    }

    .iwd-text-field {
      background-color: rgba($primary, 0.1);
    }

    .iwd-text-field-input {
      color: rgba($dark, 0.4) !important;
    }

    .iwd-fp-btn {
      padding: 13px;
      background-color: $primary;
      border-radius: 4px;
      height: 50px;
      box-sizing: border-box;
      transition: all 0.5s ease-in;
    }

    .iwd-fp-btn-text {
      font-weight: bold;
      font-size: 15px;
      line-height: 24px;
      text-transform: uppercase;
      color: white;
    }
  }
}

#iwd-fgt-pwd.animatedFade {
  animation-delay: 0s;
}

#iwd-nav,
#iwd-nav:hover {
  height: 100%;
  width: 80px;
  position: absolute;
  overflow: hidden;
  z-index: 2;
  background: #613eb9;
  border-radius: 0px 10px 10px 0;
  padding: 15px;
  box-sizing: border-box;
  text-align: center;
  transition: width 0.3s ease-in-out;
  overflow: hidden;
  a {
    text-decoration: none;
  }

  .iwd-nav-item {
    display: flex;
    align-items: center;
    padding: 16px 17px;
    margin-bottom: 10px;
    height: 50px;
    box-sizing: border-box;
    border-radius: 6px;
    cursor: pointer;

    .iwd-ni-img {
      width: max-content;
      height: 100%;
    }

    .iwd-ni-label {
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
      text-transform: capitalize;
      color: $light-grey;
      font-size: 13px;
      line-height: 24px;
      margin-left: 20px;
    }
  }

  .iwd-nav-item:hover {
    background: rgba(white, 0.05);
  }

  .iwd-nav-item.selected {
    background: rgba(black, 0.13);

    .iwd-ni-label {
      font-weight: 600;
      color: white;
    }
  }
}

#iwd-nav:hover {
  .iwd-nav-item {
    .iwd-ni-label {
      width: auto;
      opacity: 1;
    }
  }
}

#iwd-nav:hover {
  width: 242px;
}

#iwd-nav-mob {
  position: absolute;
  top: 0;
  height: 71px;
  width: 100%;
  border-radius: 0 0 16px 16px;
  box-sizing: border-box;
  background: #613eb9;
  color: white;
  transition: height 0.5s;
  overflow-y: scroll;
  z-index: 3;

  #iwd-nm-header {
    display: flex;
    align-items: center;
    padding: 17px 20px;

    #iwd-nmh-fisdom-logo {
      height: 24px;
      margin-right: auto;
    }

    .iwd-nmh-menu {
      flex: 0;
      color: white;
      font-size: 20px;
      width: 50px;
      padding: 0;
      margin: 0 5px;
      box-sizing: border-box;

      #iwd-nmhm-text {
        font-size: 13px;
        line-height: 24px;
        font-weight: 600;
        text-transform: uppercase;
        display: inline-block;
        margin-left: 5px;
      }
    }

    #iwd-nmh-profile {
      width: 30px;
      height: 30px;
      padding: 4px 0px;
      border: 2px solid white;
      border-radius: 50%;
      box-sizing: border-box;
      text-align: center;
    }
  }

  #iwd-nm-body {
    padding: 40px;

    a {
      text-decoration: none;
    }

    .iwd-nav-close {
      float: right;
      margin-right: -10px;
      margin-bottom: 40px;
    }

    .iwd-nmb-link {
      margin-bottom: 40px;
      margin-left: -40px;
      padding-left: 40px;
      color: $light-grey;
      clear: right;

      .iwd-nmbl-label {
        font-weight: bold;
        font-size: 20px;
        line-height: 32px;
        margin-bottom: 6px;
        text-transform: uppercase;
      }

      .iwd-nmbl-desc {
        font-size: 11px;
        line-height: 18px;
      }
    }

    .iwd-nmb-link.selected {
      color: #ffffff;
      border-left: 6px solid white;
      padding-left: 34px;
    }

    #iwd-nmb-divider {
      border-bottom: 1px solid rgba($light-grey, 0.3);
      margin: 100px auto 24px;
    }

    #iwd-nmb-profile {
      #iwd-nmp-user-name {
        font-size: 15px;
        line-height: 24px;
        color: white;
        float: left;
        margin-bottom: 10px;
      }

      #iwd-nmp-user-icon {
        float: right;
        width: 40px;
        height: 40px;
        padding: 6px;
        text-align: center;
        font-size: 16px;
        border: 2px solid #ffffff;
        border-radius: 10px;
        box-sizing: border-box;
      }

      .iwd-nmp-user-detail {
        font-size: 13px;
        line-height: 21px;
        color: $light-grey;
        clear: left;
      }
    }

    .iwd-nmb-logout {
      @extend .iwd-logout-btn;
      margin-top: 30px;

      .iwd-nmb-logout-text {
        @extend .iwd-logout-btn-text;
      }
    }
  }
}

#iwd-page-header {
  width: 100%;
  height: auto;
  margin-bottom: 50px;

  #iwd-ph-left {
    float: left;
  }

  #iwd-ph-right {
    float: right;
    position: relative;
  }
}

#iwd-page-footer {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  position: relative;
  // margin-top: 95px;
  justify-content: flex-end;

  .iwd-pf-btn {
    position: absolute;
    width: 69px;
    height: 69px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    transition: box-shadow 0.5s ease-in-out;
  }

  .iwd-pf-btn:hover {
    box-shadow: 0px 0px 5px 3px rgba($primary, 0.05) !important;
    background-color: inherit !important;
  }

  #iwd-pf-page-nos {
    font-size: 13px;
    line-height: 21px;
    color: #9069d9;
  }
}

ul#iwd-bars {
  display: flex;
  list-style: none;
  padding: 0;

  .iwd-bars-li {
    height: 10px;
    margin-right: 2px;
    background: turquoise;
    transition: flex-basis 0.2s ease-in-out;
    position: relative;

    div {
      position: absolute;
      top: -38px;
      right: 50%;
      border: 1px solid #ececec;
      padding: 5px;
      border-radius: 4px;
      box-shadow: 0px 0px 4px 0px #f6f6f6;
      transition: all 0.5s ease-in-out;
      opacity: 0;
    }
  }

  .iwd-bars-li:nth-child(1) {
    border-radius: 8px 0 0 8px;
  }

  .iwd-bars-li:nth-last-child(1) {
    border-radius: 0 8px 8px 0;
  }
  ​
  .iwd-bars-li:hover {
    transform: scaleY(1.6);
    transform: scaleX(1.6);

    div {
      opacity: 1;
    }
  }
}

.iwd-profile-icon {
  width: 40px;
  height: 40px;
  padding: 4px 0px;
  border: 2px solid $light-grey;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  margin: auto;
  cursor: pointer;
  color: white;
}

.iwd-profile-icon__primary {
  color: $primary;
}

.iwd-profile {
  padding: 30px 40px 20px;
  width: 340px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 4px 6px 1px rgba(black, 0.05);
  box-sizing: border-box;
  text-align: center;
  background-color: white;
  position: absolute;
  right: 0;
  z-index: 3;
  cursor: pointer;

  .iwd-profile-username {
    font-size: 15px;
    line-height: 24px;
    color: $dark;
    margin-top: 20px;
  }

  .iwd-profile-detail {
    font-size: 13px;
    line-height: 21px;
    color: $grey;
  }

  #pan {
    margin-bottom: 18px;
  }

  #iwd-profile-divider {
    border-bottom: 1px solid rgba($light-grey, 0.3);
    margin: 20px 0;
  }

  .iwd-profile-logout {
    @extend .iwd-logout-btn;
    background-color: rgba($light-grey, 0.3);

    .iwd-profile-logout-text {
      @extend .iwd-logout-btn-text;
      color: $primary;
    }
  }
}

.iwd-holding-card {
  background: white;
  position: relative;
  border-radius: 8px; //TODO: reuse iwd-card
  padding: 40px 50px 50px; //TODO: reuse iwd-card
  box-sizing: border-box; //TODO: reuse iwd-card
  box-shadow: 0px 0px 4px rgba(31, 14, 74, 0.06);
  height: 79%;
  width: 45%;
  flex: 0 1 45%;
  background: white url('../../assets/bg_waves_fund.svg') bottom no-repeat;
  background-size: contain;
  margin-right: 3%;
  margin-bottom: 40px;
  scroll-snap-align: start;

  .iwd-hc-type {
    font-weight: 600;
    font-size: 11px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $grey;
    margin: 10px 0 20px;

    span {
      margin: 0 20px;
    }
  }

  .iwd-hc-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;

    span {
      font-weight: 600;
      font-size: 30px;
      line-height: 40px;
      color: $dark;
    }
  }

  .iwd-hc-numbers {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 70%;
    height: 45%;

    .iwd-hcn-item {
      .iwd-hcni-value {
        font-size: 17px;
        line-height: 40px;
        color: $grey;
      }

      .iwd-hcni-label {
        font-weight: 600;
        font-size: 11px;
        line-height: 18px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: $grey;
      }
    }

    .iwd-hcn-item:nth-child(1) {
      .iwd-hcni-value {
        font-size: 30px;
        line-height: 40px;
        color: $dark;
      }
    }

    .iwd-hcn-item:nth-last-child(1) {
      margin-top: 15px;
      flex: 1 0 100%;
      display: flex;

      img {
        margin-right: 20px;
      }
    }

    .iwd-hcn-item-divider {
      border-right: 1px solid rgba($grey, 0.2);
      margin: 0 30px;
      height: 25px;
    }
  }

  .iwd-hc-more {
    position: absolute;
    right: 20px;
    bottom: 50px;

    .MuiButton-label {
      color: $primary;
    }
  }
}

.radial-chart {
  position: relative;
  display: inline-block;
  transition: all 0.3s ease-in;
  margin-top: 20px;
}
.radial-chart.no-progress .radial-chart-progress {
  opacity: 0;
}
.radial-chart-total {
  opacity: 0.3;
}
.radial-chart-progress {
  transform: rotate(90deg);
  transform-origin: center;
  transition: all 0.6s cubic-bezier(0.58, 0.16, 0.5, 1.14);
  transition-delay: 0.3s;
}

@media only screen and (min-width: 300px) and (max-width: 1200px) {
  .shrink {
    clip-path: circle(0% at bottom);
  }

  #iwd-help {
    padding: 40px;
    height: auto;
    text-align: center;

    h1 {
      margin-top: 50px;
    }

    .iwd-help-close {
      position: absolute;
      top: 30px;
      right: 20px;
      border-radius: 8px;
    }

    .iwd-help-banner {
      position: relative;
      top: 0;
      right: 0;
      margin-top: 60px;
      margin-bottom: 50px;
    }

    #iwd-help-footer {
      position: relative;
      width: 100%;
      bottom: auto;
      display: flex;
      flex-direction: column;

      img {
        margin: 0 0 20px 0;
      }
    }
  }

  #iwd-fgt-pwd {
    padding: $card-padding-mob;
    position: fixed;

    #iwd-fp-logo {
      display: none;
    }

    #iwd-fp-close {
      position: absolute;
      top: 40px;
      right: 30px;
    }

    #iwd-fp-content {
      position: relative;
      width: 100%;

      #iwd-fpc-header {
        font-size: 17px;
        line-height: 27px;
      }

      #iwd-fpc-subtext {
        text-align: left;
      }
    }
  }

  #iwd-page-header {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
  }

  .radial-chart {
    margin-top: 0;
  }
}

.iwd-chart-header {
  font-size: 17px;
}

// Legends

.iwd-legend-container {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  background-color: inherit;

  .iwd-legend-child {
    width: 30%;

    .iwd-lc-header {
      display: flex;
      align-items: center;

      .iwd-lc-icon {
        width: 8px;
        height: 8px;
        background: hsla(173, 59, 55, 1);
      }

      .iwd-lc-title {
        color: hsla(173,59,55,1);
        margin-left: 10px;
      }
    }
  
    .iwd-lc-value {
      color: $grey;
      font-size: 30px;
    }
  }
}


@media only screen and (min-width: 300px) and (max-width: 800px) {

  .iwd-legend-container {
    margin: 0 auto;
    align-items: center;

    .iwd-legend-child {
      width: 50%;

      .iwd-lc-header {
        justify-content: center;

        .iwd-lc-icon {
          width: 8px;
          height: 8px;
          background: hsla(173, 59, 55, 1);
        }

        .iwd-lc-title {
          color: hsla(173,59,55,1);
          margin-left: 10px;
        }
      }
    
      .iwd-lc-value {
        text-align: center;
      }
    }
  }

  .iwd-holding-card {
    padding: $card-padding-mob; //TODO: reuse iwd-card
    height: 460px;
    width: 100%;
    flex: 0 1 48%;
    margin-right: 0;
    margin-bottom: 40px;
    box-shadow: none;

    .iwd-hc-title {
      span {
        font-size: 17px;
        line-height: 27px;
      }

      img {
        position: absolute;
        top: 20px;
        right: 20px;
      }
    }

    .iwd-hc-numbers {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      width: 70%;
      height: 45%;

      .iwd-hcn-item {
        .iwd-hcni-value {
          line-height: 27px;
        }
      }

      .iwd-hcn-item:nth-child(1) {
        margin-right: 60px;

        .iwd-hcni-value {
          font-size: 17px;
          line-height: 27px;
        }
      }

      .iwd-hcn-item-divider {
        display: none;
      }
    }

    .iwd-hc-more {
      bottom: 40px;
    }
  }
}

//Filter Section
.iwd-filter-section {
  margin-bottom: 40px;
  .iwd-filter-type {
    font-size: 13px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: $dark;
    margin-bottom: 20px;
  }

  .MuiIconButton-root {
    width: 14px !important;
    height: 14px !important;
  }
}

.iwd-filter-clear {
  font-size: 11px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 2px;
  text-align: left;
  color: #4f2da6;
  text-transform: uppercase;
  cursor: pointer;
  margin-right: 20px;
}
.iwd-filter-head {
  font-size: 17px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: $dark;
}

.iwd-filter-section:last-child {
  margin-bottom: 0px;
}

.iwd-filter-head-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  width: 100%;
}

@media only screen and (max-width: 450px) {
  .iwd-filter-mobile-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    z-index: 10000;
    background: white;
  }
  .iwd-filter-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    .MuiButtonBase-root {
      border-radius: 6px;
      background-color: #4f2da6;
    }
  }

  .iwd-filter-mobile-section {
    margin-top: 40px;
    height: 80%;
    display: flex;
    flex-direction: column;
    //padding: $card-padding-mobile;
    .iwd-filter-head-container {
      justify-content: center;
      .iwd-filter-head {
        font-size: 17px;
        font-weight: 700;
        line-height: 27px;
        letter-spacing: 0em;
      }
    }
    .MuiFormGroup-root {
      flex-direction: row;
    }
    .MuiFormGroup-root > label {
      flex: 0 50%;
    }
  }
}

.iwd-disable-clear {
  opacity: 0.2;
  cursor: not-allowed;
}
