.Select {
  font-size: 14px !important;
}
.InputField {
  margin-bottom: 20px;
}
.RadioButton.unchecked label {
  background: #fff;
  color: #4f2da7;
  border: 1px solid #4f2da7;
}
.RadioButton.checked label {
  background: #4f2da7;
  border: 1px solid #4f2da7;
  color: #fff;
}
.RadioButton label.professional {
  padding: 4px;
  display: inline-block;
  border-radius: 100px;
  width: auto;
  min-width: 100%;
  text-align: center;
  font-size: 12px;
}
.RadioButton label.professional2 {
  padding: 4px;
  display: inline-block;
  border-radius: 100px;
  width: auto;
  min-width: 50px;
  text-align: center;
  font-size: 12px;
}
.RadioButton label {
  padding: 4px;
  display: inline-block;
  border-radius: 100px;
  width: 100px;
  text-align: center;
  font-size: 12px;
}
.Flex {
  display: flex;
  flex-direction: row;
}
.Flex .radio-btn-group {
  flex: 1;
}
.MobileGrid {
  display: flex;
  align-items: baseline;
}
.CountryCode {
  margin-right: 20px;
  font-size: 16px;
  color: rgb(68,68,68);
}
.Banner {
  background: rgb(250, 247, 255);
  font-size: 14px;
  color: #444;
}
.Banner .Flex {
  align-items: center;
}
.FlexItem {
  color: rgb(68, 68, 68);
}
.Dropdown {
  width: 100%;
}
.RadioGrpGrid {
  flex-basis: unset;
  max-width: 100%;
}

.RadioLabel {
  color: #444;
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: 500;
}

.RadioWithIcon {
  color: #444;
  font-size: 0.8rem;
  margin-bottom: 15px;
  position: relative;
}

.RadioWithIcon .error {
  position: absolute;
  right: 0;
  color: #d0021b;
  font-size: 14px;
  font-style: italic;
}
