.InputField {
  margin-bottom: 30px;
}
.RadioButton.unchecked label {
  background: #fff;
  color: #4f2da7;
  border: 1px solid #4f2da7;
}
.RadioButton.checked label {
  background: #4f2da7;
  border: 1px solid #4f2da7;
  color: #fff;
}
.RadioButton label.professional {
  padding: 8px;
  display: inline-block;
  border-radius: 100px;
  width: auto;
  min-width: 100%;
  text-align: center;
}
.RadioButton label.professional2 {
  padding: 8px;
  display: inline-block;
  border-radius: 100px;
  width: auto;
  min-width: 50px;
  text-align: center;
}
.RadioButton label {
  padding: 8px;
  display: inline-block;
  border-radius: 100px;
  width: 100px;
  text-align: center;
}
.Flex {
  display: flex;
  flex-direction: row;
}
.Flex .radio-btn-group {
  flex: 1;
}
.MobileGrid {
  display: flex;
  align-items: baseline;
}
.CountryCode {
  margin-right: 20px;
  font-size: 18px;
  color: rgb(68,68,68);
}
.Banner {
  background: rgb(250, 247, 255);
}
.Banner .Flex {
  align-items: center;
}
.FlexItem {
  color: rgb(68, 68, 68);
}
.Dropdown {
  width: 100%;
}
