.partner-referral-url{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: rgba(238, 238, 238, 0.3);
    margin-top: 15px;
    .referral-url-left{
        width: 80%;
        word-wrap: break-word;
        color: #4a4a4a;
    }
    .referral-url-right{
        padding: 5px;
        cursor: pointer;
        background-color: rgba(238, 238, 238, 0.7);
    }
}
