.al-explore-categories {
  padding: 24px 0px 16px 0px;

  .swiper-slide {
    width: unset !important;
  }
  .swiper-container {
    padding: 0px 16px;
  }

  .al-ec-title {
    padding-bottom: 8px;
    padding-left: 16px;
  }

  .al-ec-card {
    width: 168px;
    margin: 8px 0px 1px 0px;
  }
}
