.platform-motivator-wrapper {
  display: flex;
  flex-direction: row;
  border-radius: 12px;
  padding: 16px 12px;
  align-items: center;
  width: 295px;

  .pm-left-img {
    margin-right: 16px;
  }

  .pm-text-wrapper {
    display: flex;
    flex-direction: column;

    .pm-subtitle-text {
      margin-top: 4px;
    }
  }
}
