.wv-in-page-header {
  margin-bottom: 30px;

  .wv-iph-children {
    flex: 50% 1 0;
  }
}

.wv-iph-with-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wv-ip-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: var(--dark);
  word-break: break-word;
}

.wv-ip-subtitle {
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  color: var(--steelgrey);
  word-break: break-word;
}

.wv-ip-title + .wv-ip-subtitle {
  margin-top: 10px;
}