.nominee-confirm-nominees {
  background-color: white;

  .ncn-footer-button {
    margin-bottom: 16px;
  }

  .ncn-cs-content {
    margin-top: 16px;
  }

  .ncn-left-icon {
    margin-right: 8px;
  }

  .ncn-cs-button-wrapper {
    margin: 22px 0px 24px;

    .ncn-csbw-content {
      min-width: 150px;
    }
  }

  .c-wrapper {
    .c-label-wrapper {
      padding: 16px 0px;
    }

    .c-child-wrapper {
      padding-right: 0px;
      padding-left: 0px;
    }
  }

  .ncn-cw-nominees-icon {
    margin: 55px 0px 23px;
  }
}
