.forgot-fisdom-pin {
   .forgot-pin-subtitle {
     font-size: 11px;
     line-height: 18px;
     color: var(--steelgrey);
     margin: 5px 0px 15px 5px;
   }

  .login-form-field {
    display: flex;
    flex-direction: column;

    .input-field {
      height: 52px;
      background: rgba(238, 238, 238, 0.3);
      width: 100%;
      
      .MuiInputLabel-formControl{
        left: 10px;
        top: 4px;
      }
      .MuiInput-input{
        margin-left: 10px;
      }
    }

    .input-field + .input-field {
      margin-top: 40px;
    }
  }
}

.verify-mpin {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  .vm-title {
    font-weight: 500;
    font-size: 15px;
    line-height: 32px;
    color: var(--dark);
    margin-bottom: 50px;
  }

  .vm-subtitle {
    margin-top: 10px;
    font-size: 13px;
    line-height: 22px;
    color: var(--steelgrey);
  }

  .vm-otp-container {
    margin-top: 20px;
  }
}

.twofa-mpin-change-success{
  min-height: 100%;
  max-width: 614px;
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;


  .img-password{
    margin: 45px 0px 30px 0px;
  }

  .login-otp-button {
    margin: 20px auto;
    margin-top: 115px;
    width: 100%;
  }
}

@media only screen and (min-height: 900px) {
  .twofa-mpin-change-success{
    min-width: 350px;
  }
}
  

@media only screen and (max-height: 900px) {
  .twofa-mpin-change-success{
    .login-otp-button{
      position: fixed;
      z-index: 9999;
      bottom: 0;
      left:0;
      right:0;
      margin-left:auto;
      margin-right:auto;
      width: calc(100% - 40px);
    }
  }
}