.forgot-fisdom-pin{
   .forgot-pin-subtitle{
     font-size: 11px;
     line-height: 18px;
     color: var(--steelgrey);
     margin: 5px 0px 15px 5px;
   }

  .login-form-field{
     display: flex;
     flex-direction: column;
    .input-field{
      height: 52px;
      background: rgba(238, 238, 238, 0.3);
      width: 100%;
      margin-top: 40px;
      .MuiInputLabel-formControl{
        left: 10px;
        top: 4px;
      }
      .MuiInput-input{
        margin-left: 10px;
      }
    }
  }
}

.verify-otp-container {
  min-height: 100%;
  max-width: 614px;
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .img-lock{
    width: 20px;
    height: 20px;
  }
  .reset-title{
    font-weight: 500;
    font-size: 15px;
    line-height: 32px;
    color:#000000;
    margin-bottom: 50px;
  };
  .enter-pin-subtitle{
    font-size: 13px;
    line-height: 22px;
    color: var(--steelgrey);
    margin: 10px 0px 15px 5px;
  };
}

.twofa-mpin-change-success{
  min-height: 100%;
  max-width: 614px;
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;


  .img-password{
    margin: 45px 0px 30px 0px;
  }

  .login-otp-button {
    margin: 20px auto;
    margin-top: 120px;
  }

  .login-otp-button-web{
    margin-top: 60px;
    width: 100%;
  }

  .login-otp-button-mobile {
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    width: calc(100% - 40px);
  }
}


@media only screen and (min-height: 900px) {
  .twofa-mpin-change-success{
    min-width: 350px;
  }
}
  