.invest-goal-container {
  .title {
      font-weight: 600;
      margin-bottom: 20px;
      line-height: 1.5;
  }
}

.invest-goal-list-type{
  display: flex;
  flex-direction: column;
}

.invest-goal-list-item{
  display: flex;
  padding:10px;
  align-items: center;
  position: relative;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  margin-bottom: 20px;
  cursor: pointer;
  text-align: left;
  div:first-child{

      flex:2;
      img{
          margin-right: 20px;
          width: 50px;
          height: 50px;
          object-fit: contain;
      }
  }

  div:last-child{
      flex:8;
      font-size: 18px;
  }
}