.diy-search-container {
  height: 100%;

  .diy-search-container-main {
    height: calc(100% - 106px)
  }
}

.diy-search {
  margin: 0 -20px -56px -20px;
  padding: 0 20px 56px 20px;
  height: calc(100vh - 120px);

  .search-content {
    padding: 20px 0;
    .search-option {
      display: flex;
      align-items: center;

      .search-input {
        display: flex;
        align-items: center;
        width: 100%;

        input {
          width: 100%;
          height: 40px;
          padding: 6px 12px;
          border: 1px solid #ccc;
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
        }

        input:focus {
          border-color: #66afe9;
        }

        .close-icon {
          margin-left: -30px;
          width: 20px;
          color: #345895;
          cursor: pointer;
          display: none;
        }
        
        input:focus + .close-icon {
          display: inline-block;
        }
      }

      .search-input:hover .close-icon {
        display: inline-block;
      }

      .search-button {
        padding: 6px 12px;
        background: #b3b3b3;
        border: 1px solid #ccc;
        height: 40px;
        color: white;
        border-left: 0;
        cursor: pointer;

        .search-icon {
          font-size: 18px;
          vertical-align: middle;
          margin-top: 4px;
        }
      }
    }
  }

  .search-loader {
    width: 100%;
    text-align: center;

    .progress-bar {
      color: var(--primary);
    }
  }

  .search-list {
    padding-bottom: 20px;
    height: 100%;
    overflow: auto;
    .text {
      padding: 10px 0;
      max-width: 100%;
      color: #4a4a4a;
      font-size: 16px;
      border-bottom: 1px solid #e8e8e8;
      cursor: pointer;
    }

    .text:last-child {
      border-bottom: 0;
    }
  }

  .message {
    text-align: center;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.87);
    padding: 5px;
  }

  .error-message {
    text-align: left;
    color:red;
  }
}


.diy-search-mob{
  background-color: white;
  .diy-iframe-search-input{
    .diy-fund-search{
      padding: 12px 20px !important;
    }
  }

  .search-list {
    margin-top: 10px;
  }

  .search-loader {
    margin-top: 40px;
  }
}

.diy-iframe-search-content {
  width: 100%;
  height: 60vh;
  display: grid;
  place-items: center;

  img {
    min-width: 400px;
    width:100%;
    max-width: 500px;
  }
}