.invest-amount-common {
  .generic-page-subtitle {
    margin-top: -20px;
  }
}

.invest-common-dialog {
  .dialog-content {
    padding: 5px 15px 15px 15px !important;
    line-height: 1.5;

    .head-bar {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-right: -15px;

      .text-left {
        color: #160d2e;
        font-size: 20px;
        font-weight: 600;
        margin-top: 15px;
      }
    }

    .insta-redeem-head-bar {
      padding-top: 10px;
      margin-right: 0;

      img {
        margin-left: 10px;
      }
    }

    .subtitle {
      color: #767e86;
      font-size: 14px;
      margin: 10px 0;
    }

    .generic-page-title {
      font-weight: 700;
      font-size: 15px;
    }

    .sub-text {
      color: #767e86;
      font-size: 10px;
      padding: 5px 0;
    }

    .text {
      margin-top: 40px;
    }

    .success-text-message {
      margin: 35px 0 0 0;
    }
  }

  .error-message {
    color: rgba(0, 0, 0, 0.87);
    min-width: 200px;
    padding: 15px 15px 0 0;
  }

  .action {
    width: 100% !important;
    padding: 0 15px;
    margin: 0px 0 30px 0;

    .invest-dialog-button {
      width: 100%;
      color: white;
      margin: 0px;
      padding: 10px !important;
      font-size: 14px !important;
      line-height: 36px;
      font-weight: bold;
    }

    .invest-dialog-transparent-button {
      color: rgb(33, 33, 33);
      font-size: 14px !important;
      padding: 10px !important;
      font-weight: normal;
      width: 100px !important;
      float: right;
      background-color: rgb(250, 250, 250);
    }
  }
}