.estimation-card-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  border-radius: 12px;
  flex: 1;
  cursor: default;
  &.ec-cursor-pointer {
    cursor: pointer;
  }
  .ec-tooltip-wrapper {
    > div {
      display: inline;
    }
  }
}
