.return-table-header {
  padding-left: 15px;
  font-weight: 300;
  font-size: 11px;
  text-transform: uppercase;
}

// Report Page
.fd-report-subtitle {
  font-size: 14px;
  font-weight: 400;
  color: rgb(135, 135, 135);
  margin-left: 10px;
  position: relative;
}

.fd-report-subtitle::before {
  position: absolute;
  content: '-';
  top: 50;
  left: -5%;
  transform: translateX(-50%);
  margin-right: 30px;
}

// Report Page End

.fd-progress-bar-container {
  position: relative;
  height: 12px;
  min-width: 100px;
  width: 40%;
  transform: rotate(180deg);
  margin-left: auto;
}

/////// Fund Details Two Button Footer Start ///////

.fund-detail-two-button {
  display: flex;
  align-items: center;

  .button {
    background-color: var(--secondary);
    color: #ffffff;
    min-height: 55px;
    font-size: 14px;
  }

  .button:hover, .button:focus {
    background-color: var(--secondary);
  }

  .button1 {
    background-color: #73C555;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    text-transform: lowercase;

    .fund-details-dual-button-content {
      display: flex;
      justify-content: space-between;
      column-gap: 18px;
      font-size: 13px;
      text-transform: lowercase;
      min-width: 100px;
      padding: 0 10px;

      .cart-content {
        display: flex;
        position: relative;
  
        img {
          width: 20px;
        }
  
        span {
          position: absolute;
          border-radius: 50%;
          background-color: #477D3C;
          padding: 4px 8px 3px 8px;
          right: -15px;
          top: -5px;
          font-size: 14px;
        }
      }
    }
  }

  .button1:hover, .button1:focus {
    background-color: #73C555;
  }

  .button2 {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 100%;
  }

}

/////// Fund Details Two Button Footer End ///////
