.freedom-plan-payment-success {
  text-align: center;

  .fpps-icon {
    min-height: 100px;
    padding-bottom: 15px;
  }

  .fpps-title {
    text-align: left;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: var(--dark);
    padding: 20px 0 15px;
  }

  .fpps-tile {
    font-size: 14px;
    line-height: 22px;
    color: var(--gunmetal);
    padding-top: 15px;

    .fpps-tile-text {
      font-weight: 500;
    }
  }

  .fpps-total-amount {
    font-weight: 500;
    font-size: 16px;
    padding: 15px 0 5px;
  }
}
