html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #ffffff;
  font-size: 14px;
}

*:focus {
  outline: none;
}

input,
textarea,
button,
select,
a,
div {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.Container {
  padding: 20px 15px;
  /*margin-bottom: 100px;*/
  background-color: #fff;
}

.Header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
}

.SectionHead {
  margin-bottom: 15px;
  color: rgb(68,68,68);
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: 500;
}

.CheckBlock {
  margin-top: 20px;
  margin-bottom: 30px;
}

.TextCenter {
  text-align: center;
}

.Checkbox {
  width: auto;
  height: auto;
}

.SameAddress {
  color: rgb(68, 68, 68);
  font-size: 14px;
}

.FlexItem1 {
  flex: 1;
}

.FlexItem5 {
  flex: 5;
}

.Footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid rgba(0,0,0,0.14);
}

.FooterButtonArrow {
  margin-left: 20px;
}

.FlexItem3 {
  flex: 3;
}

.FlexItem2 {
  flex: 2;
}

.FooterSummaryLayout .FlexItem3 {
  padding: 5px 0 0 10px;
}

.FooterSummaryLayout_title {
  color: #444;
  font-size: 12px;
}

.FooterSummaryLayout_subtitle {
  color: #444;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Roboto';
}

.FooterSummaryLayout_hint {
  color: #878787;
  font-size: 10px;
}

.FooterReset {
  padding: 50px 20px;
  text-align: center;
  background-color: #f8f8f8;
}

.FooterReset_title {
  color: #878787;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 7px;
}

.FooterReset_subtitle {
  color: #b1b1b1;
  font-size: 12px;
}

.FooterImage {
  width: 80%;
  position: relative;
  top: 2px;
}

.FooterDefaultLayout, .FooterSummaryLayout {
  display: flex;
  align-items: center;
}

.FooterDefaultLayout .FlexItem3, .FooterDefaultLayout .FlexItem2, .FooterDefaultLayout .FlexItem1 {
  text-align: center;
}

input#pan {
  text-transform: uppercase;
}

.Accordion {
  width: 100%;
  border-top: solid 1px #c2c2c2;
  padding: 20px 0;
  color: #444;
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: 500;
}
.Accordion:last-child {
  border-bottom: solid 1px #c2c2c2;
}
.AccordionTitle {
  cursor: pointer;
}
.AccordionBody ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  padding-top: 15px;
  padding-left: 30px;
}
.AccordionBody ul li span {
  font-weight: normal;
}
.AccordionBody ul li {
  padding: 10px 0;
  font-size: 14px;
}
.Footer {
  background: #fff;
  z-index: 100;
}
.Loader {
  background: #fff;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 200;
}
.LoaderOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Step {
  flex-direction: row;
  display: flex;
}
.Step span {
  background: #cacaca;
  height: 3px;
  flex: 1;
  display: inline-block;
  box-sizing: border-box;
  margin-right: 3px;
}
.Step span.active {
  background: #250087;
  height: 3px;
  flex: 1;
  display: inline-block;
  box-sizing: border-box;
  margin-right: 3px;
}
.Step span:last-child {
  margin-right: 0;
}
.Progress {
	height: 10px;
	position: relative;
	background: #ebebeb;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	/*box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);*/
  flex: 2;
}
.Progress > span {
  display: block;
  height: 100%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #3023ae;
  background-image: linear-gradient(
    to right,
    #3023ae,
    #c86dd7
  );
  /*box-shadow:
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);*/
  position: relative;
  overflow: hidden;
}
