.wv-file-upload-card {
  padding: 16px;
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &.wv-fuc-selected {
    border: 1px solid var(--primary);

    >.wv-fuc-left .wv-fuc-left-title {
      color: var(--primary);
    }
  }

  .wv-fuc-left {
    text-align: left;

    .wv-fuc-left-title {
      font-weight: 500;
      font-size: 13px;
      line-height: 21px;
      color: var(--dark);
    }

    .wv-fuc-left-subtitle {
      font-size: 11px;
      line-height: 18px;
      color: var(--steelgrey);
    }
  }

  .wv-fuc-right {
    display: flex;
    align-items: center;
    padding-left: 10px;

    span {
      margin-left: 10px;
      color: var(--secondary);
      text-decoration: underline;
    }
  }
}

.wv-file-upload-card.wv-fuc-selected {

}