/* Button Styles */
.wv-layout-button-text {
  .MuiButton-label {
    font-size: 10px;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}

/* Button Layouts */

.wv-button-layout-stacked {
  display: flex;
  flex-direction: column;

  .wv-layout-button + .wv-layout-button {
    /* Add margin between consecutive buttons */
    margin-top: 20px;
  }
}

.wv-button-layout-horizontal {
  display: flex;
  flex-direction: row;

  .wv-layout-button + .wv-layout-button {
    /* Add margin between consecutive buttons */
    margin-left: 30px;
  }
}