/* Button Styles */
.wv-layout-button-text {
  .MuiButton-label {
    font-size: 10px;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}

/* Button Layouts */

.wv-button-layout-stacked {
  flex-direction: column;

  .wv-layout-button + .wv-layout-button {
    /* Add margin between consecutive buttons in
    a 'stacked' layout */
    margin-top: 20px;
  }
}

.wv-button-layout-horizontal {
  flex-direction: row;

  .wv-layout-button2 {
    margin-left: 30px; // Margin between left and right buttons in a 'horizontal' layout 
  }

  .wv-layout-button-secondary {
    /* Allows for type="secondary" buttons to be more
     flexible (squeeze/expand) in a 'horizontal' layout */
    // flex: 1; //TODO: Ask Vinod about this 
  }
}