.Select {
  font-size: 14px !important;
}
.InputField {
  margin-bottom: 20px;
}
.RadioButton.unchecked label {
  background: #fff;
  color: #4f2da7;
  border: 1px solid #4f2da7;
}
.RadioButton.checked label {
  background: #4f2da7;
  border: 1px solid #4f2da7;
  color: #fff;
}
.ContainerWrapper.blue .RadioButton.unchecked label {
  color: #3792fc;
  border: 1px solid #3792fc;
}
.ContainerWrapper.blue .RadioButton.checked label {
  background: #3792fc;
  border: 1px solid #3792fc;
}
.RadioButton label.professional {
  padding: 4px;
  display: inline-block;
  border-radius: 100px;
  width: auto;
  min-width: 100%;
  text-align: center;
  font-size: 12px;
}
.RadioButton label.professional2 {
  padding: 4px;
  display: inline-block;
  border-radius: 100px;
  width: auto;
  min-width: 50px;
  text-align: center;
  font-size: 12px;
}
.RadioButton label {
  padding: 4px;
  display: inline-block;
  border-radius: 100px;
  width: 100px;
  text-align: center;
  font-size: 12px;
}
.Flex {
  display: flex;
  flex-direction: row;
}
.Flex .radio-btn-group {
  flex: 1;
}
.MobileGrid {
  display: flex;
  align-items: baseline;
}
.CountryCode {
  margin-right: 20px;
  font-size: 16px;
  color: rgb(68,68,68);
}
.Banner {
  background: rgb(250, 247, 255);
  font-size: 14px;
  color: #444;
  z-index: 100;
  padding: 7px 0 7px 0;
}
.Banner .Flex {
  align-items: center;
}
.FlexItem {
  color: rgb(68, 68, 68);
}
.Dropdown {
  width: 100%;
}
.RadioGrpGrid {
  flex-basis: unset;
  max-width: 100%;
}

.RadioLabel {
  color: #444;
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: 500;
}

.RadioWithIcon {
  color: #444;
  font-size: 0.8rem;
  margin-bottom: 15px;
  position: relative;
}

.RadioWithIcon .error {
  position: absolute;
  right: 0;
  color: #d0021b;
  font-size: 14px;
  font-style: italic;
}
.DialogButtonFullWidth {
  width: 100%;
  background-color: #35cb5d !important;
  color: #fff !important;
}


.select-addressline {
  color: rgb(122, 118, 118);
    line-height: 1.4;
    font-size: 18px;
    margin-top: -2px;
    width: 74%;
}
.select-edit-button {
  color: rgb(111, 219, 79);
    font-weight: 600;
    font-size: 16px;
    text-align: right;
    /* float: right; */
    width: 13%;
}
.select-add-new-button {
  margin: 20px 0 0 12px;
    font-size: 14px;
    color: rgb(111, 219, 79);
    font-weight: 600;
}

.process-tile {
  display: flex;
  margin: 20px 0 40px 0;
}
.process-tile1 {
  font-size: 17px;
  color: grey;
  margin: -2px 0 0 0;
}
.process-tile2 {
  font-size: 14px;
  max-width: 89%;
  margin-left: 10px;
  color: #4a4a4a;
  line-height: 1.4;
}
.process-address {
  margin: 0 0 30px 24px;
    border: 1px dashed #b4b1b2;
    padding: 13px;
    max-width: 79%;
}
.process-address1 {
  font-size: 14px;
    color: #5b5a5a;
    font-weight: 500;
    margin: 0 0 8px 0;
}
.process-address2 {
  font-size: 14px;
    color: #7a7575;
}


.success-img {
  text-align: center;
    margin: 20px 0 20px 0;
}
.success-great {
  text-align: center;
    margin: 0 0 20px 0;
    color: #6fdb4f;
    font-size: 16px;
    font-weight: 500;
}
.success-text-info {
  margin-bottom: 6px;
    text-align: center;
    font-size: 16px;
    color: #5d5c5c;
}
.success-bottom {
  margin: 40px 0 0 0;
  text-align: center;
}
.success-bottom1 {
  font-size: 14px;
    color: #b4b4b4;
    margin-bottom: 11px;
}
.success-bottom2 {
  display: -webkit-inline-box;
}
.success-bottom2a {
  font-size: 14px;
    color: #b4b4b4;
    font-weight: 500;
}
.success-bottom2b {
  margin: 0 20px 0 20px;
    color: #d6d6d6;
}
.success-bottom-timer {
  text-align: center;
    margin: 20px 0 0 0;
    font-size: 14px;
    font-weight: 500;
    color: #878787;
}
.success-img-timer {
  width: 24px;
    vertical-align: bottom;
    margin: 0 7px 0 0;
}