.invest-card-wrapper {
  padding: 16px;
  padding-bottom: 0px;
  border-radius: 12px;
  background-color: white;
  cursor: default;

  .ic-header-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 16px;
  }
  .ic-input-field-section,
  .ic-footer-section,
  .ic-pills-wrapper {
    padding: 16px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .ic-left-section {
    flex: 1 1 60%;
    display: flex;
    flex-direction: column;
  }
  .ic-right-section {
    flex: 1 1 40%;
  }

  .ic-footer-section {
    .ic-left-section,
    .ic-right-section {
      flex: none;
    }

    .ic-right-section {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;

        &.cursor-pointer {
            cursor: pointer;
        }
    }
  }
}
