.kyc-main-title {
  font-size: 20px;
  color: #160d2e;
  font-weight: 600;
  display: flex;
  justify-content: space-between;

  span {
    font-size: 14px;
    color: #767e86;
    float: right;
    margin: 4px 7px 0px 0;
    font-weight: 400;
  }
}

.kyc-main-subtitle {
  font-size: 13px;
  color: #8d879b;
  padding: 0 15px 0 0px;
  margin-bottom: 20px;
}

.kyc-home {
  line-height: 1.5;

  main {
    .input {
      margin: 20px 0;
    }
  }
}

.resident-dialog-content {
  main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1 {
      margin: 25px 0;
      width: 55%;
      color: #160d2e;
      font-size: 20px;
      font-weight: 600;
      line-height: 1.1;
    }

    img {
      margin: -10px -10px 0 0;
    }
  }

  footer {
    display: flex;
    padding: 15px;

    button {
      border-radius: 6px;
      background-color: var(--secondary);
      color: white;
      min-height: 36px;
      padding: 12px 15px;
      font-weight: bold;
      font-size: 14px;
    }

    .cancel {
      color: #878787;
      background-color: white;
    }

    .cancel:hover {
      background-color: rgba(158, 158, 158, 0.2);
    }
  }
}

.kyc-nominee {
  main {
    .nominee-checkbox {
      font-size: 13px;
      line-height: 21px;
      color: #8d879b;
      padding-top: 20px;

      .MuiIconButton-root {
        width: auto;
        height: auto;
      }

      .checkbox {
        margin-right: 10px;
      }
    }
    .input {
      margin-top: 20px;
    }
  }
}

.kyc-report {
  padding-bottom: 40px;
  line-height: 1.5;

  main {
    .img {
      width: 100%;
      margin: 20px 0 10px 0;
    }

    .congrats {
      font-size: 14px;
      color: #160d2e;
      font-weight: 700;
      text-align: center;
    }

    .text {
      font-size: 14px;
      color: #8d879b;
      margin: 1px 0 10px 0px;
      text-align: center;
    }

    .message {
      display: flex;
      justify-content: center;
      margin: 0 0 20px 0;
      column-gap: 2px;

      img {
        width: 24px;
      }
    }

    section {
      margin-top: 20px;

      .tile-info {
        border-top: 1px solid #f6f2ff;
        padding: 15px 0 15px 0;
        cursor: pointer;

        .unzipped-title {
          display: flex;
          justify-content: space-between;
          color: #160d2e;
          font-size: 14px;
        }

        .unzipped {
          margin: 20px 0 0 10px;
          .unzipped-title {
            color: #8d879b;
            font-size: 16px;
            margin: 0 0 10px 0;
          }

          .unzipped-box {
            margin: 20px 0 0 0;

            .title {
              color: #8d879b;
              font-size: 10px;
              font-weight: bold;
              margin: 0 0 3px 0;
            }
            .subtitle {
              color: #8d879b;
              font-size: 14px;
            }
          }

          .row-align {
            display: flex;
            .unzipped-box {
              width: 50%;
            }
          }
        }
      }

      .tile-info:last-child {
        border-bottom: 1px solid #f6f2ff;
      }
    }
  }
}

.aadhar {
  line-height: 1.5;
  header {
    margin: -20px -20px 10px -20px;
    padding: 20px 30px 30px 30px;
    background: #f4f5f6;
    text-align: center;
    font-size: 16px;
    color: #333333;
    img {
      width: 80px;
      margin-bottom: 20px;
    }
  }

  main {
    .input {
      margin-top: 20px;
    }
  }
}

.kyc-complaint-personal-details {
  line-height: 1.5;
  padding-bottom: 40px;

  .kyc-main-subtitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;

    .pan {
      font-weight: 700;
    }

    .help {
      font-size: 12px;
      font-weight: 800;
      color: var(--secondary);
      cursor: pointer;
    }
  }

  main {
    .input {
      margin-top: 20px;
    }

    .RadioWithIcon {
      font-size: 16px;
      color: #8d879b;
      margin-bottom: 10px;
    }

    .RadioLabelChecked {
      font-weight: 600;
    }

    .RadioButton label {
      font-size: 14px;
      border-color: #767e86;
    }
  }

  footer {
    font-size: 13px;
    line-height: 21px;
    color: #8d879b;
    margin-top: 10px;
  }
}

.kyc-journey {
  color: #8d879b;
  font-size: 13px;
  line-height: 1.5;
}

.kyc-pj-content .pj-header {
  color: #0a1d32;
  font-size: 20px;
  font-weight: 600;
  margin: 0 0 20px 0;
}

.kyc-pj-bottom-info-box {
  display: flex;
  align-items: center;
}

.kyc-journey-caption {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 10px;
  color: black;
}

.kyc-journey-title {
  color: black;
  font-size: 17px;
  font-weight: bold;
}

.kyc-journey .alert-status-info {
  margin-top: 20px;
}

.kyc-journey .steps-container {
  margin-top: 40px;
}

.kyc-journey .steps-container .step {
  display: flex;
  align-items: center;
  height: 60px;
  padding-bottom: 14px;
}

.kyc-journey .steps-container .step:not(:last-child) {
  border-left: 2px solid #eeeeee;
}

.kyc-journey .steps-container .step .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  color: var(--label);
  border: 1px solid #eeeeee;
  background-color: white;
  position: relative;
  left: -10px;
  top: -13px;
  font-weight: bold;
}

.kyc-journey .steps-container .step .icon__active {
  background-color: var(--primary);
  color: white;
  border: 1px solid var(--primary);
}

.kyc-journey .steps-container .step .title {
  margin-left: 40px;
  position: relative;
  top: -13px;
}

.kyc-journey .steps-container .step .title__selected {
  color: black;
  font-weight: 500;
}

///////////// PAN HELP START //////////////

#kyc-pan-help-dialog {
  line-height: 1.5;
  .help-content {
    border-radius: 4px;
    .title {
      font-size: 16px;
      font-weight: 700;
      color: rgba(0, 0, 0, 0.87);
    }

    .subtitle {
      margin: 10px 0;
      color: #4a4a4a;
      font-size: 14px;
    }

    .partner-info {
      margin-top: 10px;
      display: flex;
      justify-content: space-around;
      color: #8d879b;
      font-size: 10px;
      text-transform: uppercase;
      font-weight: 500;
    }

    button {
      margin: 10px 0 5px 0;
      width: 100%;
      color: white;
      background-color: var(--secondary);
      min-height: 40px;
    }

    button:hover {
      background-color: var(--secondary);
    }
  }
}

///////////// PAN HELP START //////////////

///////////// CONFIRM PAN  START //////////////

.FooterDefaultLayout {
  .two-button {
    .confirm-pan-button1 {
      color: #767e86;
      font-size: 12px;
      font-weight: 600;
      width: -webkit-fill-available;
      cursor: pointer;
    }
  }
}

.kyc-compliant-confirm-pan {
  line-height: 1.5;
  main {
    position: relative;

    img {
      width: 100%;
    }

    .pan-block-on-img {
      position: absolute;
      top: 50%;
      left: 6%;

      .user-name {
        color: #0a1d32;
        font-size: 15px;
        font-weight: 600;
        margin: 0 0 10px 0;
      }

      .pan-number {
        color: #0a1d32;
        line-height: 1.6;

        span {
          font-weight: 600;
          margin: 0 0 0 4px;
          text-transform: uppercase;
          letter-spacing: 3px;
        }
      }
    }
  }
}

///////////// CONFIRM PAN  END //////////////

///////////// KYC COMPLIANT COMPLETE  START //////////////

.kyc-compliant-complete {
  line-height: 1.5;

  header {
    text-align: center;

    img {
      margin: 40px 0;
    }

    .title {
      font-size: 15px;
      color: #160d2e;
      font-weight: 700;
    }

    .subtitle {
      font-size: 14px;
      font-weight: 400;
      color: #4f2da7;
      margin: 30px 0 0 0;
      cursor: pointer;
    }
  }

  main {
    margin-top: 25px;
    display: flex;
    column-gap: 10px;
    align-items: flex-start;
    padding: 15px 15px 20px 15px;
    border: 1px solid #fff5f6;
    border-radius: 4px;
    background-color: #fff6ce;

    img {
      width: 14px;
    }

    .text {
      color: #160d2e;
      font-size: 14px;

      .title {
        font-weight: 700;
        margin: -2px 0 0 0;
      }
    }
  }
}

///////////// KYC COMPLIANT COMPLETE  START //////////////

.contact-us {
  color: #8d879b;
  font-size: 14px;
  text-align: center;
  margin-top: 50px;

  .partner-info {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    color: #8d879b;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 500;
  }
}

.kyc-compliant-verify {
  header {
    .subtitle {
      margin-top: 50px;
    }
  }
}

.aadhar-confirmation {
  line-height: 1.5;

  header {
    text-align: center;
    margin: -20px;
    padding: 20px 30px;
    background-color: #f4f5f6;
    font-size: 18px;
    min-height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  main {
    margin-top: 20px;
    padding: 20px 0;
    color: #333333;

    p {
      margin: 0 0 10px;
    }
  }
}

.kyc-registration-success {
  text-align: center;
  img {
    width: 200px;
  }

  main {
    p {
      font-size: 16px;
      margin: 0 0 10px;
      color: #333333;
      line-height: 1.5;
    }
  }
}

.kyc-approved-bank {
  line-height: 1.5;
  padding-bottom: 30px;

  header {
    margin-top: 25px;
    display: flex;
    column-gap: 10px;
    align-items: flex-start;
    padding: 15px 15px 20px 15px;
    border: 1px solid #fff5f6;
    border-radius: 4px;
    background-color: #f6f2ff;

    img {
      width: 14px;
    }

    .text {
      color: #160d2e;
      font-size: 14px;

      .title {
        font-weight: 700;
        margin: -2px 0 0 0;
      }
    }
  }

  main {
    .input {
      margin-top: 20px;

      img {
        width: 22px;
        margin-right: 10px;
      }
    }
  }
}

///////////// BANK VERIFY END //////////////

.kyc-approved-bank-verify {
  line-height: 1.5;
  padding-bottom: 30px;

  header {
    margin-top: 25px;
    display: flex;
    column-gap: 10px;
    align-items: flex-start;
    padding: 15px 15px 20px 15px;
    border: 1px solid #fff5f6;
    border-radius: 4px;
    background-color: #f6f2ff;

    img {
      width: 14px;
    }

    .text {
      color: #160d2e;
      font-size: 14px;

      .title {
        font-weight: 700;
        margin: -2px 0 0 0;
      }
    }
  }

  .item {
    padding: 20px 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    font-size: 13px;
    border-bottom: 1px solid #ededed;

    .flex {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;

      .left {
        margin-right: 20px;
      }

      .right {
        .text {
          font-weight: normal;
          color: #767e86;
        }
      }
    }

    .left {
      font-weight: bold;
      color: #0a1d32;
    }

    .right {
      color: #160d2e;
    }

    .edit {
      font-size: 13px;
      color: #35cb5d;
      font-weight: bold;
      cursor: pointer;
    }
  }
}

///////////// BANK VERIFY END //////////////

///////////// BANK LIST START //////////////

.banks-list {
  line-height: 1.5;

  .block {
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    margin-top: 10px;

    .bank-details {
      display: flex;
      align-items: center;
    }

    .left-icon {
      width: 40px;
      vertical-align: middle;
    }

    .content {
      margin-left: 20px;
      margin-right: 10px;

      .bank-name {
        display: flex;

        .name {
          font-size: 15px;
          line-height: 18px;
          font-weight: bold;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          min-width: 150px;
          max-width: 180px;
        }

        .alert-icon {
          width: 15px;
          margin-left: 5px;
        }

        .tag {
          background: #e0ffbf;
          padding: 7px 10px 5px 10px;
          border-radius: 8px;
          font-size: 10px;
          line-height: 12px;
          text-align: center;
          letter-spacing: 1px;
          color: #7ed321;
          vertical-align: middle;
          box-sizing: border-box;
          cursor: pointer;
        }
      }

      .account {
        font-size: 13px;
        color: #767e86;
      }

      .status {
        font-size: 11px;
        color: #ffd01f;
      }

      .verified {
        color: #35cb5d;
      }

      .failed {
        color: #d0021b;
      }
    }

    .right-icon {
      display: flex;
    }
  }

  .block:last-child {
    border-bottom: 0;
  }
}

///////////// BANK LIST END //////////////

.kyc-show-aadhar {
  line-height: 1.5;
}

.kyc-show-aadhar .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.kyc-show-aadhar .description {
  color: #767e86;
  font-size: 14px;
}

.kyc-show-aadhar .content {
  display: flex;
  align-items: center;
}

.kyc-show-aadhar .content .info-box {
  display: flex;
  justify-content: space-between;
  flex: 1 0 40%;
}

.kyc-show-aadhar .content .info-box .title {
  margin-left: 10px;
  color: #767e86;
  width: 100%;
  font-size: 13px;
  white-space: nowrap;
}

.kyc-show-aadhar .action-btn {
  background-color: var(--secondary);
  margin-top: 10px;
  text-align: center;
  text-transform: uppercase;
  padding: 5px 15px;
  font-weight: bold;
  min-width: 140px;
  display: block;

  .MuiButton-label {
    text-transform: uppercase;
    color: white;
  }
}

.kyc-journey .kyc-pj-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  img {
    align-self: flex-start;
  }
}

.kyc-journey .kyc-pj-content .pj-bottom-info-box {
  display: flex;
  align-items: center;
  margin-top: 10px;

  .icon {
    align-self: center;
  }
}

.kyc-journey .kyc-pj-content .pj-bottom-info-box .pj-bottom-info-content {
  margin-left: 10px;
}

.kyc-alert {
  padding: 15px 15px 20px 15px;
  border-radius: 4px;
  display: flex;
  align-items: flex-start;
  font-size: 14px;
}

.kyc-alert__danger {
  background-color: #fff5f6;
  border: 1px solid #fff5f6;
}

.kyc-alert .header {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
}

.kyc-alert .header .icon {
  width: 14px;
}

.alert-status-info {
  display: flex;
  column-gap: 10px;
  align-items: flex-start;
  padding: 15px 15px 20px 15px;
  border: 1px solid #fff5f6;
  border-radius: 4px;

  img {
    width: 14px;
  }

  .text {
    color: #160d2e;
    font-size: 14px;

    .title {
      font-weight: 700;
      margin: -2px 0 0 0;
    }
  }
}

///////////// BANK DETAILS START //////////////

.bank-details {
  .bank-info {
    display: flex;
    padding: 30px 0;

    .left-icon {
      width: 40px;
      vertical-align: middle;
    }

    .content {
      margin-left: 20px;
      margin-right: 10px;

      .bank-name {
        display: flex;

        .name {
          font-size: 15px;
          line-height: 18px;
          font-weight: bold;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          min-width: 150px;
          max-width: 180px;
        }

        .alert-icon {
          width: 15px;
          margin-left: 5px;
        }

        .tag {
          background: #e0ffbf;
          padding: 7px 10px 5px 10px;
          border-radius: 8px;
          font-size: 10px;
          line-height: 12px;
          text-align: center;
          letter-spacing: 1px;
          color: #7ed321;
          vertical-align: middle;
          box-sizing: border-box;
          cursor: pointer;
        }
      }

      .branch-name {
        margin-top: 10px;
        font-size: 13px;
        color: #767e86;
      }
    }
  }

  .item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    font-size: 13px;
    margin-bottom: 24px;

    .left {
      font-weight: 500;
      color: #0a1d32;
    }

    .right {
      color: #160d2e;
    }

    .status {
      font-size: 11px;
      color: #160d2e;
    }

    .verified {
      color: #35cb5d;
    }

    .failed {
      color: #d0021b;
    }

    .underprocess {
      color: #ffd01f;
    }
  }

  .mandate-section {
    padding: 20px 0;
    border-top: 1px solid #eee;

    .title {
      font-weight: 500;
      font-size: 15px;
      line-height: 18px;
      color: #000000;
    }

    .info-text {
      padding-top: 10px;
      font-size: 13px;
      line-height: 21px;
      color: #767e86;
    }

    .content {
      padding: 20px 0;
      border-bottom: 1px solid #eee;
    }

    .content:last-child {
      border-bottom: none;
    }
  }
}

///////////// BANK DETAILS END //////////////
