.kyc-main-subtitle {
  font-size: 13px;
  color: #8d879b;
  margin-bottom: 20px;
  margin-top: -10px;
}

//// KYC HOME START ////

.kyc-home {
  line-height: 1.5;

  main {
    .input {
      margin: 20px 0;
    }
  }
}

//// KYC HOME END ////

//// KYC NOMINEE START ////

.kyc-nominee {
  main {
    .nominee-checkbox {
      font-size: 13px;
      line-height: 21px;
      color: #8d879b;
      padding-top: 20px;

      .MuiIconButton-root {
        width: auto;
        height: auto;
      }

      .checkbox {
        margin-right: 10px;
      }
    }
    .input {
      margin-top: 20px;
    }
  }
}

//// KYC NOMINEE END ////

//// KYC REPORT START ////

.kyc-report {
  padding: 30px 0;
  line-height: 1.5;

  .tile-info {
    border-top: 1px solid #f6f2ff;
    padding: 20px 0;
    cursor: pointer;

    .unzipped-title {
      display: flex;
      justify-content: space-between;
      color: #160d2e;
      font-size: 14px;
    }

    .unzipped {
      margin: 20px 0 0 10px;
      .unzipped-title {
        color: #8d879b;
        font-size: 16px;
        margin: 0 0 10px 0;
      }

      .unzipped-box {
        margin: 20px 0 0 0;

        .title {
          color: #8d879b;
          font-size: 10px;
          font-weight: bold;
          margin: 0 0 3px 0;
        }
        .subtitle {
          color: #8d879b;
          font-size: 14px;
          word-break: break-word;
        }
      }

      .row-align {
        display: flex;
        .unzipped-box {
          width: 50%;
        }
      }
    }
  }

  .tile-info:last-child {
    border-bottom: 1px solid #f6f2ff;
  }
}

//// KYC REPORT END ////

//// KYC PERSONAL DETAILS START ////

.kyc-personal-details {
  line-height: 1.5;
  padding-bottom: 30px;

  .kyc-main-subtitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;

    .pan {
      font-weight: 700;
    }

    .help {
      font-size: 12px;
      font-weight: 800;
      color: var(--secondary);
      cursor: pointer;
    }
  }

  main {
    .input {
      margin-top: 20px;

      .MuiGrid-grid-xs-5 {
        max-width: fit-content;
        flex-basis: 0;
      }

      .MuiGrid-item {
        min-width: 146px;

        label {
          .inside-text {
            margin-right: 5px;
          }
        }
      }
    }

    .RadioWithIcon {
      font-size: 16px;
      color: #8d879b;
      margin-bottom: 10px;
    }

    .RadioLabelChecked {
      font-weight: 600;
    }

    .RadioButton label {
      font-size: 14px;
      border-color: #767e86;
    }

    .disabled {
      .RadioButton {
        border-color: #9b98a2;

        label {
          color: #9b98a2;
        }
      }
    }
  }

  footer {
    font-size: 13px;
    line-height: 21px;
    color: #8d879b;
    margin-top: 10px;
  }
}

//// KYC PERSONAL DETAILS END ////

//// KYC REGISTRATION SUCCESS START ////

.kyc-registration-success {
  text-align: center;
  img {
    width: 200px;
  }

  main {
    p {
      font-size: 16px;
      margin: 0 0 10px;
      color: #333333;
      line-height: 1.5;
    }
  }
}

.kyc-approved-bank {
  line-height: 1.5;
  padding-bottom: 30px;

  .alert-status-info {
    margin-top: 25px;
  }

  main {
    .input {
      margin-top: 20px;

      input[type="password"] {
        font-size: 24px;
      }

      img {
        width: 22px;
        margin-right: 10px;
      }
    }
  }
}

//// KYC REGISTRATION SUCCESS END ////

///////////// BANK VERIFY START //////////////

.kyc-approved-bank-verify {
  line-height: 1.5;
  padding-bottom: 30px;

  .alert-status-info {
    margin-top: 25px;
  }

  .verify-skelton {
    margin: 25px 0;
    height: 30px !important;
  }

  .item {
    padding: 20px 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    font-size: 13px;
    border-bottom: 1px solid #ededed;

    .flex {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;

      .left {
        margin-right: 20px;
      }

      .right {
        .text {
          font-weight: normal;
          color: #767e86;
        }
      }
    }

    .left {
      font-weight: bold;
      color: #0a1d32;
    }

    .right {
      color: #160d2e;
    }

    .edit {
      font-size: 13px;
      color: #35cb5d;
      font-weight: bold;
      cursor: pointer;
    }
  }
}

///////////// BANK VERIFY END //////////////
