.kyc-home {
  line-height: 1.5;
  .kyc-main-title {
    font-size: 20px;
    color: #160d2e;
    font-weight: 600;
  }

  .kyc-main-subtitle {
    font-size: 13px;
    color: #8d879b;
    padding: 0 15px 0 0px;
    margin-bottom: 20px;
  }

  main {
    .input {
      margin: 20px 0;
    }

    .status-info {
      display: flex;
      column-gap: 10px;
      align-items: flex-start;
      padding: 15px 15px 20px 15px;
      border: 1px solid #fff5f6;
      border-radius: 4px;

      img {
        width: 14px;
      }

      .text {
        color: #160d2e;
        font-size: 14px;

        .title {
          font-weight: 700;
          margin: -2px 0 0 0;
        }
      }
    }
  }
}

.resident-dialog-content {
  main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1 {
      margin: 25px 0;
      width: 55%;
      color: #160d2e;
      font-size: 20px;
      font-weight: 600;
      line-height: 1.1;
    }

    img {
      margin: -10px -10px 0 0;
    }
  }

  footer {
    display: flex;
    padding: 15px;

    button {
      border-radius: 6px;
      background-color: var(--secondary);
      color: white;
      min-height: 36px;
      padding: 12px 15px;
      font-weight: bold;
      font-size: 14px;
    }

    .cancel {
      color: #878787;
      background-color: white;
    }

    .cancel:hover {
      background-color: rgba(158, 158, 158, 0.2);
    }
  }
}
