.kyc-main-subtitle {
  font-size: 13px;
  color: #8d879b;
  margin-bottom: 20px;
  margin-top: -10px;
}

//// KYC HOME START ////

.kyc-home {
  line-height: 1.5;

  main {
    .input {
      margin: 20px 0;
    }
  }
}

//// KYC HOME END ////

//// KYC NOMINEE START ////

.kyc-nominee {
  main {
    .nominee-checkbox {
      font-size: 13px;
      line-height: 21px;
      color: #8d879b;
      padding-top: 20px;

      .MuiIconButton-root {
        width: auto;
        height: auto;
      }

      .checkbox {
        margin-right: 10px;
      }
    }
    .input {
      margin-top: 20px;
    }
  }
}

//// KYC NOMINEE END ////

//// KYC REPORT START ////

.kyc-report {
  padding-bottom: 40px;
  line-height: 1.5;

  main {
    .img {
      width: 100%;
      margin: 20px 0 10px 0;
      min-height: 200px;
    }

    .congrats {
      font-size: 14px;
      color: #160d2e;
      font-weight: 500;
      text-align: center;
    }

    .text {
      font-size: 14px;
      color: #8d879b;
      margin: 1px 0 10px 0px;
      text-align: center;
    }

    .message {
      display: flex;
      justify-content: center;
      margin: 0 0 20px 0;
      column-gap: 2px;

      img {
        width: 24px;
      }
    }

    section {
      margin-top: 20px;

      .report-skelton {
        margin: 25px 0;
        height: 30px !important;
      }

      .tile-info {
        border-top: 1px solid #f6f2ff;
        padding: 15px 0 15px 0;
        cursor: pointer;

        .unzipped-title {
          display: flex;
          justify-content: space-between;
          color: #160d2e;
          font-size: 14px;
        }

        .unzipped {
          margin: 20px 0 0 10px;
          .unzipped-title {
            color: #8d879b;
            font-size: 16px;
            margin: 0 0 10px 0;
          }

          .unzipped-box {
            margin: 20px 0 0 0;

            .title {
              color: #8d879b;
              font-size: 10px;
              font-weight: bold;
              margin: 0 0 3px 0;
            }
            .subtitle {
              color: #8d879b;
              font-size: 14px;
              word-break: break-word;
            }
          }

          .row-align {
            display: flex;
            .unzipped-box {
              width: 50%;
            }
          }
        }
      }

      .tile-info:last-child {
        border-bottom: 1px solid #f6f2ff;
      }
    }
  }
}

//// KYC REPORT END ////

//// KYC PERSONAL DETAILS START ////

.kyc-personal-details {
  line-height: 1.5;
  padding-bottom: 30px;

  .kyc-main-subtitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;

    .pan {
      font-weight: 700;
    }

    .help {
      font-size: 12px;
      font-weight: 700;
      color: var(--secondary);
      cursor: pointer;
    }
  }

  main {
    .input {
      margin-top: 20px;

      .MuiGrid-grid-xs-5 {
        max-width: fit-content;
        flex-basis: 0;
      }

      .MuiGrid-item {
        min-width: 146px;

        label {
          .inside-text {
            margin-right: 5px;
          }
        }
      }
    }

    .RadioWithIcon {
      font-size: 16px;
      color: #8d879b;
      margin-bottom: 10px;
    }

    .RadioLabelChecked {
      font-weight: 600;
    }

    .RadioButton label {
      font-size: 14px;
      border-color: #767e86;
    }

    .disabled {
      .RadioButton {
        border-color: #9b98a2;

        label {
          color: #9b98a2;
        }
      }
    }
  }

  footer {
    font-size: 13px;
    line-height: 21px;
    color: #8d879b;
    margin-top: 10px;
  }
}

//// KYC PERSONAL DETAILS END ////

//// KYC REGISTRATION SUCCESS START ////

.kyc-registration-success {
  text-align: center;
  img {
    width: 200px;
  }

  main {
    p {
      font-size: 16px;
      margin: 0 0 10px;
      color: #333333;
      line-height: 1.5;
    }
  }
}

.kyc-approved-bank {
  line-height: 1.5;
  padding-bottom: 30px;

  .alert-status-info {
    margin-top: 25px;
  }

  main {
    .input {
      margin-top: 20px;

      input[type="password"] {
        font-size: 24px;
      }

      img {
        width: 22px;
        margin-right: 10px;
      }
    }
  }
}

//// KYC REGISTRATION SUCCESS END ////

///////////// BANK VERIFY START //////////////

.kyc-approved-bank-verify {
  line-height: 1.5;
  padding-bottom: 30px;

  .alert-status-info {
    margin-top: 25px;
  }

  .verify-skelton {
    margin: 25px 0;
    height: 30px !important;
  }

  .item {
    padding: 20px 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    font-size: 13px;
    border-bottom: 1px solid #ededed;

    .flex {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;

      .left {
        margin-right: 20px;
      }

      .right {
        .text {
          font-weight: normal;
          color: #767e86;
        }
      }
    }

    .left {
      font-weight: bold;
      color: #0a1d32;
    }

    .right {
      color: #160d2e;
    }

    .edit {
      font-size: 13px;
      color: var(--secondary);
      font-weight: bold;
      cursor: pointer;
    }
  }
}

///////////// BANK VERIFY END //////////////

///////////// SAMPLE DOCUMENTS START //////////////

#kyc-bank-sample-docs {
  .title {
    font-size: 20px;
    color: #160d2e;
    font-weight: 600;
  }

  .description {
    font-size: 13px;
    line-height: 21px;
    color: #767e86;
    margin: 10px 0 20px 0;
  }

  .doc fieldset {
    width: 90%;
    border: 1px solid #9fa7b0;
    box-sizing: border-box;
    border-radius: 7px;
    margin: 10px 0 30px 0;
  }

  .doc .doc-name {
    font-weight: 700;
    font-size: 13px;
    line-height: 21px;
    color: #0a1d32;
  }

  .doc fieldset legend {
    width: 108px;
    font-weight: 500;
    font-size: 9px;
    line-height: 9px;
    color: #9fa7b0;
    border-bottom: 0px !important;
    margin-left: 7px;
  }
}

///////////// SAMPLE DOCUMENTS END //////////////

.kyc-dialog-page-message {
  font-size: 13px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0px;
  color: var(--steelgrey);
  margin-top: 6em;
}