.paymentMainContainer {
    .header-title-page {
      padding: 0 20px 0 20px;
    }
    .Container {
      padding: 20px 20px;
      height: auto;
    }
    .MuiToolbar-gutters {
      padding-left: 14px !important;
    }
    .Footer {
      margin: 0px 20px 15px 20px;
    }
  }
#neftModal, #selectBankModal {
  z-index: 9999;
}
body[data-device="web"] {
  #selectBankModal.modal, #neftModal.modal {
    left: unset;
    max-width: var(--desktop-width);
    margin: 0 auto;
    .footer {
      max-width: var(--desktop-width);
      margin: 0 auto;
    }
  }
}
.ic_close {
  padding: 14px 14px 0;
}