.two-fa-center-container{
  min-height: 100%;
  max-width: 614px;
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

.img-password{
  margin: 45px 0px 30px 0px;
 }

 .login-otp-button {
    margin: 20px auto;
    margin-top: 120px;
  }
  .login-otp-button-web{
    margin-top: 60px;
    width: 100%;
  }
  .login-otp-button-mobile {
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    width: calc(100% - 40px);
  }
}

@media only screen and (min-height: 900px) {
    .two-fa-center-container{
      min-width: 350px;
    }
  }