.main-container{
  height: 100vh;
  overflow: hidden;
  header {
    z-index: 1300 !important;
  }

  .middle-content{
    display: flex;
    height: 100%;
  }

  .feature-container{
    width: 640px !important;
    margin-left: 300px !important;
    min-width: 640px !important;
    padding-bottom: 60px;
    overflow: auto;
    height: 100%;
    .ContainerWrapper{
      margin: 0px !important;
      max-width: 100% !important;
      position: relative;
      // padding-bottom: 100px !important;
      header{
        position: fixed;
        top: 60px;
        width: 640px !important;
        margin-left: 300px !important;
      }
    }
  }

  .right-content{
    width: calc(100% - 640px);
    display: grid;
    place-items: center;
    background: #fafafa;
  }
}



@media only screen and (max-width: 500px) {
  .right-content{
    display: none;
  }
  .main-container .feature-container{
    width: 100% !important;
    margin-left: 0px !important;
    min-width: 100% !important;
  }
  .main-container .feature-container .ContainerWrapper header{
    width: 100% !important;
  }
}