.info-box{
  .info-box-header{
    color: #73727a;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
  }

  .info-box-content{
    .info-box-data{
      display: flex;
      align-items: center;
      max-width: 460px;
      .info-data-left{
        img{
          width: 100px;
        }
      }
      .info-box-right{
        flex: 1 1 70%;
        .info-box-right-title{
          font-size: 16px;
          font-weight: bold;
          margin-top: 0px;
          text-align: left;
          color: #73727a;
        }
        .info-box-right-subtitle{
          color: #999;
          text-align: left;
          font-weight: 400;
          line-height: 1.3;
          font-size: 16px;
        }
      }
    }
  }
}