 .wvyear-filter {
   display: flex !important;
   justify-content: space-between;
   cursor: pointer;
   margin: 0px;
   position: sticky;
   left: 0;
   right: 0;
   top: 50px;
   background-color: #fff;
   z-index: 5;
   .wvtext-block {
     width: 36px;
     height: 24px;
     background-color: #F0F7FF;
     color: var(--steelgrey);
     padding-top: 4px;
     border-radius: 4px;
   }

   .wvselected {
   color: white !important;
   background-color: var(--primary) !important;
   }

   p {
     text-align: center !important;
    }

}