$title-font-size: 20px;
$subtitle-color: #767E86;

@mixin page-title {
  font-size: $title-font-size;
  font-weight: 700;
  line-height: 32px;
}

@mixin page-subtitle {
  color: $subtitle-color;
  font-size: 13px;
  font-weight: 400;
  line-height: 21px;
}

#allow-location {
  .page-desc {
    margin-top: 20px;
    text-align: center;

    .page-title {
      @include page-title();
      margin-bottom: 20px;
    }

    .page-subtitle {
      @include page-subtitle();
    }
  }

  .location-error {
    margin-top: 30px;
  }
}