.atom-bar-meter {
  .atom-bar-content {
    width: 100%;
    text-align: center;

    .atom-bar {
      border-radius: 10px;
      height: 12px;
      width: 100%;
    }

    .atom-bar-label {
      padding-top: 8px;
    }
  }

  .atom-bar-content:last-child {
    margin-right: 0;
  }
}
