.loan-form-summary {
    .member-tile {
        display: flex;
        margin: 15px 0 15px 0;
        .mt-right {
          margin: 0 0 0 10px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
        
        .mtr-top {
            color: #0A1D32;
            font-size: 8px;
            font-weight: 700;
            text-transform: uppercase;
        }
        
        .mtr-bottom {
            color: #767E86;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.6;
        }
    }  
    
    .bottom-content {
        .bct-top {
          display: flex;
          justify-content: space-between;
        }
        
        .bc-tile {
            margin: 10px 0 10px 0;
            padding: 6px 0 15px 0;
            border-bottom: 1px solid #ededed;
            cursor: pointer;
        }
        
        .bct-top-title {
            color: #0A1D32;
            font-size: 14px;
            font-weight: 500;
        }
        
        .bct-content {
            padding: 30px 0 20px 10px;
        }
        .bctc-tile {
          margin: 0 0 20px 0;
        }
        
        .title {
            color: #767E86;
            font-size: 10px;
            font-weight: 700;
        }
        
        .subtitle {
          color: #767E86;
          font-size: 14px;
          font-weight: 400;
          margin: 7px 0 0 0;
          line-height: 1.3;
        }
    }
}


.loan-calculator {
    margin-top: 40px;

    .total-amount {
        text-align: center;
        padding: 20px 20px 0 15px;
        background-color: #f0f7ff;
        width: 100%;
        height: 170px;
        position: relative;
        right: 15px;
        color: #0a1d32;
    }
    
    .total {
        font-size: 25px;
        color: #3792fc;
        font-weight: 700;
        margin: 9px 0 31px 0;
    }
}

.loan-help {
    .customer-care {
        font-size: 14px;
        color: #0a1d32;
        font-weight: bold;
        margin: 40px 0 20px 0;
    }
    
    .label {
        color: #767e86;
        margin-bottom: 16px;
        font-size: 13px;
    }
    
    .details {
        color: #3792fc;
        font-size: 14px;
    }

    .link {
        margin: 5px 0 0 88px;
    }
}
