.contents {
    display: flex;
    justify-content: space-between;
}

.name {
    font-size: 15px;
    color: #79848f;
}

.amount {
    font-size: 16px;
}

.max,
.min {
    font-size: 12px;
    color: #79848f;
}

.container {
    margin-bottom: 40px;
}

.total-amount {
    text-align: center;
}

.total {
    font-size: 25px;
    color: #3792fc;
    font-family: sans-serif;
    margin-top: 9px;
}