.invest-explore-cards {
  .title {
    font-weight: 600;
    padding-bottom: 20px;
  }
}

#invest-explore {
  .invest-explore-quote {
    color: #c5c5c5;
    font-size: 13px;
    text-align: center;
  }
}