.withdraw-insta {
  margin-bottom: 50px;
  .withdraw-zero-invest-icon {
    margin: 30px 0 10px 0;
  }
  .withdraw-insta-icon,
  .withdraw-insta-head {
    text-align: center;
  }
  .withdraw-insta-icon {
    img {
      width: 100px;
    }
  }
  .withdraw-insta-head {
    color: #4a4a4a;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
  }
  .withdraw-insta-info {
    color: #878787;
    font-size: 14px;
    font-weight: 400;
    margin: 10px 0 0 0;
  }
}

.withdraw-insta-failed {
  .help-contact-email {
    display: flex;
  }
}
.withdraw-insta-failed.pr-error-container .error-text {
  text-align: left !important;
}

.withdraw-insta-exceed {
  display: flex;
  margin: 20px 0px;
  padding: 15px 15px 20px 15px;
  border: 1px solid #fff5f6;
  border-radius: 4px;
  background: #fff5f6;

  .withdraw-insta-exceed-icon {
    margin-right: 10px;
  }
  .withdraw-insta-exceed-msg {
    .withdraw-insta-exceed-head {
      font-size: 14px;
      color: #160d2e;
      font-weight: 700;
    }

    .withdraw-insta-exceed-info {
      color: #160d2e;
      font-size: 14px;
      text-align: start;
    }
  }
}

.withdraw-instant-msg {
  display: flex;
  justify-content: space-around;
  align-items: center;
  div {
    color: #767e86;
    font-size: 12px;
    font-weight: 400;
  }
}