.FooterDefaultLayout {
  .FlexItem2 {
    .footer-button {
      color: white;
      background-color: var(--secondary);
      border-radius: 6px;
      width: 100%;
      padding: 13px 15px;
      font-size: 16px;
      font-weight: 600;
      min-width: fit-content;

      .loader {
        position: absolute;
        div {
          color: white;
          vertical-align: middle;
        }
      }
    }

    .disabled {
      background-color: #bfc1c1 !important;
      color: rgba(0, 0, 0, 0.38) !important;
    }
  }

  .two-button {
    display: flex;
    column-gap: 10px;

    .first-button {
      background-color: white;
      color: var(--default);
    }
  }
}
