//----------------------------verify-otp-container--------------------------- //
.verify-otp-container {
  min-height: 100%;
  max-width: 614px;
  background-color: white;
  padding: 20px;
  .title {
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0px;
  }
  .verify-otp-header {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
    margin-top: -10px;
    p {
      font-size: 13px;
      font-weight: 400;
      line-height: 21px;
      letter-spacing: 0px;
      color: var(--steelgrey);
      margin: 0;
    }
  }
  .default-otp-input-container {
    justify-content: start;
    margin-top: 30px;
    .default-otp-input {
      background-color: rgba(238, 238, 238, 0.3);
      font-size: 13px;
      line-height: 21px;
      padding: 4px;
    }
  }
  .login-otp-button {
    margin: 20px auto;
  }
  .login-otp-button-web{
    margin-top: 60px;
    width: 100%;
  }
  .login-otp-button-mobile {
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    width: calc(100% - 40px);
  }
  .go-back-to-login{
     justify-content: center !important;
     display: flex;
     margin-top: 40px;
     color: var(--secondary);
  }
}
.verify-otp-container-secondary{
  padding: 0 !important
}
//----------------------------verify-otp-CSS-END--------------------------- //