//----------------------------verify-otp-container--------------------------- //
.verify-otp-container {
  min-height: 100%;
  // max-width: 614px;
  background-color: white;

  .verify-otp-header {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    margin-top: -10px;
    p {
      font-size: 13px;
      line-height: 21px;
      color: var(--steelgrey);
      margin: 0;
    }
  } 
   .login-subtitle{
    margin-top: -20px;
  }
  .default-otp-input-container {
    justify-content: start;
    margin-top: 30px;
    .default-otp-input {
      background-color: rgba(238, 238, 238, 0.3);
      font-size: 13px;
      line-height: 21px;
      padding: 4px;
    }
  }
  .login-button {
    margin: 20px auto;
    margin-top: 60px;
    width: 100%;
  }
  .go-back-to-login{
     justify-content: center;
     display: flex;
     color: var(--secondary);
  }
}
.verify-otp-container-secondary{
  padding: 0 !important
}

@media only screen and (max-height: 900px) {
  .verify-otp-container{
    .login-button{
      position: fixed;
      z-index: 9999;
      bottom: 0;
      left:0;
      right:0;
      margin-left:auto;
      margin-right:auto;
      width: calc(100% - 40px);
    }
  }
}
//----------------------------verify-otp-CSS-END--------------------------- //