.selection-mode-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex: 1;

  .selection-mode-left-img {
    width: 32px;
    height: 32px;
    margin-right: 16px;
  }

  .sm-right-wrapper {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .sm-text-wrapper {
      display: flex;
      flex-direction: column;
      flex: 1;
    }

    .selection-mode-right-img {
      width: 24px;
      height: 24px;
    }
  }
}


.selection-mode-form-wrapper {
  flex: 1;

  .sm-radio-wrapper {
    label {
      margin-left: 0px;
      margin-right: 0px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 16px;

      &:last-child {
        margin-bottom: 0px;
      }
    }
  }
}