.mi-wrapper {
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  .mi-left-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .mi-left-img {
    margin-right: 24px;
  }

  .mi-text-wrapper {
    display: flex;
    flex-direction: column;
    margin-right: 24px;
  }
}
