.nav-header-wrapper {
  display: flex;
  flex-direction: column;
  background-color: white;
  flex: 1;
  padding-top: 56px;
  &.nav-header-fixed {
    position: fixed;
    width: var(--desktop-width) !important;
  }

  .nav-header-top-section {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    position: fixed;
    top: 60px;
    width: var(--desktop-width) !important;
    z-index: 1400 !important;
    background-color: white;
  }
  .nav-header-title{
    opacity: 0;
  }

  .nav-header-left {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

    .nav-left-icn-btn {
      margin: -8px;
      margin-right: 4px;
    }

    .nav-hl-icon-wrapper {
      cursor: pointer;
    }
  }

  .nav-header-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .nav-bar-title-wrapper {
    padding: 0px 16px;
  }

  .nav-bar-tabs-wrapper {
    // margin-top: 24px;
    padding: 0px 16px;
  }

  .nav-bar-subtitle-wrapper {
    padding: 0px 16px;
    padding-bottom: 24px;
    .lh-subtitle {
      margin-top: 8px;
    }
    .lh-description-list {
      margin: 0px;
      padding-left: 20px;
      margin-top: 8px;
      width: 100%;
    }
  }
}

.nav-bar-tabs-wrapper {
  background-color: white;
  // width: var(--desktop-width) !important;
  // z-index: 1300 !important;
  // background-color: white;
}

@media (max-width: 600px) {
  .nav-header-wrapper {
    &.nav-header-fixed {
      position: fixed;
      width: 100% !important;
    }
    .nav-header-top-section {
      top: 0px;
    }
  }
}
