.customized-slider {
  width: 100%;
  .MuiSlider-track,
  .MuiSlider-rail {
    height: 12px;
  }
  .MuiSlider-thumb {
    width: 42px;
    height: 42px;
    .slider-arrow {
      z-index: 2;
      position: absolute;
      left: 12px;
      top: 18px;
    }
  }
}
