/////// Recommendation Funds ////////////
.recommendations-common-container {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 20px 20px 30px;
  margin-top: 20px;
}

.recommendations-header {
  width: 100%;
  display: flex;
  align-items: center;
  
  & > div {
    flex: 1 1 80%;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.6;
  }
  .edit-recommendation-funds {
    flex: 1 1 20%;
    text-align: right;
    color: var(--secondary);
    font-weight: bold;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
  }
}

.recommendations-funds-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border-bottom: 2px solid #EAEAEA;
  padding: 20px 0;
  // margin-bottom: 20px;
  border-radius: 3px;
  cursor: pointer;

  .recommendations-funds-item-icon {
    margin-right: 10px;
    border: 1px solid #EDEDED;
    border-radius: 2px;
    img {
      width: 80px;
    }
  }

  .recommendations-funds-item-info {
    flex: 1 1 70%;
    display: flex;
    flex-direction: column;

    .recommendations-funds-item-name {
      font-size: 16px;
      line-height: 1.4;
    }

    .recommendations-funds-item-status {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0;
      font-size: 16px;

      & > p:first-child {
        color: #4685ce;
      }
    }
  }
}

.recommendations-total-investment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  padding: 10px 0px;
}

.recommendations-disclaimer-morning {
  display: flex;
  margin-bottom: 13px;
  font-size: 13px;
  img {
    margin-right: 5px;
  }
}

.recommendations-disclaimer {
  display: flex;
  flex-direction: column;
  .recommendations-disclaimer-tc {
    a {
      color: #337ab7;
      text-decoration: none;
    }
    img {
      margin-right: 5px;
    }

    span {
      font-size: 13px;
    }
  }
}

.recommendations-trust-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  div {
    font-size: 14px;
    color: #767e86;
    margin: 0 0 5px 0;
    font-weight: 500;
  }
}
/////// End of Recommendation Funds /////

////// Recommendation Edit ////////////
.recommendations-common-container-edit {
  display: flex;
  flex-direction: column;
}

.recommendation-edit-replace {
  margin-bottom: 0px;
  box-shadow: none;
  pointer-events: none;
}
.recommendations-funds-item-edit {
  margin-bottom: 20px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.recommendations-funds-item-replace {
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  background-color: #e6e6e6;
  padding: 13px;
  color: var(--primary);
  img {
    margin-right: 5px;
    width: 25px;
  }
}

///// End of Recommendation Edit //////

// Alternate-funds //////////////
.alternate-funds-item {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  padding: 0px 10px;
  margin: 0px !important;
  margin-bottom: 10px !important;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  .recommendations-funds-item {
    box-shadow: none;
    margin-bottom: 0px;
    padding: 10px 10px 0px 10px;

    .recommendations-funds-item-icon {
      img {
        width: 60px;
      }
    }

    .recommendations-funds-item-info {
      .recommendations-funds-item-name {
        font-size: 14px;
      }
    }
  }
}

/// End of Alternate-funds ////////////

.invest-payment-options {
  color: #333333;
  line-height: 1.5;
  padding-top: 20px;

  .option {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0pt 1pt 4pt 2pt rgba(0, 0, 0, 0.08);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0 15px 15px;
    margin-bottom: 20px;

    .left {
      display: flex;
      align-items: center;

      img {
        width: 50px;
        height: 60px;
        margin-right: 10px;
      }

      .text {
        font-weight: 500;
        font-size: 18px;
        color: #4a4a4a;

        .helper {
          font-weight: 400;
          font-size: 16px;
          color: #878787;
        }
      }
    }

    .right {
      width: 100px;
    }
  }

  .bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    text-align: center;
    margin-top: 50px;

    .left {
      width: 90px;
    }

    .right {
      width: 120px;
    }
  }
}
