.infoAction-wrapper {
  .container-content-wrapper {
    background-color: #fff;
    .main-container {
      margin-bottom: 24px;
      .btn-calculate-returns {
        margin: -2px 0 0 3px;
      }
    }
  }
}
