.risk_profiler-intro {
  margin-top: 4px;
}
.risk_profiler-intro-heading {
  font-weight: 700;
  color: #0a1d32;
  font-size: 20px;
  margin: 13px 0 0 0;
  line-height: 23.7px;
}
.risk_profiler-intro-image {
  margin: 20px 0 0 2px;
  width: 100%;
}
.risk_profiler-intro-des {
  margin: 20px 4px 0 4px;
  color: #767e86;
  line-height: 20px;
  font-size: 13px;
}
.risk_profiler-benefit-outer {
  margin: 30px 4px 0 2px;
}
.risk_profiler-benefit-heading {
  font-size: 17px;
  line-height: 24px;
  font-weight: 500;
  color: #0a1d32;
  margin: 0;
}
.risk_profiler-benefitList {
  display: flex;
  margin-bottom: 25.72px;
}
.risk_profiler-benefitList-img {
  margin-right: 20px;
}
.risk_profiler-benefitList-des {
  margin: 0;
  color: #767e86;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
}