.withdraw-remark {
  padding-top: 20px;
  padding-bottom: 30px;
  .withdraw-remark-title {
    padding: 20px;
    font-size: 17px;
    color: var(--dark);
    background: #f2f2f2;
    line-height: 1.4;
  }
}

.withdraw-remark-list {
  .withdraw-remark-items {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px;
    color: var(--default);

    svg {
      margin-right: 18px;
    }
  }
}

.withdraw-fisdom-radio {
  fieldset {
    div {
      label {
        display: flex;
        justify-content: space-between;
        padding: 0px 20px;
        margin: 0px;
        font-size: 16px;
      }
    }
  }
}
