.atom-trust-icon {
  text-align: center;
  width: 100%;

  .aemti-icon {
    min-height: 25px;
    width: 100%;
    margin-top: 10px;
  }

  .ati-registration {
    text-align: left;

    .atir-text {
      margin-top: 20px;
    }
  }
}
