.result-container {
  background: #155acf;
  /* autoprefixer: off */
  height: -webkit-fill-available; 
  margin-bottom: 0px;
  padding-bottom: 0;
  overflow-y: hidden;
}
.plan-details-item {
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.plan-details-icon {
  margin-right: 15px;
}
.plan-details-text {
  color: #160d2e;
  font-size: 14px;
  line-height: 22px;
}
/* note info card */
.infocard {
  margin: 20px 0;
}
.infocard .title {
  font-size: 20px;
  color: #160d2e;
  font-weight: 600;
  padding: 0px 0px 0 0px;
}
.highlight-text {
  background: #f6f2ff;
  padding: 15px 15px 20px 15px;
  border: 1px solid #f6f2ff;
  border-radius: 4px;
}
.highlight-text1 {
  display: -webkit-box;
  line-height: 20px;
}
.highlight-text11 {
  width: 14px;
}
.highlight-text12 {
  font-size: 14px;
  color: #160d2e;
  font-weight: 700;
  margin: -2px 0 0 7px;
}
.highlight-text2 {
  color: #160d2e;
  font-size: 14px;
  margin: 0 0 0 20px;
}
.display-flex {
  display: flex;
  align-items: center;
}
.bankcard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  padding: 15px;
  border-radius: 4px;
  margin-bottom: 20px;
}
.bankcard.selected {
  background: #f4f4f4;
}

.success-img {
  text-align: center;
  margin: 10px 0 0px 0;
}
.success-text {
  text-align: center;
  margin: 50px 0 20px 0;
  color: #160d2e;
  font-size: 16px;
  font-weight: 500;
}
.success-text-info {
  margin-bottom: 6px;
  text-align: center;
  font-size: 16px;
  color: #767e86;
}
.success-bottom {
  margin: 50px 0 0 0;
  text-align: center;
}
.success-bottom1 {
  font-size: 14px;
  color: #b4b4b4;
  margin-bottom: 11px;
}
.success-bottom2 {
  display: -webkit-inline-box;
}
.success-bottom2a {
  font-size: 14px;
  color: #b4b4b4;
  font-weight: 600;
}
.success-bottom2b {
  margin: 0 20px 0 20px;
  color: #d6d6d6;
}
.payment-failed-subtitle {
  padding: 0 25px;
}