.verify-otp-container {
  min-height: 100%;
  max-width: 614px;
  background-color: white;
  padding: 20px;
  .title {
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0px;
  }
  .verify-otp-header {
    display: flex;
    align-items: center;
    p {
      font-size: 13px;
      font-weight: 400;
      line-height: 21px;
      letter-spacing: 0px;
      color: var(--steelgrey);
      margin: 0;
    }
  }
  .default-otp-input-container {
    justify-content: start;
    margin-top: 30px;
    .default-otp-input {
      background-color: rgba(238, 238, 238, 0.3);
      font-size: 13px;
      line-height: 21px;
      padding: 4px;
    }
  }
  .login-otp-button {
    margin: 20px auto;
  }
  .login-otp-button-web{
    margin-top: 60px;
    width: 100%;
  }
  .login-otp-button-mobile {
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    width: calc(100% - 40px);
  }
  .go-back-to-login{
     justify-content: center;
     display: flex;
     font-weight: 400;
     margin-top: 40px;
  }
}
.verify-otp-container-secondary{
  padding: 0 !important
}

.login-form-field{
  display: flex;
  .country-code{
    min-width: 85px;
    margin-right: 15px;
    .react-select__single-value{
      margin-top: -3px !important;
      color: var(--steelgrey);
    }
    .react-select__input{
      margin-top: 0px !important;
    }
  }
  
  .mobile-number-login{
    height: 52px;
    background: rgba(238, 238, 238, 0.3);
    width: 100%;
    .MuiInputLabel-formControl{
      left: 10px;
      top: 4px;
    }
    .MuiInput-input{
      margin-left: 10px;
    }
  }
}

.declaration-container{
  margin-left: -12px;
  margin-top: 10px;
  display: flex;
  align-items: flex-start;
  svg{
    width: 20px;
    height: 20px;
  }
  p{
    font-size: 13px;
    line-height: 21px;
  }
  .Checkbox{
    margin-top: -2px;
  }
}


@media only screen and (max-height: 900px) {
  .whatsapp-consent{
    position: absolute;
    bottom: 80px;
  }
}