$status-text-margin: 20px 0 10px 0;
$text-color1: var(--steelgrey);

@mixin status_text {
    font-size: 14px;
    line-height: 21px;
}

@mixin d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.digi-status {
    color: $text-color1;
    
    .digi-status-text {
        margin: $status-text-margin;
        @include status_text();
    }
    .digi-desc {
        @include status_text();
    }
}

.nsdl-status {
    color: $text-color1;

    .nsdl-status-text {
        margin: $status-text-margin;
        @include status_text();
    }
}

.esign-desc {
    color: $text-color1;
    margin: 20px 0 40px 0;
    @include status_text();

    strong {
      font-weight: 600;
    }
}

.esign-subtitle {
    margin-bottom: 21px;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: #160D2E;
}

.esign-steps {
    display: flex;
    flex-direction: column;

    .step {
      display: flex;
      margin-bottom: 20px;

      .icon-container {
        flex: 3;
        margin-right: 20px;

        img {
          width: 80px;
          height: 60px;
          border-radius: 3px;
        }
      }

      .step-text {
        display: flex;
        align-items: center;
        flex: 9;
        font-size: 13px;
        line-height: 22px;
        color: $text-color1;
      }
    }
}

.esign-bottom {
    margin-top: 30px;
    margin-bottom: 20px;

    .bottom-text {
      display: flex;
      justify-content: center;
      min-width: 65px;
      font-weight: 500;
      font-size: 8px;
      line-height: 9px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: $text-color1;
    }

    .bottom-image {
      display: flex;
      justify-content: center;
      margin: 10px 0 10px 0;
    }
}

#kyc-esign-back-dialog  {
  .text {
    margin: 10px 0;
    color: #160d2e;
    font-size: 16px;
  }

  .actions {
    display: flex;
    justify-content: flex-end;
  }
}

.kyc-esign-complete {
  line-height: 1.5;
  padding-bottom: 30px;

  header {
    text-align: center;

    img {
      margin: 40px 0;
    }

    .title {
      font-size: 17px;
      color: var(--dark);
      font-weight: 500;
    }

    .text {
      @include d-flex-center();
      font-size: 14px;
      line-height: 19px;
      color: $text-color1;
      margin-top: 10px;
      column-gap: 5px;

      img {
        width: 24px;
        margin: 0;
      }
    }

    .message {
      font-size: 13px;
      line-height: 22px;
      text-align: center;
      color: $text-color1;
      margin-top: 30px;
    }

    .subtitle {
      font-size: 13px;
      font-weight: 500;
      color: var(--primary);
      margin: 30px 0 0 0;
      cursor: pointer;
    }

    .sub-title {
      @include d-flex-center();
      font-size: 13px;
      line-height: 22px;
      color: $text-color1
    }
  }

  .wv-info-bubble {
    margin-top: 25px;
  }

  .account-status-container {
    margin: 40px 0;

    .account-status {
      font-weight: 500;
      font-size: 17px;
      line-height: 20px;
      color: var(--dark);
      margin-bottom: 20px;
    }

    .status {
      color: $text-color1;
    }

    .step-content {
      margin-top: -10px;
      text-transform: initial;
    }
  }
}
