.atom-bar-meter {
  display: flex;
  align-items: center;
  justify-content: center;

  .atom-bar {
    border-radius: 100px;
    height: 12px;
    margin-right: 4px;
    width: 100%;
  }

  .atom-bar:last-child {
    margin-right: 0;
  }
}
