.product-item-wrapper {
  cursor: pointer !important;

  .product-item-child-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .pi-right-section {
    margin-left: 10px;
    align-self: baseline;
    min-width: fit-content;
    margin-left: auto;
    &> * {
      margin-left: 10px;
    }
  }
}
