.faq-accordian-wrapper {
  .faq-accordian-item {
    &.faq-acc-disabled {
      opacity: 0.3;
    }
    .faq-title-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex: 1;
      padding: 16px 0px;
    }

    &:first-child {
      padding-top: 0px;
      .faq-title-wrapper {
        padding-top: 0px;
      }
    }

    &.faq-acc-disabled {
      pointer-events: none;
      opacity: 0.5;
    }
  }
}
