.tags-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: max-content;
  padding: 3.5px 8px;
  cursor: default;
  height: 21px;
}

.label-tag-wrapper {
  max-width: max-content;
  border-radius: 4px;
  height: 21px;
  padding: 1px 8px;
  cursor: default;
}
