.Footer {
  margin: 0 !important;
  padding: 20px;
}

.hni-container {
  padding: 20px 20px;
}

.header-title-text {
  font-size: 20px;
  font-weight: bold;
  line-height: 28px;
  color: #0a1d32;
}

.header-subtitle-text {
  display: block;
  color: #767e86;
  font-size: 13px;
  margin-top: 10px;
  line-height: 20px;
  padding: 0 20px;
}

.ext-pf-banner {
  background: url(../../assets/myway/banner_ext_pf.svg) no-repeat right/contain;
  height: 165px;
  width: 100%;

  .header-subtitle-text {
    margin-top: 40px;
  }
}

.ext-pf-email-label {
  margin: 30px 0 20px 0;
  font-size: 15px;
  font-weight: 500;
  color: #0a1d32;
}

.ext-pf-subheader {
  font-size: 17px;
  font-weight: bold;
  margin: 40px 0 0 0;

  h4 {
    margin-top: 0;
  }

  .gen-statement-btn {
    margin-top: 10px !important;
  }
}

.Container {
  .ext-pf-subheader:first-child {
    margin: 10px 0 0 0;
  }
}

.uppercase-text {
  text-transform: uppercase;   
}

.m-t-40 {
  margin-top: 40px;
}

.gen-statement-btn {
  border: 1px solid var(--secondary) !important;
  margin-top: 30px !important;
  padding: 18px 50px !important;
}

.gen-statement-btn-label {
  text-transform: uppercase !important;
  font-weight: bold;
  font-size: 12px;
  color: var(--secondary);
  letter-spacing: 1px;
}

.email_img {
  display: block;
  width: 100%;
  height: auto;
}

.email_example_link {
  font-size: 9px;
  font-weight: bold;
  color: var(--secondary);
  text-transform: uppercase;
  margin-top: 15px;
}