$steel_grey: #767e86;
$dark_indigo: #0a1d32;
$light_periwinkle: #d3dbe4;

.header-right-btn {
  position: absolute !important;
  right: 0 !important;
}

.hni-container {
  padding-right: 20px;
  padding-left: 20px;
}

// .m-b-60 {
//   margin-bottom: 60px;
// }

.bg-highlight {
  background-color: var(--highlight) !important;
  color: black !important;
}

.header-title-text-hni {
  font-size: 20px;
  font-weight: bold;
  line-height: 28px;
  color: $dark_indigo;
}

.header-subtitle-text-hni {
  display: block;
  color: $steel_grey;
  font-size: 13px;
  margin-top: 10px;
  line-height: 20px;
  padding: 0 20px;
}

#hni-settings-dot {
  height: 6px;
  width: 6px;
  background: #ff6868;
  border-radius: 10px;
  position: absolute;
  bottom: 27px;
  right: 0;
}

#cas-email-highlight {
  color: var(--primary);
  font-weight: bold;
}

.fisdom-bg {
  background: url(../../assets/fisdom/banner_ext_pf.svg) no-repeat bottom right/245px 164px;
}
.myway-bg {
  background: url(../../assets/myway/banner_ext_pf.svg) no-repeat bottom right/245px 164px;
}

.email-entry-banner {
  background-color: var(--highlight);
  height: 140px;
  margin: -20px -20px 0 -20px;
  padding: 20px;

  .header-subtitle-text-hni {
    margin-top: 40px;
    padding: 0;
  }
}

.fullscreen-banner {
  margin: -20px -20px 0 -20px;
  padding: 20px 20px 0 20px;
}

.ext-pf-email-label {
  margin: 30px 0 20px 0;
  font-size: 15px;
  font-weight: 500;
  color: $dark_indigo;
}

.ext-pf-subheader {
  margin: 40px 0 0 0;
  
  h4 {
    font-size: 17px;
    font-weight: 500;
    margin-top: 0;
    line-height: 27px;
  }

  .gen-statement-btn {
    margin-top: 10px !important;
  }
}

.Container {
  .ext-pf-subheader:first-child {
    margin: 10px 0 0 0;
  }

  .email-expand-container:first-child {
    margin-top: 10px;
  }
}

.uppercase-text {
  text-transform: uppercase !important;   
}

.m-t-40 {
  margin-top: 40px;
}

.gen-statement-btn {
  border: 1.5px solid var(--secondary) !important;
  margin-top: 30px !important;
  padding: 18px 35px !important;
  background-color: white !important;
  border-radius: 4px !important;
}

.gen-statement-btn-label {
  text-transform: uppercase !important;
  font-weight: bold;
  font-size: 12px;
  color: var(--secondary);
  letter-spacing: 1px;
}

.email_img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.email_example_link {
  font-size: 10px;
  font-weight: bold;
  color: var(--secondary);
  text-transform: uppercase;
  margin-top: 15px;
}

.ext-pf-inPageHeader {
  .header-title-text-hni {
    color: white;
  }
}

.fund-holding-btn {
  border: 1px solid #0000000a !important;
  box-shadow: 0px 2px 4px 0px #0000000a !important;
  border-radius: 4px !important;
  padding: 16px 8px 16px 20px !important;
}

#fund-holding-btn-text {
  display: flex;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  align-items: center;
  justify-content: space-between;
}

#selected-pan {
  background: #061628;
  padding: 11px 0 11px 18px;
  margin: 20px -20px;
  display: flex;
  align-items: center;

  #selected-pan-detail {
    line-height: 19px;
    letter-spacing: 1px;
    display: flex;
    flex-basis: 73%;
    flex-direction: column;
    margin-right: 20px;
    
    #selected-pan-num {
      font-size: 13px;
      color: $light_periwinkle;
    }
    #selected-pan-header {
      font-size: 13px;
      font-weight: bold;
      color: white;
      text-transform: capitalize;
    }
  }
}

.selected-pan-initial {
    min-height: 30px;
    max-height: 30px;
    min-width: 30px;
    max-width: 30px;
    border-radius: 3px;
    line-height: 32px;
    color: white;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    background: var(--primary);
    text-transform: uppercase;
    margin-right: 20px;
  }

#portfolio-details {
  width: 100%;

  .flex-box {
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    #current-value, #portfolio-irr,
    #invested-amt, #portfolio-odc {
      display: flex;
      flex-direction: column;
    }

    #current-value, #invested-amt {
      text-align: left;
    }

    #portfolio-irr, #portfolio-odc {
      text-align: right;
    }

    .pf-detail-title {
      margin-bottom: 8px;
      font-size: 11px;
      font-weight: bold;
      letter-spacing: 0;
      color: $light_periwinkle;
    }

    .pf-detail-value {
      font-size: 13px;
      color: $light_periwinkle;
    }

    #current-value {
      .pf-detail-value {
        font-size: 17px;
        font-weight: bold;
        color: white;
      }
    }

    #portfolio-irr {
      .pf-detail-value {
        color: var(--secondary);
        font-size: 15px;
      }
    }

    #portfolio-odc {
      .pf-detail-value {
        span {
          line-height: 18px;
          font-weight: 600;
          letter-spacing: 1.1px;
        }
      }
    }
  }
}

.bg-black {
  background: black !important;
  color: white !important;
}

#ext-portfolio-custom-legend {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 30px;

  .custom-legend-item:nth-child(1) {
    flex-basis: 50%;
  }
  
  .custom-legend-item {
    font-size: 16px;
    letter-spacing: 0;
    margin-bottom: 20px;

    .color-square {
      height: 14px;
      width: 14px;
      margin-right: 10px;
      display: inline-block;
      background: transparent;
    }

    .label {
      font-weight: 500;
      color: $dark_indigo;
    }

    .label-val {
      color: $steel_grey;
    }
  }
}