.Footer {
  margin: 0 !important;
  padding: 20px;
}

.hni-container {
  padding: 20px 20px;
}

.header-title-text {
  font-size: 20px;
  font-weight: bold;
  line-height: 28px;
  color: #0a1d32;
}

.header-subtitle-text {
  display: block;
  color: #767e86;
  font-size: 13px;
  margin-top: 10px;
  line-height: 20px;
  padding: 0 20px;
}

.ext-pf-banner {
  background: url(../../assets/myway/banner_ext_pf.svg) no-repeat right/contain;
  height: 165px;
  width: 100%;

  .header-subtitle-text {
    margin-top: 40px;
  }
}

.ext-pf-email-label {
  margin: 30px 0 20px 0;
  font-size: 15px;
  font-weight: 500;
  color: #0a1d32;
}

.ext-pf-subheader {
  font-size: 17px;
  font-weight: bold;
  margin: 40px 0 0 0;

  h4 {
    margin-top: 0;
  }

  .gen-statement-btn {
    margin-top: 10px !important;
  }
}

.Container {
  .ext-pf-subheader:first-child {
    margin: 10px 0 0 0;
  }
}

.uppercase-text {
  text-transform: uppercase;   
}

.m-t-40 {
  margin-top: 40px;
}

#info-box {
  padding: 16px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  border-radius: 6px;
  background: var(--highlight);

  #info-box-img {
    height: 20px;
    width: 25px;
    margin-right: 16px;
  }

  #info-box-body {
    flex-basis: 60%;
    flex: 1;

    #info-box-body-header {
      font-size: 11px;
      line-height: 20px;
      color: #767e86;
    }
    
    #info-box-body-subheader {
      font-size: 14px;
      font-weight: 500;
    }

  }

  #info-box-ctrl {
    font-size: 12px;
    letter-spacing: 1px;;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--secondary);
    margin-left: 16px;
  }
}


.flex-info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  #info-container-icon {
    margin-right: 16px;
  }

  #info-container-text {
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
    // justify-text
  }
}

.info-box-cut-out {
  padding: 20px;
  margin-top: 20px;
  border: 1px dashed #e3e3e3;
}

.info-box-body-text {
  font-size: 15px;
  font-weight: bold;
  line-height: 20px;
  color: #3792fc;
}

.hni-stepper-root {
  padding: 0 !important;
}

.hni-stepper-label {
  font-size: 15px !important;
  font-weight: 500  !important;
}

.hni-stepper-complete, .hni-stepper-disable {
  color: #767e86  !important;
}

.hni-stepper-active {
  color: inherit !important;
}

.hni-step-content-root {
  // margin: 10px 0 40px 0;
  color: #767e86;
  font-size: 13px;
  line-height: 19px;
}

.gen-statement-btn {
  border: 1px solid var(--secondary) !important;
  margin-top: 30px !important;
  padding: 18px 50px !important;
}

.gen-statement-btn-label {
  text-transform: uppercase !important;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 1px;
}

.email_img {
  display: block;
  width: 100%;
  height: auto;
}

#btm_mail_check_img {
  position: absolute;
  top: 0;
  right: 0;
  width: 140px;
}

.statement-req-popup {
  height: 300px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;

  .header-title-text {
    font-weight: 500;
    display: block;
    margin: 10px 0;
  }
}

.fund-details-container:first-child {
  margin-top: 10px;
}

.fund-details-container {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  margin: 20px 0;

  .fund-header, .fund-info, .fund-numbers {
    display: flex;
    flex-direction: row;
  }
  
  .current-val, .annual-ret, .invested-amt {
    flex-direction: column;
  }

  .fund-header {
    img {
      margin-right: 17px;
    }

    span#heading {
      display: block;
      font-size: 15px;
      font-weight: 500;
      line-height: 22px;
      color: #0a1d32;
      margin: 0;
    }
  }

  .fund-info {
    margin-top: 10px;
    align-items: center;
    justify-content: space-between;

    .fund-chip {
      height: 16px;
      background: #ffe0ec;
      padding: 3px 0;
    }
    .fund-chip-label {
      font-size: 8px;
      letter-spacing: 1px;
      color: #f16fa0;
      font-weight: bold;
    }
    .fund-investment-date {
      font-size: 11px;
      text-align: right;
      letter-spacing: 0;
      color: #767e86;
    }
  }

  .fund-numbers {
    margin-top: 20px;
    justify-content: space-between;

    .fund-numbers-title {
      font-size: 11px;
      letter-spacing: 0;
      color: #767e86;
      margin-bottom: 5px;
    }

    .fund-numbers-value {
      font-size: 13px;
      letter-spacing: 0;
      color: #0a1d32;
    }

    .annual-ret {
      text-align: center;
    }

    .invested-amt {
      text-align: right;
    }
  }
}