
.wv-menulist-products{
    width: 100%;
    .wv-menulist-block{
        display: flex;
        width: 100% !important;
      }

    .wv-menu-list-dropdown{
      display: flex;
      align-items: center;
      .wv-image-icon{
        width: 40px !important;
        min-height: 40px !important;
        margin-right: 25px !important;
        padding-top: 20px !important;
        padding-bottom: 22px !important;
      }
      .wv-dropdown-elements{
          width: 100% !important;
          padding-top: 20px;
          padding-bottom: 22px;
          justify-content: space-between;
          cursor: pointer;
      }
      .wv-menu-title{
        color: var(--dark);
        font-size: 16px;
        margin-bottom: 5px;
        font-weight: 500;
        flex-grow: 1;
      }
      .wv-menu-subtitle{
        color: var(--steelgrey);
         font-size: 13px;
         font-weight: 400;
         line-height: 15.41px;
      }
      .menulist-img{
        color: var(--primary);
        float: right ;
      }
    }

    .wv-menulist-dropdown-lists{
        width: 100%;
        .wv-menulist-dropdown{
          width: 100%;
          display:flex;
          align-items: center;
          border-bottom-width: 1px;
          border-bottom-color:#EFEDF2 ;
          justify-content: space-between;
          cursor: pointer;
          .recommended-tag{
            font-size: 9px;
            display: inline-block;
            margin-left: 5px;
            background-color: #5240A7;
            color: white;
            padding: 0.1px 4px;
            border-radius: 4px;
            font-weight: 700;
            letter-spacing: 0.5px;
            transform: translateY(-2px);
          }
        }
    
          .wv-menulist-dropdown-types{
            display: flex;
            padding: 0 10px;
            width: 100% !important;
            padding: 0px;
          }
    
          .wv-menulist-dropdown-logos{
            margin-right:25px;
            width: 40px;
            height: 40px;
            border-radius: 2px;
          }
    
          .wv-menulist-logos-small{
            margin: 20px 25px 0px 3px;
            width: 40px !important;
            height: 40px !important;
            border-radius: 2px;
            padding-left: 3px;
            padding-right: 3px;
          }
          .wv-menulist-dropdown-logos-text{
            color: var(--dark);
            font-size:13px;
            margin-bottom: 5px; 
            font-weight: 400;
             margin-bottom: 5px;
             line-height: 15.41px;
             width: 100%;
          } 
          .wv-menulist-dropdown-logos-subtext{
           color: var(--steelgrey);
           font-weight: 300; 
           font-size: 13.6px;
          }
          .wv-menulist-dropdown-line-style{
             width: 100%;
             border-bottom-width: 1px;
             border-bottom-color: #EFEDF2;
             border-bottom-style: solid;
             padding-top: 20px;
             padding-bottom: 20px;
             justify-content: space-between;
             cursor: pointer;
          }
          .wv-menu-list-resume-flag{
             background-color: #ff6868;
             letter-spacing: 0.1;
             font-size: 8px;
             line-height: 10.06px;
             position: relative;
             top: -3px;
             border-radius: 7px;
             padding:  2px 4px;
             margin-top: -30px;
             color: white;
             font-weight: 700;
             width: 40px;
             left: 6px;
             height: 14px;
          }
     }

  }

.wv-menulist-products + .wv-menulist-products {
    .wv-dropdown-elements{
        border-top-style: solid;
        border-top-width: 1px;
        border-top-color: #EFEDF2;
    }
}

.wv-menulist-dropdown:last-child {
    .wv-menulist-dropdown-line-style {
        width: 100%;
        padding-bottom: 40px;
   }
}