
.wv-menulist-products{
    width: 100%;
    .wv-menulist-block{
        display: flex;
        width: 100% !important;
      }

    .wv-menu-list-dropdown{
      display: flex;
      align-items: center;
      .wv-image-icon{
        width: 50px;
        min-height: 40px;
        margin-right: 25px;
        padding-top: 20px;
        padding-bottom: 20px;
      }
      .wv-image-icon-small{
        margin: 20px 30px 0px 3px;
        width: 40px !important;
        height: 40px !important;
        border-radius: 2px;
        padding: 3px !important;
      }
      .wv-menulist-dropdown-logos-text{
        color: var(--dark);
        font-size:13px !important;
        margin-bottom: 5px !important;
        font-weight: 400 !important;
        margin-bottom: 5px !important;
        line-height: 15.41px !important;
        width: 100%;
      } 
      .wv-dropdown-elements{
          width: 100% !important;
          padding-top: 20px;
          padding-bottom: 20px;
          justify-content: space-between;
          cursor: pointer;
      }
      .wv-menu-title{
        color: var(--dark);
        font-size: 16px;
        margin-bottom: 5px;
        line-height: 24px;
        font-weight: 500;
        flex-grow: 1;
      }
      .wv-menu-subtitle{
        color: var(--steelgrey);
         font-size: 13px;
         font-weight: 400;
         line-height: 21px;
      }
      .menulist-img{
        color: var(--primary);
        float: right ;
      }
    }
  }

.wv-menulist-products + .wv-menulist-products {
    .wv-dropdown-elements{
        border-top-style: solid;
        border-top-width: 1px;
        border-top-color: #EFEDF2;
    }
}

.wv-menulist-products + .wv-menulist-products .wv-menulist-header{
  .wv-dropdown-elements{
    border-top-style: none !important;
  }
}

.wv-menulist-header:last-child{
  .wv-dropdown-elements{
    padding-bottom: 40px !important;
  }
}