.otp-container {
  display: flex;
  justify-content: center;
  .MuiInputBase-input {
    text-align: center;
  }
  .input-item {
    background-color: #fff;
    width: 55px;
    height: 55px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    outline: none;
    border-radius: 4px 4px 0px 0px;
    border: none;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-bottom-color: transparent;
  }
  .input-item:not(.input-item:last-child) {
    margin-right: 16px;
  }
}
