.otp-container {
  display: flex;
  justify-content: center;
  .otp-items-container {
    display: inline-flex;
    flex-direction: column;
    .input-container {
      display: flex;
      justify-content: center;
      .MuiInputBase-input {
        text-align: center;
      }
      .input-item {
        background-color: #fff;
        width: 55px;
        height: 55px;
        text-align: center;
        border-radius: 4px 4px 0px 0px;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        .MuiInput-input {
          height: 100%;
          font-size: 18px;
          font-weight: bold;
        }
      }
      .input-item:not(.input-item:last-child) {
        margin-right: 16px;
      }
    }
    .otp-info-box {
      margin-top: 8px;
    }
    .otp-retry {
      margin-top: 40px;
      .otp-info-text {
        margin-right: 4px;
      }
    }
  }
}
