.diy-category-landing-wrapper {
  background-color: white;
  margin: 0px -16px;
  padding: 0px 16px;

  .diy-c-trending-wrapper {
    padding-top: 32px;
    padding-bottom: 24px;
    margin: 0px -16px;

    .swiper-container {
      padding: 0px 16px;
      .swiper-slide {
        height: auto;
        > div {
          height: 100%;
        }
      }
    }
  }

  .diy-c-category-wrapper {
    padding-top: 24px;
    padding-bottom: 24px;
    margin: 0px -16px;
    .swiper-container {
      padding: 0px 16px;
      .swiper-wrapper {
        display: grid;
        grid-auto-flow: column;
        row-gap: 8px;
        grid-template-rows: 1fr 1fr;
        .swiper-slide {
          margin: 0px !important;
          width: 100%;
        }
      }
    }
  }

  .diy-c-tax-saving-wrapper {
    padding-top: 24px;
    padding-bottom: 16px;
    .diy-c-card-horz-wrapper {
      margin-top: 16px;
    }
  }

  .diy-c-sector-theme {
    padding-top: 16px;
    padding-bottom: 20px;
    margin: 0px -16px;
    .diy-c-sector-list {
      display: flex;
      flex-direction: row;
      overflow-x: auto;
      margin-left: -16px;
      margin-right: -16px;
  
      .diy-c-sector-item {
        margin-right: 16px;
        &:first-child {
          padding-left: 16px;
        }
        &:last-child {
          padding-right: 16px;
        }
      }
    }
  }

  .diy-c-investment-style-wrapper {
    padding-top: 32px;
    padding-bottom: 32px;
    margin: 0px -16px;
    .swiper-container {
      padding: 0px 16px;

      .swiper-slide {
        height: auto;
      }
    }
    .diy-c-investment-list {
      margin-top: 16px;
      display: flex;
      flex-direction: row;
      overflow-x: auto;
      margin-left: -16px;
      margin-right: -16px;
      .diy-c-investment-item {
        padding: 16px 8px 16px 0px;
        &:first-child {
          padding-left: 16px;
        }
        &:last-child {
          padding-right: 16px;
        }
      }
    }
  }
}