.diy-category-landing-wrapper {
  .diy-c-trending-wrapper {
    padding-top: 32px;
    padding-bottom: 44px;
  }
}
.swiper-custom-pagination {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  .swiper-pagination-bullet {
    width: 4px;
    height: 4px;
    margin-right: 4px;
    &:last-child {
      margin-right: 0px;
    }

    &.swiper-pagination-bullet-active {
      width: 8px;
      // background: var(--primary);
    }
  }
}
.diy-c-trending-wrapper {
  .diy-c-trending-lists {
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    margin-left: -16px;
    margin-right: -16px;

    .diy-c-trending-item {
      padding: 16px 10px 1px 0px;
      &:first-child {
        padding-left: 16px;
      }
      &:last-child {
        padding-right: 16px;
      }
    }
  }
}

.diy-c-trending-lists::-webkit-scrollbar {
  display: none;
}
.diy-c-trending-lists {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.diy-c-category-wrapper {
  background-color: #f6f6f6;
  padding-top: 24px;
  padding-bottom: 44px;
  margin-left: -16px;
  margin-right: -16px;
  padding-left: 16px;
  padding-right: 16px;
}
.diy-c-titleWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.diy-c-c-category-list {
  display: flex;
  overflow-x: auto;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 10px;
  margin-left: -16px;
  margin-right: -16px;
}

.diy-c-c-category-item-first,
.diy-c-c-category-item-second {
  display: flex;
  flex-direction: row;
  gap: 8px;
  flex: 1 1 0px;
  padding-top: 1px;
}
.diy-c-c-category-item {
  flex: 1 1 0px;
  &:first-child {
    padding-left: 16px;
  }
  &:last-child {
    padding-right: 16px;
  }
}

.diy-c-tax-saving-wrapper {
  padding-top: 24px;
  padding-bottom: 16px;
  .diy-c-card-horz-wrapper {
    margin-top: 16px;
  }
}

.diy-c-sector-theme {
  padding-top: 16px;
  padding-bottom: 20px;
  .diy-c-sector-list {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    margin-left: -16px;
    margin-right: -16px;

    .diy-c-sector-item {
      margin-right: 16px;
      &:first-child {
        padding-left: 16px;
      }
      &:last-child {
        padding-right: 16px;
      }
    }
  }
}

.diy-c-sector-list::-webkit-scrollbar {
  display: none;
}

.diy-c-sector-list {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.diy-c-investment-style-wrapper {
  padding-top: 32px;
  padding-bottom: 32px;
  .diy-c-investment-list {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    margin-left: -16px;
    margin-right: -16px;
    .diy-c-investment-item {
      padding: 16px 8px 16px 0px;
      &:first-child {
        padding-left: 16px;
      }
      &:last-child {
        padding-right: 16px;
      }
    }
  }
}
.diy-c-investment-list::-webkit-scrollbar {
  display: none;
}

.diy-c-investment-list {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
