.reports {
  margin: -20px -20px -56px -20px;
  header {
    background-color: var(--primary);
    color: white;
    text-align: center;
    padding: 20px 20px 30px 20px;
    line-height: 1.5;

    .title {
      font-size: 18px;
      margin: 10px 0;
    }

    .amount {
      font-size: 32px;
      margin-bottom: 10px;
    }

    .red {
      color: #d32f2f;
    }

    .green {
      color: #34ca5c;
    }

    .row {
      display: flex;
      justify-content: space-around;
      align-items: center;

      .content {
        padding: 10px;
      }
    }

    .pointer {
      cursor: pointer;
    }
  }

  main {
    padding: 15px;
    background-color: #f1f1f1;
    line-height: 1.5;

    .content {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border-radius: 5px;
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
      cursor: pointer;
      background-color: white;

      img {
        width: 50px;
        margin-right: 10px;
      }

      .text {
        font-size: 14px;
        padding: 7px;
        .title {
          color: var(--primary);
          font-size: 16px;
        }
      }
    }

    .invest-more {
      position: relative;
      margin-top: -50px;
      margin-bottom: 15px;
      text-align: left;
      border-radius: 5px;
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
      background-color: white;
      padding: 15px;

      .invest-more-content {
        p {
          color: #4a4a4a;
          margin-top: 0;
          margin-bottom: 20px;
          font-size: 16px;
        }

        button {
          background-color: var(--secondary);
          color: white;
          font-weight: bold;
        }
      }

      img {
        position: absolute;
        right: 8px;
        width: 80px;
        bottom: 0;
      }
    }

    .check-investment {
      background-color: white;
      padding: 15px;
      color: #333333;
      margin-bottom: 15px;

      p {
        font-size: 14px;
        margin-top: 0;
        margin-bottom: 10px;
      }

      label {
        color: #878787;
        font-size: 16px;
      }

      .invest-type {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 5px;

        .invest-type-button {
          width: 50%;
          padding: 10px 10px 10px 0;
          display: flex;
          justify-content: space-between;
          align-items: center;

          .text {
            text-align: left;
            font-size: 16px;
          }

          .hollow-dot {
            padding: 7px;
            border-radius: 50%;
            border: 2px solid;
            border-color: rgba(0, 0, 0, 0.54);
          }

          .selected {
            padding: 8px;
            border-color: var(--primary);
            text-align: center;
            position: relative;

            .dot {
              position: absolute;
              top: 3px;
              bottom: 3px;
              left: 3px;
              right: 3px;
              background-color: var(--primary);
              border-radius: 50%;
            }
          }
        }
      }

      .invested-slider-container {
        display: flex;
        flex-direction: column;
        margin-top: 40px;

        .invested-slider-head {
          font-size: 14px;
          margin-bottom: 10px;

          span {
            color: grey;
          }
        }

        .invested-slider-range {
          display: flex;
          justify-content: space-between;
          font-size: 13px;
          margin-top: -8px;

          .invested-slider-left {
            text-align: left;
            margin-left: -5px;
          }

          .invested-slider-ratio-text {
            text-align: center;
            font-size: 12px;
            color: #9b9b93;
          }

          .invested-slider-right {
            text-align: right;
            margin-right: -5px;
          }
        }
      }

      .report-result-tile {
        margin-top: 50px;
        background: #4a4a4a;
        padding: 10px;
        color: white;
        border-radius: 3px;
      }
    }
  }
}

.report-goals {
  margin-top: -20px;
  line-height: 1.5;
  color: #333333;

  .goal {
    background: #f4f5f6;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;

    .goal-info {
      padding: 0 20px 4px 20px;

      h5 {
        text-align: center;
        margin: 0;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.1;
        padding: 15px 0;
      }

      .summary {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0;

        .content {
          border-right: 2px solid #d4d4d4;
          text-align: center;
          width: 100%;

          .amount {
            font-weight: 600;
            min-height: 40px;

            .earning-percent {
              font-size: 12px;
            }
          }

          .text {
            img {
              width: 10px;
              float: right;
              margin-top: -35px;
              margin-left: -9px;
              margin-right: -10px;
            }
          }

          .green {
            color: #71bf1c;
          }

          .red {
            color: #d0021b;
          }
        }

        .content:last-child {
          border-right: 0;
        }
      }

      .slider-container {
        .slider-head {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 10px 0 0 0;

          .left {
            color: #cd9090;
          }

          .right {
            color: rgba(68, 166, 45, 0.7);
          }
        }
      }
    }

    button {
      min-height: 45px;
      width: 100%;
      background-color: var(--secondary);
      color: white;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}
