.reports {
  margin: -20px -20px -56px -20px;
  header {
    background-color: var(--primary);
    color: white;
    text-align: center;
    padding: 20px 20px 30px 20px;
    line-height: 1.5;

    .title {
      font-size: 18px;
      margin: 10px 0;
    }

    .amount {
      font-size: 32px;
      margin-bottom: 10px;
    }

    .red {
      color: #d32f2f;
    }

    .green {
      color: #34ca5c;
    }

    .row {
      display: flex;
      justify-content: space-around;
      align-items: center;

      .content {
        padding: 10px;
      }
    }

    .pointer {
      cursor: pointer;
    }
  }

  main {
    padding: 15px;
    background-color: #f1f1f1;
    line-height: 1.5;

    .content {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border-radius: 5px;
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
      cursor: pointer;
      background-color: white;

      img {
        width: 50px;
        margin-right: 10px;
      }

      .text {
        font-size: 14px;
        padding: 7px;
        .title {
          color: var(--primary);
          font-size: 16px;
        }
      }
    }

    .invest-more {
      position: relative;
      margin-top: -50px;
      margin-bottom: 15px;
      text-align: left;
      border-radius: 5px;
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
      background-color: white;
      padding: 15px;

      .invest-more-content {
        p {
          color: #4a4a4a;
          margin-top: 0;
          margin-bottom: 20px;
          font-size: 16px;
        }

        button {
          background-color: var(--secondary);
          color: white;
          font-weight: bold;
        }
      }

      img {
        position: absolute;
        right: 8px;
        width: 80px;
        bottom: 0;
      }
    }

    .check-investment {
      background-color: white;
      padding: 15px;
      color: #333333;
      margin-bottom: 15px;

      p {
        font-size: 14px;
        margin-top: 0;
        margin-bottom: 10px;
      }

      label {
        color: #878787;
        font-size: 16px;
      }

      .invest-type {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 5px;

        .invest-type-button {
          width: 50%;
          padding: 10px 10px 10px 0;
          display: flex;
          justify-content: space-between;
          align-items: center;

          .text {
            text-align: left;
            font-size: 16px;
          }

          .hollow-dot {
            padding: 7px;
            border-radius: 50%;
            border: 2px solid;
            border-color: rgba(0, 0, 0, 0.54);
          }

          .selected {
            padding: 8px;
            border-color: var(--primary);
            text-align: center;
            position: relative;

            .dot {
              position: absolute;
              top: 3px;
              bottom: 3px;
              left: 3px;
              right: 3px;
              background-color: var(--primary);
              border-radius: 50%;
            }
          }
        }
      }

      .invested-slider-container {
        display: flex;
        flex-direction: column;
        margin-top: 40px;

        .invested-slider-head {
          font-size: 14px;
          margin-bottom: 10px;

          span {
            color: grey;
          }
        }

        .invested-slider-range {
          display: flex;
          justify-content: space-between;
          font-size: 13px;
          margin-top: -8px;

          .invested-slider-left {
            text-align: left;
            margin-left: -5px;
          }

          .invested-slider-ratio-text {
            text-align: center;
            font-size: 12px;
            color: #9b9b93;
          }

          .invested-slider-right {
            text-align: right;
            margin-right: -5px;
          }
        }
      }

      .report-result-tile {
        margin-top: 50px;
        background: #4a4a4a;
        padding: 10px;
        color: white;
        border-radius: 3px;
      }
    }
  }
}

.report-goals {
  margin-top: -20px;
  line-height: 1.5;
  color: #333333;

  .goal {
    background: #f4f5f6;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;

    .goal-info {
      padding: 0 20px 4px 20px;

      h5 {
        text-align: center;
        margin: 0;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.1;
        padding: 15px 0;
      }

      .summary {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0;

        .content {
          border-right: 2px solid #d4d4d4;
          text-align: center;
          width: 100%;

          .amount {
            font-weight: 600;
            min-height: 40px;

            .earning-percent {
              font-size: 12px;
            }
          }

          .text {
            img {
              width: 10px;
              float: right;
              margin-top: -35px;
              margin-left: -9px;
              margin-right: -10px;
            }
          }

          .green {
            color: #71bf1c;
          }

          .red {
            color: #d0021b;
          }
        }

        .content:last-child {
          border-right: 0;
        }
      }

      .slider-container {
        .slider-head {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 10px 0 0 0;

          .left {
            color: #cd9090;
          }

          .right {
            color: rgba(68, 166, 45, 0.7);
          }
        }
      }
    }

    button {
      min-height: 45px;
      width: 100%;
      background-color: var(--secondary);
      color: white;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}

.reports-funds {
  margin-top: -20px;
  line-height: 1.5;
  color: #333333;

  .fund {
    background: #f4f5f6;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;

    h5 {
      text-align: left;
      margin: 0;
      font-size: 14px;
      font-weight: 600;
      line-height: 1.1;
      padding: 15px 8px 15px 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .right-info {
        font-size: 12px;
        min-width: fit-content;
        display: flex;
        align-items: center;
        column-gap: 8px;

        img {
          width: 14px;
        }
      }
    }

    .head {
      padding: 5px 20px;
      margin-bottom: 0px;
    }

    .hr-break {
      margin: 0 20px;
      border: 1px solid #d4d4d4;
    }

    .summary {
      display: flex;
      align-items: center;
      padding: 15px 0;

      .content {
        border-right: 2px solid #d4d4d4;
        text-align: center;
        width: 33.33%;

        .amount {
          font-weight: 600;
          min-height: 40px;

          .earning-percent {
            font-size: 12px;
          }
        }

        .green {
          color: #71bf1c;
        }

        .red {
          color: #d0021b;
        }
      }

      .content:last-child {
        border-right: 0;
      }
    }

    .red {
      color: #d32f2f;
    }

    .green {
      color: #34ca5c;
    }
  }

  button {
    min-height: 45px;
    width: 100%;
    background-color: var(--secondary);
    color: white;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  button:hover {
    background-color: var(--secondary);
    color: white;
  }
}

.reports-no-fund-message-dialog-content {
  line-height: 1.5;

  .text {
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 10px;
    padding-right: 8px;
  }

  .align-right {
    text-align: right;
    padding: 10px 8px 0 116px;

    button {
      min-height: 40px;
      min-width: 80px;
      background-color: var(--secondary);
      color: white;
    }
  }
}

.reports-ask-invest-type-dialog-content {
  line-height: 1.5;

  .text {
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 10px;
    padding-right: 8px;
  }

  .align-right {
    padding: 10px 8px 0 116px;
    display: flex;
    column-gap: 5px;
    justify-content: flex-end;

    button {
      min-height: 40px;
      min-width: 100px;
      background-color: var(--secondary);
      color: white;
    }

    .bg-light {
      background-color: white;
      color: var(--primary);
    }
  }
}

.reports-fundswise-summary {
  margin-top: -20px;
  line-height: 1.5;
  color: #333333;

  .fund {
    border: solid 1px #e8e8e8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    position: relative;
    padding: 10px;
    margin-bottom: 10px;

    h5 {
      text-align: left;
      margin: 0;
      font-size: 16px;
      font-weight: 500;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .text {
        padding: 15px 0 5px 0;
      }

      .right-info {
        padding: 15px 0 5px 10px;
        .icon {
          font-size: 18px;
          color: gray;
          vertical-align: middle;
        }
      }
    }

    .head {
      color: grey;
      margin-bottom: 10px;

      .margin-left {
        margin-left: 10px;
      }
    }

    .fundswise-summary-details {
      display: flex;
      flex-wrap: wrap;

      .content {
        width: 50%;
        color: gray;

        h5 {
          color: #333333;
        }

        .green {
          color: #71bf1c;
        }

        .red {
          color: #d0021b;
        }
      }
    }
  }
}

#fundwise-summary-menu {
  .MuiPaper-elevation8 {
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04);
  }

  .menu-item {
    display: flex;
    padding-right: 20px;
    align-items: center;

    img {
      width: 22px;
      margin-right: 11px;
    }
  }
}

.reports-fundswise-details {
  line-height: 1.5;
  color: #333333;

  h5 {
    margin-bottom: 5px;
    font-size: 18px;
    margin-top: 10px;
    line-height: 1.1;
    text-align: center;
    font-weight: 500;
  }

  .folio-number {
    color: grey;
    font-size: 10px;
    margin-bottom: 10px;
    text-align: center;
  }

  .content {
    color: gray;
    text-align: center;
  }

  .block1 {
    background: #f4f5f6;
    padding: 15px 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    position: relative;

    ul {
      margin: 0 15px 0 0;
      padding: 0;

      li {
        padding: 10px;
        font-size: 14px;
        border-bottom: 1px solid #d4d4d4;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      li:last-child {
        border-bottom: 0;
      }
    }
  }
}

.reports-fundswise-transactions {
  line-height: 1.5;
  color: #333333;
  margin: -20px 0;

  p {
    font-size: 14px;
    margin: 25px 0 10px 0;
    text-align: center;
  }

  .transaction {
    border: solid 1px #e8e8e8;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    position: relative;
    padding: 10px;
    margin-bottom: 10px;

    .folio-no {
      color: grey;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .text {
        background: #f2f2f2;
        padding: 1px 10px;
        border-radius: 10px;
        font-size: 13px;
        text-transform: capitalize;
      }

      .green {
        color: #71bf1c;
      }

      .red {
        color: #d0021b;
      }
    }

    .transaction-header {
      border-bottom: 0.5px dashed #b2b2b2;
      margin: 10px 0 15px 0;
      padding-bottom: 15px;
      font-size: 16px;
    }

    .details {
      display: flex;
      flex-wrap: wrap;

      .content {
        width: 50%;

        .text {
          color: gray;
        }

        h5 {
          margin: 5px 0;
          font-size: 16px;
          font-weight: 500;
        }
      }
    }
  }
}

.report-purchase {
  line-height: 1.5;

  .purchased {
    border: solid 1px #e8e8e8;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    margin-bottom: 40px;
    padding: 5px 10px 0 10px;
    border-radius: 4px;
    text-align: left;
    position: relative;

    .head {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      font-size: 18px;
      margin: 10px 0;
      column-gap: 5px;
      font-weight: 500;

      img {
        width: 45px;
        margin-right: -10px;
      }
    }

    .head-info {
      display: flex;
      padding-bottom: 10px;
      column-gap: 5px;

      .content {
        display: flex;
        align-items: center;
        width: 50%;

        img {
          width: 40px;
          margin-right: 10px;
        }

        .text {
          font-size: 16px;

          h4 {
            color: #b2b2b2;
            margin: 0;
            font-weight: 500;
          }
        }
      }
    }

    .progress-bar {
      margin: 0 -10px;
      border-top: 0.5px dashed #b2b2b2;
      background-color: #f9f9f9;
      padding-bottom: 40px;
      display: flex;

      .progress {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 25%;

        .content {
          display: flex;
          align-items: center;
          padding: 10px 0;
          width: 100%;

          img {
            width: 20px;
          }

          hr {
            height: 2px;
            background-color: white;
            border: none;
            width: calc(50% - 10px);
          }

          .dot {
            border-radius: 50%;
            width: 20px;
            height: 20px;
            background-color: #b2b2b2;
          }
        }

        .text {
          padding: 0 10px;
          color: #4a4a4a;
          font-weight: 700;
          font-size: 10px;
          text-transform: uppercase;
          text-align: center;
        }
      }

      .progress:first-child {
        .content {
          .left {
            background-color: #f9f9f9;
          }
        }
      }

      .progress:last-child {
        .content {
          .right {
            background-color: #f9f9f9;
          }
        }
      }
    }

    .upcoming {
      .progress {
        width: 33.333%;
      }
    }

    .check-process {
      text-align: center;
      width: calc(100% - 20px);
      display: flex;
      justify-content: center;
      position: absolute;
      margin-top: -20px;

      .text {
        width: fit-content;
        min-height: 38px;
        background-color: #ffffff;
        padding: 9px 50px;
        border-radius: 20px;
        color: #b2b2b2;
      }
    }
  }
}

@media only screen and (max-width: 479px) {
  .report-purchase {
    .purchased {
      .head {
        font-size: 17px;
      }

      .head-info {
        .content {
          img {
            width: 30px;
          }

          .text {
            font-size: 12px;
          }
        }
      }
    }
  }
}

#reports-process-dialog {
  .reports-process-dialog-content {
    padding: 15px !important;

    header {
      display: flex;
      background-color: var(--primary);
      align-items: center;
      justify-content: space-between;
      font-size: 20px;
      color: white;
      height: 60px;
      letter-spacing: 0.005em;
      padding: 0 16px;
      column-gap: 10px;

      .close-icon {
        color: #878787;
        padding: 15px 0 15px 15px;

        .icon {
          vertical-align: middle;
          font-size: 18px;
        }
      }
    }

    main {
      padding: 10px 0;

      .process-step {
        display: flex;
        flex-direction: column;
        position: relative;

        .dot {
          position: absolute;
          border-radius: 50%;
          width: 22px;
          height: 22px;
          background-color: #b2b2b2;
          display: flex;
          align-items: center;
          justify-content: center;

          .icon {
            font-size: 16px;
            color: white;
          }
        }

        .completed {
          background-color: var(--secondary);
        }

        .text {
          padding-left: 29px;
          margin-left: 11px;
          border-left: 1px solid #b2b2b2;

          .top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            column-gap: 10px;
            padding-bottom: 10px;

            .title {
              text-align: left;
              color: #333c4e;
              font-size: 17px;
              font-weight: 400;
              letter-spacing: 0.8px;
            }

            .time {
              font-size: 12px;
              color: #333c4e;
            }
          }

          .desc {
            color: #bdc2ce;
            font-size: 11px;
            font-weight: 400;
            line-height: 1.8;
            letter-spacing: 0.8px;
            padding-bottom: 20px;
          }
        }

        .selected {
          border-color: var(--secondary);
        }
      }

      .process-step:last-child {
        .text {
          border-left: 0;
        }
      }
    }
  }
}
