.withdraw-background-override {
  background-color: #f1f1f1;
  line-height: 1.5;
  overflow-y: auto;
}
#withdraw-balance {
  .report-header {
    background-color: var(--primary);
    color: #ffffff;
    padding: 15px 15px 30px 15px;
    width: 100%;
  }
  .report-header .title {
    font-size: 18px;
    margin: 10px auto;
    text-align: center;
  }
  .report-header .amount {
    font-size: 32px;
    margin-bottom: 10px;
    text-align: center;
  }
  main.Card {
    margin: 15px;
  }

  main.Card .MuiButton-outlined {
    border: 1px solid var(--secondary);
  }

  .Card .withdraw-mid-tile-img {
    display: block;
    width: 45%;
    margin: 0 auto;
    object-fit: contain;
  }

  .Card .mid-tile-text {
    margin: 22px;
    font-size: 12px;
    color: #333333;
  }

  .withdrawable-tile .tile {
    flex-basis: 0 0 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .withdrawable-tile .tile .tile-text {
    width: 10ch;
  }

  .withdrawable-tile .tile .tile-text,
  .withdrawable-tile .tile-amount {
    text-align: center;
  }

  .withdrawable-tile .tile-amount {
    margin-top: 10px;
  }

  .Card {
    margin: 0;
    border-radius: 0;
  }

  .Card .MuiButton-label {
    color: var(--secondary);
  }

  .footer .title {
    font-size: 16px;
    margin-left: 3px;
    margin-top: 4px;
    margin-bottom: 13px;
    font-weight: 500;
    color: black;
  }

  .footer .withdraw-list-item .icon {
    object-fit: contain;
  }

  .footer .withdraw-list-item {
    cursor: pointer;
  }

  .footer .withdraw-list-item .text .header {
    margin: 0;
    font-size: 15px;
    color: black;
    margin: 5px 0 10px 0;
  }

  .footer .withdraw-list-item .text {
    margin-left: 20px;
    width: 100%;
  }

  .footer .withdraw-list-item .text .desc {
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 10px;
    color: rgb(51, 51, 51);
    min-height: 32px;
    line-height: normal;
    box-sizing: border-box;
    border-bottom: 1px solid #efefef;
  }
}

.withdraw-amount-dialog-content .title {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.005em;
}
.withdraw-amount-dialog-content .withdraw-amount-form {
  .MuiButton-textSecondary {
    color: var(--secondary);
  }
  .MuiInput-root {
    display: block;
    margin: 18px 0;
  }
  .MuiInput-input {
    font-size: 14px;
  }
  .MuiButton-label {
    text-transform: uppercase;
  }
  .cancel-btn {
    color: var(--primary);
  }
  .proceed-btn {
    background-color: var(--secondary);
  }
}

#withdraw-manual-summary,
#withdraw-system-summary {
  .tax-summary {
    margin: 40px 0 10px 0;
    font-size: 20px;
    color: #0a1c32;
    font-weight: 600;
  }

  .fund-list {
    display: flex;
    flex-direction: column;
  }
}

.withdraw-summary-liability {
  color: #767386;
}

.withdraw-summary-liability .title,
.withdraw-summary-liability .total,
.withdraw-summary-exitload .total {
  color: #0a1c32;
}

.withdraw-summary-liability .title,
.withdraw-summary-exitload .title {
  font-size: 16px;
  font-weight: 700;
}

.withdraw-summary-liability .breakdown,
.withdraw-summary-exitload .total {
  margin-top: 15px;
}

.withdraw-summary-liability.Card,
.withdraw-summary-exitload.Card {
  background-color: var(--highlight);
  padding: 20px;
  margin: 10px 0 20px 0;
  box-shadow: none;
  border-radius: 6px;
}

.withdraw-summary-liability .ruler {
  margin: 15px -20px 15px -20px;
  border: 1px solid #ededed;
}

.withdraw-summary-liability .breakdown .item {
  margin-top: 3px;
}

#withdraw-insta-summary {
  .title {
    margin: 40px 0 10px 0;
    font-size: 20px;
    color: #0a1c32;
    font-weight: 600;
  }

  .withdraw-tax-summary {
    margin-top: 40px;
  }
}

#withdraw-otp-success {
  .thumb-img {
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
  }

  .message {
    font-size: 16px;
    color: #0a1d32;
    text-align: center;
    font-weight: 600;
  }
}

#withdraw-otp-failed {
  .header {
    font-size: 20px;
    color: #160d2e;
    font-weight: 600;
    padding: 0;
  }

  .failed-icon {
    display: block;
    width: 100%;
  }

  .failed-title {
    color: #160d2e;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
    margin-bottom: 30px;
  }

  .failed-subtitle {
    color: #767e86;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px;
  }

  .contact-us {
    margin: 0 auto;
    text-align: center;
    margin: 50px 0 20px 0;
  }

  .contact-us .contact-us-bottom1 {
    margin: 0 auto;
    font-size: 13px;
    color: #767e86;
    margin-bottom: 11px;
  }

  .contact-us .contact-us-bottom2 {
    margin: 0 auto;
    font-size: 10px;
    color: #767e86;
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    justify-content: center;

    .icon {
      margin: 0 20px 0 20px;
    }
  }
}

.withdraw-summary-disclaimers {
  .title {
    color: #0a1c32;
    font-size: 14px;
    font-weight: 600;
    margin: 0 0 10px 0;
  }

  .disclaimer {
    color: #878787;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.6;
    margin: 10px 0 0 0;
  }
}
