.more-options {
  padding: 0 20px 50px;
  .options-grid {
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-template-rows: repeat(2, auto-fit);
    gap: 24px;
  }
}
