.complete-kyc-wrapper {
  padding-top: 24px;
  background-color: white;
  .ck-points-wrapper {
    margin-top: 32px;
  }

  .kyc-compl-lottie-anim {
    width: 140px;
    height: 120px;
  }

  .ck-trust-icon-wrapper {
    margin-top: 100px;
  }
}
