.kyc-journey {
  color: #8d879b;
  font-size: 13px;
  line-height: 1.5;
}

.kyc-journey .kyc-pj-content {
  display: flex;
  justify-content: space-between;
  img {
    align-self: flex-start;
    margin-left: 20px;
  }
}

.kyc-journey .kyc-pj-bottom {
  margin-bottom: 40px;
  width: 100%;
}

.kyc-journey .kyc-pj-bottom .pj-bottom-info-box {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-right: 30px;

  .icon {
    margin: 0 10px 0 0;
    align-self: center;
  }
}

.kyc-journey .kyc-pj-content .pj-bottom-info-box .pj-bottom-info-content {
  margin-left: 10px;
}

.kyc-pj-content .pj-header {
  color: #0a1d32;
  font-size: 20px;
  font-weight: 600;
  margin: 0 0 10px 0;

  .pj-sub-text {
    font-size: 13px;
    color: #8d879b;
    padding: 0 15px 0 0px;
    font-weight: normal;
    margin-bottom: 20px;
  }
}

.kyc-pj-bottom-info-box {
  display: flex;
  align-items: center;
}

.kyc-journey-caption {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 10px;
  color: black;
}

.kyc-journey-title {
  color: black;
  font-size: 17px;
  font-weight: bold;
}

.kyc-journey-subtitle {
  margin: 20px 0;
}

.kyc-compliant-subtitle {
  margin: 10px 0 20px 0;
  line-height: 21px;
}

.kyc-journey .alert-status-info {
  margin-top: 20px;
}

.kyc-journey .steps-container {
  margin-top: 20px;
  margin-left: 10px;
}

.kyc-journey .steps-container .step {
  display: flex;
  flex-direction: column;
  min-height: 60px;
  padding-bottom: 15px;
  position: relative;
}

.kyc-journey .steps-container .step:not(:last-child) {
  border-left: 2px solid #eeeeee;
}

.kyc-journey .steps-container .step__completed:not(:last-child) {
  border-left: 2px solid var(--primary);
}

.kyc-journey .steps-container .step .icon {
  display: flex;
  justify-content: center;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  color: var(--label);
  border: 1px solid #eeeeee;
  background-color: white;
  position: absolute;
  left: -10px;
  font-weight: bold;
}

.kyc-journey .steps-container .step .img {
  border: 0;
}

.kyc-journey .steps-container .step .icon__active {
  background-color: var(--primary);
  color: white;
  border: 1px solid var(--primary);
}

.kyc-journey .steps-container .step .title {
  margin-left: 40px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-basis: 100%;

  .edit {
    color: var(--secondary);
    text-transform: uppercase;
    justify-self: flex-end;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 12px;
  }

  .completed_field_key {
    color: var(--dark);
  }

  .field_key {
    color: var(--steelgrey);
  }

  .field_value {
    margin-left: 10px;
    font-weight: 500;
    letter-spacing: 1px;
  }
}

.kyc-journey .steps-container .step .disc {
  margin-left: 40px;
  font-size: 13px;
  margin-top: 10px;
}

.kyc-journey .steps-container .step .title__selected {
  color: #333333;
  font-weight: 600;

  .field_key {
    color: var(--dark);
  }
}

.kyc-journey .footer {
  text-align: center;
  font-size: 10px;
  letter-spacing: 1px;
}