.info-card-wrapper {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  padding: 16px;
  .ic-text-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 16px;

    .ic-subtitle-text {
      margin-top: 4px;
    }
  }
}
