.info-card-wrapper {
  display: flex;
  flex-direction: row;
  border-radius: 12px;
  cursor: pointer;
  padding: 16px;

  .info-card-left-img {
    margin-right: 16px;
  }

  .ic-text-wrapper {
    display: flex;
    flex-direction: column;

    .ic-subtitle-text {
      margin-top: 4px;
    }
  }
}