.kyc-show-aadhar-content {
  display: flex;
  align-items: center;
  padding-top: 10px;
}

.kyc-show-aadhar-content .info-box {
  display: flex;
  justify-content: space-between;
  flex: 1 0 40%;
}

.kyc-show-aadhar-content .info-box .title {
  margin-left: 10px;
  color: #767e86;
  width: 100%;
  font-size: 13px;
  white-space: nowrap;
}

.alert-status-info {
  display: flex;
  align-items: flex-start;
  padding: 15px 15px 20px 15px;
  border: 1px solid #fff5f6;
  border-radius: 4px;
  background-color: var(--highlight);

  img {
    width: 14px;
    margin-right: 10px;
  }

  .text {
    color: #160d2e;
    font-size: 14px;

    .title {
      font-weight: 700;
      margin: -2px 0 0 0;
    }
  }
}

.ipv-know-more-dialog {
  .MuiDialog-paper {
    margin: 0 !important;
  }

  .know-more-dialog-content {
    color: #333333;
    line-height: 1.5;
    padding: 15px 15px 10px 15px;

    header {
      width: 40px;
      padding-bottom: 40px;
      cursor: pointer;

      .close-icon {
        width: 15px;
        height: 15px;
      }
    }

    main {
      padding-bottom: 30px;

      .title {
        font-size: 20px;
        color: #160d2e;
        font-weight: 600;
      }

      .content {
        text-align: center;

        .text {
          font-size: 14px;
          color: #160d2e;
          text-align: left;
          padding: 15px 0 5px 0;

          b {
            font-weight: 600;
          }
        }
      }
    }
  }

  .action {
    width: 100% !important;
    padding: 0 15px;
    margin: 8px 0 !important;

    button {
      color: white;
      background-color: var(--secondary);
      width: 100%;
      text-align: center;
      margin: 0;
    }

    button:hover {
      color: white;
      background-color: var(--secondary);
    }
  }
}

#kyc-journey-back {
  .text {
    margin: 10px 0;
    color: #160d2e;
    font-size: 16px;
  }

  .actions {
    display: flex;
    justify-content: flex-end;
  }

  .MuiButton-label {
    font-weight: bold;
  }
}

#kyc-bank-verification-dialog {
  .MuiDialog-paper {
    position: absolute;
    bottom: 0;
    margin: 0 !important;
  }

  .footer .MuiButton-label {
    text-transform: uppercase;
  }
}

.kyc-penny-dialog {
  .penny-dialog-content {
    padding: 15px;

    .img {
      width: 100%;
      border-radius: 4px;
    }

    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 20px 0;
      color: #160d2e;
      font-size: 17px;
      font-weight: 500;
      line-height: 1.1;

      span {
        font-size: 13px;
        color: var(--primary);
        margin-left: 10px;
      }
    }

    .subtitle {
      color: #767e86;
      font-size: 14px;
      margin-bottom: 10px;
    }
  }
}

///////////// PAN HELP START //////////////

#kyc-pan-help-dialog {
  line-height: 1.5;
  .help-content {
    border-radius: 4px;
    .title {
      font-size: 16px;
      font-weight: 700;
      color: rgba(0, 0, 0, 0.87);
    }

    .subtitle {
      margin: 10px 0;
      color: #4a4a4a;
      font-size: 14px;
    }

    .partner-info {
      margin-top: 10px;
      display: flex;
      justify-content: space-around;
      color: #8d879b;
      font-size: 10px;
      text-transform: uppercase;
      font-weight: 500;
    }

    button {
      margin: 10px 0 5px 0;
      width: 100%;
      color: white;
      background-color: var(--secondary);
      min-height: 40px;
    }

    button:hover {
      background-color: var(--secondary);
    }
  }
}

///////////// PAN HELP START //////////////

.account-merge-dialog {
  .account-merge-dialog-content {
    padding: 15px 15px 30px 15px !important;

    .title {
      margin: -15px -15px 0 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #160d2e;
      font-size: 17px;
      font-weight: 600;

      .text {
        margin: 45px 0 10px 0;
      }

      img {
        margin: 0 0 10px 10px;
      }
    }

    .subtitle {
      color: #767e86;
      font-size: 14px;
      margin: 30px 0 20px 0;
    }

    .action {
      display: flex;
      width: 100%;
      align-items: center;

      .button {
        width: 100%;
        padding: 5px 15px;
        font-size: 14px;
        border-radius: 5px;
        min-height: 47px;
        font-weight: bold;
        letter-spacing: 0.01em;
      }

      .bg-full {
        color: white;
        background-color: var(--secondary);
      }

      .no-bg {
        background-color: white;
        color: #878787;
        margin-right: 30px;
      }
    }
  }
}

.kyc-back-confirm-dialog {
  .kyc-back-confirm-dialog-content {
    line-height: 1.5;
    color: #160d2e;

    .title {
      margin: 10px 0 20px;
      font-size: 15px;
    }

    .confirm-back-dialog-actions {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .confirm-back-button  {
        background-color: transparent;
        width: fit-content;
        padding: 15px 0 0 !important;
        font-weight: bold;
        font-size: 12px;
        cursor: pointer;
      }

      .confirm-back-yes {
        margin-right: 70px;
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  #kyc-bottom-dialog {
    .MuiDialog-paper {
      margin-left: 0 !important;
      margin-right: 0 !important;
    }

    .MuiDialog-paperWidthSm {
      width: 100%;
      align-self: flex-end;
    }
  }
}

///////////// SAMPLE DOCUMENTS START //////////////

#sample-docs {
  .title {
    font-size: 20px;
    color: color(--dark);
    font-weight: 600;
  }

  .doc fieldset {
    width: 90%;
    border: 1px solid #9fa7b0;
    box-sizing: border-box;
    border-radius: 7px;
    margin: 10px 0 30px 0;

    .doc-image {
      text-align: center;
    }
  }

  .doc .doc-name {
    font-weight: 500;
    font-size: 13px;
    line-height: 21px;
    color: var(--dark);
  }

  .doc fieldset legend {
    font-weight: 500;
    font-size: 9px;
    line-height: 9px;
    color: #9fa7b0;
    border-bottom: 0px !important;
    margin-left: 7px;
  }
}

///////////// SAMPLE DOCUMENTS END //////////////

// KycUploadContainer START --------------

@mixin block-fit {
  display: block;
  width: 100%;
  object-fit: contain;
}

.kuc-caption {
  line-height: 1.5;
  color: var(--dark);
}

.kyc-upload-container {  
  .kuc-upload {
    margin-top: 10px;
    padding: 5px;
    border-radius: 6px;
    background-color: var(--highlight);

    .kuc-image {
      display: block;
      width: 100%;
      border-radius: 6px;
      margin-bottom: 5px;
    }
  }
  
  .kuc-action-btn {
    background-color: white !important;
    display: flex;
    margin: auto;
  }
}

.kyc-upload-container + .kuc-caption {
  margin-top: 30px;
}

.kyc-upload-container + .kyc-upload-container {
  margin-top: 30px;
}

// KycUploadContainer END -----------------
