.wv-security-disclaimer {
  width: 275px;
  padding: 5px 0;
  text-align: center;

  span {
    font-size: 13px;
    line-height: 15px;
    color: var(--dark);
  }

  .wv-sd-images {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
  }
}