.fund-detail-cover-bg {
  background-color: #4f2da7;
  height: 5em;
  width: 100%;
  z-index: -1;
}
.fund-detail-cover-bg.fisdom-bg {
  background: url(../../assets/fisdom/fund_details_cover.png) no-repeat center/cover;
  width: 100%;
}
.fund-detail-cover-bg.myway-bg {
  background: url(../../assets/finity/fund_details_cover.png) no-repeat center/cover;
}

.fund-info-container {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -5.9em;
  margin-bottom: -20px;
  padding: 0 15px;
}

.fund-category-risk {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 1.5em 0;
}

.fund-category-risk .fund-badge {
  height: 30px;
  background-color: #f9f9f9;
  color: #ff7675;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 0.5px;
  margin-right: 1em;
  text-transform: uppercase;
}
.fund-value-star {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
  align-items: center;
  margin-bottom: 2em;
}
.fund-value-star-section {
  flex-basis: 100%;
  border-right: 2px #ededed solid;
}
.fund-value-star-section:nth-last-child(1) {
  border-right: none;
}

.fd-swiper-content {
  height: 100%;
  width: 100%;
  box-shadow: 0px 1.5px 3px 0px #c0c0c0;
  border-radius: 5px;
  object-fit: cover;
  .carousel .slide {
    margin: 0.5em 0.5em;
    min-width: auto !important;
    background-color: transparent !important;
    outline: none !important;
    border: none !important;
  }

  .slider-wrapper.axis-horizontal {
    padding: 1em;
    width: 40%;
  }
  li.slide .selected {
    transform: scaleY(1.7) !important;
    width: 300px !important;
  }

  li.slide.selected {
    transform: scale3d(1.4, 1.4, 1.4) !important;
    z-index: 100;
    align-self: center !important;
  }
}

.fund-info-container {
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide.swiper-content {
    width: 90px !important;
    height: 90px !important;
  }
  .swiper-container {
    width: 310px;
    height: 30%;
    padding-top: 3em !important;
    padding-bottom: 3em !important;
  }
  .swiper-pagination-bullet {
    width: 6px !important;
    height: 6px !important;
    border: 1px solid var(--primary) !important;
    background: none !important;
  }
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: var(--primary) !important;
    transform: scale(1.3);
  }
}

// Asset Allocation page
.fd-asset-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 15px;
}
.fd-asset-container > div {
  flex: 0 50%;
}
.fd-asset-item {
  display: flex;
  align-items: center;
  line-height: 30px;

  .asset-box {
    height: 10px;
    width: 10px;
    border-radius: 3px;
    margin-right: 0.5em;
  }

  .asset-name {
    color: #878787;
    font-size: 14px;
    font-weight: 500;
  }

  .asset-value {
    font-size: 16px;
  }
}
// Asset Allocation page end

.risk-status {
  height: 18px;
  display: flex;
  margin-top: 100px;
  padding: 0 15px;
}

.hr-light-grey {
  background-color: #eaeaea;
}
.sub-bar {
  margin-right: 0.2em;
  flex-basis: 100%;
  flex-grow: 0;
  text-align: center;
  min-width: 50px;
}
.sub-bar:nth-last-child(1) {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.sub-bar:nth-child(1) {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.sub-bar.selected {
  background-color: #00cec9;
  position: relative;
}

.sub-bar.selected > div {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
  height: 40px;
  margin-top: -60px;
  margin-left: auto;
  margin-right: auto;
  border: 2px #dddddd solid;
  border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4a4a4a;
  font-size: 16px;
  padding: 0.1em 0.6em;
  min-width: 50px;
  font-weight: 400;
}
.sub-bar.selected > div::before {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  border-top: 0px solid transparent;
  border-right: 0px solid transparent;
  top: 100%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%) rotate(45deg);
}
.sub-bar.selected > div::after {
  position: absolute;
  content: '';
  background-color: white;
  width: 8px;
  height: 8px;
  border-top: 2px solid transparent;
  border-right: 2px solid #dddddd;
  border-bottom: 2px solid #dddddd;
  border-left: 2px solid transparent;
  top: 100%;
  left: 50%;

  transform: translate(-50%, -50%) rotate(45deg);
}

.fd-status-range {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5em;
  padding: 0 15px;

  .status-text {
    color: #878787 !important;
    font-size: 14px !important;
  }
}

.fd-container {
  padding-bottom: 100px !important;
  overflow: hidden;
  margin-bottom: 0px !important;
}
.fund-risk-details {
  .fd-risk-divider {
    //border: 10px solid green;
    margin: 10px;
  }
}

#fund-detail-dialog {
  .MuiDialog-paper {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .MuiDialog-paperWidthSm {
    width: 100%;
    align-self: flex-end;
  }

  .fund-detail-dilaog-content {
    padding: 0 9px !important;
  }

  .fund-detail-bottom-sheet {
    width: 100%;
    padding: 10px 0 4px 0;
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 25px;

      .text {
        font-weight: bold;
        color: #333333;
      }

      .remove {
        font-weight: 500;
      }
    }

    main {
      overflow: auto;
      max-height: 250px;
    }

    .cart-item {
      padding: 10px 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .title {
        font-size: 16px;
        line-height: 1.5;
      }

      .delete-icon {
        display: block;
        width: 30px;
        cursor: pointer;
        margin-left: 5px;
      }
    }
  }

  button {
    min-height: 47px;
    background-color: var(--secondary);
    margin: 0 15px 15px 15px;
  }
}
