.dialog {
  border-radius: 15px;
}

.wr-estd-tax {
  font-size: 15px;
  .head {
    font-weight: 500;
    color: #432088;
  }

  .content {
    color: #a9a9a9;
    margin-top: 5px;
    line-height: 20px;
  }
}

.wr-accounts {
    .wr-button {
        background-color: rgba(80, 45, 168, 0.1);
        height: 47px;
        font-size: 17px;
        color: #502da8;
        font-weight: 400;
        border-radius: 6px;
    }

    .wr-all-mails {
      font-size: 12px;
      font-weight: 500;
      color: #a9a9a9;
    }

    .wr-mails {
      display: flex;
      justify-content: space-between;
      padding: 15px 0 20px 0;
      border-bottom: solid 1px #f5f6f8;
    }

    .wr-account {
      font-size: 15px;
      margin-bottom: 8px;
    }

    .wr-sync {
      font-size: 13px;
      color: #a9a9a9;
    }
}

.wr-email-added {
  text-align: center;
  font-size: 17px;
  margin: 20px 0 10px 0;

  .wr-content {
    margin: 31px 0 54px 0;
  }

  .wr-continue {
    color: #421f88;
    font-weight: 500;
  }
}

.wr-welcome {
  text-align: center;
  font-size: 15px;
  border-bottom: solid 1px #f5f6f8;

  .wr-head {
    color: #a9a9a9;
    margin: 17px 0 6px 0;
  }

  .wr-number {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 16px;
  }
}

.wr-logout {
  background: #f3cece;
  // color: #e02020;
  // height: 47px;
  margin-top: 15px;

  img {
    margin-right: 9px;
  }
}

.wr-select-members {
  font-size: 15px;
  color: #502da8;
  font-weight: 450;
  margin-bottom: 8px;
}

.wr-members {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #f5f6f8;

  .wr-container {
    margin: 15px 0 15px 0;

    .wr-head {
      margin-bottom: 8px;
    }

    .wr-level {
      font-size: 13px;
      color: #a9a9a9;
    }
  }
}

.wr-new-email {
  font-size: 20px;
  color: #421f88;
  display: flex;
  align-items: center;
  padding-bottom: 16px;
  border-bottom: solid 1px #f5f6f8;
}

.wr-mail-content {
  color: #a9a9a9;
  line-height: 18px;
  margin-bottom: 20px;
}

.btn {
  margin-top: 32px;

  .wr-outlined-btn {
    background-color: #000;
    border: solid 1px #421f88;
    width: 30px;
    margin-right: 20px;
    height: 40px;
    width: 100px;
    border-radius: 6px;
    color: #421f88;
  }
}

.wr-text-field {
  padding: 0px;
}

.wr-input {
  border-radius: 6px;
  background-color: #fff;
  border: 1px solid #000;
  font-size: 15px;
  padding: 10px 12px;

}
