#wr-login {
  display: flex;
  background-color: white;

  #wr-login-img {
    height: 100%;
  }

  #wr-login-right-panel {
    padding: 160px 120px;

    h2 {
      font-size: 36px;
      font-weight: normal;
    }
  }

  .wr-login-input {
    margin-bottom: 60px;

    #wr-logo,
    #wr-title,
    #wr-input {
      display: none;
    }

    div.subtitle {
      max-width: 420px;
      opacity: 0.5;
      font-size: 20px;
      line-height: 1.3;
      letter-spacing: 0.4px;
    }

    div#wr-otp-opts {
      margin-top: 48px;
      span {
        font-size: 18px;
        font-weight: 600;
        color: var(--primary);
        margin-right: 40px;
      }
    }

    .wr-form {
      max-width: 420px;
      border: 1px solid #e4e7f7;
      border-radius: 4px;
      margin-top: 28px;
    }

    .wr-root {
      max-width: 420px;
      .MuiInput-input {
        font-size: 16px !important;
        line-height: 20px !important;
        font-weight: 500;
        padding: 14px 16px;
      }
    }

    #wr-forgot {
      font-size: 18px;
      font-weight: 600;
      color: var(--primary);
      margin: 28px 0 0 6px;
    }

    .wr-input-form {
      margin-top: 40px;
      .wr-code-input {
        width: 21% !important;
        border-radius: 4px;
        border: 1px solid #dadaed;
        .MuiInput-input {
          font-size: 22px !important;
          font-weight: 500;
        }
        .MuiSelect-select {
          padding-right: 0px !important;
        }
      }

      .wr-select-input {
        padding: 5px 0px 5px 10px !important;
      }
      .MuiFormControl-marginNormal {
        margin: 0px !important;
      }

      .wr-mob-input {
        width: 72.5% !important;
        margin-left: 16px;
        border-radius: 4px;
        border: 1px solid #dadaed;
        .MuiInput-input {
          font-size: 22px !important;
          font-weight: 500;
          padding: 13px 16px 16px 16px;
        }
      }

      .MuiMenu-paper {
        max-height: 40vh !important;
      }
    }
  }
}

.wr-login-btn {
  max-width: 420px;

  .MuiButton-label {
    font-size: 20px !important;
    letter-spacing: 0.4px !important;
    text-transform: none !important;
  }
}

#wr-login-mobile {
  display: none;
}

#wr-main {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  overflow-y: scroll;
}

#wr-header-hero {
  height: 206px;
  width: 100%;
  background: var(--primary);
  position: absolute;
  top: 0;
  z-index: 9998;

  .wr-hero-container {
    display: flex;
    justify-content: space-between;
    padding: 43px 90px 0 90px;
    align-items: center;

    .wr-fisdom {
      height: 42px;
      vertical-align: middle;
      .wr-vertical-divider {
        height: 33px !important;
        border-right: 1px solid #fff;
      }

      .wr-report {
        font-size: 20px;
        font-weight: 600;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
        opacity: 0.7;
        margin-left: 24px;
      }
    }

    .wr-user-account {
      width: 100px;
      display: flex;
      justify-content: space-between;
    }

    .wr-pan-dropdown {
      display: none;
    }
  }
}

#wr-body {
  width: 94%;
  margin: 330px auto 0;
}

#wr-footer {
  position: relative;
  width: 100%;
  bottom: 0;
}

.wr-card-template {
  box-shadow: 0 1px 15px 0 rgba(215, 199, 250, 0.12);
  border: solid 0.5px rgba(151, 151, 151, 0.1);
  background-color: #ffffff;
  margin-bottom: 80px;
  border-radius: 6px;

  .wr-card-template-header {
    min-height: 65px;
    opacity: 0.6;
    font-size: 17px;
    font-weight: 600;
    line-height: 1;
    color: #000000;
    text-align: center;
    padding: 24px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(102, 102, 102, 0.05);
  }
}

#wr-overview-key-numbers {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  border-radius: 10px;

  div.wr-okn-box:nth-child(6) {
    min-width: 60%;
  }
  div.wr-okn-box {
    flex: 1;
    text-align: center;
    padding: 38px;
    min-width: 30%;
    box-sizing: border-box;
    min-height: 185px;
    height: auto;
    color: black;
    border-bottom: 1px solid rgba(102, 102, 102, 0.05);
    border-right: 1px solid rgba(102, 102, 102, 0.05);

    .wr-okn-title {
      font-size: 17px;
      font-weight: normal;
      line-height: 1;
      text-transform: uppercase;
    }

    .wr-okn-value {
      font-size: 45px;
      font-weight: bold;
      line-height: 0.78;
      margin-top: 26px;
    }

    .wr-metrics {
      font-size: 10px;
      margin: auto;
      margin-top: 10px;
      max-width: 540px;
      display: flex;
      justify-content: space-between;
    }

    #wr-okn-asset-alloc-title {
      color: black;
      font-size: 24px;
      font-weight: 900;
      vertical-align: middle;

      #left {
        color: #cbbeee;
      }
      #right {
        color: #7354bd;
      }
    }
  }
}

#wr-growth-graph {
  padding: 30px 50px;
  width: 100%;
  box-sizing: border-box;
  min-height: 300px;
  height: auto;

  #wr-gg-date-select {
    background: rgba(80, 45, 168, 0.1);
    width: auto;
    float: right;
    border-radius: 6px;
    display: flex;

    .wr-gg-date-select-item {
      display: inline-block;
      padding: 12px 18px;
      font-size: 13px;
      line-height: 1.15;
      text-align: center;
      color: rgba(0, 0, 0, 0.5);
      cursor: pointer;

      &.selected {
        background: rgb(80, 45, 168);
        color: white;
        font-weight: 600;
        border-radius: 4px;
        box-shadow: 0 1px 15px 0 rgba(69, 65, 78, 0.08);
        margin: -3px;
        line-height: 1.5;
      }
    }
  }
}

#wr-portfolio-insights-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#portfolio-insights-header {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 44px;
  font-size: 17px;
  font-weight: 600;
  opacity: 0.6;
  text-transform: uppercase;
}

.wr-pi-card-container {
  margin-bottom: 34px;
  flex-basis: 48%;
}

.wr-pi-card {
  border-radius: 10px;
  box-shadow: 0 1px 15px 0 rgba(215, 199, 250, 0.12);
  border: solid 0.5px rgba(151, 151, 151, 0.1);
  background-color: #ffffff;
  padding: 40px;
  box-sizing: border-box;
  display: flex;
  align-items: center;

  div.wr-pi-content {
    flex-basis: 80%;

    .wr-pi-content-title {
      font-size: 20px;
      font-weight: 600;
      line-height: 1;
      color: #000000;
    }

    .wr-pi-content-subtitle {
      display: inline-block;
      box-sizing: border-box;
      background-color: rgba(80, 45, 168, 0.1);
      font-size: 13px;
      color: #502da8;
      margin-top: 12px;
      padding: 10px 30px 10px 14px;
      clip-path: polygon(100% 0%, 93% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
    }

    .wr-pi-content-desc {
      opacity: 0.8;
      font-size: 17px;
      line-height: 1.29;
      color: #000000;
      margin-top: 16px;
    }
  }

  div.pi-card-expand {
    display: none;
  }
}

.wi-pi-card-img {
  width: 40px;
  height: 53px;
  flex-basis: 10%;
  margin-right: 52px;
  align-self: flex-start;
  margin-top: 3px;
}

.wr-pi-card-expanded {
  display: none;
}

.wr-outlined-btn {
  box-shadow: 0 1px 15px 0 rgba(215, 199, 250, 0.12) !important;
  border: solid 0.5px rgba(151, 151, 151, 0.1) !important;
  background-color: #ffffff !important;
  font-size: 15px !important;
  .MuiButton-label {
    color: rgba(0, 0, 0, 0.5) !important;
  }
}

#wr-analysis-graph {
  padding: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  min-height: 300px;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.wr-allocation-graph-legend {
  display: flex;
  margin-left: 150px;

  .wr-agl-item {
    margin-right: 24px;
    width: 140px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    color: #ffffff;
    box-sizing: border-box;

    .wr-agl-item-label {
      font-size: 20px;
      margin-bottom: 10px;
    }

    .wr-agl-item-value {
      line-height: 1.2;
      font-size: 25px;
      font-weight: 600;
    }
  }
}

.wr-sector-graph-legend {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  height: 305px;
  flex-basis: 35%;
  margin-left: 150px;

  .wr-sgl-item {
    cursor: pointer;
    height: 50px;
    width: 50%;

    .wr-sgl-item-chip {
      width: 20px;
      height: 20px;
      border-radius: 10px;
      display: inline-block;
      margin-right: 16px;
    }

    .wr-sgl-item-label {
      font-size: 15px;
      color: rgba(0, 0, 0, 0.7);
      vertical-align: top;
    }
  }

  .wr-sgl-item:hover {
    opacity: 1;
    font-weight: 600;
  }
}

#wr-analysis-top-holdings {
  padding: 50px;

  .wr-table-container {
    max-height: 350px;
    overflow-y: scroll;
  }
}

.wr-table-container::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}

.wr-table-container::-webkit-scrollbar-thumb {
  width: 6px;
  height: 100px;
  border-radius: 2.5px;
  background-color: rgba(0, 0, 0, 0.3);
}

#wr-taxation {
  min-height: 620px;

  #wr-taxation-filter {
    display: flex;
    justify-content: flex-end;
    padding: 24px;
    border-bottom: 1px solid rgba(102, 102, 102, 0.05);
  }

  #wr-taxation-summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(102, 102, 102, 0.05);

    .wr-taxation-summary-col {
      line-height: 1;
      color: #000000;
      text-align: center;
      flex-basis: 30%;
      padding: 30px;

      .wr-tsc-value {
        font-size: 40px;
        display: block;
        margin-bottom: 14px;
      }

      .wr-tsc-label {
        font-size: 17px;
      }
    }
  }

  #wr-taxation-detail {
    padding: 24px 80px;

    .wr-taxation-detail-row {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      margin-top: 35px;

      .wr-tdr-title {
        font-size: 17px;
        margin-right: 10px;
        color: rgba(0, 0, 0, 0.6);
        font-weight: 500;
        width: 15%;

        hr {
          display: none;
        }
      }

      .wr-small-col {
        flex-basis: 15%;
      }
    }
  }
}

.wr-vertical-divider {
  height: 60px;
  border-right: 1px solid rgba(0, 0, 0, 0.05);
}

.wr-xirr-tooltip {
  width: 300px;

  .wr-tooltip-head {
    font-size: 15px;
    color: #432088;
    font-weight: 500;
    margin-bottom: 4px;
  }

  .wr-tooltip-content {
    color: #a9a9a9;
    font-size: 15px;
    line-height: 20px;
  }
}

.wr-estd-tax {
  font-size: 15px;
  .head {
    font-weight: 500;
    color: #432088;
  }

  .content {
    color: #a9a9a9;
    margin-top: 5px;
    line-height: 20px;
  }
}

#wr-holdings {
  min-height: 420px;

  .wr-fab-btn {
    background-color: var(--primary) !important;
    color: #fff;
    position: fixed;
    border-radius: 28px;
    right: 28px;
    bottom: 28px;
    z-index: 1000000;
  }
  .wr-card-template {
    margin-bottom: 40px;
  }
}

.wr-dot-loader {
  width: auto;
  text-align: inherit;
  margin-top: 10px;

  div {
    margin-left: 5px;
    background: #c4adff;
  }
}

.wr-dot-loader-text {
  margin-top: 16px;
  font-size: 20px;
  letter-spacing: 0.8px;
  font-weight: 300;
  color: var(--primary);
}

@media only screen and (min-device-width: 310px) and (max-device-width: 812px) {
  #wr-login {
    display: none;
  }

  #wr-login-mobile {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: block;
  }

  .wr-splash-btn {
    background-color: white;

    .MuiButton-label {
      color: var(--primary);
      text-transform: none;
      font-weight: 600;
    }
  }

  #wr-mobile-view {
    height: 100%;
    width: 90%;
    margin: auto;
    // background-color: var(--primary);
  }

  #wr-continue {
    padding-top: 100%;

    #wr-title {
      font-size: 35px;
      font-weight: 400;
      line-height: 1.2;
      height: 42px;
      color: #f3f3f3;
      margin: 15px 0 14px;
    }

    #wr-subtitle {
      font-size: 17px;
      font-weight: 400;
      color: #ffffff;
      opacity: 0.7;
      line-height: 20px;
      margin-bottom: 111px;
    }
  }

  .wr-login-input {
    padding-top: 53px;
    height: 90%;

    #wr-logo,
    #wr-title,
    #wr-input,
    #wr-input {
      display: inherit;
    }

    #wr-title {
      font-size: 20px;
      font-weight: 600;
      line-height: 1.3;
      color: #000000;
      letter-spacing: normal;
      margin: 24px 0 16px;
    }

    div.subtitle {
      max-width: 98%;
      opacity: 0.8;
      font-size: 16px;
      line-height: 1.25;
      letter-spacing: normal;
      font-weight: 600;
      color: #000000;
      margin-bottom: 37px;
    }

    div#wr-otp-opts {
      margin-top: 40px;

      span {
        cursor: pointer;
        font-size: 13px;
        font-weight: 600;
        color: var(--primary);
      }

      span:nth-of-type(1) {
        margin-right: 50px;
      }
    }

    #wr-input {
      font-size: 12px;
      line-height: 15px;
      font-weight: 500;
      margin: 9px 0 6px 4px;
      color: #a9aebe;

      .MuiButton-label {
        padding: 30px 8px;
      }
    }

    .MuiInputAdornment-positionStart {
      padding: 3px 0px 0 4px;
    }

    .wr-form {
      width: 99%;
      border: 1px solid #dadaed;
      border-radius: 4px;
    }

    .wr-root {
      width: 100%;
      .MuiInput-input {
        font-size: 16px !important;
        line-height: 20px !important;
        font-weight: 500;
        padding: 14px 16px;
      }
    }

    .wr-code-input {
      width: 21% !important;
      border-radius: 4px 0 0 4px;
      border: 1px solid #dadaed;
      border-right: 0 !important;
      .MuiInput-input {
        font-size: 16px !important;
      }
      .MuiSelect-select {
        padding-right: 0px !important;
      }
    }

    .wr-select-input {
      padding: 5px 0px 5px 10px !important;
    }

    .MuiFormControl-marginNormal {
      margin: 0px !important;
    }

    .wr-mob-input {
      width: 77.5% !important;
      border-radius: 0 4px 4px 0;
      border: 1px solid #dadaed;
      .MuiInput-input {
        font-size: 16px !important;
        font-weight: 500;
        padding: 16px 16px 12px 16px;
      }
    }
  }

  .react-tel-input .form-control {
    width: 100% !important;
  }

  .wr-continue-btn {
    position: fixed;
    bottom: 50px;
    width: 90%;
  }

  #wr-main {
    background-color: #f5f6f8 !important;
  }

  #wr-header-hero {
    height: 174px;
    border-radius: 0 0 15px 15px;
    width: 100%;
    background: var(--primary);
    position: absolute;
    top: 0;

    .wr-hero-container {
      display: flex;
      justify-content: space-between;
      padding: 21px 28px;
      align-items: center;

      .wr-pan-dropdown {
        display: inherit;
      }
    }
  }

  #wr-body {
    margin: 240px 3.1% 0;
  }

  .wr-card-template {
    margin-bottom: 24px;

    .wr-card-template-header {
      min-height: 40px;
      padding: 14px;
      opacity: 0.8;
      font-size: 12px;
      font-weight: normal;
    }
  }

  #wr-overview-key-numbers {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    border-radius: 10px;

    div.wr-okn-box:nth-child(6) {
      min-width: 60%;
    }
    div.wr-okn-box {
      text-align: center;
      padding: 15px 12px;
      min-width: 50%;
      height: auto;
      min-height: 79px;

      .wr-okn-title {
        font-size: 10px;
        font-weight: normal;
      }

      .wr-okn-value {
        font-size: 15px;
        line-height: 0.78;
        margin-top: 10px;
      }

      #wr-okn-asset-alloc-title {
        font-size: 12px;
      }
    }
  }

  #wr-growth-graph {
    padding: 24px;
    width: 100%;
    box-sizing: border-box;
    height: auto;

    #wr-gg-date-select {
      width: 100%;

      .wr-gg-date-select-item {
        flex: 1;
        padding: 12px 15px;
      }
    }
  }

  #wr-portfolio-insights-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #portfolio-insights-header {
    text-align: left;
    margin: 26px 0 14px 12px;
    font-size: 12px;
    font-weight: normal;
    opacity: 0.8;
    text-transform: capitalize;
  }

  #wr-i-btn {
    height: 10px;
    width: 10px;
  }

  .wr-xirr-tooltip {
    width: 100%;
  }

  .wr-estd-tax {
    width: 100%;
  }

  .wr-pi-card-container {
    margin-bottom: 10px;
    flex-basis: 100%;
  }

  .wr-pi-card {
    padding: 16px 12px 16px 24px;
    align-items: center;

    div.wr-pi-content {
      flex-basis: 80%;

      .wr-pi-content-title {
        font-size: 14px;
      }

      .wr-pi-content-subtitle {
        font-size: 12px;
        margin-top: 7px;
        padding: 5px 20px 5px 8px;
      }

      .wr-pi-content-desc {
        display: none;
      }
    }

    div.pi-card-expand {
      display: block;
    }
  }

  .wi-pi-card-img {
    width: 32px;
    height: 32px;
    margin-right: 24px;
  }

  .wr-pi-card-expanded {
    display: block;
    flex-basis: 100%;
    padding: 16px 12px 16px 24px;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    margin-top: -5px; // to make this div look like its part of the div above
    background: #fbfaff;

    .wr-pi-content-desc {
      flex-basis: 80%;
      font-size: 12px;
      line-height: 1.3;
      color: rgba(0, 0, 0, 0.8);
    }
  }
  
  #wr-analysis-graph {
    padding: 20px;
  }

  .wr-allocation-graph-legend {
    margin: 30px 0 0 0;
    flex-basis: 100%;
    justify-content: space-between;

    .wr-agl-item {
      margin-right: 0;
      padding: 15px;
      width: 90px;

      .wr-agl-item-label {
        font-size: 13px;
        margin-bottom: 10px;
      }

      .wr-agl-item-value {
        line-height: 1;
        font-size: 16px;
      }
    }
  }

  .wr-sector-graph-legend {
    justify-content: unset;
    align-content: space-between;
    height: 180px;
    flex-basis: 100%;
    margin: 30px 0 0 0;

    .wr-sgl-item {
      height: auto;
      width: auto;
      margin-bottom: 13px;

      .wr-sgl-item-chip {
        width: 10px;
        height: 10px;
        margin-right: 6px;
      }

      .wr-sgl-item-label {
        font-size: 10px;
        vertical-align: middle;
      }
    }

    .wr-sgl-item:hover {
      opacity: 1;
      font-weight: 600;
    }
  }

  #wr-analysis-top-holdings {
    padding: 20px;

    .wr-table-container {
      max-height: 250px;
    }
  }

  .wr-table-container::-webkit-scrollbar {
    display: none;
  }

  .wr-outlined-btn {
    box-shadow: 0 1px 15px 0 rgba(215, 199, 250, 0.12) !important;
    border: solid 0.5px rgba(151, 151, 151, 0.1) !important;
    background-color: #ffffff !important;
    font-size: 15px !important;
    .MuiButton-label {
      color: rgba(0, 0, 0, 0.5) !important;
    }
  }

  #wr-holdings {
    .wr-card-template {
      margin-bottom: 16px;
    }
  }

  #wr-taxation {
    min-height: 540px;

    #wr-taxation-filter {
      display: flex;
      justify-content: flex-end;
      padding: 24px;
      border-bottom: 1px solid rgba(102, 102, 102, 0.05);
    }

    #wr-taxation-summary {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid rgba(102, 102, 102, 0.05);

      .wr-taxation-summary-col {
        flex-basis: unset;
        text-align: left;
        padding: 16px 13px;

        .wr-tsc-value {
          font-size: 16px;
          margin-bottom: 6px;
          font-weight: 600;
        }

        .wr-tsc-label {
          font-size: 12px;
          color: rgba(21, 7, 49, 0.5);
        }
      }
    }

    #wr-taxation-detail {
      padding: 16px;

      .wr-taxation-detail-row {
        margin-top: 24px;

        .wr-tdr-title {
          font-size: 12px;
          flex-basis: 100%;
          margin-bottom: 14px;
          display: flex;

          hr {
            width: 68%;
            display: inline-block;
            border: 0.5px solid rgba(21,7,49,0.05);
            vertical-align: bottom;
          }
        }
      }
    }

    .wr-vertical-divider {
      height: 20px;
    }
  }

  .wr-user-account {
    width: 75px !important;
  }

  .wr-dot-loader-text {
    font-size: 18px;
  }
}
