.configPrimaryColorClass {
  color: var(--primary) !important;
}

.configPrimaryBackgroundColorClass {
  background-color: var(--primary) !important;
}
.secondary-color {
  color: var(--secondary) !important;
}

.ContainerWrapper {
  background-color: #fff;
}
@mixin fadein-animation-base {
  animation: container-animation-fadein ease 0.15s; 
  // animation: container-animation-left-to-right ease 0.2s;

  animation-iteration-count: 1; 
  animation-fill-mode: forwards;
}
html,
body,
#root {
  height: 100%;
  background-color: #fff;
  @include fadein-animation-base()
}

/* web-app changes */

html,
body[data-device="web"] #root {
  /* autoprefixer: off */
  height: 100%;
  background: #f3f4f6;
}

body[data-device="web"] {
  height: 100%;

  .generic-error-dialog .overlay {
    max-width: var(--desktop-width);
    margin: 0 auto;
  }
  .generic-page-loader {
    max-width: var(--desktop-width);
    margin: 0 auto;
  }
  .generic-error-dialog-page{
    max-width: var(--desktop-width);
    margin: 0 auto;
    margin-top: 56px;
  }
  .MuiAppBar-positionFixed {
    left: 0 !important;
  }

  .FlexItem1-withProvider-footer .text-block-1 {
    width: auto;
  }

  .Header {
    max-width: var(--desktop-width);
    margin: 0 auto;
    box-shadow: none;
  }

  .Footer {
    max-width: fit-content;
    position: relative !important;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .ContainerWrapper {
    max-width: var(--desktop-width);
    margin: 0 auto;
    padding-bottom: 3px;
    overflow: auto;
  }

  .Step {
    max-width: var(--desktop-width);
    margin: 0 auto;
    top: 66px;
  }

  .Banner {
    max-width: var(--desktop-width);
    margin-top: 9px;
  }

  .header-annual-inc-info {
    max-width: var(--desktop-width);
    margin: 0 auto;
    top: 66px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .quote-top-tiles {
    max-width: var(--desktop-width);
    margin: 0 auto;
    padding-right: 0px;
    padding-left: 0px;
  }

  .quote-filter-dialog-head {
    margin: 0 auto;
    margin-top: -25px;
    max-width: var(--desktop-width);
  }

  .MuiDialogActions-root {
    margin: 0 auto;
    width: fit-content;
    margin-bottom: 20px;
  }

  .FooterImage {
    width: auto;
    height: 47px;
  }

  #root > div:nth-child(1) {
    height: 100%;
  }
  .Toastify {
    height: auto !important;
  }

  .Loader {
    max-width: var(--desktop-width);
    margin: 0 auto;
  }

  .Container {
    height: auto !important;
    overflow: hidden;
  }

  #root .ContainerWrapper {
    height: 100% !important;
  }

  .FlexItem1-withProvider-footer {
    flex: inherit;
    cursor: pointer;
  }

  .FlexItem2-withProvider-footer {
    margin: 0 10px 0 10px;
  }

  .FlexItem1-withProvider-footer .text-block-1 {
    max-width: unset;
  }

  #bottom-popup .MuiDialog-paper {
    position: unset;
    width: 100%;
    bottom: unset;
    left: unset;
    border-radius: 8px;
  }
}

.MuiDialogContent-root {
  overflow-x: hidden;
}

.pointer {
  cursor: pointer;
}




.fadein-animation {
  @include fadein-animation-base();
}

@keyframes container-animation-fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes container-animation-left-to-right {
  0% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes container-animation-top-to-bottom {
  0% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0);
  }
}

.Container {
  padding: 20px 20px;
  /* margin-bottom: 60px;
  padding-bottom: 20px !important;  */
  background-color: #fff;
  overflow-y: scroll;
  // margin-bottom: 56px !important;
  padding-bottom: 56px !important;
  @include fadein-animation-base();
 
}

.Container .container-padding {
  padding: 20px 15px;
}

.Container.no-padding {
  padding: 0;
}

.Header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
}

.PageTitle {
  text-align: left;
}

.fixheader .Header {
  position: absolute !important;
}

.SectionHead {
  margin-bottom: 15px;
  color: rgb(68, 68, 68);
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 500;
}

.CheckBlock {
  margin-top: 20px;
  margin-bottom: 30px;
}

.CheckBlock2 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.TextCenter {
  text-align: center;
}

.Checkbox {
  width: auto;
  height: auto;
}

.SameAddress {
  color: rgb(68, 68, 68);
  font-size: 14px;
}

.FlexItem1 {
  flex: 1;
}

.FlexItem5 {
  flex: 5;
}

.FlexItem10 {
  flex: 10;
}

.Footer {
  position: fixed;
  /* background: unset !important; */
  background-color: #fff;
  bottom: 0;
  left: 0;
  right: 0;
  /* border: 0; */
  /* border: 1px solid; */
  // box-shadow: 0px 2px 6px 0px rgba(102, 120, 121, 0.25);
  /* box-shadow: 0 -3px 5px -2px rgba(0,0,0,.1); */
  /* box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149); */
  margin: 0px 20px 20px 20px;
  border-radius: 7px;
}

button.MuiButtonBase-root.MuiButton-root.MuiButton-raised.MuiButton-raisedSecondary.MuiButton-sizeLarge.CustomButton-button-100 {
  border-radius: 6px;
  // box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
  box-shadow: none !important;
}
button {
  box-shadow: none !important;
}


.FooterButtonArrow {
  margin-left: 20px;
}

.FlexItem3 {
  flex: 3;
}

.FlexItem2 {
  flex: 2;
  /* border-left: 1px solid #7c9b84; */
  /* flex: inherit; */
}

.FooterSummaryLayout {
  background: var(--secondary);
  border-radius: 6px;
}

.FooterSummaryLayout .FlexItem3 {
  padding: 5px 0 0 10px;
}

.FooterSummaryLayout_title {
  color: #ffffff;
  font-size: 12px;
}

.FooterSummaryLayout_subtitle {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  font-family: "Roboto";
}

.FooterSummaryLayout_hint {
  color: #878787;
  font-size: 10px;
}

.FooterReset {
  padding: 20px 20px;
  text-align: center;
  background-color: #f8f8f8;
}

.FooterReset_title {
  color: #878787;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 7px;
}

.FooterReset_subtitle {
  color: #b1b1b1;
  font-size: 12px;
}

/* old */

/* .FooterImage {
  width: 80%;
  position: relative;
  top: 2px;
} */

.FooterImage {
  /* width: 80%;
  position: relative;
  top: 2px; */
  width: 100%;
  position: relative;
  /* top: 1px; */
  display: block;
  height: 54px;
  border-radius: 6px;
}

.FooterDefaultLayout,
.FooterSummaryLayout {
  display: flex;
  align-items: center;
}

.Footer.no-border {
  border: 0;
}

.FooterTwoButtonLayout .FlexButton {
  display: flex;
  align-items: center;
}

.FooterTwoButtonLayout .FlexItem1 {
  margin-left: 5px;
}

.FooterTwoButtonLayout .FlexItem2 {
  margin-right: 5px;
}

.FooterDefaultLayout .FlexItem3,
.FooterDefaultLayout .FlexItem2,
.FooterDefaultLayout .FlexItem1 {
  text-align: center;
}

.FlexButtonGenericColor{
  background-color: rgb(53, 203, 93);
  color: white;
  border-radius: 6px;
}

.FooterTwoButtonLayout button.borderButton {
  background: #fff;
  border: 1px solid;
  margin-right: 5px;
  flex: 2;
}

.FooterTwoButtonLayout button.filledButton {
  margin-left: 5px;
  color: #fff;
  flex: 1;
}

.FooterTwoButtonLayout button.borderButton svg {
  margin-right: 10px;
}

.resume-page-content{
  font-size: 14px;
  color: grey;
  margin-top: 20px;
  line-height: 20px;
}
.fyntune-landing{
  font-family: "Roboto", sans-serif;
}
.fyntune-heading {
  font-size: 17px;
  font-weight: 500;
  margin-top: 40px;
}
.fyntune-info {
  color: #8d918e;
  font-size: 15px;
  line-height: 24px;
  padding-right: 20px;
}

.fyntune-faq {
  font-size: 18px;
  font-weight: 500;
}

.FiveStepPlan-Container{
  padding-left: 15px;
}

.FiveStepPlan-Box{
  position: relative;
  border: 2px solid #d6cceb;
  border-radius: 10px;
  margin-bottom: 10px;
  max-height: 110px;
}

.FiveStepPlan-Info{
  line-height: 8px;
  margin: 20px 0px 20px 30px;
}

.FiveStepPlan-Number{
  position: absolute;
  background-color: white;
  padding: 8px 12px;
  border-radius: 999px;
  top: 50%;
  transform: translateY(-50%);
  left: -17px;
  color: #5D44AE;
  border: 2px #5D44AE solid;
}

.FiveStepPlan-title{
  font-size: 15px;
  line-height: 16px;
}

.FiveStepPlan-subtitle{
  font-size: 13px;
  color: #767E86;
  padding-right: 30px;
  line-height: 20px;
  transform: translateY(-8px);
}

.landing-hero-container{
  width: 100%;
}
.landing-hero-img{
  width: 100%;
  object-fit: cover;
}

.resume-int-page-title{
  margin-bottom: 30px;
}
.resume-int-hero-container{
  width: 100%;
  margin-bottom: 30px;
}

.resume-int-hero-img{
  width: 100%;
  object-fit: cover;
}
.resume-int-page-content{
  font-size: 18px;
  color: #79838F;
  line-height: 25px;
  font-family: "Roboto";
}

.resume-card {
  padding: 20px;
  margin: 20px 0 20px 0;
  box-shadow: 0px 2px 6px 0px rgba(102, 120, 121, 0.25);
  border-radius: 4px;
  .rc-title {
    color: #0A1D32;
    font-size: 14px;
    font-weight: 500;
    margin: 0 0 20px 0;
  }

  .rc-tile {
    display: flex;
    justify-content: space-between;
  }
  
  .rc-tile-left {
      display: flex;
      /* align-items: center; */
  }
  
  .rct-title {
      color: #0A1D32;
      font-size: 10px;
      font-weight: 600;
      margin: 4px 0 5px 0;
  }
  
  .rct-subtitle {
      color: #0A1D32;
      font-size: 16px;
      font-weight: 400;
  }
  
  .rc-tile-premium-data {
      margin: 0 0 0 10px;
  }

  .rc-bottom {
    margin: 20px 0 0 0;
  }
  
  .rcb-content {
      color: #767E86;
      font-size: 12px;
      font-weight: 400;
  }
}


input#pan {
  text-transform: uppercase;
}

.Accordion {
  width: 100%;
  border-top: solid 1px #c2c2c2;
  padding: 20px 0;
  color: #444;
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 500;
}

.Accordion:last-child {
  border-bottom: solid 1px #c2c2c2;
}

.AccordionTitle {
  cursor: pointer;
}

.AccordionBody ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  padding-top: 15px;
  padding-left: 30px;
}

.AccordionBody ul li span {
  font-weight: normal;
}

.AccordionBody ul li {
  padding: 10px 0;
  font-size: 14px;
}

.Footer {
  background: #fff;
  z-index: 100;
}

.Loader {
  background: #fff;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 200;
}

.LoaderOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  img {
    width: 75%;
    height: 75%;
  }
}

.generic-circle-loader-component {
  height: 0;
  width: 0;
  padding: 15px;
  border: 6px solid #ccc;
  border-right-color: #888;
  border-radius: 22px;
  -webkit-animation: gcl_rotate 1s infinite linear;
  margin: 0 auto;
}

@keyframes gcl_rotate {
  /* 100% keyframe for  clockwise. 
     use 0% instead for anticlockwise */
  100% {
    -webkit-transform: rotate(360deg);
  }
}

.generic-page-loader {
  width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, #FFFFFF 25.91%, #FFFFFF 100%);
    opacity: 0.96;
    touch-action: none;
    .LoaderOverlay {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      opacity: 0.96;
      width: -webkit-fill-available;
      img {
        // width: 75%;
        // height: 75%;
        width: 80px;
        height: 80px;
      }
    }
    .LoaderOverlayText {
      color: #767E86;
      font-size: 13px;
      line-height: 21px;
      margin: 20px 0 0 0;
      font-weight: 400;
      text-align: center;
      padding: 0px 20px 20px 20px;
    }
}

.generic-error-dialog {
   
    
    .overlay {
     
    }

    .top-part {
      display: flex;
      justify-content: space-between;
      // align-items: center;
      margin: 0 0 10px 0;
    }
    .title1 {
      color: #160D2E;
      font-size: 17px;
      font-weight: bold;
      line-height: 27px;
      margin: 20px 0px 0px 0;
    }
    .t-left {
      margin: 0 15px 0 0;
    }
    .t-right {
      margin: 0 0px 0 0;
    }
    
    .top-image {
        // margin: 0px 0 20px 0;
        width: 120px !important;
        height: 56px !important;
    }
    
    .title2 {
      color: #767E86;
      font-size: 13px;
      line-height: 21px;
      text-align: left;
    }

    .actions {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 20px 0 0 0;
      text-align: center;
    }

    .help {
      color: #73cd60;
      font-size: 12px;
      font-weight: 700;
      line-height: 14px;
      margin: 20px 0 0 0;
      cursor: pointer;
    }

    .page-button {
      color: var(--secondary);
      font-size: 12px;
      font-weight: 700;
      border: 1px solid;
      width: fit-content;
      padding: 7px 20px 7px 20px;
      border-radius: 4px;
      cursor: pointer;
    }
    .button{
      font-size: 12px;
      line-height: 14px;
      width: -webkit-fill-available;
      padding: 13px !important;
      display: block;
      text-transform: uppercase;
    }
    .single-button {
      width: 100%;
    margin: 0 auto;
    }
    
}

.generic-error-dialog-page {
  width: 100%; 
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999999;
  background-color: rgba(0, 0, 0, 0.5);
  background: white;
  margin: 56px 0 0 0;
  .ovarlay-page {
    position: fixed;
    background: white;
    margin-top: 0 auto;
    padding: 20px 20px 30px 20px;
    bottom: 0;
    width: -webkit-fill-available;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    position: relative;
    padding: 100px 20px 30px 20px;
    text-align: center;

  }
  .top-image-page {
    margin: 0px 0 30px 0;
    width: 198px !important;
    height: 91px !important;
  }
  .title1-page {
    margin: 0px;
  }
  .title2-page {
    text-align: center;
  }
  .actions-page {
    text-align: center;
    width: fit-content;
    margin: 0 auto;
    margin-top: 20px;
    min-width: 150px
  }
}

.Loader-Dialog {
  opacity: 0.9;
  z-index: 999999;
}

.LoaderOverlayText {
  color: #0a1d32;
  font-size: 14px;
  line-height: 19px;
  margin: 10px 0 0 0;
  font-weight: 400;
}

.Step {
  flex-direction: row;
  display: flex;
  position: fixed;
  top: 56px;
  left: 0;
  right: 0;
  z-index: 1000;
  background: white;
}

.Step span {
  background: #cacaca;
  height: 3px;
  flex: 1;
  display: inline-block;
  box-sizing: border-box;
  margin-right: 3px;
}

.Step span.active {
  /* background: #250087; */
  height: 3px;
  flex: 1;
  display: inline-block;
  box-sizing: border-box;
  margin-right: 3px;
}

.Step span:last-child {
  margin-right: 0;
}

.Progress {
  height: 10px;
  position: relative;
  background: #ebebeb;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  /*box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);*/
  flex: 2;
}

.Progress > span {
  display: block;
  height: 100%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #3023ae;
  background-image: linear-gradient(to right, #3023ae, #c86dd7);
  /*box-shadow:
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);*/
  position: relative;
  overflow: hidden;
}

.NoInternet {
  background: #fff;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.NoInternet img {
  margin-bottom: 40px;
}

.NoInternet h1 {
  color: rgb(74, 74, 74);
  margin-top: 0;
  font-size: 20px;
  font-family: "Roboto";
  font-weight: 500;
  text-align: center;
}

.NoInternet p {
  color: rgb(74, 74, 74);
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 16px;
  font-family: "Roboto";
  text-align: center;
}

.NoInternet button {
  box-shadow: none;
  margin-top: 40px;
  background: rgb(53, 203, 93);
  padding: 12px 22px;
  font-size: 14px;
}

.MuiToolbar-gutters {
  padding-left: 12px !important;
  padding-right: 13px !important;
}

.Toastify__toast-container.Toastify__toast-container--bottom-center {
  z-index: 99999999 !important;
}

.Toastify__toast {
  z-index: 99999999 !important;
}

.file-upload {
  cursor: inherit;
  display: block;
  font-size: 0;
  filter: alpha(opacity=0);
  min-height: 7%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  text-align: right;
  left: 0;
  right: 0;
}

.Toastify__toast--default {
  background: #494747 !important;
  color: white !important;
  bottom: 80px !important;
  /* position: relative; */
}

.MuiModal-root {
  z-index: 99999 !important;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.ReactModal__Body--open {
  overflow-y: hidden;
  position: fixed;
}

.highlight_color_info {
  background: var(--highlight_color_info);
}

.main-top-title-new {
  font-size: 20px;
  color: #160d2e;
  font-weight: 600;
  padding: 10px 0px 0 0px;
}

$header-title-font-size: 20px;

.header-title-page {
  background: white;
  color: #0A1C32;
  min-height: 50px;
  display: flex;
  align-items: flex-end;
  padding: 0 20px 0 20px;
  font-size: $header-title-font-size;
  transition: 0.3s transform ease-in-out;
  justify-content: space-between;

  .header-title-page-count-text {
    font-size: 10px;
    line-height: $header-title-font-size;
  }
}

.header-title-page-text {
  font-weight: 700;
}

.header-topbar-white {
  background-color: white !important;
  color: black !important;
  transition: 0.3s transform ease-in-out;
  box-shadow: none !important;
}

.main-top-title-new2 {
  font-size: 20px !important;
  color: #160d2e !important;
  font-weight: 400 !important;
}

@mixin main-top-title-header-base {
  font-size: 16px !important;
  color: #160d2e;
  font-weight: 400 !important;
}

.main-top-title-header {
  @include main-top-title-header-base();
  color: #160d2e;
}

.main-top-title-header-old {
  @include main-top-title-header-base();
  color: white;
}

.slide-fade {
  transition: all 0.4s ease-out;
  opacity: 0;
  /* height: 0px; */
}

.slide-fade2 {
  transition: all 0.4s ease-out;
  /* opacity: 0; */
  /* height: 0px; */
}

.slide-fade-show {
  opacity: 1;
}

.flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-between {
  display: flex;
  justify-content: space-between;
}
.flex-center {
  display: flex;
  align-items: center;
}
.flex {
  display: flex;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.generic-hr {
  border-top: 1px solid #ededed;
}

.common-top-page-subtitle {
  color: #767e86;
  font-size: 14px;
  font-weight: 400;
  margin: -10px 0 30px 0px;
  line-height: 1.6;
}

.common-top-page-subtitle-dark {
  color: #102f50;
  font-size: 16px;
  font-weight: 500;
  margin: -10px 0 30px 0;
  line-height: 1.6;
}

.common-how-steps {
  margin: 50px 0 40px 0;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  padding: 20px 0 20px 0;

  .top-tile {
    display: flex;
    justify-content: space-between;
  }
  .top-title {
    color: #0a1c32;
    font-size: 16px;
    font-weight: 600;
  }
  .top-icon {
    width: 14px;
  }
  .common-steps-images {
    margin: 40px 0 0 0;
  }
  .common-steps-images_steps{
    margin: 20px 0 0 0;
  }
}

.common-landing-steps {
  margin: 50px 0 40px 0;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  padding: 20px 0 20px 0;

  .top-tile {
    display: flex;
    justify-content: space-between;
  }
  .top-title {
    color: #0a1c32;
    font-size: 16px;
    font-weight: 600;
  }
  .top-icon {
    width: 14px;
  }
  .common-steps-images {
    margin: 40px 0 0 0;
  }
  .common-steps-images_steps{
    margin: 20px 0 0 0;
  }


  .common-steps-images {

    .tile_step {
      margin: 0px;
    }
    .content_step {
      margin: 0px 0px 0px 20px;
      border-bottom: 1px solid #ededed;
      padding: 20px 0px 20px 0px;
    }
    .content-title{
      margin: 0px;
    }
  }
}

.generic-page-title {
  color: #0a1d32;
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 5px 0;
}

.generic-page-subtitle {
  color: #767e86;
  font-size: 13px;
  font-weight: 400;
  margin: 0px 0 20px 0;
  line-height: 1.6;
}
.common-steps-images {
  .content {
    // color: #767e86;
    // font-size: 13px;
    margin: 0 0 0 20px;
    width: -webkit-fill-available;
  }

  .content_step{
    margin: 0 0 0 10px;
  }

  .tile {
    display: flex;
    align-items: center;
    margin: 30px 0 30px 0px;
  }

  .tile_step{
    margin: 20px 0 20px 0px;
  }

  .content-title {
    color: #041d34;
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 8px 0;
  }

  .content-subtitle {
    color: #747e87;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.6;
  }

 
}

.his {
  margin: 0 -15px 0px -15px;
  padding: 0 15px 0 15px;
  overflow: hidden;
  overflow-x: scroll;
  .horizontal-images-scroll {
    display: flex;
    width: fit-content;
    .image {
      margin: 0 20px 0px 0;
      border-radius: 4px;
      display: block;
    }
  }
}


.common-faqs {
  .common-faqs-tile {
    border-bottom: 1px solid #d7d4d4;
    cursor: pointer;
    padding: 5px 0 5px 0;
  }

  .common-faqs-tile:last-child{
    margin-bottom: 50px;
  }

  .top-tile {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 10px 0;
    color: WorkSans-Regular_Medium;
    font-weight: 500;
  }
  .subtitle {
    color: #767e86;
    margin: 20px 0 10px 0;
    line-height: 1.6;
  }
}

.common-bottom-info {
  margin: 30px 0 30px 0;
  background-color: var(--highlight);
  padding: 15px;
  text-align: center;
  border-radius: 4px;
  .content {
    color: #767e86;
    font-size: 12px;
    font-weight: 500;
  }
}

/* used in gold  */

.FlexItem1-withProvider-footer {
  display: flex;
  align-items: center;
}

.FlexItem2-withProvider-footer {
  flex: 1;
  margin: 0 10px 0 0;
}

.FlexItem1-withProvider-footer .text-block-1 {
  color: #0a1c32;
  font-size: 10px;
  font-weight: 600;
  text-align: left;
  text-overflow: ellipsis;
  white-space: break-spaces;
  overflow: hidden;
  width: 95%;
}
.FlexItem1-withProvider-footer .text-block {
  width: 100%;
}

.FlexItem1-withProvider-footer .text-block-2 {
  color: #0a1d32;
  font-size: 16px;
  text-align: left;
  /* padding: 5px 0 0 0; */
}

.FlexItem1-withProvider-footer .text-block-2-img {
  margin: 0px 5px 0 0;
  vertical-align: middle;
}

.FlexItem1-withProvider-footer .image-block {
  /* margin: 5px 5px 10px 3px;
  height: 48px; */
  margin: 0px 9px 0px 3px;
}

.FlexItem2-withProvider-footer button {
  box-shadow: none !important;
  padding: 0px !important;
}

.FlexItem1-withProvider-footer .FooterImage {
  width: 40px;
}

#bottom-popup .MuiDialog-paper {
  position: fixed;
  width: 100%;
  bottom: 0px;
  left: -20px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

#bottom-popup {
  .content-button {
    margin: 0 20px 20px 20px;
    display: flex;
    width: auto;
    justify-content: center;
  }
  button {
    margin: 0px;
  }
}

/* autosuggest */
.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  font: inherit;
  color: currentColor;
  width: 100%;
  border: 0;
  margin: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.42);
  padding: 11px 0 7px;
  display: block;
  font-size: 14px;
  flex-grow: 1;
  min-width: 0;
  box-sizing: content-box;
  background: none;
  -webkit-tap-highlight-color: transparent;
  margin: 10px 0 0 0;
}

.react-autosuggest__input:focus {
  border-bottom: 2px solid rgb(55, 31, 116);
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  width: 100%;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  max-height: 100px;
  overflow-y: auto;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

.react-autosuggest__suggestion-match {
  font-weight: bold;
}
.common-bottom-info {
  margin: 40px 0 40px 0 !important;
  background-color: var(--highlight);
  padding: 15px;
  text-align: center;
  border-radius: 4px;
  .content {
    color: #767e86;
    font-size: 12px;
    font-weight: 500;
  }
}

.common-bottom-info-down{
  position: absolute;
}

@mixin generic-page-button-small-base {
  color: var(--secondary);
  font-size: 12px;
  font-weight: 700;
  border: 1px solid;
  width: fit-content;
  padding: 7px 20px 7px 20px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.generic-page-button-small {
  @include generic-page-button-small-base();
}

.generic-page-button-small-withoutborder {
  @include generic-page-button-small-base();
  border: unset;

}
.generic-page-button-large {
  color: var(--secondary);
  font-size: 12px;
  font-weight: 700;
  border: 1px solid;
  width: fit-content;
  padding: 5% 20% 5% 20%;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.generic-page-button-small-with-green {
  background: var(--secondary);
  font-size: 12px;
  font-weight: 700;
  border: 1px solid;
  width: fit-content;
  padding: 5% 20% 5% 20%;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: white;
}

.generic-page-button-small-with-back {
  background: var(--secondary);
  font-size: 12px;
  font-weight: 700;
  border: 1px solid;
  width: fit-content;
  padding: 7px 20px 7px 20px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: white;
}

.action-img-right-header {
  width: 17px;
  position: absolute;
  right: 20px;
  cursor: pointer;
}

.his {
  margin: 0 -15px 0px -15px;
  padding: 0 15px 0 15px;
  overflow: hidden;
  overflow-x: scroll;
  .horizontal-images-scroll {
    display: flex;
    width: fit-content;
    .image {
      margin: 0 20px 0px 0;
      border-radius: 4px;
      display: block;
    }
  }
}

.common-top-bottom-title-light{
  color: #767e86;
  font-size: 13px;
  margin-bottom: 20px;
  transform: translateY(-45px);
}

#add_ons_bottom_text{
  font-size: 13px;
  color: #767E86;
  margin-top: 10px;
}

.OTP-title{
  justify-content: center !important;
}


.callback-button-container{
  margin: 40px 0;
}

.callback-button-container img{
  width: 100%;
  object-fit: cover;
}

// --Iframe Container CSS Below--:
.childblockiframe{
  display: flex;
  flex-direction: row;
  overflow: scroll ;
  padding-top: 100px;
  overflow-x: hidden;
  height: 100%;
  padding-left: 80px;
  padding-right: 80px;
}

.childblockiframe-element-one{
  height: auto;
  text-align: left !important;
  position: relative;
  flex: 1 1 55%;
}

.imgiframe{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
  .childblockiframe-element-img{ 
    margin-bottom: 30%;
  }

.footer-iframe{
  background-color:  white;
  bottom: 0%;
  overflow: hidden;
  margin-top: auto;
}

@media (max-width: 900px) {
  .childblockiframe-element-one{
    width: 50%;
  }
}

@media (max-width: 425px) {
  .childblockiframe {
    flex-direction: column-reverse;
    height: auto;
    padding: 52px 0px 52px 0px;
  }
  .childblockiframe-element-one{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .childblockiframe-element-img{
    width: 200%;
    padding-top: 30%;
    margin-left: 100% !important;
    margin-bottom: 30px !important;
  }

  #iframeFooter{
    position: fixed !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
}

#iframeFooter{
  position: relative;
  margin: 0 auto;
  margin-bottom: 13px !important;
  padding-top: 20px;
  padding-bottom: 20px;
}

.Loaderiframe {
  background: #fff;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 200;
}