.flex {
  display: flex;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-justify-center {
  display: flex;
  justify-content: center;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.align-start {
  align-items: flex-start;
}

.justify-center {
  justify-content: center; 
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.block {
  display: block;
}

.hero-banner-title {
  color: #0A1D32;
  font-weight: 500;
  line-height: calc(26px * 1.3);
  font-size: 26px;
}

.heading1 {
  color: #0A1D32;
  font-weight: bold;
  font-size: 20px;
  line-height: calc(20px * 1.6);
}

.heading2 {
  color: #0A1D32;
  font-weight: bold;
  font-size: 17px;
  line-height: calc(17px * 1.6);
}

.heading3-bolder {
  color: #0A1D32;
  font-weight: bold;
  font-size:  15px;
  line-height: calc(15px * 1.6);
}

.heading3-medium {
  color: #0A1D32;
  font-weight: 600;
  font-size: 15px;
  line-height: calc(15px * 1.6);
}

.body-text1 {
  color: #0A1D32;
  font-weight: 600;
  font-size: 13px;
  line-height: calc(13px * 1.6);
}

.body-text2 {
  color: #0A1D32;
  font-size: 13px;
  line-height: calc(13px * 1.6);
}

.helping-text {
  color: #0A1D32;
  font-size: 11px;
  line-height: calc(11px * 1.6);
}

.small-text1 {
  color: #0A1D32;
  font-size: 10px;
  font-weight: 600;
  line-height: calc(10px * 1.6);
}

.small-text2 {
  color: #0A1D32;
  font-size: 10px;
  line-height: calc(10px * 1.6);
}

.micro1 {
  color: #0A1D32;
  font-size: 8px;
  font-weight: 600;
  line-height: calc(10px * 1.6);
}

.micro2 {
  color: #0A1D32;
  font-size: 8px;
  line-height: calc(10px * 1.6);
}

.center {
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.inline-block {
  display: inline-block;
}

.m-left-2x {
  margin-top: calc(var(--spacing) * 2);
}

.pd-2x {
  padding: calc(var(--spacing) * 2);
}