.wr-table {
  width: 100%;
  border-spacing: 0;
  thead {
    td {
      border-bottom: 1px solid rgba(110, 110, 110, 0.05);
      text-transform: capitalize;
      color: rgba(0, 0, 0, 0.6);
    }
  }
  tbody {
    tr:nth-child(1) {
      td {
        border-top: none;
      }
    }
    td {
      border-top: 1px solid rgba(110, 110, 110, 0.05);
    }
  }
  td {
    padding: 20px 10px;
    border-collapse: collapse;
    font-weight: normal;
    font-size: 15px;
  }
}

.wr-holding-card {
  display: flex;
  color: black;
  padding: 42px;
  align-items: center;
  justify-content: space-between;
}

.wr-small-col {
  flex: 1;
  margin-right: 10px;
}

span.wr-small-col-val {
  font-size: 17px;
  color: #150731;
  display: block;
  margin-bottom: 10px;
}

span.wr-small-col-title {
  font-size: 15px;
  color: #150731;
  opacity: 0.5;
}

.wr-holding-card-expand {
  background-color: #fbfaff;
  min-height: 210px;
  border-top: 1px solid rgba(102, 102, 102, 0.05);
  padding: 24px 106px 41px 100px;
  box-sizing: border-box;
}

#wr-hce-fund-details {
  display: flex;
  margin-top: 36px;
  justify-content: space-between;

  .span.wr-small-col-val {
    font-size: 20px;
  }
}

#wr-hce-past-trx {
  margin-top: 36px;
  max-height: 300px;
  overflow-y: scroll;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.05 );
  background: white;
  padding: 5px 25px;
}

#wr-hce-past-trx::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}

#wr-hce-past-trx::-webkit-scrollbar-thumb {
  width: 6px;
  height: 100px;
  border-radius: 2.5px;
  background-color: rgba(0, 0, 0, 0.3);
}

.wr-hc-amc-detail {
  flex-basis: 45% !important;
  img.amc-logo {
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 24px;
  }
  .amc-detail-title {
    font-size: 20px;
    line-height: 1;
    color: #000000;
  }
  .amc-detail-subtitle {
    opacity: 0.5;
    font-size: 15px;
    line-height: 1;
    margin-top: 10px;
  }
}

.wr-fisdom-rating {
  padding: 6px 8px;
  border-radius: 4px;
  width: 40px;
  height: 25px;
  display: inline-block;
  box-sizing: border-box;
  margin-left: 40px;

  span.rating-num {
    font-size: 15px;
    font-weight: 600;
    vertical-align: middle;
  }

  img.rating-star {
    width: 10px;
    height: 15px;
    margin-left: 5px;
  }
}
