.wr-icon-button {
  border-radius: 100px !important;
  height: 48px !important;
  width: 48px !important;
}

.wr-table {
  width: 100%;
  border-spacing: 0;
  thead {
    td {
      border-bottom: 1px solid rgba(110, 110, 110, 0.05);
      text-transform: capitalize;
      color: rgba(0, 0, 0, 0.6);
    }
  }
  tbody {
    tr:nth-child(1) {
      td {
        border-top: none;
      }
    }
    td {
      border-top: 1px solid rgba(110, 110, 110, 0.05);
    }
  }
  td {
    padding: 20px 10px;
    border-collapse: collapse;
    font-weight: normal;
    font-size: 15px;
  }
}

.wr-holding-card {
  display: flex;
  flex-flow: wrap;
  color: black;
  align-items: center;
  flex: 1;
  cursor: pointer;
}

.wr-free-EL-label {
  position: absolute;
  top: 10px;
  right: -8px;
}

#wr-account-img {
  cursor: pointer;
}

.wr-hc-user-data {
  display: flex;
  padding: 42px;
  flex-basis: 55%;
  box-sizing: border-box;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

.wr-small-col {
  margin-right: 10px;
  max-width: 30%;
}

span.wr-small-col-val {
  font-size: 17px;
  color: #150731;
  display: block;
  margin-bottom: 10px;
}

span.wr-small-col-title {
  font-size: 15px;
  color: #150731;
  opacity: 0.5;
}

.wr-holding-card-expand {
  background-color: #fbfaff;
  min-height: 210px;
  border-top: 1px solid rgba(102, 102, 102, 0.05);
  padding: 24px 106px 41px 100px;
  box-sizing: border-box;
}

#wr-hce-fund-details {
  display: flex;
  margin-top: 36px;
  justify-content: space-between;

  .span.wr-small-col-val {
    font-size: 20px;
  }

  div#wr-hce-space {
    display: none;
  }
}

.wr-hce-past-trx {
  margin-top: 36px;
  max-height: 300px;
  overflow-y: scroll;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  background: white;
  padding: 5px 25px;
}

.wr-hc-amc-detail {
  flex-basis: 40% !important;
  background-color: white;
  padding: 42px;
  box-sizing: border-box;
  display: flex;
  max-width: 40%;
  justify-content: space-between;

  img.amc-logo {
    width: 40px;
    height: 40px;
    margin-right: 24px;
  }

  .wr-amc-detail {
    margin-right: 36px;
    max-width: 68%;
    width: 70%;

    .amc-detail-title {
      font-size: 20px;
      line-height: 1;
      color: #000000;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .amc-detail-subtitle {
      text-transform: capitalize;
      opacity: 0.5;
      font-size: 15px;
      line-height: 1;
      margin-top: 10px;
    }
  
    .wr-EL-label {
      display: none;
    }
  }
}

.wr-fisdom-rating {
  padding: 4px 8px;
  border-radius: 4px;
  width: 40px;
  height: 25px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;

  span.rating-num {
    font-size: 15px;
    font-weight: 600;
    overflow: hidden;
    line-height: 1.1;
  }

  img.rating-star {
    width: 10px;
    height: 15px;
    margin-left: 5px;
  }
}

#wr-header-bar {
  position: absolute;
  top: 144px;
  left: 0;
  right: 12px; //to offset scrollbar width
  margin: auto;
  width: 100%;
  max-width: 1440px;
  height: 124px;
  border-radius: 10px;
  box-shadow: 0 1px 15px 0 rgba(69, 65, 78, 0.05);
  border: solid 0.5px rgba(151, 151, 151, 0.1);
  background-color: #ffffff;
  display: flex;
  z-index: 99999;
  transition: all 0.2s ease-in;
  box-sizing: border-box;

  .wr-header-tab {
    flex: 1;
    box-sizing: border-box;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    color: #000000;
    border-left: solid 0.5px rgba(151, 151, 151, 0.1);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;

    img {
      width: 30px;
      height: 36px;
    }
  }

  .wr-select {
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
  }

  .hr {
    border-top: 1px solid rgba(151, 151, 151, 0.1);
    margin-left: 2px;
    width: 99%;
  }

  .wr-header-pan-select{
    border: solid 0.5px rgba(151, 151, 151, 0.1);
    background-color: #ffffff;
    border-radius: 10px 0 0 10px;
    box-shadow: 1px 1px rgba(69, 65, 78, 0.05);

    .wr-pan-content {
      flex-basis: 27%;
      display: flex;
      align-items: center;
      height: 123px;
      cursor: pointer;
      padding: 0 17px 0 17px;

      .wr-pan-detail {
        padding: 0 75px 0 16px;

        .wr-pan-title{
          font-size: 15px;
          color: #a9a9a9;
        }

        .wr-pan {
          font-size: 20px;
          margin-top: 6px;
          font-weight: 500;
          min-width: 150px;
        }
      }
    }
  }
}

#wr-header-bar.snapUp {
  width: 100% !important;
  top: 0 !important;
  border-radius: 3px !important;
  transition: all 0.2s ease-in;
  box-sizing: border-box;
}

#wr-email-list {
  .wr-email-list-item {
    padding-top: 16px;
  }
}

#wr-email-list-title {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 26px;
}

.wr-email-list-item {
  padding: 24px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 0.5px rgba(151, 151, 151, 0.1);

  span.wr-eli-email {
    display: block;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 8px;
  }

  span.wr-eli-synced {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.5);
  }
}

.wr-add-email-btn, .wr-add-email-btn:hover {
  background-color: rgba(80, 45, 168, 0.1) !important;
  padding: 13px !important;

  .MuiButton-label {
    color: var(--primary);
    font-weight: 600;
    text-transform: capitalize;
  }
}

.wr-pie-tooltip {
  border-radius: 22px;
  box-shadow: 0 1px 15px 0 rgba(69, 65, 78, 0.05);
  border: solid 0.5px rgba(66, 31, 136, 0.1);
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 12px 16px;

  .wr-pt-color-bubble {
    width: 12px;
    height: 12px;
    border-radius: 12px;
    margin-right: 8px;
    display: inline-block;
  }

  .wr-pt-label {
    color: black;
    font-size: 15px;
  }
}

.wr-filter {
  text-align: right;
  margin-bottom: 40px;

  .wr-btn {
    background-color: var(--primary) !important;
    padding: 9px 16px;
    border-radius: 20px;

    .MuiButton-label {
      font-size: 15px;
      text-transform: capitalize;
    }
  }
}

.wr-filter-content {
  display: flex;
  align-items: center;

  .wr-category {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .wr-head {
    font-size: 13px;
    color: #150731;
  }

  .wr-vertical-divider {
    height: 25px;
    margin-left: 16px;
    border-color: #150731;
  }
}

.wr-non-selected-filters {
  background-color: rgba(149, 149, 149, 0.08) !important;
  box-shadow: 0 1px 15px 0 rgba(215, 199, 250, 0.12) !important;
  border-radius: 25px !important;
  margin-left: 12px !important;
  padding: 9px 16px !important;

  .MuiButton-label {
    font-size: 13px !important;
    color: #150731 !important;
  }
}

.wr-selected-filters {
  @extend .wr-non-selected-filters;

  background-color: var(--primary) !important;

  .MuiButton-label {
    font-size: 13px !important;
    color: white !important;
  }
}

.wr-mobile-filter {

  .wr-categories {
    font-size: 12px;
    line-height: 1;
    font-weight: 400;
    color: #a9a9a9;
  
    .wr-selected-filters {
      @extend .wr-selected-filters;
      padding: 5px 8px;
      margin: 16px 12px 0 0;

      .MuiButton-label {
        font-size: 12px;
        font-weight: 500;
        text-transform: capitalize;
      }
    }
  
    .wr-non-selected-filters {
      @extend .wr-non-selected-filters;
      padding: 5px 8px !important;
      margin: 16px 12px 0 0 !important;

      .MuiButton-label {
        font-size: 12px !important;
        text-transform: capitalize !important;
      }
    }

    hr {
      margin: 24px 0 24px 0;
      opacity: 0.05;
      background-color: #666666;
    }
  }

  .wr-apply-changes {
    display: flex;
    justify-content: flex-end;

    .wr-text-btn {
      background-color: #ffffff !important;
      box-shadow: 0 0 0 0 #ffffff !important;
      margin: 30px 0 0 0;
      .MuiButton-label {
        font-size: 15px;
        font-weight: 600;
        line-height: 1px;
        color: var(--primary);
      }
    }
  }
}

.wr-filter-category{
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  color: #a9a9a9;

  .wr-filter-btn {
    @extend .wr-selected-filters;

    margin-left: 6px;
    padding: 5px 8px;

    .MuiButton-label {
      font-size: 11px;
      font-weight: 500;
      text-transform: capitalize;
    }
  }
}


.wr-email-list .react-tooltip-lite {
  margin-left: -37px !important;
  width: 400px !important;
}

.wr-estd-tax-info .react-tooltip-lite {
  margin-left: 100px !important;
}

.wr-accounts {
  .wr-button {
    background-color: rgba(80, 45, 168, 0.1);
    height: 47px;
    font-size: 17px;
    color: #502da8;
    font-weight: 400;
    border-radius: 6px;
  }

  .wr-email-list-title {
    font-size: 12px;
    font-weight: 500;
    color: #a9a9a9;
  }

  #wr-all-emails {
    margin: 28px -12px 0px 0px;
    overflow-y: scroll;
    max-height: 400px;
  }

  #wr-all-emails::-webkit-scrollbar {
    width: 4px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
  }

  #wr-all-emails::-webkit-scrollbar-thumb {
    border-radius: 2.5px;
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .wr-mails {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0 20px 0;
    border-bottom: solid 1px #f5f6f8;
    
    .MuiIconButton-root {
      height: 48px;
      width: 48px;
    }
  
  }

  .wr-eli-email {
    font-size: 15px;
    font-weight: 600;
  }

  .wr-eli-sync-date {
    font-size: 13px;
    margin-top: 8px;
    color: #565656;
  }
  
  .wr-eli-sync-status {
    padding: 6px 9px;
    color: rgba(0, 0, 0, 0.7);
    border-radius: 4px;
    font-size: 12px;
    font-weight: 600;
    word-break: break-word;
    background-color: rgba(0, 0, 0, 0.08);
    margin-top: 10px;
    width: auto;
    display: inline-block;
  }
}

.wr-email-added {
  // width: 485px;
  text-align: center;
  font-size: 17px;

  .wr-content {
    margin: 30px 0 36px 0;
    line-height: 1.5;
  }

  .wr-email-continue-btn {
    border-radius: 6px;
    border: solid 0.5px rgba(80, 45, 168, 0.1);
    background-color: #ffffff;
    padding: 15px;

    .MuiButton-label {
      font-size: 17px;
      font-weight: 600;
      color: var(--primary);
    }
  }
}

.wr-welcome {
  text-align: center;
  font-size: 15px;
  border-bottom: solid 1px #f5f6f8;

  .wr-profile-img {
    margin: auto;
    width: 80px;
    height: 80px;
  }

  .wr-profile {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }

  .wr-head {
    color: #a9a9a9;
    margin: 17px 0 6px 0;
  }

  .wr-number {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 16px;
  }
}

.wr-logout {
  .wr-logout-btn {
    background-color: #f3cece !important;
    height: 47px;
    margin-top: 15px;

    .MuiButton-label{
      font-size: 15px;
      color: #e02020;
      text-transform: capitalize;
    }

    img {
      margin-right: 9px;
    }
  }
}

.wr-select-members {
  font-size: 15px;
  color: #502da8;
  font-weight: 500;
  margin-bottom: 8px;
}

.wr-members {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #f5f6f8;

  .wr-container {
    margin: 15px 0 15px 0;

    .wr-head {
      margin-bottom: 8px;
    }

    .wr-level {
      font-size: 13px;
      color: #a9a9a9;
    }
  }
}

.wr-add-mail {
  padding: 0 10px;
  // width: 485px;
  .wr-new-email {
    font-size: 20px;
    font-weight: 600;
    color: #421f88;
    display: flex;
    align-items: center;
    padding-bottom: 16px;
    border-bottom: solid 1px #f5f6f8;
  }

  .wr-mail-content {
    color: #a9a9a9;
    line-height: 22px;
    font-size: 15px;
    margin: 20px 0 20px 0;
  }

  .wr-form {
    width: 100%;
    border: 1px solid #dadaed;
    border-radius: 4px;
    padding: 14px 16px !important;
    max-width: none !important;
  }

  .wr-input-addmail {
    width: 100% !important;
    border: 0px !important;
    padding: 0 !important;
    .MuiInput-input {
      font-size: 16px !important;
      line-height: 20px !important;
      font-weight: 500;
    }
  }

  .wr-btn {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
  }

  .wr-cancel-btn, .wr-add-btn {
    background-color: #fff;
    border: solid 1px var(--primary) !important;
    width: 35%;
    border-radius: 6px;
    padding: 12px;

    .MuiButton-label{
      color: var(--primary) !important;
      text-transform: capitalize;
      font-size: 16px !important;
    }
  }

  .wr-cancel-btn.MuiButton-disabled {
    background-color: inherit !important;
  }

  .wr-add-btn {
    background-color: var(--primary);
    width: 60%;

    .MuiButton-label{
      color: white !important;
    }
  }
}

.wr-dialog-paper {
  border-radius: 8px !important;
  width: 485px;
}

.wr-paper-filter {
  border-radius: 6px !important;
  // width: 94% !important;
}

.wr-growth-graph-legend {
  box-shadow: 0 0 12px 0 rgba(200, 200, 200, 0.2);
  background-color: #ffffff;
  padding: 10px;

  .wr-ggl-header {
    font-size: 13px;
    font-weight: 600;
    color: var(--primary);
    margin-bottom: 15px;
  }

  .wr-ggl-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    .wr-ggli-color-bubble {
      width: 8px;
      height: 8px;
      border-radius: 10px;
      margin-right: 6px;
    }

    span {
      font-size: 13px;
      flex: 1;
      text-transform: capitalize;
      color: rgba(0, 0, 0, 0.8);
    }
  }
}

.wr-rotate {
  animation: rotate 2s infinite ease-in-out;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}


@media only screen 
  and (min-device-width: 300px) 
  and (max-device-width: 812px) {

  .wr-dialog-paper {
    border-radius: 6px !important;
  }

  .wr-icon-button {
    border-radius: 100px !important;
    height: 48px !important;
    width: 48px !important;
  }

  .wr-table {
    width: 100%;
    border-spacing: 0;

    thead {
      td {
        border-bottom: 1px solid rgba(110, 110, 110, 0.05);
        text-transform: capitalize;
        color: rgba(0, 0, 0, 0.6);
      }
    }
    tbody {
      td:nth-child(1) {
        width: 45%;
        padding-right: 10px;
      }
    }
    td {
      padding: 14px 5px;
      font-size: 12px;
    }
  }

  .wr-transaction-table {
    tbody {
      td:nth-child(1) {
        width: 35%;
      }
    }
  }

  .wr-holding-card {
    justify-content: space-between;
  }

  .wr-free-EL-label {
    display: none;
  }

  .wr-hc-amc-detail {
    flex-basis: 100% !important;
    padding: 16px;
    border-bottom: 1px solid rgba(102, 102, 102, 0.05);
    max-width: 100%;

    img.amc-logo {
      width: 27px;
      height: 27px;
      margin-right: 12px;
    }

    .wr-amc-detail {
      margin-right: 30px;
      .amc-detail-title {
        font-size: 14px;
      }
      .amc-detail-subtitle {
        font-size: 12px;
        margin-top: 6px;
      }

      .wr-EL-label{
        display: block;
        font-size: 10px;
        color: #4a4a4a;
        font-weight: 500;
        width: 100px;
        line-height: 13px;
        padding: 6px 9px;
        border-radius: 4px;
        background-color: rgba(129, 129, 129, 0.08);
        margin-top: 6px;
      }
    }
  }

  .wr-hc-user-data {
    padding: 16px;
  }

  .wr-fisdom-rating {
    width: 36px;
    height: 23px;
    padding: 4px;

    span.rating-num {
      font-size: 14px;
    }

    img.rating-star {
      height: 13px;
      margin-left: 4px;
    }
  }

  .wr-small-col {
    margin-right: 5px;
  }

  span.wr-small-col-val {
    font-size: 12px;
    margin-bottom: 5px;
    font-weight: 500;
  }

  span.wr-small-col-title {
    font-size: 12px;
  }

  .wr-holding-card-expand {
    background-color: #fbfaff;
    min-height: 210px;
    padding: 16px;

    // .wr-holdings-btn {
    //   display: flex;
    // }
  }

  #wr-hce-fund-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;

    span.wr-small-col-val {
      font-weight: 500;
    }
    div {
      flex-basis: 25%;
      margin-top: 28px;
      margin-right: 10px;
    }
    div#wr-hce-space {
      display: block;
    }
  }

  .wr-hce-past-trx {
    margin-top: 28px;
    max-height: 300px;
    border: none;
    background: inherit;
    padding: 5px 7px;
    overflow-y: hidden;
  }

  #wr-header-bar {
    top: 110px;
    left: 0;
    right: 0;
    width: 94%;
    height: 74px;
    
    .wr-header-tab {
      flex: 1;
      box-sizing: border-box;
      font-size: 12px;
      font-weight: 600;
      line-height: 1.17;
      cursor: pointer;
      color: #000000;
      border-left: solid 0.5px rgba(151, 151, 151, 0.1);
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: space-evenly;
      text-decoration: none;

      img {
        width: 24px;
        height: 24px;
      }
    }

    .wr-select {
      font-size: 12px;
      font-weight: 600;
    }

    .hr {
      border-top: 1px solid rgba(151, 151, 151, 0.1);
      margin-left: 2px;
      width: 99%;
    }

    .wr-header-pan-select{
      display: none;
    }

    .wr-pan-content {
      display: none;
    }

    .wr-pan {
      font-size: 20px;
      margin-top: 6px;
      font-weight: 500;
      width: 128px;
    }
  }

  .wr-pan-dropdown {
    .wr-pan-content {
      display: flex;
      align-items: center;
      #wr-pan-logo{
        display: none;
      }
      #wr-pan-dropdown {
        height: 16px;
        width: 16px;
      }

      .wr-pan-detail {
    
        .wr-pan-title{
          font-size: 12px;
          color: #ffffff;
          opacity: 0.5;
          line-height: 15px;
        }
    
        .wr-pan {
          font-size: 16px;
          font-weight: 500;
          color: #ffffff;
          letter-spacing: 0.5px;
          line-height: 20px;
          margin-top: 3px;
        }
      }
    }
  }

  .wr-pan-select-content{
    display: flex;
    justify-content: start;
    align-items: center;

    .wr-pan-detail{
      margin-left: 20px;

      .wr-pan-title{
        font-size: 12px;
        opacity: 0.5;
        line-height: 15px;
      }
  
      .wr-pan {
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.5px;
        line-height: 20px;
        margin-top: 3px;
      }
    }
  }

  .wr-pan-hr {
    border-top: 1px solid rgba(151, 151, 151, 0.1);
    margin: 20px 0;
  }

  #wr-email-list {
    .wr-email-list-item {
      padding-top: 16px;
    }
  }

  #wr-email-list-title {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 26px;
  }

  .wr-email-list-item {
    padding: 24px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 0.5px rgba(151, 151, 151, 0.1);;
    
    span.wr-eli-email {
      display: block;
      font-size: 15px;
      font-weight: 600;
      margin-bottom: 8px;
    }

    span.wr-eli-synced {
      font-size: 13px;
      color: rgba(0, 0, 0, 0.5);
    }
  }

  .wr-add-email-btn {
    background-color: rgba(80, 45, 168, 0.1) !important;
    
    .MuiButton-label {
      color: var(--primary);
      font-weight: 600;
      text-transform: capitalize;
    }
  }

  .wr-add-mail {
    .wr-new-email {
      font-size: 20px;
      font-weight: 600;
      color: var(--primary);
      display: flex;
      align-items: center;
      padding-bottom: 16px;
      border-bottom: solid 1px #f5f6f8;
    }
  
    .wr-mail-content {
      color: #a9a9a9;
      line-height: 22px;
      font-size: 15px;
      margin: 20px 0 20px 0;
    }
  
    .wr-input-addmail {
      border-radius: 2px;
      width: 265px !important;
      height: 30px;
      background-color: #fff;
      border: 1px solid #acb4be;
      font-size: 15px;
      padding: 10px 10px;
    }
  
    .wr-btn {
      margin-top: 32px !important;
      display: flex;
      justify-content: space-between;
    }
  }

  .wr-filter {
    display: none !important;
  }

  .wr-filter-content {
    display: none !important;
  }

  #wr-account-img {
    height: 30px  !important;
    width: 30px  !important;
  }

  .wr-ggl {
    .wr-ggl-header {
      font-size: 12px;
      margin-bottom: 10px;
    }

    .wr-ggl-item {
      margin-bottom: 6px;

      span {
        font-size: 12px;
      }
    }
  }
}