.wr-icon-button {
  border-radius: 100px !important;
  height: 48px !important;
  width: 48px !important;
}

.wr-table {
  width: 100%;
  border-spacing: 0;
  thead {
    td {
      border-bottom: 1px solid rgba(110, 110, 110, 0.05);
      text-transform: capitalize;
      color: rgba(0, 0, 0, 0.6);
    }
  }
  tbody {
    tr:nth-child(1) {
      td {
        border-top: none;
      }
    }
    td {
      border-top: 1px solid rgba(110, 110, 110, 0.05);
    }
  }
  td {
    padding: 20px 10px;
    border-collapse: collapse;
    font-weight: normal;
    font-size: 15px;
  }
}

.wr-holding-card {
  display: flex;
  flex-flow: wrap;
  color: black;
  align-items: center;
}

.wr-hc-user-data {
  display: flex;
  padding: 42px;
  flex-basis: 55%;
  box-sizing: border-box;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

.wr-small-col {
  margin-right: 10px;
  max-width: 30%;
}

span.wr-small-col-val {
  font-size: 17px;
  color: #150731;
  display: block;
  margin-bottom: 10px;
}

span.wr-small-col-title {
  font-size: 15px;
  color: #150731;
  opacity: 0.5;
}

.wr-holding-card-expand {
  background-color: #fbfaff;
  min-height: 210px;
  border-top: 1px solid rgba(102, 102, 102, 0.05);
  padding: 24px 106px 41px 100px;
  box-sizing: border-box;
}

#wr-hce-fund-details {
  display: flex;
  margin-top: 36px;
  justify-content: space-between;

  .span.wr-small-col-val {
    font-size: 20px;
  }

  div#wr-hce-space {
    display: none;
  }
}

#wr-hce-past-trx {
  margin-top: 36px;
  max-height: 300px;
  overflow-y: scroll;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  background: white;
  padding: 5px 25px;
}

#wr-hce-past-trx::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}

#wr-hce-past-trx::-webkit-scrollbar-thumb {
  width: 6px;
  height: 100px;
  border-radius: 2.5px;
  background-color: rgba(0, 0, 0, 0.3);
}

.wr-hc-amc-detail {
  flex-basis: 40% !important;
  padding: 42px;
  box-sizing: border-box;
  display: flex;
  max-width: 40%;
  justify-content: space-between;

  img.amc-logo {
    width: 40px;
    height: 40px;
    margin-right: 24px;
  }
  .amc-detail-title {
    font-size: 20px;
    line-height: 1;
    color: #000000;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .amc-detail-subtitle {
    opacity: 0.5;
    font-size: 15px;
    line-height: 1;
    margin-top: 10px;
  }
}

.wr-fisdom-rating {
  padding: 4px 8px;
  border-radius: 4px;
  width: 40px;
  height: 25px;
  display: flex;
  box-sizing: border-box;

  span.rating-num {
    font-size: 15px;
    font-weight: 600;
  }

  img.rating-star {
    width: 10px;
    height: 15px;
    margin-left: 5px;
  }
}

#wr-header-bar {
  position: absolute;
  top: 144px;
  left: 0;
  right: 0;
  margin: auto;
  width: 94%;
  height: 124px;
  border-radius: 10px;
  box-shadow: 0 1px 15px 0 rgba(69, 65, 78, 0.05);
  border: solid 0.5px rgba(151, 151, 151, 0.1);
  background-color: #ffffff;
  display: flex;
  z-index: 9999;

  .wr-header-tab {
    flex: 1;
    box-sizing: border-box;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    color: #000000;
    border-left: solid 0.5px rgba(151, 151, 151, 0.1);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;

    img {
      width: 30px;
      height: 36px;
    }
  }

  .wr-select {
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
  }

  .hr {
    border-top: 1px solid rgba(151, 151, 151, 0.1);
    margin-left: 2px;
    width: 99%;
  }

  .wr-header-pan-select {
    border: solid 0.5px rgba(151, 151, 151, 0.1);
    overflow: hidden;
    border-radius: 10px 0 0 10px;
    background-color: #ffffff;
    box-shadow: 1px 1px rgba(69, 65, 78, 0.05);
  }

  .wr-pan-content {
    flex-basis: 27%;
    display: flex;
    align-items: center;
    height: 123px;
    cursor: pointer;
    padding: 0 17px 0 17px;
  }

  .wr-pan {
    font-size: 20px;
    margin-top: 6px;
    font-weight: 500;
    width: 128px;
  }
}

#wr-email-list {
  .wr-email-list-item {
    padding-top: 16px;
  }
}

#wr-email-list-title {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 26px;
}

.wr-email-list-item {
  padding: 24px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 0.5px rgba(151, 151, 151, 0.1);

  span.wr-eli-email {
    display: block;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 8px;
  }

  span.wr-eli-synced {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.5);
  }
}

.wr-add-email-btn {
  background-color: rgba(80, 45, 168, 0.1) !important;

  .MuiButton-label {
    color: var(--primary);
    font-weight: 600;
    text-transform: capitalize;
  }
}

.wr-filter {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 40px;

  .wr-btn {
    background-color: var(--primary) !important;
    border-radius: 15px;
    .MuiButton-label {
      font-size: 13px;
      padding: 0 7px 0 7px;
    }
  }
}

.wr-filter-content {
  margin-bottom: 40px;
  display: flex;
  align-items: center;

  .wr-category {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .wr-head {
    font-size: 13px;
    color: #150731;
  }

  .wr-non-selected-btn {
    background-color: rgba(149, 149, 149, 0.08) !important;
    box-shadow: 0 1px 15px 0 rgba(215, 199, 250, 0.12) !important;
    border-radius: 15px;
    margin-left: 12px;
    .MuiButton-label {
      font-size: 13px;
      padding: 0 8px 0 8px;
      color: #150731;
    }
  }

  .wr-selected-btn {
    background-color: var(--primary) !important;
    box-shadow: 0 1px 15px 0 rgba(215, 199, 250, 0.12) !important;
    border-radius: 15px;
    margin-left: 12px;
    .MuiButton-label {
      font-size: 13px;
      padding: 0 8px 0 8px;
    }
  }

  .vl {
    border-left: 1px solid #150731;
    height: 25px;
    margin-left: 16px;
  }
}

.wr-mobile-filter {

  .wr-categories {
    font-size: 12px;
    line-height: 1;
    font-weight: 400;
    color: #a9a9a9;
  
    .wr-selected-btn {
      background-color: var(--primary) !important;
      box-shadow: 0 1px 15px 0 rgba(215, 199, 250, 0.12) !important;
      border-radius: 15px;
      margin: 16px 12px 0 0;
      .MuiButton-label {
        font-size: 12px;
        padding: 0 5px 0 5px;
        font-weight: 500;
      }
    }
  
    .wr-non-selected-btn {
      background-color: rgba(149, 149, 149, 0.08) !important;
      box-shadow: 0 1px 15px 0 rgba(215, 199, 250, 0.12) !important;
      border-radius: 15px;
      margin: 16px 12px 0 0;
      .MuiButton-label {
        font-size: 12px;
        padding: 0 5px 0 5px;
        color: #000;
      }
    }

    hr {
      margin: 24px 0 24px 0;
      opacity: 0.05;
      background-color: #666666;
    }
  }

  .wr-apply-changes {
    display: flex;
    justify-content: flex-end;

    .wr-text-btn {
      background-color: #ffffff !important;
      box-shadow: 0 0 0 0 #ffffff !important;
      margin: 30px 0 0 0;
      .MuiButton-label {
        font-size: 15px;
        color: #000;
        font-weight: 600;
        line-height: 1px;
        color: #4f2ca5;
      }
    }
  }
}

.wr-filter-category{
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  color: #a9a9a9;

  .wr-filter-btn {
    background-color: var(--primary) !important;
    box-shadow: 0 1px 15px 0 rgba(215, 199, 250, 0.12) !important;
    border-radius: 15px;
    margin-left: 6px;
    .MuiButton-label {
      font-size: 11px;
      font-weight: 500;
    }
  }
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) {

  .wr-icon-button {
    border-radius: 100px !important;
    height: 48px !important;
    width: 48px !important;
  }

  .wr-table {
    width: 100%;
    border-spacing: 0;

    thead {
      td {
        border-bottom: 1px solid rgba(110, 110, 110, 0.05);
        text-transform: capitalize;
        color: rgba(0, 0, 0, 0.6);
      }
    }
    tbody {
      tr:nth-child(1) {
        td {
          border-top: none;
        }
      }
      td {
        border-top: 1px solid rgba(110, 110, 110, 0.05);
      }
    }
    td {
      padding: 14px 5px;
      font-size: 12px;
    }
  }

  .wr-holding-card {
    justify-content: space-between;
  }

  .wr-hc-amc-detail {
    flex-basis: 100% !important;
    padding: 16px;
    border-bottom: 1px solid rgba(102, 102, 102, 0.05);
    max-width: 100%;

    img.amc-logo {
      width: 27px;
      height: 27px;
      margin-right: 12px;
    }
    .amc-detail-title {
      font-size: 14px;
    }
    .amc-detail-subtitle {
      font-size: 12px;
      margin-top: 6px;
    }
  }

  .wr-hc-user-data {
    padding: 16px;
  }

  .wr-fisdom-rating {
    width: 36px;
    height: 23px;

    span.rating-num {
      font-size: 14px;
    }

    img.rating-star {
      height: 13px;
    }
  }

  .wr-small-col {
    margin-right: 5px;
  }

  span.wr-small-col-val {
    font-size: 14px;
    margin-bottom: 5px;
  }

  span.wr-small-col-title {
    font-size: 12px;
  }

  .wr-holding-card-expand {
    background-color: #fbfaff;
    min-height: 210px;
    padding: 16px;
  }

  #wr-hce-fund-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;

    span.wr-small-col-val {
      font-weight: 500;
    }
    div {
      flex-basis: 25%;
      margin-top: 28px;
      margin-right: 10px;
    }
    div#wr-hce-space {
      display: block;
    }
  }

  #wr-hce-past-trx {
    margin-top: 28px;
    max-height: 300px;
    border: none;
    background: inherit;
    padding: 5px 7px;
    overflow-y: hidden;
  }

  #wr-header-bar {
    position: absolute;
    top: 132px;
    left: 0;
    right: 0;
    margin: auto;
    width: 94%;
    height: 74px;
    border-radius: 10px;
    box-shadow: 0 1px 15px 0 rgba(69, 65, 78, 0.05);
    border: solid 0.5px rgba(151, 151, 151, 0.1);
    background-color: #ffffff;
    display: flex;
    z-index: 9999;
    
    .wr-header-tab {
      flex: 1;
      box-sizing: border-box;
      font-size: 12px;
      font-weight: 600;
      line-height: 1.17;
      cursor: pointer;
      color: #000000;
      border-left: solid 0.5px rgba(151, 151, 151, 0.1);
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: space-evenly;
      text-decoration: none;

      img {
        width: 24px;
        height: 24px;
      }
    }

    .wr-select {
      font-size: 12px;
      font-weight: 500;
    }

    .hr {
      border-top: 1px solid rgba(151, 151, 151, 0.1);
      margin-left: 2px;
      width: 99%;
    }

    .wr-header-pan-select {
      display: none; // TODO: remove this
      border: solid 0.5px rgba(151, 151, 151, 0.1);
      overflow: hidden;
      border-radius: 10px 0 0 10px;
      background-color: #ffffff;
      box-shadow: 1px 1px rgba(69, 65, 78, 0.05);
    }

    .wr-pan-content {
      display: none; //Todo: remove this
      flex-basis: 27%;
      display: flex;
      align-items: center;
      height: 123px;
      cursor: pointer;
      padding: 0 17px 0 17px;
    }

    .wr-pan {
      font-size: 20px;
      margin-top: 6px;
      font-weight: 500;
      width: 128px;
    }
  }

  #wr-email-list {
    .wr-email-list-item {
      padding-top: 16px;
    }
  }

  #wr-email-list-title {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 26px;
  }

  .wr-email-list-item {
    padding: 24px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 0.5px rgba(151, 151, 151, 0.1);;
    
    span.wr-eli-email {
      display: block;
      font-size: 15px;
      font-weight: 600;
      margin-bottom: 8px;
    }

    span.wr-eli-synced {
      font-size: 13px;
      color: rgba(0, 0, 0, 0.5);
    }
  }

  .wr-add-email-btn {
    background-color: rgba(80, 45, 168, 0.1) !important;
    
    .MuiButton-label {
      color: var(--primary);
      font-weight: 600;
      text-transform: capitalize;
    }
  }
}

.wr-estd-tax {
  font-size: 15px;
  .head {
    font-weight: 500;
    color: #432088;
  }

  .content {
    color: #a9a9a9;
    margin-top: 5px;
    line-height: 20px;
  }
}

.wr-accounts {
  .wr-button {
    background-color: rgba(80, 45, 168, 0.1);
    height: 47px;
    font-size: 17px;
    color: #502da8;
    font-weight: 400;
    border-radius: 6px;
  }

  .wr-email-list-title {
    font-size: 12px;
    font-weight: 500;
    color: #a9a9a9;
  }

  .wr-mails {
    display: flex;
    justify-content: space-between;
    padding: 15px 0 20px 0;
    border-bottom: solid 1px #f5f6f8;
  }

  .wr-eli-email {
    font-size: 15px;
    margin-bottom: 8px;
  }

  .wr-eli-sync {
    font-size: 13px;
    color: #a9a9a9;
  }
}

.wr-email-added {
  text-align: center;
  font-size: 17px;
  margin: 20px 0 10px 0;

  .wr-content {
    margin: 31px 0 54px 0;
  }

  .wr-continue {
    color: #421f88;
    font-weight: 500;
  }
}

.wr-welcome {
  text-align: center;
  font-size: 15px;
  border-bottom: solid 1px #f5f6f8;

  .wr-profile {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }

  .wr-head {
    color: #a9a9a9;
    margin: 17px 0 6px 0;
  }

  .wr-number {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 16px;
  }
}

.wr-logout {
  .wr-logout-btn {
    background: #f3cece;
    height: 47px;
    margin-top: 15px;
    .MuiButton-label{
      font-size: 15px;
      color: #e02020;
    }

    img {
      margin-right: 9px;
    }
  }
}

.wr-select-members {
  font-size: 15px;
  color: #502da8;
  font-weight: 500;
  margin-bottom: 8px;
}

.wr-members {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #f5f6f8;

  .wr-container {
    margin: 15px 0 15px 0;

    .wr-head {
      margin-bottom: 8px;
    }

    .wr-level {
      font-size: 13px;
      color: #a9a9a9;
    }
  }
}

.wr-add-mail {
  padding: 0 10px;
  .wr-new-email {
    font-size: 20px;
    font-weight: 600;
    color: #421f88;
    display: flex;
    align-items: center;
    padding-bottom: 6px;
    border-bottom: solid 1px #f5f6f8;
  }

  .wr-mail-content {
    color: #a9a9a9;
    line-height: 18px;
    margin: 20px 0 20px 0;
  }

  .wr-input-addmail {
    border-radius: 2px;
    width: 92%;
    height: 30px;
    background-color: #fff;
    border: 1px solid #acb4be;
    font-size: 15px;
    padding: 10px 10px;
  }

  .wr-btn {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
  }

  .wr-cancel-btn {
    background-color: #fff;
    border: solid 1px #421f88;
    height: 47px;
    width: 35%;
    border-radius: 6px;
    color: #421f88;
  }

  .wr-add-btn {
    background-color: #421f88;
    color: #fff;
    width: 60%;
    height: 47px;
    border-radius: 6px;
  }
}

