.freedom-plan-terms-n-conditions {
  color: var(--steelgrey);
  font-size: 11px;
  line-height: 18px;

  .fp-tnc-left {
    min-width: 15px;
    margin-right: 5px;
    text-align: right;
  }
}

.fp-tnc-title {
  font-size: 17px;
}
