.nps-info {
  .head {
    font-size: 20px;
    color: #160d2e;
    font-weight: 600;
  }

  ul {
    padding-inline-start: 0px;
    li {
      display: flex;
      flex-direction: row;
      padding-bottom: 15px;

      .icon {
        margin-right: 20px;
      }

      .text {
        flex: 1;
        h4 {
          font-size: 18px;
          color: #160d2e;
          font-weight: 600;
          margin-block-start: 0px;
        }

        p {
          color: rgb(135, 135, 135);
          font-size: 18px;
          margin: 0;
        }
      }
    }
  }
}

.nps-know-more-header {
  text-align: center;
  margin: 20px auto;

  h4 {
    color: rgb(79, 45, 167);
    text-align: center;
    margin-bottom: 15px;
    cursor: pointer;
  }

  img {
    box-shadow: 0pt 0pt 4pt 1pt rgba(0, 0, 0, 0.05);
    border-radius: 100px;
  }
}

.nps-know-more {
  padding: 15px;
  border-radius: 5px;
  margin: 20px auto;

  .detail {
    .head {
      color: rgb(74, 74, 74);
      text-align: left;
      margin-bottom: 15px;
      font-size: 19px;
      font-weight: 600;
    }

    p {
      color: rgb(135, 135, 135);
      font-size: 16px;
    }
  }
}

.nps {
  .container-padding {
    padding: 0px;
  }

  .title {
    font-size: 18px;
  }

  .nps-card {
    .inner-container {
      padding: 10px 20px;

      .MuiInput-input {
        font-size: 25px;
      }

      .MuiFormHelperText-root {
        font-size: 16px;
        margin-top: 10px;
      }
    }
  }
}

.nps-card {
  padding-top: 10px;
  border: 1px solid #e8e8e8;
  border-radius: 5px;

  p {
    margin: 0;
    color: #4a4a4a;
  }

  .help-text {
    font-family: "LatoM";
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 15px;
    color: #4a4a4a;

    span {
      font-family: "Lato";
    }
  }

  .tags {
    padding: 10px 0;
    background: #f9f9f9;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    .tag-container {
      display: flex;
      align-items: center;
      text-align: center;
      padding-left: 15px;
      background-color: var(--primary);
      width: max-content;

      .tag {
        color: #fff;
        border-radius: 50px;
        padding: 5px 15px;
        margin: 0 5px;
        cursor: pointer;
      }
    }
  }
}

.fund {
  padding: 15px;
  align-items: center;
  // box-shadow: 0pt 0pt 4pt 1pt rgba(0, 0, 0, 0.05);
  border: 1px solid #e8e8e8;
  border-radius: 5px;

  .name {
    position: relative;
    display: flex;
    flex-direction: row;

    .icon {
      flex: 1;

      img {
        border: 1px solid #e8e8e8;
      }

      margin-right: 30px;
      flex-direction: column;
      display: flex;
      align-items: center;
    }

    .text {
      flex: 3;

      h3 {
        margin-top: 0;
        color: rgb(74, 74, 74);
        word-break: break-word;
        font-size: 18px;
        line-height: 22px;
      }
    }
  }

  .replace {
    text-align: right;
    margin-bottom: 10px;
    font-size: 16px;
    letter-spacing: 0.5px;
    color: rgb(53, 203, 93);
  }
}

.fund-detail {
  margin-top: 30px;
  margin-bottom: 30px;
  align-items: center;
  // box-shadow: 0pt 0pt 4pt 1pt rgba(0, 0, 0, 0.05);
  border: 1px solid #e8e8e8;
  border-radius: 5px;

  .risk {
    padding: 15px;
    font-size: 18px;
    border-bottom: 1px solid #e8e8e8;
    position: relative;

    p {
      margin-bottom: 0;
    }

    .edit-icon {
      position: absolute;
      right: 15px;
      top: 13px;
      cursor: pointer;
    }

    .edit {
      font-size: 16px;
      letter-spacing: 0.5px;
      color: rgb(53, 203, 93);
    }
  }

  .allocation {
    padding: 15px;
    display: flex;
    align-items: center;

    .graph {
      width: 200px;
    }

    .stats {
      padding: 0px;

      ul {
        li {
          font-size: 16px;
          color: rgb(135, 135, 135);
          margin-bottom: 10px;

          .color1 {
            color: rgb(185, 176, 64);
          }

          .color2 {
            color: rgb(131, 90, 237);
          }

          .color3 {
            color: rgb(74, 144, 226);
          }

          .color4 {
            color: rgb(51, 191, 159);
          }
        }
      }
    }
  }
}

.bill {
  padding: 15px;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  margin-bottom: 30px;

  .heading {
    margin-bottom: 20px;
    font-family: "LatoB";

    .flex-box {
      color: #4a4a4a;
    }
  }

  .flex-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #878787;
    margin-bottom: 15px;
  }

  .flex-box:last-child {
    margin-bottom: 0;
  }
}

.note {
  padding: 15px;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  margin-bottom: 20px;
  color: #878787;
  line-height: 21px;

  .heading {
    color: #878787;
    margin-bottom: 10px;
    font-family: "LatoB";
  }

  span {
    font-family: "LatoB";
  }

  .more {
    color: #4a90e2;
    margin-top: 5px;
  }
}

.terms {
  color: #878787;
  margin-bottom: 30px;
  display: flex;
  align-items: center;

  img {
    margin-right: 10px;
  }

  a {
    text-decoration: underline;
    color: #878787;
  }
}

.page-heading {
  background-color: #faf7ff;
  display: flex;
  align-items: center;
  font-size: 16px;
  margin: -20px -20px 20px;
  padding: 5px 0;

  .text {
    padding: 15px;
  }

  .bold {
    font-weight: 600;
  }
}

.InputField {
  // margin-top: 20px;
}

.nps-delivery-details {
  .title {
    font-size: 15px;
    font-weight: 600;
    margin-top: 20px;
  }
}

.nps-upload {
  margin-top: 40px;
  .MuiInputLabel-root {
    color: #000 !important;
    font-size: 1.1rem !important;
    font-weight: 800 !important;
  }

  .MuiMenu-paper {
    width: 600px !important;
  }
}