.nps-info {
  .head {
    font-size: 20px;
    color: #160d2e;
    font-weight: 600;
  }

  ul {
    padding-inline-start: 0px;
    li {
      display: flex;
      flex-direction: row;
      padding-bottom: 15px;

      .icon {
        margin-right: 20px;
      }

      .text {
        flex: 1;
        h4 {
          font-size: 18px;
          color: #160d2e;
          font-weight: 600;
          margin-block-start: 0px;
        }

        p {
          color: rgb(135, 135, 135);
          font-size: 18px;
          margin: 0;
        }
      }
    }
  }
}

.nps-know-more-header {
  text-align: center;
  margin: 20px auto;

  h4 {
    color: rgb(79, 45, 167);
    text-align: center;
    margin-bottom: 15px;
    cursor: pointer;
  }

  img {
    box-shadow: 0pt 0pt 4pt 1pt rgba(0, 0, 0, 0.05);
    border-radius: 100px;
  }
}

.nps-know-more {
  padding: 15px;
  border-radius: 5px;
  margin: 20px auto;

  .detail {
    .head {
      color: rgb(74, 74, 74);
      text-align: left;
      margin-bottom: 15px;
      font-size: 19px;
      font-weight: 600;
    }

    p {
      color: rgb(135, 135, 135);
      font-size: 16px;
    }
  }
}

.nps {
  .container-padding { 
    padding: 0px;
  }

  .title {
    font-size: 18px;
  }

  .nps-card {
    .inner-container {
      padding: 10px 20px; 
    }
  }
}

.nps-card {
  padding-top: 10px;
  border: 1px solid #e8e8e8;
  border-radius: 5px;

  p {
    margin: 0;
    color: #4a4a4a;
  }

  .help-text {
    font-family: 'LatoM';
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 15px;
    color: #4a4a4a;

    span {
      font-family: 'Lato';
    }
  }

  .tags {
    padding: 10px 0;
    background: #f9f9f9;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    .tag-container {
      display: flex;
      align-items: center;
      text-align: center;
      padding-left: 15px;

      .tag {
        color: #fff;
        border-radius: 50px;
        padding: 5px 15px;
        margin: 0 5px;
        cursor: pointer;
      }
    }
  }
}

