.nps-info {
  .head {
    font-size: 20px;
    color: #160d2e;
    font-weight: 600;
  }

  ul {
    li {
      display: flex;
      flex-direction: row;
      padding-bottom: 15px;

      .icon {
        margin-right: 20px;
      }

      .text {
        flex: 1;
        s h4 {
          font-size: 20px;
          color: #160d2e;
          font-weight: 600;
        }

        p {
          color: rgb(135, 135, 135);
          font-size: 18px;
          margin: 0;
        }
      }
    }
  }
}

.nps-know-more-header {
  text-align: center;
  margin: 20px auto;

  h4 {
    color: rgb(79, 45, 167);
    text-align: center;
    margin-bottom: 15px;
    cursor: pointer;
  }

  img {
    box-shadow: 0pt 0pt 4pt 1pt rgba(0, 0, 0, 0.05);
    border-radius: 100px;
  }
}

.nps-know-more {
  padding: 15px;
  border-radius: 5px;
  margin: 20px auto;

  .detail {
    .head {
      color: rgb(74, 74, 74);
      text-align: left;
      margin-bottom: 15px;
      font-size: 19px;
      font-weight: 600;
    }

    p {
      color: rgb(135, 135, 135);
      font-size: 16px;
    }
  }
}
