$dark: #0a1d32;
$grey: #767e86;
$light-grey: #d3dbe4;
$primary: rgb(79, 45, 167);
$card-border-radius: 8px;
$card-padding: 50px;
$card-padding-mobile: 40px;
$background: #F9F9F9;

@mixin animatedDelay($n, $delay) {
  @for $i from 1 through $n {
    .animated:nth-child(#{$i}) {
      animation-delay: #{$i * $delay}s;
    }
  }
}
.circularExpand {
  transition: clip-path 0.8s ease-in-out;
}

.iwd-bg-fixed {
  position: fixed;
  width: 100%;
}

.expand {
  clip-path: circle(100%);
}
.shrink {
  clip-path: circle(0% at bottom 100px left 120px);
}

.animatedFade,
.animatedFadeChildren * {
  @extend .animated, .animatedFadeInUp, .fadeInUp;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  animation-delay: 1s;
  -webkit-animation-fill-mode: both;
}

.animatedFadeInUp {
  opacity: 0;
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.fade {
  animation: fade 0.6s ease-in-out;
  animation-name: fade;
  -webkit-animation-name: fade;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@include animatedDelay(10, 0.6);

.iwd-text-field {
  font-family: 'Poppins', 'Roboto', sans-serif !important;
  background-color: rgba(white, 0.2);
  height: 60px !important;
  box-sizing: border-box !important;
  border-radius: 4px;
}

.iwd-text-field-input {
  font-size: 15px !important;
  line-height: 24px !important;
  padding: 18px !important;
  height: 100% !important;
  color: white !important;
  box-sizing: border-box !important;
}

#iwd-login {
  *:not(.MuiCircularProgress-root):not(.MuiCircularProgress-circle):not(.MuiTouchRipple-root):not(.MuiTouchRipple-ripple) {
    @extend .fade;
  }

  display: flex;
  height: 100%;
  font-family: 'Poppins', 'Roboto', sans-serif !important;

  .iwd-help-btn {
    background-color: rgba($primary, 0.1);
    border-radius: 100px;

    .iwd-help-btn-label {
      color: var(--primary);
      text-transform: uppercase;
      font-weight: 600;
      font-size: 11px;
      line-height: 21px;
      letter-spacing: 2px;
    }
  }

  #iwd-login-left {
    background-color: white;
    flex: 1;
    padding: 70px 100px;

    #iwd-ll-hero-text {
      font-size: 50px;
      line-height: 70px;
      margin-bottom: 30px;
      margin-top: 130px;
      color: var(--primary);
    }

    #iwd-ll-divider {
      border-bottom: 2px solid #4ad0c0;
      width: 40px;
      margin-bottom: 20px;
    }

    #iwd-ll-subtext {
      font-size: 15px;
      line-height: 24px;
      color: #767e86;
    }

    .iwd-ll-help {
      position: absolute;
      bottom: 70px;
      left: 100px;
    }
  }

  #iwd-login-right {
    background: linear-gradient(90deg, #4f2da6, #6a2da6);
    width: 44%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 5% 9%;
    box-sizing: border-box;

    @include animatedDelay(10, 0.3);

    #iwd-ll-login-container {
      width: 100%;

      .iwd-phone-input-dropdown {
        li > span.country-name {
          color: $grey;
        }

        li > span.dial-code {
          color: rgba($dark, 0.8);
        }
      }
    }

    img {
      position: absolute;
      bottom: 0;
      width: 100%;
    }

    .iwd-lr-help {
      display: none;
    }
  }
}

#iwd-main {
  font-family: 'Poppins', 'Roboto', sans-serif;
  height: 100%;
  width: 100%;
  background: #f9f9f9;
  backdrop-filter: blur(70px);
  background-size: cover;

  *::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: hsla(257, 58%, 73%, 0.4);
    border-radius: 5px;
  }

  *::-webkit-scrollbar-thumb {
    border-radius: 2.5px;
    background-color: hsla(257, 58%, 70%, 1);
  }
}

.iwd-page {
  padding: 40px 40px 40px 120px;
  height: 100%;
  box-sizing: border-box;
  transition: background 0.2s ease-out;
}

.iwd-card {
  background: white;
  border-radius: $card-border-radius;
  padding: $card-padding;
  box-sizing: border-box;
}

.iwd-card-header {
  font-weight: bold;
  font-size: 17px;
  line-height: 27px;
  color: $dark;
  margin-bottom: 40px;
}

.iwd-scroll-contain {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  height: 75%;
  margin-right: -25px;
  padding-right: 25px;
  box-sizing: border-box;
  overflow-y: auto;
  width: 100%;
}

.iwd-scroll-child {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  scroll-snap-align: start;
  margin-bottom: 200px;
}

.iwd-scroll-child:nth-last-child(1) {
  margin-bottom: 50px;
}

.iwd-header-title {
  color: $dark;
  font-weight: bold;
  font-size: 30px;
  line-height: 40px;
  text-transform: capitalize;
}

.iwd-header-subtitle {
  color: $grey;
  font-size: 11px;
  line-height: 18px;
}

#iwd-dashboard {
  background: var(--primary);

  .iwd-header-title {
    color: white;
  }
  .iwd-header-subtitle {
    color: $light-grey;
  }
  .iwd-dashboard-pg1 {
    .iwd-header-subtitle {
      display: none;
    }
    .iwd-header-title {
      color: $dark;
    }
  }
  .fisdom-ecb-error-title, .fisdom-ecb-error-text {
    color: white;
  }
  .iwd-card {
    .fisdom-ecb-error-title, .fisdom-ecb-error-text {
      color: #767E86;
    }
  }
  .fisdom-ecb-btn {
    background-color: #c0aeea;

    .MuiButton-label {
      color: $primary;
    }
  }

  #iwd-d-numbers {
    height: 90%;
    width: 55%;
    flex: 1 0 55%;
    background: white url('../../assets/bg_waves.svg') bottom no-repeat;
    background-size: contain;
    border-bottom-left-radius: 40px;
    margin-right: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;

    .iwd-dn-box {
      flex: 0 1 28%;
      text-align: left;

      .iwd-dnb-value {
        font-size: 30px;
        line-height: 40px;
        color: $dark;
      }

      .iwd-dnb-label {
        font-size: 11px;
        line-height: 18px;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin-top: 10px;
        color: $grey;
      }
    }

    .iwd-dn-box:nth-child(1) {
      flex: 1 1 100%;
      font-weight: bold;
      margin-bottom: 50px;

      .iwd-dnb-label,
      .iwd-dnb-value {
        color: var(--primary);
      }
      .iwd-dnb-label {
        font-weight: 600;
      }
    }
  }

  #iwd-d-asset-alloc {
    height: 90%;
    width: 40%;

    #iwd-daa-graph {
      display: flex;
      align-items: center;

      #iwd-daa-legend {
        display: flex;
        flex-direction: column;
        margin-left: 80px;

        .iwd-daal-item {
          margin-bottom: 40px;
          .label {
            .dot {
              height: 8px;
              width: 8px;
              background-color: #4ad0c0;
              display: inline-block;
              margin-right: 10px;
            }
            font-weight: 600;
            font-size: 11px;
            line-height: 18px;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #4ad0c0;
          }
          .value {
            font-size: 30px;
            line-height: 40px;
            color: $dark;
            margin-top: 3px;
          }
        }

        .iwd-daal-item:nth-last-child(1) {
          margin-bottom: 0;
        }
      }
    }
  }

  #iwd-d-risk {
    width: 55%;
    margin-right: 3%;

    #iwd-dr-data {
      display: flex;
      flex-wrap: wrap;

      .iwd-dr-box {
        padding: 35px 40px;
        flex: 1 0 30%;
        width: 30%;
        box-sizing: border-box;

        .iwd-drb-label {
          font-size: 13px;
          line-height: 21px;
          color: $grey;
          text-align: center;
        }

        .iwd-drb-value {
          font-size: 30px;
          line-height: 40px;
          color: $dark;
          text-align: center;
        }
      }

      .iwd-dr-box.border-bottom {
        border-bottom: 1px solid rgba($light-grey, 0.4);
      }

      .iwd-dr-box.border-right {
        border-right: 1px solid rgba($light-grey, 0.4);
      }
    }
  }

  #iwd-d-newsletter {

    align-self: flex-start;
    background: $primary;
    width: 40%;
    height: auto;
    padding: 34px 50px;
    padding-right: 30px;
    box-sizing: border-box;
    border-bottom-right-radius: 70px;

    .iwd-card-header {
      color: white;
      width: 85%;
      float: left;
    }

    .iwd-dn-btn {
      float: right;
      border-radius: 50%;
      height: 48px;
    }

    #iwd-dn-gist {
      font-size: 15px;
      line-height: 24px;
      color: $light-grey;
      margin-top: 47px;
      clear: both;
    }

    #iwd-dn-issue {
      font-weight: bold;
      font-size: 10px;
      line-height: 13px;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: $light-grey;
      margin-top: 10px;
    }
  }
}

#iwd-holdings {
  .iwd-scroll-contain {
    //padding-left: 270px;
    height: 75vh;
    display: flex;
    flex-wrap: wrap;
  }
}

#iwd-holding-detail {
  font-family: 'Poppins', 'Roboto', sans-serif !important;
  background: white url('../../assets/bg_waves_full_screen.svg') bottom no-repeat;
  background-size: contain;
  padding: 50px 100px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;

  .iwd-hd-header {
    display: flex;
    margin-bottom: 30px;

    img {
      margin-right: 20px;
    }

    .iwd-hdh-title {
      font-size: 13px;
      line-height: 21px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: $dark;
    }

    .iwd-hdh-fund-name {
      font-weight: bold;
      font-size: 30px;
      line-height: 40px;
      color: $dark;
      max-width: 85%;
    }
  }

  .iwd-hd-type {
    font-weight: 600;
    font-size: 11px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $grey;
    margin: 10px 0 30px;
    display: flex;

    .iwd-hdt-divider {
      margin: 0 20px;
    }
  }

  .iwd-hd-info-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -30px;

    .iwd-hd-numbers {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin: 30px 50px 0 0;

      .iwd-hdn-item {
        color: $grey;

        img {
          margin-right: 20px;
        }

        .iwd-hdni-value {
          font-size: 17px;
          line-height: 27px;
        }

        .iwd-hdni-value.current-val {
          color: $dark;
        }

        .iwd-hdni-label {
          font-weight: 600;
          font-size: 11px;
          line-height: 18px;
          letter-spacing: 2px;
          text-transform: uppercase;
        }
      }

      .iwd-hdn-item-divider {
        border-right: 1px solid rgba($grey, 0.2);
        margin: 0 50px;
        height: 25px;
      }
    }

    .iwd-hd-stats {
      display: flex;
      margin-top: 30px;

      .iwd-hds-item {
        font-size: 13px;
        line-height: 21px;
        color: $grey;
        display: flex;
        flex-direction: column;
        margin-right: 60px;
      }
    }
  }

  .iwd-hd-transactions {
    margin-top: 60px;

    .iwd-card-header {
      margin-bottom: 10px;
    }

    .iwd-hdt-table-container {
      max-height: 260px;
      overflow: auto;
    }
  }
}

#iwd-holding-detail-blank {
  @extend #iwd-holding-detail;
  background: white !important;
}

// IWD Analysis Page

#iwd-analysis {
  .iwd-page__analysis {
    background-color: $background;
    font-family: "Poppins";
  }
  
  .iwd-analysis-header-container-left {
    display: flex;
    align-items: center;
  }
  
  .iwd-analysis-header-filters {
    margin-left: 50px;
  }

  .iwd-analysis-graph-left {
    width: 45%;
    height: 90%;
    margin-right: 2%;

    .iwd-agl-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;

      .iwd-chart {
        height: 200px;
        width: 200px;
        margin-right: 5px;
        flex: 0 1 40%;
      }

      .iwd-aglc-legend {
        flex: 1 0 30%;

        .iwd-aglc-legend-child {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-bottom: 40px;
        }

        .iwd-aglc-legend-child:nth-last-child(1) {
          margin-bottom: 0;
        }
      }
    }
  }

  #iwd-rating-exposure {
    width: 55%;

    .iwd-agl-content {
      .iwd-aglc-legend {
        .iwd-aglc-legend-child:nth-last-child(1), .iwd-aglc-legend-child:nth-last-child(2) {
          margin-bottom: 0;
        }
      }
    }
  }

  .iwd-analysis-graph-right {
    height: 90%;
    width: 53%;

    .iwd-agr-content {
      .iwd-chart {
        margin-bottom: 50px; 
      }
    }
  }

  #iwd-sector-alloc {
    .iwd-agr-content {
      .iwd-sector-alloc-legend {
        max-height: 220px;
        overflow-y: auto;

        .iwd-sal-item {
          display: flex;
          justify-content: space-between;
          padding: 16px;

          span {
            display: inline-block;
            font-size: 15px;
            color: $grey;
          }

          .iwd-sali-label {
            font-weight: 500;
          }
        }
      }
    }
  }

  #iwd-maturity-exposure {
    width: 43%;

    .iwd-agr-content {
      .iwd-agrc-legend {
        flex: 1 0 30%;

        .iwd-agrc-legend-child {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-bottom: 40px;
        }

        .iwd-agrc-legend-child:nth-last-child(1), .iwd-agrc-legend-child:nth-last-child(2) {
          margin-bottom: 0;
        }
      }
    }
  }

  .iwd-analysis-button {
    outline: none;
    border: 0;
    box-sizing: border-box;
    border-radius: 100px;
    background-color: #F1ECFF;
    color: $primary;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    display: inline-block;
    height: 30px;
    width: 80px;
    cursor: pointer;
  }

  .iwd-analysis-button__active {
    color: white;
    background-color: $primary;
  }

  .iwd-analysis-button:nth-of-type(2) {
    margin-left: 20px;
  }

  .iwd-analysis-sector-allocation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }

  .iwd-analysis-sector-name {
    color: $grey;
    font-size: 13px;
    line-height: 15px;
    max-width: 70%;
  }

  .iwd-analysis-sector-allocation-percentage {
    color: $dark;
    font-size: 15px;
    line-height: 15px;
  } 

  .iwd-analysis-card {
    width: 100%;
    height: 90%;
  }

  .iwd-analysis-portfolios-equity {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 80%;
    overflow-y: auto;
    overflow-x: auto;
    
    .iwd-analysis-button {
      outline: none;
      border: 0;
      box-sizing: border-box;
      border-radius: 100px;
      background-color: #F1ECFF;
      color: $primary;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: bold;
      display: inline-block;
      height: 30px;
      width: 80px;
    }
    
    .iwd-analysis-button__active {
      color: white;
      background-color: $primary;
    }
    
    .iwd-analysis-button:nth-of-type(2) {
      margin-left: 20px;
    }
    
    .iwd-analysis-top-sector-allocation-list {
      list-style: none;
      width: 70%;
      margin: 0 auto;
    }
    
    .iwd-analysis-top-sector-allocation-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 33px;
    }
    
    .iwd-analysis-top-sector-allocation-name {
      color: $grey;
      font-size: 13px;
      line-height: 15px;
      max-width: 70%;
    }
    
    .iwd-analysis-top-sector-allocation-item:hover {
      font-weight: bold;
    }
    
    .iwd-analysis-sector-allocation-percentage {
      color: $dark;
      font-size: 15px;
      line-height: 15px;
    }
    
    .iwd-analysis-market-cap-allocation-container {
      display: flex;
      flex-direction: column;
    }
    
    .iwd-analysis-card {
      width: 100%;
      height: 90%;
    }
    
    .iwd-analysis-portfolios-equity {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      height: 80%;
      overflow-y: auto;
      overflow-x: auto;
    }
    
    .iwd-analysis-portfolio-stock {
      display: flex;
      width: 50%;
      margin-top: 50px;
      align-items: center;
      main {
        margin-left: 20px;
      }
    }
    
    .iwd-analysis-portfolio-heading {
      color: $grey;
      font-weight: 600;
      font-size: 11px;
      letter-spacing: 2px;
      text-transform: uppercase;
    }

    .iwd-analysis-portfolio-name {
      color: $grey;
      font-size: 17px;
    }

    .iwd-analysis-portfolio-percentage {
      font-size: 15px;
    }
  }
  .iwd-analysis-top-amcs {
    @extend .iwd-analysis-portfolios-equity;
    height: '100%';
  }

  .iwd-analysis-amc-logo {
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    display: block;
  }
  
  .iwd-analysis-amc-name {
    color: $grey;
    font-size: 13px;
  }

  .iwd-analysis-amc-percentage {
    font-size: 17px;
  }
  
  .iwd-analysis-amc {
    width: 33%;
    display: flex;
    align-items: center;
    margin-top: 20px;
    main {
      margin-left: 20px;
    }
  }
  
  .iwd-analysis-debt-holdings {
    @extend .iwd-analysis-portfolios-equity;
  }
  
  .iwd-analysis-debt-holding {
    display: flex;
    align-items: center;
    width: 50%;
    height: 49px;
    margin-top: 50px;
  }
  
  .iwd-analysis-debt-holding-details {
    margin-left: 20px;
    vertical-align: text-top;
  }
  
  .iwd-analysis-debt-holding-logo {
    background:linear-gradient(135deg,  #AEE5DF, transparent);
    color: #488F87;
    font-size: 20px;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    padding: 8px 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
  }
  
  .iwd-analysis-debt-holding-name {
    color: $grey;
    font-size: 17px;
  }
  
  .iwd-analysis-debt-holding-name {
    color: $grey;
    font-size: 17px;
  }

  .iwd-analysis-debt-holding-percentage {
    font-size: 15px;
  }
}

@media only screen and (min-width: 300px) and (max-width: 1200px) {
  #iwd-login {
    flex-flow: column wrap;
    height: auto;

    .iwd-help-btn {
      background-color: rgba(white, 0.3);

      .iwd-help-btn-label {
        color: white;
      }
    }

    #iwd-login-left {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      padding: 50px 40px;
      width: 100%;
      box-sizing: border-box;

      #iwd-ll-hero-text {
        font-size: 30px;
        line-height: 48px;
        text-align: center;
        margin-top: 50px;
      }

      #iwd-ll-divider {
        margin-bottom: 30px;
      }

      #iwd-ll-subtext {
        text-align: center;
      }

      .iwd-ll-help {
        display: none;
      }
    }

    #iwd-login-right {
      width: 100%;
      padding: 20% 10.5% 10%;
      box-sizing: border-box;
      border-radius: 20px 20px 0 0;

      #iwd-ll-login-container {
        margin-bottom: 240px;
      }

      .iwd-lr-help {
        display: block;
        position: absolute;
        bottom: 65px;
      }
    }
  }

  .iwd-page {
    padding: 20px;
    padding-top: 90px;
  }

  .iwd-card {
    padding: $card-padding-mobile;
    width: 100%;
    height: auto;
    margin-bottom: 40px;
  }

  .iwd-card:nth-last-child(1) {
    margin-bottom: 0;
  }

  .iwd-card-header {
    text-align: center;
  }

  .iwd-scroll-contain {
    scroll-snap-type: none;
    height: 85%;
    margin-right: 0;
    padding: 0;
  }

  .iwd-scroll-contain::-webkit-scrollbar {
    // width: 4px;
    // background-color: hsla(257, 58%, 73%, 0.4);
    // border-radius: 5px;
    display: none;
  }

  .iwd-scroll-contain::-webkit-scrollbar-thumb {
    // border-radius: 2.5px;
    // background-color: hsla(257, 58%, 70%, 1);
    display: none;
  }

  .iwd-scroll-child {
    height: auto;
    flex-direction: column;
    flex-wrap: nowrap;
    scroll-snap-align: none;
    margin-bottom: 40px;
  }

  .iwd-header-title {
    font-size: 20px;
    line-height: 32px;
    text-transform: capitalize;
  }

  #iwd-dashboard {
    #iwd-d-numbers {
      width: 100%;
      flex: 0 0 auto;
      margin-bottom: 40px;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      background-size: auto;
      padding-bottom: 60px;

      .iwd-dn-box {
        flex: 0;
        text-align: left;
        margin-bottom: 20px;

        .iwd-dnb-value {
          font-size: 17px;
          line-height: 27px;
        }

        .iwd-dnb-label {
          margin-top: 0;
        }
      }

      .iwd-dn-box:nth-child(1) {
        margin-bottom: 30px;
        flex: 0;

        .iwd-dnb-value {
          font-size: 30px;
          line-height: 40px;
        }
        .iwd-dnb-label {
          font-size: 11px;
          line-height: 18px;
        }
      }
    }

    #iwd-d-asset-alloc {
      flex: 0 0 auto;
      width: 100%;

      #iwd-daa-graph {
        flex-direction: column;

        #iwd-daa-legend {
          flex-direction: row;
          justify-content: center;
          margin-left: 0px;
          margin-top: 30px;

          .iwd-daal-item {
            margin-bottom: 0px;
            margin-right: 80px;
            text-align: center;

            .value {
              font-size: 17px;
              line-height: 27px;
            }
          }

          .iwd-daal-item:nth-last-child(1) {
            margin-right: 0;
          }
        }
      }
    }

    #iwd-d-risk {
      margin-right: 0;
      margin-bottom: 40px;
      width: 100%;

      #iwd-dr-data {
        display: flex;
        flex-wrap: wrap;

        .iwd-dr-box {
          padding: 35px 40px;
          flex: 1 0 50%;
          width: 50%;

          .iwd-drb-label {
            font-size: 13px;
            line-height: 21px;
            color: $grey;
            text-align: center;
          }

          .iwd-drb-value {
            font-size: 30px;
            line-height: 40px;
            color: $dark;
            text-align: center;
          }
        }
      }
    }

    #iwd-d-newsletter {
      width: 100%;
      padding: 30px 40px;

      .iwd-card-header {
        text-align: left;
        width: 100%;
        float: none;
      }

      .iwd-dn-btn {
        display: none;
      }

      #iwd-dn-gist {
        font-size: 13px;
        line-height: 21px;
        margin-top: 30px;
      }
    }
  }
  
  #iwd-analysis {
    .iwd-analysis-portfolios-equity {
      overflow-y: auto;
      flex-direction: column;
      height: auto;
    }
    .iwd-analysis-amc {
      width: 100%;
    }

    .iwd-analysis-portfolio-stock {
      width: 100%;
      margin-top: 30px;
      justify-content: flex-start;
    }

    .iwd-analysis-header-container-left {
      flex-direction: column;
      align-items: flex-start;
    }

    .iwd-analysis-header-filters {
      margin-left: 0;
    }

    .iwd-analysis-debt-holding {
      width: 100%;
    }

    .iwd-analysis-graph-left {
      width: 100%;
      margin-right: 0;
      margin-bottom: 40px;

      .iwd-agl-content {
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: unset;
        align-items: unset;

        .iwd-chart {
          width: 100%;
          margin-right: 0;
          margin-bottom: 30px;
        }

        .iwd-aglc-legend {
          flex: 1 0 auto;
          width: 100%;

          .iwd-aglc-legend-child:nth-last-child(n) {
            margin-bottom: 20px;
          }
        }
      }
    }

    #iwd-rating-exposure {
      width: 100%;

      .iwd-agl-content {
        .iwd-aglc-legend {
          .iwd-aglc-legend-child:nth-child(n) {
            margin-bottom: 20px;
          }
        }
      }
    }

    .iwd-analysis-graph-right {
      width: 100%;
      .iwd-agr-content {
        .iwd-chart {
          margin-bottom: 50px; 
        }
      }
    }

    #iwd-sector-alloc {
      .iwd-agr-content {
        .iwd-sector-alloc-legend {
          max-height: 265px;

          .iwd-sal-item {
            padding: 14px;

            span {
              font-size: 13px;
              line-height: 21px;
            }

            .iwd-sali-label {
              font-weight: 400;
            }

            .iwd-sali-value {
              color: $dark;
            }
          }
        }
      }
    }

    #iwd-maturity-exposure {
      width: 100%;

      .iwd-agr-content {
        .iwd-agrc-legend {
          justify-content: center;

          .iwd-agrc-legend-child {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 40px;
          }

          .iwd-agrc-legend-child:nth-child(n) {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  #iwd-holdings {
    .iwd-scroll-contain {
      padding-left: 0;
      height: 78vh;
      flex-direction: column;
      flex-wrap: nowrap;
    }
  }

  #iwd-holding-detail {
    background: white url('../../assets/bg_waves.svg') bottom no-repeat;
    padding: 30px 20px;
    text-align: center;
    height: 100%;
    overflow-y: auto;
    box-sizing: border-box;

    .iwd-hd-header {
      flex-direction: column;
      margin-bottom: 30px;
      margin-top: 90px;
      align-items: center;

      img {
        margin-right: 0;
        margin-bottom: 20px;
      }

      .iwd-hdh-title {
        font-size: 13px;
        line-height: 21px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $grey;
        font-weight: 600;
      }

      .iwd-hdh-fund-name {
        font-size: 17px;
        line-height: 27px;
        max-width: 100%;
      }
    }

    .iwd-hd-type {
      display: flex;
      justify-content: center;

      .iwd-hdt-invested {
        order: 3;
      }

      .iwd-hdt-divider {
        display: inline-block;
        margin: 0 30px;
        order: 2;
      }

      .iwd-hdt-scheme-type {
        order: 1;
      }
    }

    .iwd-hd-info-row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      justify-content: space-between;
      margin-top: 0;
      margin-bottom: 40px;

      .iwd-hd-numbers {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 0;
        width: 100%;

        .iwd-hdn-item {
          color: $grey;
          margin-right: 10px;

          img {
            margin-right: 10px;
          }

          .iwd-hdni-value {
            font-size: 15px;
            line-height: 24px;
          }
        }

        .iwd-hdn-item-divider {
          display: none;
        }
      }

      .iwd-hd-stats {
        margin-top: 40px;
        flex-direction: column;
        width: 100%;

        .iwd-hds-item {
          font-size: 13px;
          line-height: 21px;
          color: $grey;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding: 10px 20px;
          margin-right: 0;
          margin-bottom: 10px;
          background: linear-gradient(
            90deg,
            rgba(154, 211, 204, 0.1) 16.15%,
            rgba(154, 211, 204, 0) 100%
          );
        }

        .iwd-hds-item:nth-last-child(1) {
          margin-bottom: 0;
        }
      }
    }

    .iwd-hd-transactions {
      .iwd-card-header {
        text-align: left;
      }
    }
  }
}

//media screen for bigger screens

.iwd-filter-button {
  display: none;
}
@media only screen and (max-width: 450px) {
  .iwd-filter-desktop {
    display: none;
  }

  .iwd-filter-clear {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
  }

  .iwd-filter-button {
    position: fixed;
    z-index: 2;
    bottom: 15%;
    right: 30px;
    display: block;
    width: 60px;
    height: 60px;
  }
}
