.invest-landing {
  padding-bottom: 20px;

  .generic-page-subtitle {
    margin: -10px 0 20px 0;
  }

  .kyc {
    display: flex;
    justify-content: space-between;
    height: 84px;
    margin: 20px 0 30px 0;
    border-radius: 4px;
    padding-left: 20px;
    cursor: pointer;
    background-color: var(--highlight);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.0483186);

    .kyc-card-text {
      .title {
        font-size: 20px;
        color: var(--gunmetal);
        font-weight: bold;
        margin: 21px 0 5px 0;
        font-weight: bold;
        font-size: 13px;
        line-height: 20px;
      }
  
      .subtitle {
        font-size: 13px;
        color: var(--gunmetal);
        margin-bottom: 20px;
        font-size: 13px;
        line-height: 18px;
        display: flex;
        align-items: center;

        .point {
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-color: var(--gunmetal);
          margin-right: 6px;
        }
      }

      .kyc-submitted {
        color: #B39712;
        font-weight: 500;
      }

      .kyc-complete {
        color: var(--secondary);
        font-weight: 700;
      }

      .kyc-rejected {
        color: var(--red);
        font-weight: 500;
      }
    }
  }

  .invest-landing-button {
    font-weight: 700;
    font-size: 11px !important;
    padding: 10px !important;
    width: 140px !important;
    margin: 6px 8px 6px 0;
    letter-spacing: 0.01em;
  }

  .invest-kyc-button:hover {
    background-color: var(--on-hover-secondary-background) !important;
  }

  .invest-card {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 30px 0;
    cursor: pointer;
    padding-right: 0;

    .content {
      flex: 9;
      .title {
        font-size: 16px;
        color: #160d2e;
        font-weight: 600;
      }

      .subtitle {
        color: #767e86;
        font-size: 14px;
        margin: 20px 0 20px 0;
      }
    }

    .image-wrapper {
      flex: 3;
      .invest-card-icon {
        width: 128px;
        height: 128px !important;
      }
    }

   .below-card-description {
      color: var(--steelgrey);
      font-size: 11px;
      line-height: 10px;
      margin-top: -20px;
    }

  }

  .bottom-scroll-cards {
    display: flex;
    overflow: auto;

    .list {
      width: fit-content;
      display: flex;
    }

    .scroll-card {
      margin: 20px 20px 30px 1px;
      width: 220px;
      height: 200px;
      display: flex;
      padding-bottom: 0px;
      padding-right: 0px;
      justify-content: space-between;
      flex-direction: column;
      cursor: pointer;

      .title {
        width: 60%;
        font-size: 20px;
        color: #160d2e;
        font-weight: 600;
      }

      .icons {
        display: flex;
        justify-content: space-between;
        bottom: -15px;
        column-gap: 15px;

        .icon {
          width: 140px !important;
          height: 100px !important;
        }

        img {
          vertical-align: middle;
        }
      }
    }

    .scroll-card:last-child {
      margin-right: 5px;
    }
  }

  .popular {
    border-radius: 6px;
    border: 1px solid #f5f5f4;
    background-repeat: no-repeat;
    background-size: cover;
    height: 178px;
    width: 130px;
    margin: 20px 20px 30px 1px;
    display: flex;
    align-items: flex-end;
    cursor: pointer;

    .title {
      color: #333333;
      line-height: 1.3em;
      font-size: 13px;
      font-weight: 700;
      text-align: left;
      margin: 0 0 -5px 0;
      width: 70px;
    }
  }

  .popular:last-child {
    margin-right: 5px;
  }

  .financial-card {
    padding-right: 20px;
    flex-direction: column;
    margin: 20px 20px 30px 5px;
    width: 275px;
    height: auto;

    .content {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .subtitle {
      color: #4a4a4a;
      font-size: 16px;
      margin: 20px 0 10px 0;
    }

    .invest-landing-button {
      border: 2px solid var(--secondary) !important;
    }

    .ft-icon {
      width: 65px !important;
      height: 65px !important;
    }
  }

  .financial-card:last-child {
    margin: 20px 5px 30px 5px;
  }

  .invest-contact-us {
    text-align: center;
    color: #8d879b;
    padding: 0 10px 20px 10px;
    font-size: 10px;
    font-weight: 700;
  }
}

.invest-main-top-title {
  font-size: 20px;
  color: #160d2e;
  font-weight: 600;
  line-height: 1.5;
}

.invest-landing-background{
  background: #FFFFFF !important;
  .header-title-page{
    background: #FFFFFF !important;
  }
}

.invest-landing-header{
  background-color: var(--primary) !important;
}

.invest-landing-partner-header{
  background-color: var(--header-background) !important;
}