#withdraw-otp-failed {
  .header {
    font-size: 20px;
    color: #160d2e;
    font-weight: 600;
    padding: 0;
  }

  .failed-icon {
    display: block;
    width: 100%;
  }

  .failed-title {
    color: #160d2e;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
    margin-bottom: 30px;
  }

  .failed-subtitle {
    color: #767e86;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px;
  }
}