@mixin flex-space-btwn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fc-wrapper {
  padding: 16px;
  background-color: white;
  box-shadow: 0px 6px 12px -6px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  cursor: pointer !important;

  .fc-divider {
    margin-left: -16px;
    margin-right: -16px;
  }

  .fc-first-row-wrapper {
    display: flex;
    flex-direction: row;
    padding-bottom: 8px;
    align-items: center;

    .fc-heading-text {
      width: 26ch;
    }
    .fc-left-img {
      width: 32px;
      height: 32px;
      margin-right: 16px;
    }
  }
  .fc-description-list {
    @include flex-space-btwn();
    padding-top: 8px;
    .fc-description-item {
      display: flex;
      flex-direction: column;
      margin-right: 16px;
      &:last-child {
        margin-right: 0px;
      }
      .fc-subtitle-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        .fc-description-subtitle-img{
          height: 16px;
          width: 16px;
          margin-right: 4px;
        }
      }
    }
  }

  .fc-tag-wrapper {
    @include flex-space-btwn();
    padding-top: 8px;
    .fc-tag-item {
      margin-right: 16px;
      &:last-child {
        margin-right: 0px;
      }
    }
    .tags-wrapper,
    .label-tag-wrapper {
      cursor: pointer;
    }
  }
}
