.wv-fullscreen-dialog {
  .MuiPaper-root {
    margin: 0 !important;
  }

  .MuiDialogContent-root {
    padding: 0 20px 20px;
  }

  .MuiDialogActions-root {
    padding: 20px !important;
    margin: 0 !important;
    width: 100% !important;
    box-sizing: border-box !important;

    .MuiDialogActions-action {
      margin: 0;
    }
  }
}

.wv-fd-close {
  cursor: pointer;
}

.wv-fd-footer {
  &.wv-fdf-centered {
    display: flex;
    justify-content: center;
  }
}
