.landing-main-wrapper {
  height: 100%;
  background-color: white;

  .oc-progressbar {
    padding: 0px 16px;

    .oc-pb-icon {
      margin-left: 13px;
    }
  }

  .oc-icon-wrapper {
    padding: 35px 0px 60px 0px;
  }

  .oc-content-wrapper {
    padding: 20px 10px 10px 20px;
    border-radius: 24px 24px 0px 0px;
    height: 32vh;
    position: relative;
    margin-top: -24px;

    .oc-bg-wrapper {
      background-repeat: no-repeat;
      background-size: contain;
      min-height: 167px;
      position: absolute;
    }

    .oc-title {
      padding: 20px 30px 8px 20px;
    }

    .oc-subtitle {
      padding: 0px 30px 0px 20px;
    }
  }
}
