.landing-onboarding-wrapper {
  background-color: white;

  .oc-progressbar {
    padding: 0px 16px;

    .oc-pb-icon {
      margin-left: 13px;
    }
  }

  .oc-icon-wrapper {
    padding: 35px 0px 60px 0px;
  }

  .oc-content-wrapper {
    padding: 20px 10px 10px 20px;
    border-radius: 24px 24px 0px 0px;
    height: 32vh;
    position: relative;
    margin-top: -24px;

    .oc-bg-wrapper {
      background-repeat: no-repeat;
      background-size: contain;
      min-height: 167px;
      position: absolute;
    }

    .oc-title {
      padding: 20px 30px 8px 20px;
    }

    .oc-subtitle {
      padding: 0px 30px 0px 20px;
    }
  }
}

.landing-main-wrapper {
  .lmp-platform-motivators {
    background-color: white;
    padding: 26px 16px 38px 16px;

    .swiper-slide {
      width: unset !important;
    }
  }

  .lmw-kyc {
    margin: 24px 16px 16px 16px;
  }

  .lmw-product-list {
    background-color: white;
    padding: 32px 0px 20px 0px;

    .lmw-pl-title {
      padding: 0px 16px;
    }
  }

  .lmw-manage-investments {
    padding: 24px 16px;

    .lmw-mi-title {
      margin-bottom: 24px;
    }
  }

  .lmw-referral-code {
    margin: 0px 16px;
    padding: 16px;

    .lmw-rc-title {
      padding-bottom: 16px;
    }
  }

  .lmw-trust-icon {
    margin: 48px 0px 28px 0px;
  }

  .lmw-partnership {
    margin-bottom: 50px;
  }
}
