.idfc-landing {
  .faq {
    margin: 10px 0;

    .title {
      margin: 10px 10px;
      font-size: 13px;
      color: #767e86;
    }
  }
}

.verify-mobile {
  .mobile {
    margin-bottom: 15px;
  }
}

.verify-mobile,
.otp-verification {
  .subtitle {
    font-size: 13px;
    font-weight: 400;
    color: #767e86;
    margin-bottom: 20px;
    line-height: 22px;
  }
}

.journey-track {
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
}

.check-gold-price {
  margin-top: 10px;

  .img {
    margin: 0 auto 0 auto;
    width: 100%;
  }

  .title {
    font-size: 16px;
    font-weight: 600;
    color: #0a1d32;
    margin: 10px 0 20px 0;
  }

  .content {
    font-size: 14px;
    font-weight: 400;
    color: #767e86;
    line-height: 1.6;
    width: 100%;

    .sub-head {
      font-weight: 600;
      margin-bottom: 10px;
    }

    .points {
      margin-bottom: 30px;
    }

    .sub-pts {
      display: flex;

      .count {
        font-weight: 500;
        width: 5%;
      }

      .subtitle {
        width: 90%;
      }
    }
  }
}

.idfc-loan-calculator {
  margin-top: 40px;

  .total-amount {
    text-align: center;
    padding-top: 20px;
    background-color: var(--highlight);
    color: #0a1d32;
    background-color: yellowgreen;
    margin-right: -20px;
    margin-left: -20px;
  }

  .total {
    font-size: 18px;
    color: var(--primary);
    font-weight: 600;
    margin: 9px 0 31px 0;
    padding-bottom: 20px;
  }
}
