.withdraw-summary-disclaimers {
  margin-top: 40px;
  .title {
    color: #0a1c32;
    font-size: 14px;
    font-weight: 600;
    margin: 0 0 10px 0;
  }

  .disclaimer {
    color: #878787;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.6;
    margin: 10px 0 0 0;
  }
}