.withdraw-summary-exitload .total {
  color: #0a1c32;
}

.withdraw-summary-exitload .title {
  font-size: 16px;
  font-weight: 700;
}

.withdraw-summary-exitload .total {
  margin-top: 15px;
}

.withdraw-summary-exitload.Card {
  background-color: var(--highlight);
  padding: 20px;
  margin: 10px 0 20px 0;
  box-shadow: none;
  border-radius: 6px;
}