
#withdraw-system-summary {
  .tax-summary {
    margin: 40px 0 10px 0;
    font-size: 20px;
    color: #0a1c32;
    font-weight: 600;
  }

  .fund-list {
    display: flex;
    flex-direction: column;
  }
}