//////////Invest Amount ////////////////

.invest-amount-corpus-amount,.invest-amount-corpus-duration,
.invest-amount-input-head,.invest-amount-input-duration{
    text-align: center;
}

.invest-amount-input{

    .invest-amount-input-head{
        margin-bottom: 10px;
        font-size: 16px;       
    }
    .invest-amount-input-duration{
        font-size: 14px;
        margin-top: 10px;
    }

}

.invest-amount-corpus{
    margin-top: 30px;

    .invest-amount-corpus-duration{
        margin-bottom: 10px;
        font-size: 16px;
    }

    .invest-amount-corpus-amount{
        font-size: 24px;
        color: var(--primary);
    }
}
.invest-amount-num{
    input{
        text-align: center !important;
        font-size: 30px;
        
    }
    .MuiInput-underline:before{
        display: none;
    }
    .MuiInput-underline:after{
        width: max-content;
        min-width: 200px;
        margin-left: auto;
        margin-right: auto;

    }
    p{
        text-align: center;
    }
}

/////////End of Invest Amount /////////////


////////Invested Amount /////////////////
.invested-amount-placeholder-icons {
    display: flex;
    padding:15px 0px;
    &>div {
        flex-basis: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
            width: 50px;
        }
        p {
            font-size: 14px;
            color: #d4c5ff;
        }

        &:first-child {
            border-right: 1px solid #e8e8e8;
        }
    }

}

.invest-slider-container {
    display: flex;
    flex-direction: column;
    padding:0px 20px;

    .invest-slider-head {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .invest-slider-range {
        display: flex;
        padding: 10px 0px 20px 0px;
        .invest-slider-stock {
            flex:1 1 30%;
            text-align: center;
            font-size: 16px;
        }
        .invest-slider-ratio-text {
            flex:1 1 40%;
            text-align: center;
            font-size: 12px;
            color: #b2b2b2;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .invest-slider-bond {
            flex:1 1 30%;
            text-align: center;
            font-size: 16px;
            
        }
    }
}
/////// End of Invested Amount ///////////