.tax-filing-carousal {
  position: relative;
}

.tax-filing-carousal .heading2 {
  color: var(--gunmetal);
}

.tax-filing-carousal .pass-through {
  margin: 0;
  color: var(--gunmetal);
  height: 2px;
  font-size: 17px;
  width: 3ch;
  bottom: 0px;
}

.tax-filing-carousal .body-text2 {
  color: var(--gunmetal);
}