.fullHeight {
  height: 100%;
}

.insurance-dot-loader {
  text-align: left !important;
  div {
    margin-left: 2px;
    height: 8px !important;
    width: 8px !important;
  }
}

.plan-summary {
  background: #f8f8f8;
}
.plan-success .Accordion:last-child {
  border-bottom: 0;
}
.plan-success .Accordion {
  border-top-color: #eaeaea;
}
.accident-plan {
  padding: 20px 0;
}
.plan-summary-heading {
  display: flex;
   align-items: center;
   justify-content: space-between;
}
.plan-summary-heading-text {
  color: #160d2e;
   font-size: 20px;
   line-height: 28px;
   font-weight: 500;
   padding: 10px;
}
.plan-summary-mid {
  margin-top: 30px
}
.plan-summary-mid1:nth-child(even) {
  background: #fff;
}
.plan-summary-mid1 {
  display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 15px;
   background: #f8f8f8;
}
.plan-summary-mid1-bg {
  background: #f8f8f8;
}
.plan-summary-mid11 {
  color: #878787;
   font-size: 14px;
}
.plan-summary-mid12 {
  color: #4a4a4a;
   font-size: 14px;
   font-weight: 500;
}
.plan-summary-premium {
  background: #fff;
   margin-top: 20px;
   padding: 15px 15px;
}
.plan-summary-premium-heading {
  color: #4a4a4a;
   font-size: 14px;
   font-weight: 500;
   margin-bottom: 10px;
}
.plan-summary-premium-list {
  display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 10px 0;
}
.plan-summary-premium-list1 {
  color: #878787;
   font-size: 13px;
}
.plan-summary-premium-font {
  font-size: 14px;
  color: #4a4a4a;
}
.plan-summary-premium-list2 {
  color: #878787;
  font-size: 14px;
  font-weight: 500;
}
.plan-summary-premium-amount {
  color: #4a4a4a;
}
.plan-summary .divider {
  height: 1px;
  background: #cecece;
  width: 100%;
  margin: 10px 0;
}
.plan-success {
  margin-bottom: 15px;
}
.plan-success-heading {
  margin: 30px 0;
}
.plan-success-heading-icon {
  text-align: center;
   margin-bottom: 30px;
}
.plan-success-heading-title {
  color: #4a4a4a;
   font-size: 16px;
   font-weight: 700;
   margin-bottom: 10px;
   text-align: center;
}
.plan-success-heading-subtitle {
  color: #878787;
   font-size: 14px;
   line-height: 22px;
}
.AccordionListIcon {
  position: relative;
   top: 2px;
   margin-right: 10px;
}
.AccordionList1 {
  margin-right: 10;
}
.AccordionList {
  display: flex;
   flex-direction: row;
   align-items: center;
   position: relative;
}
.AccordionDescription {
  font-weight: 400;
  padding-left: 30px;
}
.AccordionDescription p {
  color: #878787;
}
.AccordionDescription ul {
  padding: 10px 0;
  padding-left: 20px;
}
.AccordionDescription ul li {
  color: #878787;
  margin-bottom: 10px;
}
.AccordionDescription ul li span {
  font-weight: 700;
}
.plan-summary-accordion {
  margin-top: 10;
   margin-bottom: 30;
}
.AccordionBodyItem {
  color: #878787;
   font-size: 14px;
   font-weight: 400;
}
.AccordionBodyItemBold {
  font-weight: 500;
}
.plan-success-heading-subtitle {
  font-weight: 400;
}
.plan-success-heading-subtitle-bold {
  font-weight: 700;
}
.plan-success .AccordionBody ul li {
  color: #878787;
}
.plan-success .AccordionBody ul li span {
  color: #878787;
}
.payment-failed-icon {
  text-align: center; margin-bottom: 30px;
}
.payment-failed-title {
  color: #160d2e;
   font-size: 14px;
   font-weight: 700;
   margin-bottom: 20px;
   text-align: center;
}
.payment-failed-subtitle {
  color: #878787;
   font-size: 14px;
   line-height: 22px;
   text-align: center;
}
.basic-details-heading {
  color: #160d2e;
   font-size: 16px;
   line-height: 20px;
   font-weight: 500;
   margin-bottom: 10px;
}
.basic-details-subtitle {
  color: #878787;
   font-size: 13px;
}
.checkbox-text {
  color: #a2a2a2;
   font-size: 14px;
}
.bottom-info {
  background: var(--highlight);
  padding: 10px;
  text-align: center;
  border-radius: 6px;
  margin-bottom: 20px;
  color: #6f6f6f;
}
.payment-success-heading {
  display: flex;
   align-items: center;
   padding: 20px 10px;
}
.payment-success-icon {
  margin-right: 15px;
}
.payment-success-title {
  color: #160d2e;
   font-size: 16px;
   font-weight: 700;
   margin-bottom: 10px;
}
.payment-success-subtitle {
  color: #a2a2a2;
   font-size: 14px;
   line-height: 20px;
}
.payment-success-divider {
  height: 2px;
   background: #eaeaea;
   width: 100%;
}
.cover-details-item {
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
}
.cover-details-icon {
  min-width: 70px;
  margin-right: 15px;
}
.cover-details-header {
  font-size: 18px;
  margin-bottom: 10px;
}
.cover-details-text {
  color: #6f6f6f;
  font-size: 14px;
  line-height: 22px;
}
.plan-details-item {
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.plan-details-icon {
  margin-right: 15px;
}
.plan-details-text {
  color: #160d2e;
  font-size: 14px;
  line-height: 22px;
}
.plan-diseases-text {
  background: #f4f3f6;
  padding: 5px 10px;
  border-radius: 5px;
  color: #160d2e;
  font-size: 14px;
  line-height: 22px;
  margin-right: 15px;
}
.plan-details-item.disabled {
  opacity: 0.4;
}
.accident-plan-heading-container {
  margin-top: 10px;
   margin-bottom: 30px;
   padding: 0 15px;
}
.accident-plan-heading {
  display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 10px;
}
.accident-plan-title {
  color: #160d2e;
   font-size: 20px;
   line-height: 28px;
   font-weight: 500;
}
.accident-plan-subtitle {
  color: #24154c;
   font-size: 14px;
   line-height: 22px;
}
.accident-plans {
  background: #f4f3f6;
  /* padding-top: 20px; */
}
.accident-plan-list-container {
  overflow-x: auto;
}
.accident-plan-heading-title {
  padding: 0 15px;
  color: #160d2e;
  font-size: 16px;
  font-weight: 500;
}
.accident-plan-heading {
  color: #160d2e;
   font-size: 16px;
   font-weight: 500;
}
.accident-plan-list {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  min-width: 100%;
  float: left;
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 15px;
}
.accident-plan-list .recommended {
  background: #ff6868;
  color: #fff;
  font-weight: 700;
  font-size: 8px;
  padding: 5px;
  border-radius: 3px;
  position: absolute;
  top: 0;
  right: 0;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.accident-plan-list .card-top-info {
  background: rgb(237, 233, 245);
  color: #4a4a4a;
  font-size: 8px;
  padding: 5px;
  border-radius: 3px;
  position: absolute;
  top: 0;
  right: 0;
  text-transform: lowercase;
  letter-spacing: 0.1px;
}

.accident-plan-item {
  background: #fff;
   border-radius: 5px;
   padding: 15px;
   min-width: 100px;
   box-shadow: 0px 2px 6px 0px rgba(102, 120, 121,0.25);
   margin-right: 20px;
   position: relative;
   border: 2px solid #fff;
   cursor: pointer;
}
.accident-plan-item1 {
  color: #6f6f6f;
   font-size: 10px;
   line-height: 16px;
   margin-bottom: 5px;
   margin-top: 15px;
}
.accident-plan-item2 {
  color: #160d2e;
   font-size: 14px;
}
.accident-plan-item3 {
  margin-top: 30px;
   display: flex;
   align-items: center;
}
.accident-plan-item4 {
  color: #6f6f6f;
   font-size: 10px;
   margin-right: 6px;
}
.accident-plan-benefit {
   font-size: 10px;
   margin-top: 10px;
}
.round-visible-button {
  color: var(--secondary);
  border: 1px solid var(--secondary);
  width: fit-content;
  padding: 5px 10px 5px 10px;
  border-radius: 4px;
  font-weight: 500;
  margin: 7px 0 0 0;
  cursor: pointer;
}
.accident-plan-claim {
  margin: 15px 0;
   display: flex;
   align-items: flex-start;
   padding: 0 15px;
}
.accident-plan-claim-icon {
  margin-right: 10px;
}
.accident-plan-claim-title {
  color: #160d2e;
   font-size: 14px;
   margin-bottom: 10px;
   font-weight: 500;
}
.accident-plan-claim-subtitle {
  color: #6d7278;
   font-size: 14px;
}
.accident-plan-read {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  cursor: pointer;
}
.accident-plan-read-icon {
  margin-right: 10px;
}
.accident-plan-read-text {
  font-size: 13px;
  line-height: 20px;
}
.accident-plan-terms {
  padding: 0 15px;
  margin: 10px 0;
}
.accident-plan-terms-text {
  color: #24154c;
   font-size: 14px;
}
.accident-plan-terms-bold {
   font-weight: 500;
   cursor: pointer;
}
.card {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
}
.report-color-state {
  margin-bottom: 15px;
  display: flex;
  align-items: center;  
}
.report-color-state-title {
  font-size: 10px;
  letter-spacing: 1.82px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  top: 1px;
}
.report-color-state .circle {
  width: 8px;
  height: 8px;
  border-radius: 100px;
  margin-right: 5px;
}
.red {
  color: #d26774;
}
.red .circle {
  background: #d26774;
}
.green {
  color: var(--secondary);
}
.green .circle {
  background: var(--secondary);
}
.yellow {
  color: #f7b500;
}
.yellow .circle {
  background: #f7b500; 
}


.group-insurance-report {
  .top-title {
    color: #0A1D32;
    font-size: 16px;
    margin: 0 0 10px 0;
    font-weight: 700;
  }
  
  
  .report-ins-name {
    color: #767E86;
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: 600;
  }
  

  .report-cover {
    display: flex;
    align-items: baseline;
    flex-direction: column;
  }
  .report-cover-amount {
    color: #767E86;
    font-size: 14px;
    // margin: 0 0 8px 0;
    .sub-text-bold{
      font-weight: 600;
    }
  }
  .report-cover-amount span {
    font-weight: 500;
    margin: 0 5px 0 0;
  }
}
.report-detail-header {
  display: flex;
}
.report-detail-ins-name {
  color: #160d2e;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 10px;
}
.report-detail-status {
  font-size: 14px;
}
.report-detail-header {
  align-items: center;
}
.report-detail-icon {
  background: #f4f4f4;
  padding: 10px;
  border-radius: 3px;
  margin-right: 15px;
}
.report-detail-summary {
  margin-top: 30px;
}
.report-detail-summary-item {
  color: #878787;
  font-size: 14px;
  margin-bottom: 15px;
}
.report-detail-summary-item span {
  font-weight: 700;
}
.report-detail-download {
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 15px;
  padding-top: 15px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.report-detail-download img {
  margin-right:10px;
}
.report-detail-download-text {
  color: var(--secondary);
  font-size: 14px;
  font-weight: 400;
}
.report-detail .Accordion:last-child {
  border-bottom: 0;
}

.group-health-landing {
  .faq {
    align-items: center;
    padding: 10px 0 10px 0;
    cursor: pointer;
  }
  #agreeScroll{
    display: flex;
    align-items: center;
    
    .MuiButtonBase-root{
      width: 20px;
      height: 20px;
      transform: translateX(-18px);
      margin-left: 20px;
      svg{
        width: 20px;
        height: 20px;
      }
    }
    .accident-plan-terms-text{
      transform: translateX(-8px);
    }
  }

  .resume-card {
    padding: 20px;
    margin: 20px 0 20px 0;
    box-shadow: 0px 2px 6px 0px rgba(102, 120, 121, 0.25);
    border-radius: 4px;
    .rc-title {
      color: #0A1D32;
      font-size: 14px;
      font-weight: 500;
      margin: 0 0 20px 0;
    }

    .rc-tile {
      display: flex;
      justify-content: space-between;
    }
    .insurance-type{
      color: #767E86;
      font-size: 12px; 
      padding-top: 2px;
    }
    .rc-tile-left {
        display: flex;
        /* align-items: center; */
        img{
          height: 50px;
          width: 50px;
        }
    }
    
    .rct-title {
        color: #0A1D32;
        font-size: 10px;
        font-weight: 600;
        margin: 4px 0 5px 0;
    }
    
    .rct-subtitle {
        color: #0A1D32;
        font-size: 16px;
        font-weight: 400;
    }
    
    .rc-tile-premium-data {
        margin: 0 0 0 10px;
    }

    .rc-bottom {
      margin: 20px 0 0 0;
    }
    
    .rcb-content {
        color: #767E86;
        font-size: 12px;
        font-weight: 400;
    }
  }


  
  
}

.group-health-top-content-plan-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 20px 0;

  .tc-title {
    color: #0A1D32;
    font-size: 12px;
    line-height: 1.3;
    font-weight: 600;
    margin: 0 0 7px 0;
  }
  .tc-subtitle {
    color: #0A1D32;
    font-size: 20px;
    font-weight: 500;
  }
}


.group-health-plan-list {
  padding: 30px 0 0 0;
  
  .tile {
    margin: 0px 0 30px 0;
    padding: 20px;
    box-shadow: 0px 2px 6px 0px rgba(102, 120, 121, 0.25);
    border-radius: 6px;
    cursor: pointer;
  }
  .info-img {
    position: absolute;
    right: 0px;
  }
  
  .pi-tile {
    display: flex;
  }

  .pi-left {
    color: #0A1D32;
    font-size: 14px;
    font-weight: 400;
    /* margin: 5px 0 5px 0; */
  }

  .pi-tile {
    margin: 5px 0 5px 0;
  }

  .pi-right {
    color: #767E86;
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 0 10px;
  }

  .plan-info {
    position: relative;
  }

  .bottom-cta {
    font-size: 12px;
    background-color: var(--secondary);
    color: white;
    font-weight: 600;
    padding: 15px 15px 15px 15px;
    width: fit-content;
    border-radius: 4px;
    margin: 20px 0 0 0;
    text-transform: uppercase;
  }

}

.group-health-recommendation {
  color: white;
  background: var(--primary);
  width: fit-content;
  font-size: 10px;
  font-weight: 600;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 2px 5px 2px 5px;
}

.group-health-plan-details {
  margin: 0 0 30px 0;

  .tc-subtitle.single-heading{
    margin-top: -32px;
    font-size: 17px  !important;
    font-weight: bold !important;
  }
  .sum-assured-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
    color: #0B1E33;
    font-size: 16px;
    font-weight: 400;
  }
  .copay-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    .ci-left {
      color: #051E35;
      font-size: 14px;
      font-weight: 400;
    }
  }
  span.special-benefit-text {
    color: #0A1D32;
    font-size: 10px;
    font-weight: 400;
    margin: 0 0 0 5px;
  }

  .special-benefit {
      width: fit-content;
      margin: 30px 0 -30px 0;
      padding: 2px;
  }

  .bd-tile {
    display: flex;
    align-items: center;
    padding: 15px 0px 15px 0px;
    border-top: 1px solid #ededed;
    cursor: pointer;
  }

  .bd-content {
      color: #0A1D32;
      font-size: 14px;
      font-weight: 400;
      margin: 0 0 0 20px;
  }

  .bototm-design {
      margin: 0 0 20px 0;
  }
  .settlement-info {
    font-size: 13px;
    font-weight: 400;
    color: var(--primary);
    margin: 0 0 5px 0;
  }
}

.group-health-plan-select-sum-assured {
  margin: 40px 0 0 0;

  .disclaimer-checkbox{
    margin: 100px 20px 0 0;
    color:  #6D7278;
    font-size: 13px;
    line-height: 20px;
    word-wrap: break-word;
    .note-container{
      display: flex;
      p{
        margin: 0
      }
      p:nth-child(1){
        color: #000000;
        margin-right: 5px;
      }
    }
    .check-box-container{
      display: flex;
      align-items: flex-start;
      margin-top: 16px;
      span, svg{
        width: 20px;
        height: 20px;
      }
      p{
      margin: 0 0 0 10px;
      } 
    }
  }
}

.declaration-container{
  margin-left: -12px;
  display: flex;
  align-items: flex-start;
  svg{
    width: 20px;
    height: 20px;
  }
  p{
    font-size: 13px;
    line-height: 21px;
  }
  .Checkbox{
    margin-top: -2px;
  }
}
.group-health-plan-select-floater {

  .detail-info {
    background: var(--highlight);
    padding: 20px;
    margin: 30px 0 0 0;
  
    .di-title {
      color: #767E86;
      font-size: 13px;
      font-weight: 500;
      margin: 0px 0 10px 0;
    }
  
    .flex-between.di-tile {
        color: #767E86;
        font-size: 13px;
        font-weight: 400;
        margin: 10px 0 10px 0;
    }
    .generic-hr {
      border-top: 1px solid #d7d4d4;
      margin: 5px 0 5px 0;
    }
  }
}

.flex-between.pi-tile.premium-summary-bottom{
  margin-bottom: 21px;
}

.insurance-address-container{
.InputField .RadioWithIcon{
  width: 300px;
  font-size: 13px;
  }

  .InputField .same_address{
    margin-bottom: 30px;
  }

}


.group-health-plan-premium-summary {
  margin-bottom: 30px;
  .group-health-top-content-plan-logo {
    justify-content: flex-start;
    .tc-right {
      margin: 0 20px 0 0px;
      max-width: 140px;
      color: grey;
    }
  }
.premium-summary-disclaimer{
  font-weight: 400;
  text-align: center;
  line-height: 18px;
}
  .pi-tile {
    color: #0A1D32;
    font-size: 14px;
    font-weight: 400;
    margin: 15px 0 15px 0;
  }

  .page-title {
      color: #0A1D32;
      font-size: 14px;
      font-weight: 600;
      margin: 20px 0 0 0;
  }

  .nf-info {
    color: #767E86;
    font-size: 13px;
    font-weight: 400;
    margin: -10px 0 0 0;
  }
}

.group-health-how-to-claim {
  padding: 20px 0 20px 0;
  .page-title {
    color: #0A1D32;
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 30px 0;
  }
  
  .ri-tile {
    color: #767E86;
    font-size: 13px;
    margin: 0 0 10px 0;
    line-height: 1.6;
  }
  
  .ri-tile-left {
    font-weight: 500;
  }
  .contact-email {
    color: #767E86;
    font-size: 14px;
    margin: 40px 0 40px 0;
    font-weight: 400;
  }
}

.group-health-select-ped {
  margin: 0 0 50px 0;
}
.MuiDialogActions-root{
  text-align: right;
}
.group-health-final-summary {
  .member-tile {
      display: flex;
      margin: 16px 0 16px 0;
      .mt-right {
        margin: 0 0 0 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .mtr-top {
        color: #0A1D32;
        font-size: 8px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    
    .mtr-bottom {
        color: #767E86;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.6;
        text-transform: capitalize;
    }
  }

  .bottom-content {
    .bct-top {
      display: flex;
      justify-content: space-between;
    }
    
    .bc-tile {
        margin: 10px 0 10px 0;
        padding: 6px 0 15px 0;
        border-bottom: 1px solid #ededed;
        cursor: pointer;
    }
    
    .bct-top-title {
        color: #0A1D32;
        font-size: 14px;
        font-weight: 500;
    }
    
    .bct-content {
        padding: 30px 0 20px 10px;
    }

    .bct-content-address{
      padding: 5px 0 20px 10px;
    }
  
    .bctc-tile {
      margin: 0 0 20px 0;
    }
    
    .title {
        color: #767E86;
        font-size: 10px;
        font-weight: 700;
    }
    
    .subtitle {
        color: #767E86;
        font-size: 14px;
        font-weight: 400;
        margin: 7px 0 0 0;
        line-height: 1.3;
    }
  }
}

.group-health-life-insurance{
  .member-tile-fyntune {
    display: flex;
    margin: 15px 0 15px 0;
    .mt-right-fyntune {
      margin: 0 0 10px 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }
  
  .mtr-top-fyntune {
      color: #0A1D32;
      font-size: 10px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 3px;
      letter-spacing: 1px;
  }
  
  .mtr-bottom-fyntune {
      color: #767E86;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.6;
      text-transform: capitalize;
   }
  }
}

.group-health-bmi-dialog {
  .top-content {
    align-items: center;
    margin: 0 0 30px 0;
  }
  .content-mid {
    color: #767E86;
    font-size: 14px;
    font-weight: 400;
    margin: 10px 0 10px 0;
    line-height: 1.6;
  }

  .content-bottom {
      color: #767E86;
      font-size: 12px;
      font-weight: 400;
      margin: 20px 0 20px 0;
      line-height: 1.2;
  }

  .content-large-offline-page{
    color: #767E86;
    font-size: 12px;
    font-weight: 400;
    // margin: 20px 0 20px 0;
    line-height: 24px;
  }
}


.group-health-insurance-entry{
.insurance_plans{
  display:flex;
  align-items: center;
  border-bottom-width: 1px;
  border-bottom-color:#EFEDF2 ;
  // padding-bottom: 15px;
  justify-content: space-between;
  cursor: pointer;
  .recommended-tag{
    font-size: 9px;
    display: inline-block;
    margin-left: 5px;
    background-color: #5240A7;
    color: white;
    padding: 0.1px 4px;
    border-radius: 4px;
    font-weight: 700;
    letter-spacing: 0.5px;
    transform: translateY(-2px);
  }
}

  .insurance_plans_types{
    display: flex;
    padding: 0 10px;
  }
  
  .insurance_plans_logos{
    margin-right:25px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
  }

  .insurance_plans_logos_small{
    margin : 20px 25px 0px 3px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    padding-left: 3px;
    padding-right: 3px;
  }
  
  .insurance_plans_logos_text{
    color: #160d2e;
    font-size:16px;
    margin-bottom: 5px; 
    font-weight: 500;
  }
  
  .insurance_plans_logos_subtext{
   color: #757474;
   font-weight: 400; 
   font-size: 13.6px;
  //  margin-top: 8px;
  }
  .health_insurance{
    font-weight: 500;
    padding: 0 10px;
    color: #160d2e; 
    font-size: 17px;
    margin-bottom: 16px;
    margin-top: 10px;
  }
}

.group-health-how-to-claim-religare{
  padding: 20px 0 20px 0;
  .ri-tile {
    color: #767E86;
    font-size: 14px;
    margin: 0 0 10px 0;
    line-height: 1.6;
  }
  .ri-tile-right_details{
    color: #0A1D32;
  }
  .ri-tile-left {
    color: #0A1D32;
    font-weight: 500;
  }
  #contact-no{
    color: #2d75f7;
    font-weight: bold;
  }
  #remb-claim{
    margin-top: 20px;
  }
  #cashless-claim{
    margin-top: 20px;
  }
  .contact_mail{
    color: #0A1D32;
  }
}

#loaderModal {
  .loader-in-dialog-content {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: #fff; 
    border-radius: 4px; 
    min-width: 320px; 
    padding: 25px; 
    text-align: center;

    .loader-container {
      padding: 20px 0;

      img {
        width: 30%;
        height: 30%;
      }
    }
    .message {
      color: #444;
    }
  }
}
.disable-get-the-plan{
  opacity: 0.4;
}

.call-back-popup-button{
  padding: 10px 0;
  width: 100%;
  margin-bottom: -5px;
  background-color: #35CB5D;
  color: white;
  border: none;
  padding: 16px 0;
  border-radius: 5px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.1px;
  text-transform: uppercase;
}
.call-back-popup-heading{
  margin-left: 10px;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

#call-back-mobile-number{
  font-size: 14px;
  padding-left: 32px;
  font-family: 'Roboto';
}
.mobile-number-prefix{
  position: absolute;
  display: inline;
  font-family: 'Roboto';
  font-size: 14px;
  top: 34.4px;
  left: 2.8px;
  color: #a3a3a3;
}
.hi-landing-banner{
  background-image: linear-gradient(0deg, #FFF0AC, #FBCF00);
  width: 100%;
  padding: 6%;
  margin: -15px 5px 30px 0;
  position: relative;
  min-height: 195px;
  border-radius: 4px;
  .hi-landing-banner-img{
    position: absolute;
    right: 6%;
    bottom:10%;
  }
  .hi-landing-banner-header{
    font-size: calc(20px + 0.5vw);
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    color: #8C0E1E;
    margin: 0;
    padding-bottom: 12px;
  }
  .hi-landing-banner-text{
    font-size: calc(11px + 0.2vw);;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
    opacity: 0.9;
    margin: 0;
    color: #00335D;
  }
  .button{
    position: absolute;
    bottom:10%;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 1px;
    text-align: center;
  }
}


.advisory-entry-container{
  width: 100%;
  margin: 20px 0;
  position: relative;
  img{
    width: 100%;
    object-fit: cover;
  }
  .adivsory-card-heading{
    position: absolute;
    left: 6.5%;
    padding-right: 30px;
    top: 2%;
    font-weight: bold;
    font-size: calc(14px + 1vw);
    line-height: 160%;
  }
  .advisory-entry-button{
    position: absolute;
    padding: 14px 18px;
    left: 6%;
    top: 58%;
    font-size: 12px;
    font-weight: bolder;
    letter-spacing: 0.5px;
    cursor: pointer;
    color: white;
    border: none;
    background-color: #35CB5D;
    border-radius: 5px;
  }
}

.advisory-landing-container{
  width: 100%;
  height: 100%;
  position: relative;
  img{
    position: relative;
    width: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
  }
  .advisory-entry-hero{
    width: 100%;
    object-fit: cover;
  }
  .advisory-hero-desc{
    color: #767E86;
    margin: 20px 0 30px 0;
    line-height: 20px;
  }
  .advisory-landing-title{
    position: absolute;
    font-family: 'Roboto';
    top: 7%;
    left: 20px;
    font-size: 26px;
    font-weight: bold;
    color: #160D2E;
  }
  .steps-to-follow-container{
    margin-bottom: 50px;
    .FiveStepPlan-Container {
      .FiveStepPlan-title{
        padding: 10px 0;
        font-size: 15px;
        font-family: 'Roboto';
        color:rgb(0, 0, 0)
      }
      .FiveStepPlan-subtitle{
        font-size: 15px !important;
      }
      .FiveStepPlan-Number{
        padding: 6px 10px;
      }
    }
  }
  
}

.advisory-title-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #0A1C32;
  font-weight: 700;
  min-height: 50px;
  font-size: 20px;
  text-align: left;
  transition: 0.3s transform ease-in-out;

  span{
    color: #767E86;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
  }
}

.advisory-basic-details-container{
  margin-bottom: 50px;
  
  .InputField.adv-drop-down{
    margin-bottom: 5px;
  }
  .InputField{
    margin-bottom: 30px;
    .RadioWithIcon{
      color: #767E86;
    }
  }
  
  .advisory-basic-dependents{
    margin-top: -18px;
    position: relative;
    .CheckBlock2{
      margin-top: -32px;
    }
  }
}
.advisory-liability-details-container{
  .InputField{
    margin-bottom: 30px;
  }
  #loan_amount, #total_amount{
    padding-left: 12.5px;
  }
  .InputField{
    .RadioWithIcon{
      color: #767E86;
    }
  }
}

.advisory-recommendations-container{
  margin-top: -18px;

  .advisory-sub-text{
    color: #767E86;
    font-size: 14px;
    line-height: 22px;
  }
  .advisory-variable-text{
    text-align: center;
  }
  .rec-profile-container{
    border: 1.5px solid #c8c8c8;
    border-radius: 5px;
    padding: 18px 15px;
    margin-top: 20px;

    .rec-profile-heading{
      font-size: 16px;
      color: #160D2E;
      font-weight: 700;
      margin-top: 0;
    }
    .rec-profile{
      display: flex;
      align-items: flex-start;

      .rec-profile-right{
        padding-left: 15px;
        margin-top: 5px;
        color: #767E86;
        font-weight: 500;
        font-size: 17px;

        p{
          margin: 0 0 10px 0;
        }
      }
    }
  }

  .recommendation-result{
    margin-bottom: 40px;
    
    .adequate-coverage-container{
      background-color: #FAF9FE;
      margin: 0 -20px 0 -20px;
      padding: 10px 20px 20px 20px;
      .top-row{
        display: flex;
        align-self: center;
        img{
          margin-right: 10px;
        }
        p{
          font-size: 15px;
          line-height: 18px;
        }
      }
      button{
        cursor: pointer;
        margin-top: -10px;
        font-size: 12.8px;
        font-family: 'Rubik', sans-serif;
        font-weight: bold;
        letter-spacing: 1px;
        padding: 18px 0;
        transform: translate(-4px, -4px);
      }
    }

    .disable-get-the-plan{
      opacity: 0.4;
    }

    .recommendation-info-container{
      margin-top: 20px;
      margin: 0 -20px 0 -20px;
      padding: 10px 20px 20px 20px;
      background-color: #FAF9FE;
      .recommendation-info{
        margin-bottom: 5px;
        .recommendation-info-heading{
          font-size: 14px;
          color: #767E86;
        }
        .recommendation-info-value{
          font-size: 14px;
          color: #160D2E;
          font-weight: bold;
          transform: translateY(-6px)
        }
      }
      .recommendation-cta-container{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12.8px;
        letter-spacing: 1px;
        font-weight: bolder;
        .more-details{
          color: #35CB5D;
          width: 100%;
          cursor: pointer;
          margin-right: 6px;
          text-align: center;
        }
        .get-the-plan{
          background-color: #35CB5D;
          color: #FFFFFF;
          text-align: center;
          width: 100%;
          border-radius: 5px;
          cursor: pointer;
          padding: 18px 22px;
        }
      }
      
    }
  }
  .recommendation-extras{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: -20px;
    color: #35CB5D;
    font-weight: bold;
    .download-report{
      align-self: flex-start;
      flex: 0.48;
      text-align: center;
      border-right: #D6D6D6 2px solid;
      span{
        cursor: pointer;
      }
    }
    .email-report{
      flex: 0.52;
      text-align: center;
      span{
        cursor: pointer;
      }
    }
  }
}
.more-details-container{
  .more-details-heading{
    font-size: 16px;
    color: #160D2E;
    font-weight: bold;
    margin: 0px;
  }
  .call-back-popup-button{
    width: 100%;
    transform: translateX(-5px);
    margin: 0;
    padding: 18px 0;
  }

  .coverage-details.align-left{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .individual-coverage-detail{
      margin: 0 40px 0 0px;
    }
  }
  .coverage-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .individual-coverage-detail{
      text-align: left;
      .coverage-detail-heading{
        color: #767E86;
        font-size: 14px;
      }
      .coverage-detail-value{
        color: #160D2E;
        font-size: 14px;
      }
    }
  }
  .why-recommend{
    margin-bottom: 20px;
  }
  .more-details-sub-heading{
    color: #160D2E;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .more-details-sub-text{
    color: #747D86;
    line-height: 20px;
    text-align: left;
    margin: 0;
  }
  .more-details-bullets{
    display: flex;
    align-items: center;
    .diamont-bullet-text{
      color: #747D86;
      text-align: justify;
      margin: 5px 0;
    }
    .diamond-bullet{
      width: 5px; 
      height: 5px; 
      background-color: #767E86;
      margin-right: 10px;
      transform: matrix(0.78, 0.7, -0.6, 0.9, 0, 0) rotate(6deg);;
    }
  }
  
}
.email-report-container{
  margin-top: -40px;
  .email-report-heading{
    font-size: 22px;
    color: #160D2E;
    font-weight: bold;
  }
  .email-report-sub-text{
    color: #8D879B;
    font-size: 14px;
    line-height: 21px;
    margin-top: -10px;
    margin-bottom: 20px;
  }
}

.advisory-income-details-container{
  #income, #expense{
    padding-left: 12.5px !important;
  }
  .InputField{
    margin-bottom: 30px;
  }
}

.advisory-asset-details-container{
  .InputField#asset-question{
    margin-bottom: 30px;
    position: relative;
    width: 100% i !important;
    .MuiGrid-spacing-xs-16{
      width: 100%;
      .MuiGrid-item{
        width: 100%;
        .RadioWithIcon{
          display: inline-block;
          width: 140%;
          line-height: 20px;
          
        }
      }
    }

  }
  .InputField{
    .RadioWithIcon{
      color: #767E86;
    }
  }
  #asset_amount, #health_cover_amount, #term_cover_amount, #critical_cover_amount, #corona_cover_amount{
    padding-left: 12.5px;
  }
}