// Account already exists Dialog
.account-already-exists-container {
  .text {
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0px;
    color: #767e86;
  }
  .details {
    display: flex;
    align-items: center;
    flex-basis: 40%;
  }
}
// End of Account already exists Dialog

// Verify Details Dialog
.verify-details-container {
  .details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .text {
      font-size: 13px;
      font-weight: 400;
      line-height: 21px;
      letter-spacing: 0px;
      color: #767e86;
      padding-left: 10px;
    }
  }
}

