#kyc-bank-kyc-upload-docs {
  .banner {
    padding: 20px;
    margin: 20px 0;
    background-color: #f6f2ff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
  }
  .banner .title {
    font-size: 11px;
    color: #767e86;
    line-height: 20px;
    font-weight: normal;
  }
  .banner .left {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 20px;
  }

  .banner .acc_no {
    font-size: 13px;

    .value {
      line-height: 15px;
      color: #160d2e;
      margin-top: 2px;
    }
  }

  .banner .left .icon {
    width: 20px;
    height: 20px;
    margin-right: 20px;
  }

  .subtitle {
    font-size: 13px;
    line-height: 21px;
    color: var(--steelgrey);
    padding: 0 15px 0 0;
    margin-bottom: 10px;
  }
  
  .kyc-upload-doc-options {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    line-height: 1.5;
    padding-bottom: 20px;
    column-gap: 10px;
    row-gap: 10px;

    .kyc-upload-doc-option-type {
      color: #160d2e;
      border: 1px solid #767e86;
      padding: 9px 10px;
      font-size: 13px;
      border-radius: 4px;
      margin: 10px 10px 0 0;
      min-width: 130px;
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      max-height: 40px;
      align-items: center;
    }

    .kyc-upload-doc-option-type:nth-child(3) {
      min-width: 170px;
    }

    .disabled-doc {
      border-color: #9b98a2;
      color: #9b98a2;
    }

    .selected-doc {
      color: var(--primary);
      border-color: var(--primary);
      font-weight: 600;

      .kyc-upload-doc-check-icon {
        width: 10px;
        margin-left: 10px;
        height: 10px;
      }
    }
  }

  .banner .edit {
    color: var(--secondary);
    font-weight: 700;
    cursor: pointer;
    font-size: 12px;
    letter-spacing: 1px;
  }

  .doc-title {
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: var(--default);
  }

  .docs-image-container {
    padding: 10px;
    max-width: 100%;
    background: #f5faff;
    border-radius: 4px;
    margin-bottom: 30px;
    margin-top: 20px;
  }

  .docs-image-container .preview {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #f6f2ff;
  }

  .sign-img {
    display: block;
    width: 56.15px;
    height: 48.72px;
  }

  .preview-image {
    display: block;
    width: 100%;
    object-fit: contain;
  }

  .upload-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    // position: relative;
    cursor: pointer;

    .button-container {
      margin-top: 10px;
      width: 100%;
    }
  }

  .upload-container svg {
    fill: var(--secondary);
  }

  .upload-container .upload-action {
    color: var(--secondary);
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 800;
    margin-top: 3px;
  }

  .camera-upload-container {
    display: flex;
    padding: 30px 0;

    .upload-container {
      width: 50%;
      text-align: center;
    }

    .upload-container:first-child {
      border-right: 1px solid #e1e1e1;
    }
  }

  .sample-document {
    margin-top: 30px;
    text-align: center;
    cursor: pointer;

    .wv-clickable-text-elem {
      font-size: 8px;
    }
  }

  .ssl-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 40px 0;
  }
}

.kuc-sign-image-container {
  position: relative;
  border-radius: 6px;
  background-color: white;
  margin-bottom: 5px;

  .kuc-sign-image {
    height: 130px;
    width: 152px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 0;
  }
}
