.sip-date-selector-sheet {
  .sip-date-selector-wrapper {
    padding: 16px;
  }
  .selector-list-wrapper {
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      display: none;
    }

    .selector-item-wrapper {
      padding: 8px 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      position: relative;
      .selected-date-text {
        position: absolute;
        right: 30%;
      }
    }
  }

  .sip-title-wrapper {
    position: relative;
    margin-bottom: 16px;
    > button {
      position: absolute;
      padding: 0px;
      left: 0;
    }
    > p {
      flex: 1;
    }
  }
}

@media only screen and (max-width: 600px) {
  .sip-date-selector-sheet {
    .sip-date-selector-wrapper {
      padding: 16px;
    }
    .selector-list-wrapper {
      max-height: 200px;
      overflow-y: auto;
      overflow-x: hidden;
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */

      &::-webkit-scrollbar {
        display: none;
      }

      .selector-item-wrapper {
        padding: 8px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        .selected-date-text {
          position: absolute;
          right: 60px;
        }
      }
    }
  }
}
