#digilocker-success {
  .page-title {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
  }

  .esign-steps {
    margin-top: 30px;
  }

  .esign-steps .doc {
    margin-bottom: 30px;
  }

  .esign-steps .doc .doc-name {
    font-size: 15px;
    line-height: 18px;
    color: #8d879b;
    margin-left: 20px;
  }

  .footer {
    margin: 30px 0 20px 0;
  }

  .footer .bottom-text {
    color: #767e86;
    font-size: 8px;
    line-height: 9px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
  }

  .footer .bottom-image {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
  }
}

#digilocker-failed {
  padding-bottom: 100px;

  .page-title {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
  }

  .digi-image {
    display: block;
    object-fit: contain;
    min-width: 314px;
    max-width: 100%;
    margin: 30px auto 20px auto;
  }

  .body-text1 {
    font-size: 13px;
    line-height: 22px;
    color: #8d879b;
  }

  .body-text2 {
    font-size: 13px;
    line-height: 22px;
    color: #8d879b;
    margin-top: 10px;
  }
}