.something-went-wrong-container {
  .container-content-wrapper {
    height: 80%;
    .something-went-wrong-wrapper {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}
