.category-title{
    font-size: 20px;
    margin-bottom: 24px;
    font-weight: 700;
}

.react-responsive-carousel{
    margin: "0 0 0 0";
    cursor: "pointer";
    height: 500px; 
    width: 100%;
}