.category-title {
  font-size: 20px;
  margin-bottom: 24px;
  font-weight: 700;
}

.category-subtitle {
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
}
.category-description {
  font-size: 13px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0px;
  color: #767e86;
  .category-desc-button {
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 1px;
    color: #3792fc;
    cursor: pointer;
  }
}

.react-responsive-carousel {
  width: 100%;
  margin-bottom: 45px;
}

.educational-video-block {
  background-color: #002576;
  color: white;
  width: 100%;
  padding-bottom: 20px;
  p{
    margin: 0;
    padding: 0;
  }
  .info-container{
     width: 100%;
     display: flex;
     justify-content: space-around;
     align-items: center;
     padding: 30px 0px;
    p{
      color: #94C5FF;
      font-size: 13px;
      font-weight: 400;
      line-height: 21px;
      letter-spacing: 0px;
      text-align: center;
    }
    .info-block{
      width: 60px;
      display: flex;
      flex-direction: column;
      align-items: center;
      div{
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-image: radial-gradient(50% 50% at 50% 50%, rgba(0, 33, 72, 0.06) 0%, rgba(255, 255, 255, 0.06) 100%);
        margin-bottom: 10px;
      }
    }
  }
}

.player-wrapper {
  padding: 0px 20px;

}

// .react-player {
//   top: 0;
//   margin: 0 auto;
//   left: 50%;
//   transform: translate(-50%, 0);
//   position: absolute;
//   z-index: 1;
// }

// .play-icon {
//   margin-top: 50px;
// }

.play-info {
  max-height: 150px !important;
  width: auto;
}

.content-main{
  padding: 10px 20px !important;
  background-color: white;
  z-index: 1;
  border-radius: 7px;
  margin-top: -25px !important;
}