// Passive Fund Chart Styles
.passive-funds-details{
  .tooltip-container {
    background-color: #fff;
    padding: 10px 10px;
    border-radius: 4px;
  }
  .date {
    text-align: center;
  }
  .dot {
    background-color: #7ed321;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    align-self: center;
    margin-right: 5px !important;
  }
  .next-line-container {
    display: flex;
    align-items: center;
  }
  .date {
    font-size: 10px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 1px;
    text-align: center;
    color: #767e86;
    padding: 0;
    margin: 0;
  }
  .content {
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: 0px;
    color: #161a2e;
    padding: 0;
    margin: 0;
  }
  .xaxis-label {
    font-size: 9px;
    font-weight: 600;
    line-height: 9px;
    letter-spacing: 0px;
    fill: #767e86;
    opacity: 0.5;
  }
  .yaxis-label {
    font-size: 9px;
    font-weight: 600;
    line-height: 9px;
    letter-spacing: 0px;
    text-align: right;
    fill: #767e86;
    opacity: 0.5;
  }
}

// Active Passive Carousel
.active-passive-carousel {
  background-image: url("../../../assets/active_passive_background.svg");
  width: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 20px 10px;
  .image {
    display: flex;
    justify-content: center;
    img {
      width: 40px;
      height: 40px;
    }
  }
  .header {
    text-align: center;
    font-size: 13px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0px;
    color: #0a1d32;
  }
  .body {
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
    .left {
      width: 40%;
      .left-title {
        text-align: center;
        font-size: calc(10px + 0.2vw);
        font-weight: 600;
        line-height: 16px;
        letter-spacing: 1px;
        color: #161a2e;
      }
      .content {
        text-align: left;
        font-size: 13px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0px;
        color: #767e86;
      }
    }
    .right {
      width: 40%;
      .right-title {
        text-align: center;
        font-size: calc(10px + 0.2vw);
        font-weight: 600;
        line-height: 16px;
        letter-spacing: 1px;
        color: #4d890d;
      }
      .content {
        text-align: left;
        font-size: 13px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0px;
        color: #767e86;
      }
    }
  }
}
// Key Insights Carousel
.key-insight-carousel {
  background-image: url("../../../assets/passiveFundKeyInsights.svg");
  width: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 20px 20px;
  min-height: 116px;
  .title {
    font-size: 15px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    color: #0a1d32;
    margin-bottom: 10px;
    margin-top: 0;
    text-align: left;
  }
  .content {
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0px;
    color: #767e86;
    text-align: left;
  }
}
