@value secondary: var(--secondary);

.BannerContent {
  top: 50%;
  position: absolute;
  color: white;
  left: 50%;
  transform: translate(-50%, -50%);
}

.BannerText {
  text-transform: uppercase;
  font-weight: 500;
  font-size: small;
}

.SafeGoldImage {
  margin: 5px 0;
}

.SafeGoldImage img {
  width: 150px;
}

.FlexRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.FlexRow2 {
  display: inline-flex;
  /* align-items: center; */
  justify-content: space-between;
}

.helper {
  color: #8ab9e3;
  margin-top: 10px;
  text-decoration: underline;
}

.gold-about-text-know-more {
  margin: 20px 0 20px 0;
  text-align: center;
}

.gold-about-text {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  line-height: 1.3rem;
}

.gold-about-text:last-child {
  margin-bottom: 0;
}

.gold-about-text img {
  margin-right: 15px;
}

.gold-dot {
  min-height: 7px;
  min-width: 7px;
  margin-right: 20px;
  border-radius: 50%;
  border: 2px solid #f0c82f;
}

.about-img-span2 {
  font-size: 14px;
  color: #888181;
}

.about-img-tile-know-more {
  text-align: justify;
}

.gold-about-card {
  position: relative;
  background: #fff;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 0px 0px 10px 0px;
  margin: 0px;
  margin-bottom: 20px;
  border: 1px solid #ececec;
}

.gold-about-card h3 {
  font-size: 16px;
  color: black;
  font-weight: normal;
  margin-top: 0;
}

.BannerBody {
  padding: 15px;
}

.card-padding {
  padding: 15px;
}

.know-more-buy {
  color: #3c3c3c;
}

.about-img-span-know-more {
  font-size: 14px;
  color: #888181;
  line-height: 1.3rem;
}

.gold-about-text-know-more {
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 15px;
  text-align: left;
}

.gold-about-text-know-more img {
  width: 35%;
  margin-bottom: 10px;
}

.goldheader {
  position: relative;
  margin: 0px;
  padding: 20px 15px;
}

.goldheader .my-gold-header {
  background: #fff;
  border-radius: 7px;
  padding-bottom: 20px;
  cursor: pointer;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  padding: 15px;
}

.my-gold-details-header1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.my-gold-details-header2a {
  color: #6e6e6e;
  font-size: 13px;
  margin-bottom: 5px;
}

.my-gold-header .img-mygold {
  width: 30px;
}

.row1 {
  border-bottom: 1px solid #e8e8e8;
  justify-content: space-between;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.my-gold-header .img-mygold2 {
  width: 7px;
}

.buy-info1 {
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 15px;
  margin-bottom: 25px;
}

.buy-info2b {
  color: #6e6e6e;
}

.buy-info3 {
  font-size: 22px;
  margin: 10px 0;
}

.buy-info4 {
  color: #6e6e6e;
}

.timer-green {
  color: green;
}

.buy-input1 {
  margin-bottom: 10px;
}

.input-above-text {
  color: #6e6e6e;
  flex: 1;
}

.input-below-text {
  color: #6e6e6e;
  flex: 1;
  font-size: 11px;
  margin: 5px 0 0 0;
}

.input-box {
  padding: 15px 0;
}

.symbol {
  /*flex: 1;*/
  text-align: center;
  margin: 0 15px;

  /* margin-top: 1%;
  display: flex;
  align-items: center; */
}

.input-box input {
  border-radius: 5px;
  height: 30px;
  padding: 5px 10px;
  border: 1px solid #cfcfcf;
  width: 85%;
}

.or {
  margin-top: 34px;
  width: 10%;
  font-size: 18px;
}

.Input {
  margin: 15px 0;
}

.Input input {
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  padding: 5px;
  height: 30px;
}

.disclaimer {
  color: grey;
  margin-top: 30px;
}

.grey-color {
  color: #6e6e6e;
}

.green {
  color: green;
}

.red {
  color: red;
}

.order-tile {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  top: 100px;
  padding: 10px;
  border: 1px solid #ececec;
}

.order-heading {
  background: #f5f5f5;
  padding: 10px;
  border-radius: 3px;
}

.order-tile-head {
  text-align: left;
  font-size: 20px;
  display: -webkit-inline-box;
}

.order-tile-total1 {
  font-size: 17px;
  color: black;
  /* flex: 1; */
}

.order-tile-other-text {
  color: #6e6e6e;
  font-size: 14px;
  /* flex: 1; */
}

.order-tile-total1-delivery {
  font-size: 17px;
  color: black;
  flex: 1;
}

.order-tile-other-text-delivery {
  color: #6e6e6e;
  font-size: 14px;
  flex: 1;
}

.order-tile2 {
  margin: 14px 0px 16px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stopwatch {
  margin-top: 10px;
  justify-content: flex-end;
}

.stopwatch-order {
  width: 15px;
  position: relative;
  top: -3px;
  right: 3px;
}

.stopwatch-title {
  font-size: 12px;
  color: #6e6e6e;
}

.timer {
  font-size: 16px;
  color: green;
  padding-left: 5px;
}

.invest-success {
  text-align: center;
}

.invest-success h3 {
  color: secondary;
  font-size: 20px;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 10px;
}
.invest-error h3 {
  color: red;
  font-size: 20px;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 10px;
}

.invest-success p {
  color: #878787;
  font-size: 16px;
}

.invoice {
  margin: 0 auto;
  border: 1px solid #c4c4c4;
  padding: 4px 10px 4px 10px;
  margin-top: 12px;
  color: #3d3d3d;
  border-radius: 11px;
  cursor: pointer;
  display: inline-block;
}

.success-card {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.delivery-select-logo,
.delivery-order-logo {
  text-align: center;
  padding: 10px 0;
}

.product-details-content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  color: #6e6e6e;
  margin-bottom: 7px;
}

.product-details-heading {
  font-size: 15px;
  color: black;
  margin: 0 0 20px 0;
}

.delivery.block {
  margin-bottom: 40px;
}

.product-name {
  margin-right: 10px;
  flex: 1;
}

.product-value {
  flex: 1;
}

.delivery ul {
  padding-left: 15px;
}

.delivery ul li {
  line-height: 1.3rem;
}

.error {
  color: red;
}

.MuiTabs-flexContainer {
  display: flex;
  justify-content: space-around;
}

.filler {
  margin-top: 5px;
  color: #6e6e6e;
}

.download-invoice {
  color: #5346a7;
  border: 1px solid #5346a7;
  cursor: pointer;
  border-radius: 2px;
  padding: 5px;
}

.locker-head {
  padding: 10px 15px;
  border-bottom: 8px solid #ecebeb;
}

.locker-head .link {
  /*color: #5346a7;*/
  /*border-bottom: 1px solid #5346a7;*/
  cursor: pointer;
}

.locker-head .block1 {
  justify-content: flex-start;
  flex: 1;
  margin-right: 2px;
  background: #fff;
  border-right: 2px solid #ecebeb;
}

.locker-head .block2 {
  flex: 1;
  background: #fff;
  padding: 10px;
}

.transaction-history {
  justify-content: space-between;
  cursor: pointer;

  .arrow {
    font-size: 16px;
  }
}


.input-box.InputField {
  margin-bottom: 0px;
}
.load-more {
  text-align: center;
  margin-top: 13px;
  font-weight: 500;
  /* color: #5346a7; */
  border: 1px;
}
.buy-order-tile22 {
  margin-left: 20px;
  margin-right: 6px;
}
.gold-offer-terms {
  display: block;
  margin: 10px 0 10px 0;
}
img.gold-offer-slide-img {
  width: 100%;
  border-radius: 6px;
  // height: 165px;
}

.check-how-gold {
  .title {
    color: #0a1c32;
    margin: 0 0 20px 0;
    font-size: 16px;
    font-weight: 500;
  }
  
  .content {
    color: #767e86;
    font-size: 14px;
    font-weight: 400;
  }
  .content-tiles {
    margin: 0 0 10px 0;
    line-height: 1.7;
    text-align: left;
  }
  .chart {
    margin: 10px 0 30px 0;
  }
  .mid-img {
    margin: 0 0 20px 0;
    // height: 192px !important;
    img {
      width: 100%;
    }

    .mid-img-class {
      width: 100%;
      height: 192px !important;
    }
  }
}

.live-price-gold {
  display: flex;
  justify-content: space-between;
  margin: 0 0 20px 0;
  background: var(--highlight);
  padding: 10px 10px 10px 10px;
  align-items: center;
  border-radius: 4px;

  .mid-text {
    color: #767e86;
    font-size: 13px;
    margin: 0 0 0 10px;
  }
  .right-text {
    font-size: 10px;
    color: var(--secondary);
    font-weight: 700;
  }
}


.gold-dialog {
  .hr {
    width: 100%;
    height: 1px;
    background-color: #ededed;
  }
  
  .content-points {
    color: #0a1d32;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    margin: 15px 0 15px 0;
  }
  
  .content2-points {
    color: #0a1d32;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    margin: 15px 0 15px 0;
    font-weight: 600;
  }
  .content2-points-inside-heading {
    margin: 0 0 -10px 0;
    font-size: 11px;
    color: #372e2e;
  }
  .mid-buttons {
    margin: 0 0 20px 0;
  }
}


.gold-payment-container {
  .content-points {
    color: #0a1d32;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    margin: 15px 0 15px 0;
  }

  .content2-points {
    color: #0a1d32;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    margin: 15px 0 15px 0;
    font-weight: 600;
  }
  .mid-title {
    color: #0a1c32;
    font-size: 16px;
    font-weight: 500;
    margin: 0 0 30px 0;
  }
  .hr {
    border: 1px solid #ededed;
  }

  .top-content {
    color: #0A1D32;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
  }

  .karat {
    position: absolute;
    right: 25px;
    color: #767e86;
    font-size: 10px;
    font-weight: 600;
  }
}

.send-invoice {
  display: flex;
  align-items: center;
  margin: 20px 0 0 0;
  cursor: pointer;
  width: fit-content;
  .sent {
    color: #0a1d32;
    font-size: 14px;
    margin: 0 0 0 10px;
  }
  .sent-icon {
    width: 14px;
  }
}

.gold-delivery-select-address {
  margin: 0 -15px 0 -20px;

  .user-name {
    font-size: 14px;
    width: 30px;
    height: fit-content;
    background: var(--primary);
    color: white;
    padding: 5px 0px 7px 0px;
    text-align: center;
    margin: 0 10px 0 0;
    border-radius: 6px;
  }
  .select-addressline {
    color: rgb(122, 118, 118);
    line-height: 1.4;
    font-size: 18px;
    margin-top: -2px;
    width: 100%;
  }
  .action-buttons {
    display: flex;
    align-items: center;
  }
  .er-button {
    color: var(--secondary);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    margin: 5px 8px 0 0px;
  }
  .add-new-button {
    margin: 30px 0 0 26px;
    font-size: 12px;
    color: var(--secondary);
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
  }
  .address-tile {
    display: flex;
    justify-content: start;
    margin: 10px 15px 20px 15px;
    padding: 20px 10px 20px 10px;
    cursor: pointer;
    .right-name {
      color: #0a1c32;
      font-size: 14px;
      font-weight: 700;
      text-transform: capitalize;
      margin: 0 0 10px 0;
    }

    .address-content {
      color: #767e86;
      font-size: 13px;
      font-weight: 400;
    }
  }
  .address-tile-selected {
    margin: 10px 0px 20px 0px;
    background: linear-gradient(to right, #f4f4f4, white);
    padding: 20px 25px 20px 25px;
  }
}

.gold-sell-select-bank {
  margin: 0 -15px 30px -20px;

  .select-bank {
    color: rgb(122, 118, 118);
    line-height: 1.4;
    font-size: 18px;
    /* margin-top: -2px; */
    /* width: auto; */
  }

  .add-new-button {
    margin: 30px 0 0 25px;
    font-size: 12px;
    color: var(--secondary);
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
  }

  .bank-tile {
    margin: 10px 15px 20px 15px;
    padding: 20px 10px 20px 10px;
    cursor: pointer;
    // display: flex;
    // align-items: center;
    // justify-content: start;
  }
  .bank-tile-selected {
    margin: 10px 0px 20px 0px;
    background: linear-gradient(to right, #f4f4f4, white);
    padding: 20px 25px 20px 25px;
  }

  .bank-name {
    color: #0a1c32;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.6;
  }
  .account-number {
    color: #767e86;
    font-size: 14px;
  }
  .primary-bank {
    color: #d3dbe4;
    font-size: 8px;
    font-weight: "bold";
  }
  .left-icon {
    /* width: 10%; */
    float: left;
    margin: 5px 10px 0 0;
  }
}

.gold-delivery-order {
  margin: 0 0 30px 0;
  .top-info-tile {
    display: flex;
    justify-content: space-between;
    margin: 5px -15px 5px -15px;
    padding: 10px 15px 10px 15px;
  }

  .top-info-tile1 {
    color: #091c32;
    font-size: 13px;
  }
  .top-info {
    margin: 0 0 20px 0;
  }
  .dash-hr {
    border: 1px dashed #767e86;
    margin: 0 0 30px 0;
  }

  .hr {
    border: 1px solid #ededed;
  }

  .content-points {
    color: #767e86;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    margin: 15px 0 15px 0;
  }

  .content2-points {
    color: #0a1d32;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    margin: 15px 0 15px 0;
    font-weight: 600;
  }
  .mid-title {
    color: #0a1c32;
    font-size: 16px;
    font-weight: 600;
  }

  .address .content {
    font-size: 13px;
    color: #767e86;
    margin: 2px 0 3px 0;
  }
  .address {
    margin: 15px 0 20px 0;
  }

  .shipping-address {
    cursor: pointer;
    margin: 30px 0 0 0;

    .top-tile {
      display: flex;
      justify-content: space-between;
    }
    .top-title {
      color: #0a1c32;
      font-size: 14px;
      font-weight: 600;
    }
    .top-icon {
      width: 14px;
    }
  }
}

.gold-provider-filter {
  margin: 0 0 20px 0;
  .tile1 {
    margin: 0 0 0px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .tile1-left {
    color: #0a1c32;
    font-size: 20px;
    font-weight: 600;
  }
  .tile1-right img {
    width: 60px;
  }
  .arrow-img {
    margin: 0 0 0 6px;
  }
  .tile2 {
    display: flex;
    justify-content: space-between;
  }
  .tile2-left {
    color: #767e86;
    font-size: 13px;
  }
  .tile2-right {
    color: #767e86;
    font-size: 13px;
  }
  .tile2-right-skelton {
    width: 130px !important;
    height: 10px !important;
  }
}


.gold-aw-inputs {
  margin: 0 0 30px 0;
  input {
    background-color: #f8f8f8;
    padding: 15px 0px 15px 5px;
  }

  input::placeholder {
    text-align: right;
    color: #767e86;
  }

  .gold-placeholder-right {
    color: #767e86;
    line-height: 40px;
    position: absolute;
    right: 5px;
    top: 0px;
    bottom: 0;
    -moz-transition: 0.3s right ease;
    -ms-transition: 0.3s right ease;
    -o-transition: 0.3s right ease;
    -webkit-transition: 0.3s right ease;
    transition: 0.3s right ease;
    z-index: 0;
  }

  .plus-options {
    display: flex;
    justify-content: space-between;
    margin: 0 0 20px 0;
  }

  .plus-tile {
    color: #35cb5d;
    font-size: 12px;
    font-weight: 700;
    border: 1px solid;
    padding: 10px 15px 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    min-width: 40px;
    text-align: center;
  }
}

.gold-aw-tabs {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: auto;
  margin: 30px 0 30px 0;

  .left-radius {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }
  .right-radius {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }
}

.gold-aw-tab {
  color: #767e86;
  /* border-top-right-radius: 6px; */
  padding: 10px 20px 10px 20px;
  background: #f8f8f8;
  font-size: 13px;
  font-weight: 500;
  margin: 0 0 0 -1px;
  cursor: pointer;
}

.gold-aw-tab.selected {
  background: white;
  color: var(--primary);
  cursor: unset;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}

.sell-home {
  button {
    box-shadow: unset;
  }
}

.gold-buy-info-images {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 0 0;
}

.gold-buy-info-images .tile {
  max-width: 78px;
}

.gold-buy-info-images .title {
  color: #767e86;
  font-size: 13px;
}

.gold-buy-info-images .img {
  margin: 0 0 10px 0;
}

.gold-buy-home {
  .page-title {
    color: #0a1c32;
    font-size: 16px;
    font-weight: 500;
  }

  .gst-info {
    color: rgb(118, 126, 134);
    font-size: 8px;
    margin: 7px 0px 0px;
    text-align: center;
    letter-spacing: 1.1px;
    text-transform: uppercase;
  }
}



.gold-bottom-secure-info {
  margin: 50px 0 0 0;
  .content {
    color: #767e86;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
  }
  .images {
    margin: 8px 0 0 0;
    display: flex;
    justify-content: center;
    img {
      margin: 0 10px 0 0;
    }
  }
}



.gold-locker-tabs {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: space-between;
  margin: 0 auto;
  width: auto;
  margin: 20px 0 30px 0;
  .gold-locker-tab {
    color: #767e86;
    // border: 1px solid beige;
    /* border-top-right-radius: 6px; */
    padding: 20px 20px 20px 20px;
    background: #f8f8f8;
    font-size: 13px;
    font-weight: 500;
    margin: 0 0 0 -1px;
    /* autoprefixer: off */
    width: -webkit-fill-available;
    display: flex;
    justify-content: space-between;
    align-items: end;
    cursor: pointer;

    .block2 {
      color: #767e86;
      font-size: 13px;
      margin: 3px 0 0 0;
    }

    img {
      width: 30px;
    }
  }

  .gold-locker-tab.selected {
    background: white;
    color: var(--primary);
    cursor: unset;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);

    .block2 {
      color: #0a1c32;
    }
  }
}

.generic-page-title {
  color: #0a1c32;
  font-size: 15px;
  font-weight: 700;
  
}

.generic-subtitle-heading{
  text-align:  center;
  margin-top: 40px;
  font-weight: 400;
  font-size: 11px;
  line-height: 13.04px;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.generic-subtitle-heading-IRDAI{
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 8px;
  line-height: 9.48px;
  letter-spacing: 1px;
}

.generic-subtitle-heading-IRDAI-number{
  margin-top: auto;
  font-weight: 700;
  color: #767E86;
  margin-bottom: 56px;
  line-height: 9.48px;
  font-size: 8px;
  letter-spacing: 1px;
  padding-top: 4px;
}

.gold-trans-card {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
  .top-title {
    color: #0a1d32;
    font-size: 14px;
    font-weight: 500;
    margin: 0 0 6px 0;
  }
  .report-cover-amount {
    display: flex;
    color: #0a1d32;
  }
  .report-cover-amount img {
    width: 16px;
    margin: 0 5px 0 0;
  }
  .card {
    padding: 20px 20px 20px 20px;
  }
  .report-color-state {
    margin: 10px 0 0 0;
  }
  .report-cover {
    margin: 20px 0 0 0;
  }
}

.gold-trans-detail-card {
  display: flex;
  margin: 20px 0 30px 0;

  .title {
    color: #0a1c32;
    font-size: 12px;
    font-weight: 500;
  }

  .gold-trans-card {
    display: flex;
  }

  .block2 {
    margin: 0 0 0 15px;
  }

  .subtitle {
    color: #767e86;
    font-size: 13px;
    margin: 2px 0 0 0;
    font-weight: 400;
  }

  .icon {
    width: 18px;
  }
}

.gold-send-invoice {
  display: flex;
  align-items: center;
  margin: 20px 0 0 0;
}

.generic-progress-vertical {
  margin: 20px 0 0 0;

  .tile {
    display: flex;
    border-left: 2px solid #ececec;
    padding: 0px 0 30px 0px;
    justify-content: start;
  }

  .tile .title {
    color: #0a1d32;
    font-size: 14px;
    margin: 0 0 0 30px;
    font-weight: 400;
  }

  img {
    width: 18px;
    position: absolute;
    left: -9px;
    padding: 0 0 20px 0;
  }
  .text-on-img {
    position: absolute;
    top: -15px;
    left: -5px;
  }

  .success-step {
  }
  .normal-step-icon {
    position: absolute;
    top: -2px;
    left: -10px;
    width: 18px;
    height: 18px;
  }
  .init-text {
    position: absolute;
    top: -15px;
    left: -10px;
    background: var(--primary);
    color: white;
    font-weight: 700;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    text-align: center;
    padding: 2px 2px 2px 2px;
  }
  .init-title {
    color: var(--primary) !important;
  }
  .pending-title {
    color: #767E86 !important;
  }
}

.common-hr {
  border: 1px solid #ededed;
}

.gold-landing-container {
  /* autoprefixer: off */
  // height: -webkit-fill-available;
  margin-bottom: 0px;
  padding-bottom: 0;
  overflow-y: hidden;
  padding-bottom: 0px !important;
}
.gold-landing-container-background {
  background-position: inherit;
  // background-repeat: repeat;
  // background-size: contain;
  background-color: #0a1d32;
}
.gold-landing-header {
  background-color: #0a1d32 !important;
  color: #fff !important;
}

.gold-landing {
  .block1 {
  }
  .infoimage-block1 {
    position: relative;
    line-height: 1.6;
    cursor: pointer;
    min-height: 233px;
    .inner {
      // position: absolute;
      // top: 50px;
      padding: 0 0 0 20px;
    }
    .title {
      max-width: 60%;
      margin: 10px 0 0px 0;
      position: absolute;
      top: 18%;
      color: white;
    }
    .button {
      position: absolute;
      top: 50%;
      button {
        box-shadow: none;
        border-radius: 4px;
      }
    }
    .bottom-content {
      color: white;
      font-size: 8px;
      font-weight: 700;
      // margin: 50px 0 0 0;
      bottom: 20px;
      position: absolute;
      text-transform: uppercase;
      letter-spacing: 1px;
      word-spacing: 1px;
    }
  }

  .block3 {
    margin: 0 0 0 0;

    .steps-icon {
      width: 80px !important;
      height: 60px !important;
    }

    .title {
      font-size: 16px;
      color: #fefffe;
      font-weight: 500;
    }
    .subtitle {
      color: #d2dae4;
      font-size: 13px;
      margin: 4px 0 0 0;
    }
    .tile {
      display: flex;
      align-items: center;
      margin: 40px 0 40px 0;
    }

    .benefites {
      margin: 0 0 0 0;
    }

    .benefit-tile-title {
      color: var(--primary);
      font-size: 14px;
      font-weight: 700;
    }

    .benefit-tile-subtitle {
      color: #d3dbe4;
      font-size: 13px;
      margin: 7px 0 0 0;
    }

    .common-how-steps {
      padding: 20px 0 10px 0;
    }

    .infoimage-block1 {
      margin: 0px 0 30px 0;
    }

  }

  .block2 {
    margin: 30px -15px 0 -15px;
    background: white;
    padding: 10px 15px 20px 15px;
    border-radius: 10px;

    .steps-icon {
      width: 40px !important;
      height: 40px !important;
    }
    .want-to {
      color: #0a1c32;
      font-size: 16px;
      font-weight: 600;
      padding: 13px 0 13px 0;
    }

    .highlight-text {
      cursor: pointer;
      padding: 20px 0px 20px 20px;
    }
    .tile2 {
      display: flex;
      align-items: center;
      border-bottom: 1px solid #ededed;
      padding: 13px 0 13px 0;
      cursor: pointer;
      .title {
        color: #0a1d32;
        margin: 0 0 0 20px;
      }
    }

    .highlight-text {
      display: flex;
      background: #fff;
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
      margin: -24px 0 20px 0;
    }

    .highlight-text2 {
      height: 20px;
    }

    .onload-error {
      display: flex;
      color: #767E86;
      font-weight: 400;
    }

    .balance-skelton {
      margin: 3px 0 0 8px;
      border-radius: 6px;
      width: 200px !important;
      height: 15px !important;
    }
    .balance-skelton2 {
      margin: 3px 0 0 8px;
      border-radius: 6px;
      width: 140px !important;
      height: 15px !important;
    }
  }

  .block4 {
    background: #fff;
    // padding: 0px 15px 20px 15px;
    // margin: 0px -15px 0 -15px;
    padding: 0px 0px 20px 0px;
    margin: 0px 0px 0 0px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

    .gold-bottom-secure-info {
      margin: 0px 0px 10px 0px;
    }
  }
}

.show-more {
  font-size: 12px;
  color: var(--secondary);
  border: 1px solid;
  text-align: center;
  font-weight: 700;
  padding: 15px;
  border-radius: 4px;
  margin: 20px 0 20px 0;
  cursor: pointer;
}

.gold-common-stepes-icon {
    width: 100px !important;
    height: 60px !important;
    margin-right: 0px;
}

.gold-delivery-products {
  .delivery-products-tiles {
    display: flex;
    flex-wrap: wrap;
    .delivery-tile {
      text-align: center;
      text-align: center;
      padding: 20px 19px 0 0;
      cursor: pointer;
      width: 43%;
      margin: 0 0 20px 0;
    }
    .delivery-icon {
      box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
      width: 100%;
      margin: 0 0 10px 0;
      border-radius: 4px;
    }
    
    .disc {
      color: #0a1d32;
      font-size: 14px;
      margin: 0 0 10px 0;
      text-align: left;
      line-height: 1.6;
      font-weight: 500;
    }

    .making-charges {
      color: #767e86;
      font-size: 10px;
      text-align: left;
      font-weight: 500;
    }

    .making-cost {
      color: #0a1d32;
      text-align: left;
      margin: 3px 0 0 0;
    }
  }

  .skelton-tiles {
    .st1 {
      height: 144px !important;
    }
    .st2 {
      height: 20px !important;
      margin: 10px 0 10px 0;
    }
    .st3 {
      height: 20px !important;
    }
  }
}

.delivery-select-product {
  .block2 {
    .all-tax {
      color: #767e86;
      font-size: 10px;
      font-weight: 700;
      margin: 0 0 0 5px;
    }
    .mc {
      color: #767e86;
      font-size: 10px;
      margin: 0 0 7px 0;
    }
    .seller-name {
      color: #767e86;
      font-size: 13px;
      font-weight: 400;
      margin: 6px 0 6px 0;
    }
  }

  .block3 {
    margin: 20px 0 40px 0;
    .pincode-block {
      position: relative;
      margin: 10px 0 0 0;
      .gold-placeholder-right {
        color: var(--secondary);
        font-weight: 700;
        font-size: 10px;
        cursor: pointer;
      }
    }

    
  }

  .page-title {
    color: #0a1c32;
    font-size: 14px;
    font-weight: 700;
  }

  .block4 {
    margin: 0 0 30px 0;
    .product-de-points {
      color: #767e86;
      font-size: 13px;
      font-weight: 400;
      margin: 10px 0 10px 0;
      line-height: 1.6;
    }
  }
}

.gold-locker-home {
  .share-pan-bank {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--highlight);
    padding: 0px 0 10px 20px;
    border-radius: 4px;
    margin: 0 0 20px 0;
    cursor: pointer;
    .title {
      color: #0a1d32;
      font-weight: 400;
    }
  }
}
.gold-check-how-container {
  height: -webkit-fill-available;
}
