@value secondary: var(--secondary);
.BannerContent {
  top: 50%;
  position: absolute;
  color: white;
  left: 50%;
  transform: translate(-50%, -50%);
}
.BannerText {
  text-transform: uppercase;
  font-weight: 500;
  font-size: small;
}
.SafeGoldImage {
  margin: 5px 0;
}
.SafeGoldImage img {
  width: 150px;
}
.FlexRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.FlexRow2 {
  display: inline-flex;
  justify-content: space-between;
}
.helper {
  color: #8ab9e3;
  margin-top: 10px;
  text-decoration: underline;
}
.gold-about-text-know-more {
  margin: 20px 0 20px 0;
  text-align: center;
}
.gold-about-text {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  line-height: 1.3rem;
}
.gold-about-text:last-child {
  margin-bottom: 0;
}
.gold-about-text img {
  margin-right: 15px;
}
.gold-dot {
  min-height: 7px;
  min-width: 7px;
  margin-right: 20px;
  border-radius: 50%;
  border: 2px solid #f0c82f;
}
.about-img-span2 {
  font-size: 14px;
  color: #888181;
}
.about-img-tile-know-more {
  text-align: justify;
}
.gold-about-card {
  position: relative;
  background: #fff;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 0px 0px 10px 0px;
  margin: 0px;
  margin-bottom: 20px;
  border: 1px solid #ececec;
}
.gold-about-card h3 {
  font-size: 16px;
  color: black;
  font-weight: normal;
  margin-top: 0;
}
.BannerBody {
  padding: 15px;
}
.card-padding {
  padding: 15px;
}
.know-more-buy {
  color: #3c3c3c;
}
.about-img-span-know-more {
  font-size: 14px;
  color: #888181;
  line-height: 1.3rem;
}
.gold-about-text-know-more {
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 15px;
  text-align: left;
}
.gold-about-text-know-more img {
  width: 35%;
  margin-bottom: 10px;
}
.goldheader {
  position: relative;
  margin: 0px;
  padding: 20px 15px;
}
.goldheader .my-gold-header {
  background: #fff;
  border-radius: 7px;
  padding-bottom: 20px;
  cursor: pointer;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  padding: 15px;
}
.my-gold-details-header1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.my-gold-details-header2a {
  color: #6e6e6e;
  font-size: 13px;
  margin-bottom: 5px;
}
.my-gold-header .img-mygold {
  width: 30px;
}
.row1 {
  border-bottom: 1px solid #e8e8e8;
  justify-content: space-between;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.my-gold-header .img-mygold2 {
  width: 7px;
}
.buy-info1 {
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 15px;
  margin-bottom: 25px;
}
.buy-info2b {
  color: #6e6e6e;
}
.buy-info3 {
  font-size: 22px;
  margin: 10px 0;
}
.buy-info4 {
  color: #6e6e6e;
}
.timer-green {
  color: green;
}
.buy-input1 {
  margin-bottom: 10px;
}
.input-above-text {
  color: #6e6e6e;
  flex: 1;
}
.input-below-text {
  color: #6e6e6e;
  flex: 1;
  font-size: 11px;
  margin: 5px 0 0 0;
}
.input-box {
  padding: 15px 0;
}
.symbol {
  text-align: center;
  margin: 0 15px;
}
.input-box input {
  border-radius: 5px;
  height: 30px;
  padding: 5px 10px;
  border: 1px solid #cfcfcf;
  width: 85%;
}
.or {
  margin-top: 34px;
  width: 10%;
  font-size: 18px;
}
.Input {
  margin: 15px 0;
}
.Input input {
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  padding: 5px;
  height: 30px;
}
.disclaimer {
  color: grey;
  margin-top: 30px;
}
.grey-color {
  color: #6e6e6e;
}
.green {
  color: green;
}
.red {
  color: red;
}
.order-tile {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  top: 100px;
  padding: 10px;
  border: 1px solid #ececec;
}
.order-heading {
  background: #f5f5f5;
  padding: 10px;
  border-radius: 3px;
}
.order-tile-head {
  text-align: left;
  font-size: 20px;
  display: -webkit-inline-box;
}
.order-tile-total1 {
  font-size: 17px;
  color: black;
}
.order-tile-other-text {
  color: #6e6e6e;
  font-size: 14px;
}
.order-tile-total1-delivery {
  font-size: 17px;
  color: black;
  flex: 1;
}
.order-tile-other-text-delivery {
  color: #6e6e6e;
  font-size: 14px;
  flex: 1;
}
.order-tile2 {
  margin: 14px 0px 16px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.stopwatch {
  margin-top: 10px;
  justify-content: flex-end;
}
.stopwatch-order {
  width: 15px;
  position: relative;
  top: -3px;
  right: 3px;
}
.stopwatch-title {
  font-size: 12px;
  color: #6e6e6e;
}
.timer {
  font-size: 16px;
  color: green;
  padding-left: 5px;
}
.invest-success {
  text-align: center;
}
.invest-success h3 {
  color: secondary;
  font-size: 20px;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 10px;
}
.invest-error h3 {
  color: red;
  font-size: 20px;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 10px;
}
.invest-success p {
  color: #878787;
  font-size: 16px;
}
.invoice {
  margin: 0 auto;
  border: 1px solid #c4c4c4;
  padding: 4px 10px 4px 10px;
  margin-top: 12px;
  color: #3d3d3d;
  border-radius: 11px;
  cursor: pointer;
  display: inline-block;
}
.success-card {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.delivery-select-logo,
.delivery-order-logo {
  text-align: center;
  padding: 10px 0;
}
.product-details-content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  color: #6e6e6e;
  margin-bottom: 7px;
}
.product-details-heading {
  font-size: 15px;
  color: black;
  margin: 0 0 20px 0;
}
.delivery.block {
  margin-bottom: 40px;
}
.product-name {
  margin-right: 10px;
  flex: 1;
}
.product-value {
  flex: 1;
}
.delivery ul {
  padding-left: 15px;
}
.delivery ul li {
  line-height: 1.3rem;
}
.error {
  color: red;
}
.MuiTabs-flexContainer {
  display: flex;
  justify-content: space-around;
}
.filler {
  margin-top: 5px;
  color: #6e6e6e;
}
.download-invoice {
  color: #5346a7;
  border: 1px solid #5346a7;
  cursor: pointer;
  border-radius: 2px;
  padding: 5px;
}
.locker-head {
  padding: 10px 15px;
  border-bottom: 8px solid #ecebeb;
}
.locker-head .link {
  cursor: pointer;
}
.locker-head .block1 {
  justify-content: flex-start;
  flex: 1;
  margin-right: 2px;
  background: #fff;
  border-right: 2px solid #ecebeb;
}
.locker-head .block2 {
  flex: 1;
  background: #fff;
  padding: 10px;
}
.transaction-history {
  justify-content: space-between;
  cursor: pointer;
}
.transaction-history .arrow {
  font-size: 16px;
}
.input-box.InputField {
  margin-bottom: 0px;
}
.load-more {
  text-align: center;
  margin-top: 13px;
  font-weight: 500;
  border: 1px;
}
.buy-order-tile22 {
  margin-left: 20px;
  margin-right: 6px;
}
.custom-toast {
  bottom: 60px;
  padding: 15px 5px;
  border-radius: 15px;
  min-height: 30px;
  margin: 0 20px;
  text-align: center;
}
.gold-offer-terms {
  display: block;
  margin: 10px 0 10px 0;
}
img.gold-offer-slide-img {
  width: 100%;
  border-radius: 8px;
  height: 165px;
}
.check-how-gold .title {
  color: #0a1c32;
  margin: 0 0 20px 0;
  font-size: 16px;
  font-weight: 500;
}
.check-how-gold .content {
  color: #767e86;
  font-size: 14px;
  font-weight: 400;
}
.check-how-gold .content-tiles {
  margin: 0 0 10px 0;
  line-height: 1.7;
  text-align: left;
}
.check-how-gold .chart {
  margin: 10px 0 30px 0;
}
.check-how-gold .mid-img {
  margin: 0 0 20px 0;
}
.check-how-gold .mid-img img {
  width: 100%;
}
.live-price-gold {
  display: flex;
  justify-content: space-between;
  margin: 0 0 20px 0;
  background: var(--highlight);
  padding: 10px 10px 10px 10px;
  align-items: center;
  border-radius: 4px;
}
.live-price-gold .mid-text {
  color: #767e86;
  font-size: 13px;
  margin: 0 0 0 10px;
}
.live-price-gold .right-text {
  font-size: 10px;
  color: var(--secondary);
  font-weight: 700;
}
.gold-dialog .hr {
  border: 1px solid #ededed;
}
.gold-dialog .content-points {
  color: #0a1d32;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  margin: 15px 0 15px 0;
}
.gold-dialog .content2-points {
  color: #0a1d32;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  margin: 15px 0 15px 0;
  font-weight: 600;
}
.gold-dialog .mid-buttons {
  margin: 0 0 20px 0;
}
.gold-payment-container .content-points {
  color: #0a1d32;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  margin: 15px 0 15px 0;
}
.gold-payment-container .content2-points {
  color: #0a1d32;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  margin: 15px 0 15px 0;
  font-weight: 600;
}
.gold-payment-container .mid-title {
  color: #0a1c32;
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 30px 0;
}
.gold-payment-container .hr {
  border: 1px solid #ededed;
}
.gold-payment-container .top-content {
  color: #0a1d32;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
}
.gold-payment-container .karat {
  position: absolute;
  right: 25px;
  color: #767e86;
  font-size: 10px;
  font-weight: 600;
}
.send-invoice {
  display: flex;
  align-items: center;
  margin: 20px 0 0 0;
  cursor: pointer;
  width: fit-content;
}
.send-invoice .sent {
  color: #0a1d32;
  font-size: 14px;
  margin: 0 0 0 10px;
}
.send-invoice .sent-icon {
  width: 14px;
}
.gold-delivery-select-address {
  margin: 0 -15px 0 -20px;
}
.gold-delivery-select-address .user-name {
  font-size: 14px;
  width: 30px;
  height: fit-content;
  background: var(--primary);
  color: white;
  padding: 5px 0px 7px 0px;
  text-align: center;
  margin: 0 10px 0 0;
  border-radius: 6px;
}
.gold-delivery-select-address .select-addressline {
  color: #7a7676;
  line-height: 1.4;
  font-size: 18px;
  margin-top: -2px;
  width: 100%;
}
.gold-delivery-select-address .action-buttons {
  display: flex;
  align-items: center;
}
.gold-delivery-select-address .er-button {
  color: var(--secondary);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  margin: 5px 8px 0 0px;
}
.gold-delivery-select-address .add-new-button {
  margin: 30px 0 0 26px;
  font-size: 12px;
  color: var(--secondary);
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}
.gold-delivery-select-address .address-tile {
  display: flex;
  justify-content: start;
  margin: 10px 15px 20px 15px;
  padding: 20px 10px 20px 10px;
  cursor: pointer;
}
.gold-delivery-select-address .address-tile .right-name {
  color: #0a1c32;
  font-size: 14px;
  font-weight: 700;
  text-transform: capitalize;
  margin: 0 0 10px 0;
}
.gold-delivery-select-address .address-tile .address-content {
  color: #767e86;
  font-size: 13px;
  font-weight: 400;
}
.gold-delivery-select-address .address-tile-selected {
  margin: 10px 0px 20px 0px;
  background: linear-gradient(to right, #f4f4f4, white);
  padding: 20px 25px 20px 25px;
}
.gold-sell-select-bank {
  margin: 0 -15px 30px -20px;
}
.gold-sell-select-bank .select-bank {
  color: #7a7676;
  line-height: 1.4;
  font-size: 18px;
}
.gold-sell-select-bank .add-new-button {
  margin: 30px 0 0 25px;
  font-size: 12px;
  color: var(--secondary);
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}
.gold-sell-select-bank .bank-tile {
  margin: 10px 15px 20px 15px;
  padding: 20px 10px 20px 10px;
  cursor: pointer;
}
.gold-sell-select-bank .bank-tile-selected {
  margin: 10px 0px 20px 0px;
  background: linear-gradient(to right, #f4f4f4, white);
  padding: 20px 25px 20px 25px;
}
.gold-sell-select-bank .bank-name {
  color: #0a1c32;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.6;
}
.gold-sell-select-bank .account-number {
  color: #767e86;
  font-size: 14px;
}
.gold-sell-select-bank .primary-bank {
  color: #d3dbe4;
  font-size: 8px;
  font-weight: "bold";
}
.gold-sell-select-bank .left-icon {
  float: left;
  margin: 5px 10px 0 0;
}
.gold-delivery-order {
  margin: 0 0 30px 0;
}
.gold-delivery-order .top-info-tile {
  display: flex;
  justify-content: space-between;
  margin: 5px -15px 5px -15px;
  padding: 10px 15px 10px 15px;
}
.gold-delivery-order .top-info-tile1 {
  color: #091c32;
  font-size: 13px;
}
.gold-delivery-order .top-info {
  margin: 0 0 20px 0;
}
.gold-delivery-order .dash-hr {
  border: 1px dashed #767e86;
  margin: 0 0 30px 0;
}
.gold-delivery-order .hr {
  border: 1px solid #ededed;
}
.gold-delivery-order .content-points {
  color: #767e86;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  margin: 15px 0 15px 0;
}
.gold-delivery-order .content2-points {
  color: #0a1d32;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  margin: 15px 0 15px 0;
  font-weight: 600;
}
.gold-delivery-order .mid-title {
  color: #0a1c32;
  font-size: 16px;
  font-weight: 600;
}
.gold-delivery-order .address .content {
  font-size: 13px;
  color: #767e86;
  margin: 2px 0 3px 0;
}
.gold-delivery-order .address {
  margin: 15px 0 20px 0;
}
.gold-delivery-order .shipping-address {
  cursor: pointer;
  margin: 30px 0 0 0;
}
.gold-delivery-order .shipping-address .top-tile {
  display: flex;
  justify-content: space-between;
}
.gold-delivery-order .shipping-address .top-title {
  color: #0a1c32;
  font-size: 14px;
  font-weight: 600;
}
.gold-delivery-order .shipping-address .top-icon {
  width: 14px;
}
.gold-provider-filter {
  margin: 0 0 20px 0;
}
.gold-provider-filter .tile1 {
  margin: 0 0 0px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gold-provider-filter .tile1-left {
  color: #0a1c32;
  font-size: 20px;
  font-weight: 600;
}
.gold-provider-filter .tile1-right img {
  width: 60px;
}
.gold-provider-filter .arrow-img {
  margin: 0 0 0 6px;
}
.gold-provider-filter .tile2 {
  display: flex;
  justify-content: space-between;
}
.gold-provider-filter .tile2-left {
  color: #767e86;
  font-size: 13px;
}
.gold-provider-filter .tile2-right {
  color: #767e86;
  font-size: 13px;
}
.gold-aw-inputs {
  margin: 0 0 30px 0;
}
.gold-aw-inputs input {
  background-color: #f8f8f8;
  padding: 15px 0px 15px 5px;
}
.gold-aw-inputs input::placeholder {
  text-align: right;
  color: #767e86;
}
.gold-aw-inputs .gold-placeholder-right {
  color: #767e86;
  line-height: 40px;
  position: absolute;
  right: 5px;
  top: 0px;
  bottom: 0;
  -moz-transition: 0.3s right ease;
  -ms-transition: 0.3s right ease;
  -o-transition: 0.3s right ease;
  -webkit-transition: 0.3s right ease;
  transition: 0.3s right ease;
  z-index: 0;
}
.gold-aw-inputs .plus-options {
  display: flex;
  justify-content: space-between;
  margin: 0 0 20px 0;
}
.gold-aw-inputs .plus-tile {
  color: #35cb5d;
  font-size: 12px;
  font-weight: 700;
  border: 1px solid;
  padding: 10px 15px 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  min-width: 40px;
  text-align: center;
}
.gold-aw-tabs {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: auto;
  margin: 30px 0 30px 0;
}
.gold-aw-tabs .left-radius {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.gold-aw-tabs .right-radius {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.gold-aw-tab {
  color: #767e86;
  padding: 10px 20px 10px 20px;
  background: #f8f8f8;
  font-size: 13px;
  font-weight: 500;
  margin: 0 0 0 -1px;
  cursor: pointer;
}
.gold-aw-tab.selected {
  background: white;
  color: var(--primary);
  cursor: unset;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}
.sell-home button {
  box-shadow: unset;
}
.gold-buy-info-images {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 0 0;
}
.gold-buy-info-images .tile {
  max-width: 78px;
}
.gold-buy-info-images .title {
  color: #767e86;
  font-size: 13px;
}
.gold-buy-info-images .img {
  margin: 0 0 10px 0;
}
.gold-buy-home .page-title {
  color: #0a1c32;
  font-size: 16px;
  font-weight: 500;
}
.gold-buy-home .gst-info {
  color: #767e86;
  font-size: 8px;
  margin: 7px 0px 0px;
  text-align: center;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}
.gold-bottom-secure-info {
  margin: 50px 0 0 0;
}
.gold-bottom-secure-info .content {
  color: #767e86;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
}
.gold-bottom-secure-info .images {
  margin: 8px 0 0 0;
  display: flex;
  justify-content: center;
}
.gold-bottom-secure-info .images img {
  margin: 0 10px 0 0;
}
.gold-locker-tabs {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: space-between;
  margin: 0 auto;
  width: auto;
  margin: 20px 0 30px 0;
}
.gold-locker-tabs .gold-locker-tab {
  color: #767e86;
  padding: 20px 20px 20px 20px;
  background: #f8f8f8;
  font-size: 13px;
  font-weight: 500;
  margin: 0 0 0 -1px;
  width: -webkit-fill-available;
  display: flex;
  justify-content: space-between;
  align-items: end;
  cursor: pointer;
}
.gold-locker-tabs .gold-locker-tab .block2 {
  color: #767e86;
  font-size: 13px;
  margin: 3px 0 0 0;
}
.gold-locker-tabs .gold-locker-tab img {
  width: 30px;
}
.gold-locker-tabs .gold-locker-tab.selected {
  background: white;
  color: var(--primary);
  cursor: unset;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}
.gold-locker-tabs .gold-locker-tab.selected .block2 {
  color: #0a1c32;
}
.generic-page-title {
  color: #0a1c32;
  font-size: 16px;
  font-weight: 500;
}
.gold-trans-card {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
}
.gold-trans-card .top-title {
  color: #0a1d32;
  font-size: 14px;
  font-weight: 500;
  margin: 0 0 6px 0;
}
.gold-trans-card .report-cover-amount {
  display: flex;
  color: #0a1d32;
}
.gold-trans-card .report-cover-amount img {
  width: 16px;
  margin: 0 5px 0 0;
}
.gold-trans-card .card {
  padding: 20px 20px 20px 20px;
}
.gold-trans-card .report-color-state {
  margin: 10px 0 0 0;
}
.gold-trans-card .report-cover {
  margin: 20px 0 0 0;
}
.gold-trans-detail-card {
  display: flex;
  margin: 20px 0 30px 0;
}
.gold-trans-detail-card .title {
  color: #0a1c32;
  font-size: 12px;
  font-weight: 500;
}
.gold-trans-detail-card .gold-trans-card {
  display: flex;
}
.gold-trans-detail-card .block2 {
  margin: 0 0 0 15px;
}
.gold-trans-detail-card .subtitle {
  color: #767e86;
  font-size: 13px;
  margin: 2px 0 0 0;
  font-weight: 400;
}
.gold-trans-detail-card .icon {
  width: 18px;
}
.gold-send-invoice {
  display: flex;
  align-items: center;
  margin: 20px 0 0 0;
}
.generic-progress-vertical {
  margin: 20px 0 0 0;
}
.generic-progress-vertical .tile {
  display: flex;
  border-left: 2px solid #ececec;
  padding: 0px 0 30px 0px;
  justify-content: start;
}
.generic-progress-vertical .tile .title {
  color: #0a1d32;
  font-size: 14px;
  margin: 0 0 0 30px;
  font-weight: 400;
}
.generic-progress-vertical img {
  width: 18px;
  position: absolute;
  left: -9px;
  padding: 0 0 20px 0;
}
.generic-progress-vertical .text-on-img {
  position: absolute;
  top: -13px;
  left: -5px;
}
.generic-progress-vertical .normal-step-icon {
  position: absolute;
  top: -2px;
  left: -10px;
  width: 18px;
  height: 18px;
}
.common-hr {
  border: 1px solid #ededed;
}
.gold-landing-container {
  margin-bottom: 0px;
  padding-bottom: 0;
  overflow-y: hidden;
  padding-bottom: 0px !important;
}
.gold-landing-container-background {
  background-position: inherit;
  background-color: #0a1d32;
}
.gold-landing-header {
  background-color: #0a1d32 !important;
  color: #fff !important;
}
.gold-landing .infoimage-block1 {
  position: relative;
  line-height: 1.6;
  cursor: pointer;
}
.gold-landing .infoimage-block1 .inner {
  padding: 0 0 0 20px;
}
.gold-landing .infoimage-block1 .title {
  max-width: 60%;
  margin: 10px 0 0px 0;
  position: absolute;
  top: 18%;
}
.gold-landing .infoimage-block1 .button {
  position: absolute;
  top: 50%;
}
.gold-landing .infoimage-block1 .button button {
  box-shadow: none;
  border-radius: 4px;
}
.gold-landing .infoimage-block1 .bottom-content {
  color: #9e6e1d;
  font-size: 8px;
  font-weight: 700;
  bottom: 20px;
  position: absolute;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.gold-landing .block3 {
  margin: 30px 0 0 0;
}
.gold-landing .block3 .title {
  font-size: 16px;
  color: #fefffe;
  font-weight: 500;
}
.gold-landing .block3 .subtitle {
  color: #d2dae4;
  font-size: 13px;
  margin: 4px 0 0 0;
}
.gold-landing .block3 .tile {
  display: flex;
  align-items: center;
  margin: 40px 0 40px 0;
}
.gold-landing .block3 .benefites {
  margin: 20px 0 0 0;
}
.gold-landing .block3 .benefit-tile-title {
  color: var(--primary);
  font-size: 14px;
  font-weight: 700;
}
.gold-landing .block3 .benefit-tile-subtitle {
  color: #d3dbe4;
  font-size: 13px;
  margin: 7px 0 0 0;
}
.gold-landing .block3 img {
  width: 70px;
  margin: 0 20px 0 0;
}
.gold-landing .block2 {
  margin: 30px -15px 0 -15px;
  background: white;
  padding: 10px 15px 20px 15px;
  border-radius: 10px;
}
.gold-landing .block2 .want-to {
  color: #0a1c32;
  font-size: 16px;
  font-weight: 600;
  padding: 13px 0 13px 0;
}
.gold-landing .block2 .highlight-text {
  cursor: pointer;
  padding: 20px 0px 20px 20px;
}
.gold-landing .block2 .tile2 {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ededed;
  padding: 13px 0 13px 0;
  cursor: pointer;
}
.gold-landing .block2 .tile2 .title {
  color: #0a1d32;
  margin: 0 0 0 20px;
}
.gold-landing .block2 .highlight-text {
  display: flex;
  background: #fff;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  margin: -24px 0 20px 0;
}
.gold-landing .block4 {
  background: #fff;
  padding: 10px 15px 20px 15px;
  margin: 20px -15px 0 -15px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.show-more {
  font-size: 12px;
  color: var(--secondary);
  border: 1px solid;
  text-align: center;
  font-weight: 700;
  padding: 15px;
  border-radius: 4px;
  margin: 20px 0 20px 0;
  cursor: pointer;
}
.gold-delivery-products .delivery-products-tiles {
  display: flex;
  flex-wrap: wrap;
}
.gold-delivery-products .delivery-products-tiles .delivery-tile {
  text-align: center;
  text-align: center;
  padding: 20px 19px 0 0;
  cursor: pointer;
  width: 43%;
  margin: 0 0 20px 0;
}
.gold-delivery-products .delivery-products-tiles img {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
  margin: 0 0 10px 0;
  border-radius: 4px;
}
.gold-delivery-products .delivery-products-tiles .disc {
  color: #0a1d32;
  font-size: 14px;
  margin: 0 0 10px 0;
  text-align: left;
  line-height: 1.6;
  font-weight: 500;
}
.gold-delivery-products .delivery-products-tiles .making-charges {
  color: #767e86;
  font-size: 10px;
  text-align: left;
  font-weight: 500;
}
.gold-delivery-products .delivery-products-tiles .making-cost {
  color: #0a1d32;
  text-align: left;
  margin: 3px 0 0 0;
}
.delivery-select-product .block2 .all-tax {
  color: #767e86;
  font-size: 10px;
  font-weight: 700;
  margin: 0 0 0 5px;
}
.delivery-select-product .block2 .mc {
  color: #767e86;
  font-size: 10px;
  margin: 0 0 7px 0;
}
.delivery-select-product .block2 .seller-name {
  color: #767e86;
  font-size: 13px;
  font-weight: 400;
  margin: 6px 0 6px 0;
}
.delivery-select-product .block3 {
  margin: 20px 0 40px 0;
}
.delivery-select-product .block3 .pincode-block {
  position: relative;
  margin: 10px 0 0 0;
}
.delivery-select-product .block3 .pincode-block .gold-placeholder-right {
  color: var(--secondary);
  font-weight: 700;
  font-size: 10px;
  cursor: pointer;
}
.delivery-select-product .page-title {
  color: #0a1c32;
  font-size: 14px;
  font-weight: 700;
}
.delivery-select-product .block4 {
  margin: 0 0 30px 0;
}
.delivery-select-product .block4 .product-de-points {
  color: #767e86;
  font-size: 13px;
  font-weight: 400;
  margin: 10px 0 10px 0;
  line-height: 1.6;
}
.gold-locker-home .share-pan-bank {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--highlight);
  padding: 0px 0 10px 20px;
  border-radius: 4px;
  margin: 0 0 20px 0;
  cursor: pointer;
}
.gold-locker-home .share-pan-bank .title {
  color: #0a1d32;
  font-weight: 400;
}
.gold-check-how-container {
  height: -webkit-fill-available;
}
