@mixin d-flex-space-between {
  display: flex;
  justify-content: space-between;
}

#kyc-upload-intro {
  .banner {
    display: flex;
    justify-content: center;
    margin: 20px 0 10px 0;
    img {
      display: block;
      margin: 0 auto;
    }
  }

  .intro {
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    color: #160d2e;
  }

  .trust {
    margin-top: 90px;
    img {
      display: block;
      margin: 0 auto;
    }
  }
}

#kyc-upload-progress {
  .header {
    font-size: 20px;
    color: #160d2e;
    font-weight: 600;
  }
  .kyc-upload-card {
    border: 1px solid beige;
    padding: 10px 0 10px 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 10px 0 10px 0;
    line-height: 1.5;

    .image {
      position: relative;

      .check-icon {
        position: absolute;
        width: 12px;
        left: 49px;
        top: 9px;
      }
    }

    .title {
      margin-left: 10px;
    }

    .subtitle {
      color: #8d879b;
      font-size: 13px;
      margin-left: 10px;
    }
  }
}

#kyc-upload-pan,
#kyc-upload-address,
#kyc-upload-ipv-video,
#kyc-upload-sign  {
  font-size: 14px;
  padding-bottom: 50px;

  .alert-status-info {
    margin-top: 20px;

    .text {
      line-height: 1.5;
    }
  }

  .sub-title {
    margin-top: -15px;
    font-size: 13px;
  }

  .pan-alert {
    width: 100%;
    margin-top: 2px;
    line-height: 1.5;
  }

  .pan-alert .row {
    display: flex;
    flex-wrap: nowrap;
  }

  .ipv_footer_instructions {
    margin-top: 10px;
    line-height: 1.5;
  }

  .ipv_code {
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 7.5px;
    color: #331c6b;
    margin-top: 10px;
  }

  .flex-between-center {
    margin-top: 14px;

    .know_more {
      font-size: 14px;
      color: #160d2e;
    }

    .link {
      color: var(--secondary);
      font-size: 10px;
      margin: 5px 0 0;
      cursor: pointer;
    }
  }
}

#kyc-upload-address {
  padding-bottom: 30px;

  .sub-title {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;

    .edit {
      color: var(--secondary);
      font-size: 12px;
      font-weight: 800;
    }
  }
}

.kyc-doc-upload-container {
  margin-top: 20px;
  border: 1px dashed var(--skelton-color);
  padding: 10px 0;
  text-align: center;

  .icon {
    display: block;
    margin: 70px auto 20px auto;
    width: 143px;
  }

  .doc-upload-note-row {
    margin-top: 40px;
    @include d-flex-space-between();
    column-gap: 20px;

    .upload-note {
      max-width: 70%;
      text-align: left;
    }

    .know-more-button {
      justify-content: flex-end !important;
    }
  }
}

.kyc-doc-upload-container.noBorder {
  border: none;
}

.kyc-doc-upload-container .caption {
  text-align: center;
  line-height: 1.5;
  color: #160d2e;
  margin-bottom: 10px;
}

.kyc-doc-upload-container .preview {
  display: block;
  width: 100%;
  object-fit: contain;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-top: 10px;
}

.kyc-upload-doc-actions {
  margin-top: 20px;
  .kyc-upload {
    display: none;
  }
  .kyc-upload-button {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    background-color: transparent;
    padding: 0;
    border: none;
    cursor: pointer;

    svg {
      fill: var(--secondary);
    }
  }

  .mobile-actions {
    display: flex;
    align-items: center;

    .open-camera {
      border-right: 1px solid #e1e1e1;
      flex: 1 1 50%;
    }

    .open-gallery {
      flex: 1 1 50%;
    }

    .open-canvas {
      flex: 1 1 100%;
    }
  }

  .upload-action {
    text-transform: uppercase;
    color: var(--secondary);
    font-size: 10px;
    font-weight: 800;
    margin-top: 5px;
  }
}
