@mixin d-flex-space-between {
  display: flex;
  justify-content: space-between;
}

@mixin d-flex-center {
  display: flex;
  justify-content: center;
}

@mixin block-fit {
  display: block;
  width: 100%;
  object-fit: contain;
}

#kyc-upload-intro {
  .banner {
    display: flex;
    justify-content: center;
    margin: 20px 0 10px 0;
    img {
      display: block;
      margin: 0 auto;
    }
  }

  .intro {
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    color: var(--dark);
  }

  .trust {
    margin-top: 90px;
    img {
      display: block;
      margin: 0 auto;
    }
  }
}

#kyc-upload-progress {
  .kup-header {
    align-items: flex-start;

    .generic-page-title {
      font-size: 20px;
      line-height: 31px;
    }

    img {
      margin-left: 20px;
    }
  }

  .kyc-upload-card {
    border: 1px solid beige;
    padding: 10px 20px 10px 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 10px 0 10px 0;
    line-height: 1.5;

    .title {
      font-weight: 500;
      font-size: 15px;
      line-height: 24px;
      margin-left: 10px;
    }

    .subtitle {
      color: var(--steelgrey);
      font-size: 13px;
      margin-left: 10px;
    }
  }

  .kup-footer {
    text-align: center;
    margin-top: 45px;
  }
}

#kyc-upload-pan,
#kyc-upload-address,
#kyc-upload-ipv-video,
#kyc-upload-sign  {
  font-size: 14px;
  padding-bottom: 50px;

  .alert-status-info {
    margin-top: 20px;

    .text {
      line-height: 1.5;
    }
  }

  .sub-title {
    margin-top: -15px;
    font-size: 13px;
    line-height: 21px;
    margin-bottom: 20px;
  }

  .pan-alert {
    width: 100%;
    margin-top: 2px;
    line-height: 1.5;
  }

  .pan-alert .row {
    display: flex;
    flex-wrap: nowrap;
  }

  .instructions-container {
    margin: 10px 10px 5px 10px;

    .ipv-initial-asset {
      @include d-flex-center();
    }
  }

  .ipv-instructions {
    font-size: 15px;
    line-height: 24px;
    text-align: left;

    span {
      font-weight: 500;
    }
  }

  .ipv-code {
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 7.5px;
    color: var(--primary);
    margin-top: 10px;
    text-align: left;
  }

  [class^="video-recorder__Wrapper"] {
    border-radius: 6px;
  }

  .doc-upload-note-row {
    @include d-flex-space-between();
    align-items: center;
    margin-top: 40px;

    .upload-note {
      font-size: 13px;
      line-height: 21px;
      color: var(--dark);
      text-align: left;
    }

    .know-more-button {
      color: var(--secondary);
      font-size: 12px;
      line-height: 14px;
      font-weight: bold;
      min-width: 112px;
      text-align: right;
      cursor: pointer;
    }
  }
}

#kyc-upload-address {
  padding-bottom: 30px;

  .sub-title {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    color: var(--dark);
    font-weight: 500;
    margin-top: -10px;

    .edit {
      color: var(--secondary);
      font-size: 12px;
      font-weight: 800;
      cursor: pointer;
    }
  }

  .address-detail {
    margin: 10px 0 30px 0;
    color: var(--steelgrey);
  }
}

.kyc-doc-upload-container {
  margin-top: 20px;
  border: 1px dashed var(--skelton-color);
  border-radius: 6px;
  padding: 10px 0;
  text-align: center;

  .kduc-sign-icon {
    width: 143px;
    margin: 55px auto;
    display: block;
  }

  .kduc-selfie-placeholder {
    width: 100%;
    display: block;
  }

  .video-controls {
    max-width: 100%;
  }
}

.kyc-doc-upload-container.with-bg-color {
  background-color: var(--highlight);
}

.kyc-doc-upload-container.noBorder {
  border: none;
}

.kyc-doc-upload-container .caption {
  text-align: center;
  line-height: 1.5;
  color: var(--dark);
  margin-bottom: 10px;
}

.kyc-doc-upload-container .preview {
  @include block-fit();
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-top: 10px;
}

.kyc-doc-upload-container .default {
  @include block-fit();
  margin-top: 10px;
}

.kyc-upload-doc-actions {
  margin-top: 10px;

  .kyc-upload {
    display: none;
  }
  .kyc-upload-button {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    background-color: transparent;
    padding: 0;
    border: none;
    cursor: pointer;

    svg {
      fill: var(--secondary);
    }
  }

  .mobile-actions {
    display: flex;
    align-items: center;

    .open-camera {
      border-right: 1px solid #e1e1e1;
      flex: 1 1 50%;
    }

    .open-gallery {
      flex: 1 1 50%;
    }

    .open-canvas {
      flex: 1 1 100%;
    }
  }

  .upload-action {
    text-transform: uppercase;
    color: var(--secondary);
    font-size: 10px;
    font-weight: 800;
    margin-top: 5px;
  }

  .button-container {
    padding: 0 10px;
  }
}

.align-left {
  text-align: left;
}

.kuc-sign-image-container {
  position: relative;
  border-radius: 6px;
  background-color: white;
  margin-bottom: 5px;

  .kuc-sign-image {
    height: 130px;
    width: 152px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 0;
  }
}

.kyc-upload-selfie-title {
  font-size: 13px;
  line-height: 21px;
  text-align: center;
  color: var(--steelgrey);
  margin-bottom: 10px;
}

.kyc-selfie-intructions {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  #kyc-si-text {
    font-size: 13px;
    line-height: 21px;
    color: var(--dark);
  }
}

.kyc-selfie-location-dialog {
  .MuiDialog-paper {
    margin: 0 !important;
  }
  .MuiDialogActions-root {
    margin: 20px !important;
  }
}

.kyc-loc-permission {
  display: flex;
  flex-direction: column;
  align-items: center;

  .kyc-loc-perm-illustration {
    margin-top: 80px;
    
    .kyc-loc-perm-icon {
      background: var(--highlight);
      border-radius: 20px;
      width: 116px;
      height: 116px;
      position: relative;
  
      img {
        height: 55px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  
  .kyc-loc-perm-title {
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: var(--dark);
    margin-top: 20px;
  }
  
  .kyc-loc-perm-subtitle {
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    color: var(--steelgrey);
    margin: 20px 0;
  }
}

.selfie-step:nth-child(1) {
  margin-top: 20px;
}

.selfie-step {
  margin-top: 40px;

  .selfie-step-desc {
    font-size: 13px;
    line-height: 15px;
    color: var(--dark);
    margin-bottom: 10px;
  }

  .selfie-step-imgs {
    display: flex;
    justify-content: space-between;
  }
}

// FnOIncomeProof START ------------
.kyc-fno-header-optional-text {
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  color: var(--steelgrey);
}

.kyc-fno-income-proof {
  margin-top: 20px;
  .kyc-fip-title {
    margin-bottom: 10px;
    font-size: 13px;
    line-height: 21px;
    color: var(--dark);
  }

  .kyc-fno-OR {
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    opacity: 0.5;
    margin: 8px 0;
  }

  .kyc-fi-sample {
    text-align: center;
    // TODO: Change margin if clickableElement becomoes a button
    margin-top: 30px;
  }

  .kyc-fi-upload-card {
    margin-bottom: 20px;
  }

  .kyc-fi-expand-options {
    box-shadow: none;
    border: 0px;
    margin-top: 40px !important;

    .MuiCollapse-container {
      padding: 0 2px;
    }

    .MuiExpansionPanelSummary-root {
      padding: 0;

      .MuiExpansionPanelSummary-content {
        font-weight: 500;
        font-size: 13px;
        line-height: 21px;
        color: var(--steelgrey);
      }

      .MuiExpansionPanelSummary-expandIcon {
        right: -15px;
      }
    }

    .MuiExpansionPanelDetails-root {
      padding: 0 !important;
      display: unset !important
    }
  }

  .kyc-fi-expand-options::before {
    display: none;
  }

  .kyc-fi-file-upload-input {
    margin-top: 20px;
  }
}

.kyc-fno-encryption-disclaimer {
  display: block;
  margin: 40px auto;
}
// FnOIncomeProof END ------------

// ------ WebcamSelfie -----------
.webcam-selfie {
  text-align: center;
  
  .wv-ip-title {
    margin-bottom: 60px;
  }

  video {
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    width: 300px;
    // transform: scaleX(-1);
  }
}

.webcam-selfie-btn {
  margin: auto !important;
}
// ------------------------------