.cv-wrapper {
  padding: 16px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 12px;
  cursor: pointer;

  .cv-img-top {
    width: 32px;
    height: 32px;
    margin-bottom: 4px;
  }
  .cv-mt-4 {
    margin-top: 4px;
  }
}