.cc-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 103px;
    cursor: pointer;
}

.cc-wrapper-large-variant {
    width: 159px;
}

.cc-lg-subtitle {
    margin-top: 8px;
}

.cc-sm-subtitle {
    margin-top: 4px;
}