.cc-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: max-content;
}

.cc-lg-subtitle {
    margin-top: 8px;
}

.cc-sm-subtitle {
    margin-top: 4px;
}