@value label: #a2a2a2;
@value secondary: #35cb5d;

.Select {
  font-size: 14px !important;
}
.InputField {
  margin-bottom: 20px;
}
.RadioButton.unchecked label {
  background: #fff;
  border: 1px solid;
}
.RadioButton.checked label {
  color: #fff;
  border: 1px solid;
}
.RadioButton label.professional {
  /* padding: 8px;
  display: inline-block;
  border-radius: 4px;
  width: auto;
  min-width: 100px;
  text-align: center;
  font-size: 12px; */
  padding: 4px;
  display: inline-block;
  border-radius: 100px;
  width: auto;
  min-width: 100%;
  text-align: center;
  font-size: 12px;
}
.RadioButton label.professional2 {
  padding: 4px;
  display: inline-block;
  border-radius: 100px;
  width: auto;
  min-width: 50px;
  text-align: center;
  font-size: 12px;
}
.RadioButton label {
  padding: 4px;
  display: inline-block;
  border-radius: 100px;
  width: 100px;
  text-align: center;
  font-size: 12px;
}
.Flex {
  display: flex;
  flex-direction: row;
}
.Flex .radio-btn-group {
  flex: 1;
}
.MobileGrid {
  display: flex;
  align-items: baseline;
}
.CountryCode {
  margin-right: 20px;
  font-size: 16px;
  color: rgb(68,68,68);
}
.Banner {
  background: rgb(250, 247, 255);
  font-size: 14px;
  color: #444;
  z-index: 100;
}
.Banner .Flex {
  align-items: center;
}
.FlexItem {
  color: rgb(68, 68, 68);
}
.Dropdown {
  width: 100%;
}
.RadioGrpGrid {
  flex-basis: unset;
  max-width: 100%;
}

.RadioLabel {
  color: label;
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: 500;
}

.RadioWithIcon {
  color: label;
  font-size: 0.8rem;
  margin-bottom: 15px;
  position: relative;
}

.RadioWithIcon.professional2 {
  color: #4a4a4a !important;
  font-size: 0.8rem;
  margin-bottom: 15px;
  position: relative;
}

.RadioWithIcon .error {
  position: absolute;
  right: 0;
  color: #d0021b;
  font-size: 14px;
  font-style: italic;
}
.DialogButtonFullWidth {
  width: 100%;
  background-color: secondary !important;
  color: #fff !important;
}



/* verify */

.CheckBlock {
  margin-top: 20px;
  margin-bottom: 30px;
}

.Checkbox {
  width: auto;
  height: auto;
}

.MuiCheckbox-root {
  /* color: rgb(83, 70, 167) !important; */
  position: relative;
  left: -15px;
}
.MuiFormLabel-root.MuiFormLabel-error {
  color: label !important;
}
.MuiFormLabel-root.MuiFormLabel-focused.MuiFormLabel-error {
  color: rgb(55, 31, 116) !important;
}
.MuiInput-underline.MuiInput-error:after {
  background-color: inherit !important;
}
.error-radiogrp {
  margin: 0;
  font-size: 0.75rem;
  text-align: left;
  margin-top: 8px;
  min-height: 1em;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1em;
  color: #f44336;
  position: relative;
  top: 5px;
}
