// Filter Bottom Sheet
.filter-bottom-sheet {
  position: relative;
  min-height: 375px !important;
  .heading {
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0px;
  }
  .filter {
    .body {
      height: 340px !important;
      padding-bottom: 70px;
      .MuiFormControlLabel-root {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 0px;
        .MuiSvgIcon-root {
          fill: #3792fc;
        }
        .MuiCheckbox-root {
          left: 0;
        }
        .fc-title {
          position: relative;
          line-height: 21px;
          font-weight: normal;
          font-size: 16px;
          color: #161a2e;
          width: 100%;
          margin-left: 5px;
        }

        .fc-subtitle {
          position: absolute;
          margin-top: 5px;
          color: #767e86;
          font-size: 13px;
          line-height: 18px;
          min-width: 100px;
        }
      }
    }
    .title {
      .notselected {
        background-color: transparent !important;
        color: #767e86;
      }
      background-color: transparent !important;
      background-image: linear-gradient(
        rgba(223, 223, 223, 0.3),
        rgba(255, 255, 255, 0)
      );
    }
  }
  .filter-buttons {
    .FlexButton {
      display: flex;
      justify-content: space-around;
      position: absolute;
      bottom: 10px;
      width: 100%;
      margin-left: 20px;
      button {
        width: 35%;
      }
      button:first-child {
        background-color: white;
      }
    }
  }
}