.wr-otp-input {
  width: 45px !important;
  height: 45px;
  border-radius: 4px;
  border: solid 1px #bbbbbb;
  margin-right: 16px;
  font-size: 24px;
  color: var(--primary);
  font-weight: 600;
}

.wr-footer {
  margin-top: 100px;

  img, svg {
    margin-right: 8px;
    vertical-align: middle;
  }

  .wr-footer-secure {
    text-align: center;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.4);
    
    img {
      width: 24px;
    }
  }

  .wr-register {
    display: flex;
    color: #a9a9a9;
    letter-spacing: 0.76px;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgba(149, 149, 149, 0.08);
    height: 77px;
    align-items: center;
    margin-top: 18px;
  }

  .wr-logo {
    height: 29px;
    display: flex;
    align-items: center;
  }

  .wr-title-mob {
    display: none;
  }
}

.wr-xirr-info .react-tooltip-lite {
  margin-left: -90px !important;
}

.wr-user .react-tooltip-lite {
  margin-left: -37px !important;
  width: 350px;
}

.wr-dialog-info {
  border-radius: 6px !important;
  width: 100% !important;
  padding: 20px;
}

.wr-input-form {
  margin-top: 40px;
  display: flex;

  .wr-code-input {
    width: 21% !important;
    border-radius: 4px;
    border: 1px solid #dadaed;
    max-height: 56px;
    box-sizing: border-box;

    .MuiInput-input {
      font-size: 22px !important;
      font-weight: 500;
      line-height: 1.2;
    }
    .MuiSelect-select {
      padding-right: 0px !important;
    }
    .MuiSelect-select:focus {
      background: white;
    }
  }

  .wr-select-input {
    padding: 2px 0px 5px 10px !important;
  }

  .MuiFormControl-marginNormal {
    margin: 0px !important;
  }

  .wr-mob-input {
    width: 72.5% !important;
    margin-left: 16px;
    border-radius: 4px;
    border: 1px solid #dadaed;
    max-height: 56px;
    box-sizing: border-box;

    .MuiInput-input {
      font-size: 22px !important;
      font-weight: 500;
      padding: 14px 16px 16px;
    }
  }

  .MuiMenu-paper {
    max-height: 40vh !important;
  }
}

@media only screen and (min-device-width: 300px) and (max-device-width: 812px) {
  .wr-otp-input {
    width: 48px !important;
    height: 48px !important;
    border-radius: 4px;
    border: solid 1px #bbbbbb;
    margin-right: 8px;
    font-size: 24px;
    color: var(--primary);
    font-weight: 600;
  }

  .wr-input-form {
    margin-top: 10px;
    
    .wr-code-input {
      border-right: 0 !important;
      max-height: 56px !important;

      .MuiInput-input {
        font-size: 16px !important;
      }
      .MuiSelect-select {
        padding-right: 0px !important;
      }
    }

    .wr-select-input {
      padding: 9px 0px 9px 14px !important;
    }

    .wr-mob-input {
      width: 77.5% !important;
      min-height: 56px !important;
      margin-left: 0;
      border-radius: 0 4px 4px 0;
      border: 1px solid #dadaed;

      .MuiInput-input {
        font-size: 16px !important;
        font-weight: 500;
        padding: 16px 16px 12px 16px;
      }
    }
  }

  .wr-footer {
    margin-top: 60px;

    img {
      margin-right: 6px !important;
      vertical-align: middle;
    }

    .wr-footer-secure {
      font-size: 12px;

      img {
        width: 20px;
      }
    }
  
    .wr-register {
      display: flex;
      color: #a9a9a9;
      letter-spacing: 0.76px;
      flex-direction: row;
      justify-content: space-evenly;
      background-color: rgba(149, 149, 149, 0.08);
      height: 77px;
      align-items: center;
      font-size: 8px !important;
      font-weight: normal;
      padding: 0 28px;
      margin-top: 18px;
    }
  
    .wr-title-mob {
      height: 29px;
      display: flex;
      align-items: center;
      margin-right: 16px;
    }

    .wr-title {
      display: none;
    }
  }

}
