.wr-otp-container {
  margin-top: 40px;
}
.wr-otp-input {
  width: 45px !important;
  height: 45px;
  border-radius: 4px;
  border: solid 1px #bbbbbb;
  margin-right: 16px;
  font-size: 24px;
  color: var(--primary);
  font-weight: 600;
}

.wr-footer {
  img {
    margin-right: 8px;
    vertical-align: middle;
  }

  .wr-register {
    display: flex;
    color: #a9a9a9;
    letter-spacing: 0.76px;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgba(149, 149, 149, 0.08);
    height: 77px;
    align-items: center;
    margin-top: 100px;
  }

  .wr-logo {
    height: 29px;
    display: flex;
    align-items: center;
  }

  .wr-title-mob {
    display: none;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
  .wr-otp-container {
    margin-top: 0px;
  }
  .wr-otp-input {
    width: 48px !important;
    height: 48px !important;
    border-radius: 4px;
    border: solid 1px #bbbbbb;
    margin-right: 8px;
    font-size: 24px;
    color: var(--primary);
    font-weight: 600;
  }

  .wr-footer {
    img {
      margin-right: 6px !important;
      vertical-align: middle;
    }
  
    .wr-register {
      display: flex;
      color: #a9a9a9;
      letter-spacing: 0.76px;
      flex-direction: row;
      justify-content: space-evenly;
      background-color: rgba(149, 149, 149, 0.08);
      height: 77px;
      align-items: center;
      font-size: 8px !important;
      font-weight: normal;
      padding: 0 28px;
      margin-top: 72px;
    }
  
    .wr-title-mob {
      height: 29px;
      display: flex;
      align-items: center;
    }

    .wr-title {
      display: none;
    }
  }

}
