.mf-order-wrapper {
  padding-top: 25px;
  background-color: white;

  .mf-investment-card-wrapper {
    position: relative;

    .mf-ic-close {
      position: absolute;
      right: -12px;
      top: -12px;
      padding: 0px;
    }
  }
}