.dropdown-menu-paper {
  box-shadow: 0px 6px 12px -6px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  max-height: 276px;

  .dropdown-menu-list {
    padding: 0px;

    .dropdown-menu-item {
      padding: 12px 16px;
      min-height: 46px;
    }
  }
}

.dropdown-selector {
  background-color: white !important;
}

.dropdown-popover {
  background-color: transparent !important;
  margin-top: 1px;
  ::-webkit-scrollbar {
    width: 6px !important;
  }
}

.dropdown-open {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

@media only screen and (min-width: 786px) {
  .dropdown-popover {
    left: 0px !important;
    .dropdown-menu-paper {
      ul {
        padding: 0px !important;
      }
    }
  }
}
