$steel_grey: #767e86;
$dark_indigo: #0a1d32;

#hni-stepper{
  background-color: transparent;
  span {
    border: none !important;
  }
}

#info-box {
  padding: 16px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  border-radius: 6px;
  background: var(--highlight);

  #info-box-img {
    height: 20px;
    width: 25px;
    margin-right: 16px;
  }

  #info-box-body {
    flex-basis: 60%;
    word-break: break-word;
    flex: 1;

    #info-box-body-header {
      font-size: 11px;
      line-height: 20px;
      color: $steel_grey;
    }
    
    #info-box-body-subheader {
      font-size: 14px;
      font-weight: 500;
    }

  }

  #info-box-ctrl {
    font-size: 12px;
    letter-spacing: 1px;;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--secondary);
    margin-left: 16px;
  }
}

.flex-info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  #info-container-icon {
    margin-right: 16px;
  }

  #info-container-text {
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
    // justify-text
  }
}

.info-box-cut-out {
  padding: 20px !important;
  margin-top: 20px;
  border: 1px dashed #e3e3e3;
}

.info-box-email-expand {
  background: white !important;
}

.info-box-body-text {
  font-size: 15px;
  font-weight: bold;
  line-height: 20px;
  color: var(--primary);
}

.resync-btn {
  padding: 13px 35px !important;
  border: 1.5px solid var(--secondary) !important;
  border-radius: 4px !important;
  background-color: white !important;
}

.statement-req-popup {
  height: 300px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;

  .header-title-text-hni {
    font-weight: 500;
    display: block;
    margin: 10px 0;
  }
}


#btm_mail_check_img {
  position: absolute;
  top: 0;
  right: 0;
  width: 140px;
}

.fund-details-container:first-child {
  margin-top: 10px;
}

.fund-details-container {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  margin: 20px 0;

  .fund-header, .fund-info, .fund-numbers {
    display: flex;
    flex-direction: row;
  }
  
  .current-val, .annual-ret, .invested-amt {
    flex-direction: column;
  }

  .fund-header {
    img {
      margin-right: 17px;
    }

    span#heading {
      display: block;
      font-size: 15px;
      font-weight: 500;
      line-height: 22px;
      color: $dark_indigo;
      margin: 0;
    }
  }

  .fund-info {
    margin-top: 10px;
    align-items: center;
    justify-content: space-between;

    .fund-chip {
      height: 16px;
      background: #ffe0ec;
      padding: 3px 0;
    }
    .fund-chip-equity {
      background: #ffe0ec;
    }
    .fund-chip-debt {
      background: #fff6ce;
    }
    .fund-chip-hybrid {
      background: #e8e0ff;
    }

    .fund-chip-label {
      font-size: 8px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #f16fa0;
      font-weight: bold;
    }
    .fund-chip-label-equity {
      color: #f16fa0;
    }
    .fund-chip-label-debt {
      color: #dfbe22;
    }
    .fund-chip-label-hybrid {
      color: #a38ceb;
    }

    .fund-investment-date {
      font-size: 11px;
      text-align: right;
      letter-spacing: 0;
      color: $steel_grey;
    }
  }

  .fund-numbers {
    margin-top: 20px;
    justify-content: space-between;

    .fund-numbers-title {
      font-size: 11px;
      letter-spacing: 0;
      color: $steel_grey;
      margin-bottom: 5px;
    }

    .fund-numbers-value {
      font-size: 13px;
      letter-spacing: 0;
      color: $dark_indigo;
    }

    .annual-ret {
      text-align: center;

      .fund-numbers-value {
        color: var(--secondary);
        font-weight: 500;
      }
    }

    .invested-amt {
      text-align: right;
    }
  }
}

.top-holding-bar {
  height: 4px !important;
  border-radius: 2px !important;
}

#top-holdings-container {
  margin-bottom: 40px;
}

#no-top-holdings{
  font-size: 12px;
  color: $steel_grey;
}

#top-holdings-expand {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  color: var(--secondary);
  text-transform: uppercase;
  text-align: center;
}

#top-holding {
  margin-bottom: 30px;

  #top-holding-detail {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    letter-spacing: 0;
    margin-bottom: 6px;
    
    #top-holding-name, {
      font-weight: 500;
      text-transform: uppercase;
      color: $dark_indigo;
    }

    #top-holding-value {
      font-weight: 300;
      color: $steel_grey;
    }
  }
}

.email-expand-container {
  margin-top: 30px;
  
  #email-expand-title {
    font-size: 13px;
    color: $steel_grey;
    margin-bottom: 10px;
  }

  #resync-update-text {
    font-size: 8px;
    color: $steel_grey;
    font-weight: 600;
    margin-top: 5px;
  }

  #remove-email {
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    color: $steel_grey;
    margin-top: 40px;
  }
}

#hni-custom-step-icon {
  width: 21px;
  height: 21px;
  border-radius: 20px;
  line-height: 22px;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  border: 1px solid #ececec;
}

@media only screen and (max-width: 332px) {
  /* Since text wraps into 3 lines in container for this 
  screen width, need to increase container height to show all elements*/
  .statement-req-popup {
    height: 320px;
  }
}