@mixin flex-row {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.bottom-sheet-wrapper {
  background-color: white;
  padding: 12px 16px 16px 16px;

  .btm-sheet-header-wrapper {
    @include flex-row();
  }

  .btm-sheet-label-wrapper {
    @include flex-row();
    margin-top: 8px;
  }

  .btm-sheet-subtitle {
    margin-top: 8px;
  }

  .btm-sheet-cta-wrapper {
    margin-top: 32px;
    display: flex;
    flex-direction: column;

    .btm-sheet-secondary-btn {
      margin-top: 8px;
    }
  }

  .btm-sheet-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    span {
      width: 57px;
      height: 4px;
      border-radius: 100px;
    }
  }
}

@media only screen and (min-width: 600px) {
    .bottom-sheet-wrapper{
        margin-top: 16px;
        .btm-sheet-indicator {
            display: none;
        }
    }
  }
