.bottom-sheet-wrapper {
  background-color: white;
  padding: 12px 16px 16px 16px;

  .btm-sheet-cta-wrapper {
    margin-top: 32px;
  }

  .btm-sheet-indicator {
    margin-bottom: 16px;
    span {
      width: 57px;
      height: 4px;
      border-radius: 100px;
    }
  }
}

.bottom-sheet-icon-wrapper {
  text-align: center;

  .btn-sheet-img {
    margin: 40px auto 32px;
    height:120px;
    width:140px
  }

  .btn-sheet-title {
    width: 100%;
    text-align: center;
  }

  .btn-sheet-subtitle {
    margin-top: 0px;
  }
}

@media only screen and (min-width: 600px) {
  .bottom-sheet-wrapper {
    margin-top: 16px;
    .btm-sheet-indicator {
      display: none;
    }
  }
}
